body {
  font-family: 'lato', helvetica, sans-serif;
  line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'lato', helvetica, sans-serif;
  font-weight: 700;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: white;
  box-shadow: 1px 1px 1px 1px #ccc;
  z-index: 100;
}

.img-link {
  display: inline-block;
}

.logo {
  height: 4rem;
  padding-left: 1rem;
}

.centered {
  text-align: center;
}

@media only screen and (max-width: 50.063em) {
  .hero-img-content p {
    font-size: 1.2em;
  }

  .title {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 40.063em) {
  .hero-img-content p {
    font-size: 1.1em;
  }

  .title {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 30.063em) {
  .hero-img-content p {
    font-size: 1.2em;
  }

  .title {
    font-size: 1.4em;
  }
}
