body {
  font-family: 'lato', helvetica, sans-serif;
  line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'lato', helvetica, sans-serif;
  font-weight: 600;
}

.logo {
  display: block;
  width: 25%;
  margin: 1em auto;
}

.full-width-col-img {
  padding: 0;
}