{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
Techtonica Application {% endblock title %} {% block extra_stylesheets %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/forms.css') }}"
/>
{% endblock %} {% block content %}
<section class="application-page">
  <h1>Techtonica Application</h1>
  {% with current_step='app-form' %} {% include "components/progress-bar.html"
  %} {% endwith %}

  <form action="#" method="POST" class="application-form" id="app-form-1">
    <fieldset>
      <legend>General Applicant Demographics</legend>

      {% include "partials/_contact_info.html" %} {% include
      "partials/_demographics.html" %} {% include
      "partials/_admin_question.html" %}

      <button type="button" class="continue-to-app-btn">Continue</button>
    </fieldset>
  </form>
</section>

<script>
  // Attach live validation on page load
  window.onload = function () {
    attachLiveValidation("app-form-1", "/app-household");
  };
</script>

{% endblock content %}
