@import 'settings';
@import 'mixins';

.row {
  @include prefix(display, flex, webkit moz);

  flex-flow: row wrap;
  justify-content: space-around;
  padding: 3rem 5rem;
}

.row__center {
  align-items: center;
}

.row__baseline {
  align-items: baseline;
}

.column {
  flex: 1;
  padding: 0 1rem;
}

.nav-bar {
  @include prefix(display, inline-flex, webkit moz);

  flex-flow: row-reverse wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: $white;
  box-shadow: 0 0 8px 1px #ccc;
  z-index: 100;
}

.nav-link {
  flex-grow: 1;
  padding: 1em 0;
  text-shadow: $thin-light-text-shadow;
}

.nav-link:hover {
  color: $light-blue;
}

.img-link {
  display: inline-block;
  order: 1;
  flex: 10;
}

.logo {
  height: 4rem;
  padding-left: 1rem;
}

.main-content {
  margin-top: 4rem;
}

.main-header {
  @include prefix(background-size, cover, webkit moz o);

  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  background: url(../img/woman-computer.jpg) $main-blue no-repeat top right fixed;
}

.main-header__text {
  max-width: 50%;
  padding: 0 1.5em;
  text-shadow: $thin-dark-text-shadow;
}

.full-width-img {
  width: 100%;
}

.contact-us {
  @include prefix(border-radius, 8px, webkit moz o);

  display: inline-block;
  margin: 0.5em 0;
  padding: 0.75em 1.5em;
  background-color: $main-blue;
  color: $white;
  text-align: center;
}

.hidden-lg {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .row {
    padding: 2em;
  }

  h1 {
    font-size: 3.5em;
  }
}

@media only screen and (max-width: 900px) {
  .row {
    padding: 1.5em 1em;
  }

  .column-med {
    flex: 0 0 40%;
  }

  h1 {
    font-size: 3em;
  }

  .main-header {
    display: block;
    position: relative;
    height: 90vh;
    background: url(../img/woman-computer.jpg) $main-blue no-repeat top center fixed;
  }

  .main-header__text {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    width: 100%;
  }

  .hidden-med {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .column {
    flex: 0 0 100%;
  }

  h1 {
    font-size: 2em;
    letter-spacing: 0.5px;
  }

  .nav-bar {
    justify-content: space-between;
  }

  .small-screen-nav {
    flex-flow: column-reverse nowrap;
    justify-content: flex-end;
  }

  .img-link {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.5rem 0;
  }

  .nav-link {
    display: none;
  }

  .nav-link--mobile {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid $light-gray;
    background-color: $white;
    text-align: center;
  }

  .nav-link--mobile:nth-last-child(4) {
    border-bottom: 1px solid $light-gray;
  }

  .nav-link--mobile:nth-last-child(1) {
    margin-top: 5rem;
  }

  .main-content {
    margin-top: 0;
  }

  .main-header {
    height: 100vh;
  }

  .main-header__text {
    width: auto;
    padding: 0 1em;
  }

  .hidden-sm {
    display: none;
  }

  .hidden-lg {
    display: inline-block;
  }

  .lines-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.5rem 0;
    padding: $button-size/2 $button-size/3;
    transition: .3s;
    cursor: pointer;
    user-select: none;
    border-radius: $button-size/7;
   
    &:hover {
      opacity: 1;
    }
   
    &:active {
      transition: 0;
      background: rgba(0,0,0,.1);
    }
  }

  .lines {
    //create middle line
    @include line;
    position: relative;
   
    /*create the upper and lower lines as pseudo-elements of the middle line*/
    &:before, &:after {
     @include line;
      position: absolute;
        left: 0;
      content: '';
      transform-origin: $button-size/14 center;
    }
    &:before { top: $button-size/4; }
    &:after { top: -$button-size/4; }
  }

  .lines-button:hover {
    opacity: 1;
       
    .lines {
      &:before { top: $button-size/3; }
      &:after { top: -$button-size/3; }
    }
  }

  .lines-button.x.close .lines {
    /*hide the middle line*/
    background: transparent;
 
    /*overlay the lines by setting both their top values to 0*/
    &:before, &:after {
      transform-origin: 50% 50%;
      top: 0;
      width: $button-size;
    }
 
    // rotate the lines to form the x shape
    &:before{
      transform: rotate3d(0,0,1,45deg);
    }
    &:after{
      transform: rotate3d(0,0,1,-45deg);
    }
  }
}

@media only screen and (max-width: 480px) {
  .contact-us {
    display: block;
  }
}