<div class="row">
    <div class="column">
      <div class="wrapper">
        <p>Let's make accessible tech education a reality.</p>
      </div>
    </div>
    <div class="column">
        <div class="arrow-right"></div>
        <div class="wrapper">
            <span class="muted">Support us on</span>
            <a href='https://www.indiegogo.com/projects/techtonica-bridging-the-tech-opportunity-gap-education'>
                <img src="{{ url_for('static', filename='img/indiegogo-logo.png') }}" alt="Indiegogo logo">
            </a>
        </div>
    </div>
    <div class="column progress-bar-div">
        <div class="wrapper">
            <a href='https://www.indiegogo.com/projects/techtonica-bridging-the-tech-opportunity-gap-education'>
                <div id="progress-bar">
                  <div id="progress-bar-inner"></div>
                </div>
            </a>
            <span id="amount-raised"></span>
        </div>
        <button class="close-button">x</button>
    </div>
</div>
