Flask
Flask-SSLify
SQLAlchemy # mvp
Flask-SQLAlchemy # mvp
Flask-Bcrypt # mvp
Flask-Login # mvp
Flask-WTF # mvp
PyMySQL # mvp
bcrypt # mvp
WTForms # mvp
werkzeug
Jinja2
eventbrite
pendulum
pip-tools==7.4.1
python-dotenv
requests
sendgrid
fastapi
squareup
pydantic
a2wsgi
configparser
gunicorn