Flask
Flask-SSLify
Flask-SQLAlchemy # mvp
Flask-Migrate # mvp
Flask-Login
Flask-WTF
PyMySQL
bcrypt
WTForms
Jinja2
eventbrite
pendulum
pip-tools==7.4.1
python-dotenv
requests
sendgrid
fastapi
squareup
pydantic
a2wsgi
configparser
gunicorn