{% import "macros/app_form_macros.html" as f %} {% set gender_options = [
'Agender/Genderless', 'Genderfluid', 'Cis Man', 'Non-binary/Genderqueer', 'Trans
Man', 'Trans Woman', 'Cis Woman', 'Other'] %} {% call
f.select_field('gender-identity', "With which gender identity do you most
align?", options=gender_options) %} {% with title="Learn More", content="
<ul>
  <li>
    <strong>Agender or genderless: </strong>People who do not identify with any
    gender or feel an absence of gender. They may use terms like genderblank,
    genderfree, genderless, gendervoid, non-gendered, or null gender.
  </li>
  <li>
    <strong>Genderfluid: </strong>People whose gender identity is not fixed and
    may change over time, fluctuating between different gender expressions or
    identities.
  </li>
  <li>
    <strong>Cis Man or Cis Woman: </strong>A person whose gender identity aligns
    with the male or female sex they were assigned at birth.
  </li>
  <li>
    <strong>Non-binary or Genderqueer: </strong>People who do not identify
    exclusively as a man or a woman. They may feel like both, somewhere in
    between, or outside these categories entirely.
  </li>
  <li>
    <strong>Trans Man or Trans Woman: </strong>People whose gender identity
    differs from the sex they are assigned at birth. e.g., a transgender man is
    someone who was assigned female at birth but whose gender identity is male,
    while a transgender woman is someone who is assigned male at birth but whose
    gender identity is female.
  </li>
  <li>
    <strong>Other: </strong>A person whose gender identity does not fit within
    the listed categories or who prefers a different term.
  </li>
</ul>
" %} {% include "components/learn-more.html" %} {% endwith %} {% endcall %}
<input
  type="text"
  id="custom-gender"
  name="custom-gender"
  placeholder="Please enter your gender identity"
  aria-label="custom gender input"
  disabled
/><br />

{% set pronoun_options = ["She/Her", "He/Him", "They/Them", "Ze/Zir", "Other"]
%} {{ f.checkbox_group('pronouns', 'What are your pronouns?',
options=pronoun_options) }}

<input
  type="text"
  id="custom-pronouns"
  name="custom-pronouns"
  placeholder="Please enter your preferred pronouns"
  aria-label="custom pronouns selection"
  disabled
/><br />

{{ f.input_field('birth-date', 'What is your birth date?', type='date') }} {%
set age_options = ["18-24", "25-34", "35-44", "45-54", "55-64", "65+"] %} {{
f.select_field('age-group', 'Select your age group', options=age_options) }} {%
set race_options = [ "African-American/Black/African", "Central Asian", "East
Asian", "Hispanic/Latinx", "Middle Eastern or North African", "Native
American/Alaskan Native/First Nations/Indigenous", "Pacific Islander", "South
Asian", "Southeast Asian", "White", "Other" ] %} {% call
f.select_field('race-ethnicity', 'With which racial/ethnic groups do you most
identify?', options=race_options) %} {% with title="Learn More", content="
<ul>
  <li>
    <strong>African-American, Black, or African:</strong> A person having
    origins in Africa, including those across the African diaspora, such as
    communities in the Americas, the Caribbean, and other regions.
  </li>
  <li>
    <strong>Central Asian:</strong> A person having origins in any of the
    Central Asian countries, including Kazakhstan, Kyrgyzstan, Tajikistan,
    Turkmenistan, Uzbekistan.
  </li>
  <li>
    <strong>East Asian:</strong> A person having origins in any of the East
    Asian countries, including China, Japan, Korea, Mongolia, Tibet, and Taiwan.
  </li>
  <li>
    <strong>Hispanic or Latinx:</strong> A person of having origins in Cuba,
    Mexico, Puerto Rico, the Dominican Republic, or South or Central America.
  </li>
  <li>
    <strong>Middle Eastern or North African (MENA):</strong> A person having
    origins in the Middle East or North Africa.
  </li>
  <li>
    <strong
      >Native American, Alaskan Native, First Nations or Indigenous:</strong
    >
    A person having origins in any of the Indigenous peoples of North and South
    America (including Central America).
  </li>
  <li>
    <strong>Pacific Islander:</strong> A person having origins in any of the
    Pacific Islands, including Polynesia, Micronesia, and Melanesia.
  </li>
  <li>
    <strong>South Asian:</strong> A person having origins in any of the South
    Asian countries, including Bangladesh, Bhutan, India, Nepal, Pakistan,
    Afghanistan, and Sri Lanka.
  </li>
  <li>
    <strong>Southeast Asian:</strong> A person having origins in any of the
    Southeast Asian countries, including Cambodia, Indonesia, Laos, Malaysia,
    Myanmar, the Philippines, Singapore, Thailand, and Vietnam.
  </li>
  <li><strong>White:</strong> A person having origins in Europe.</li>
  <li>
    <strong>Another race/ethnicity:</strong> A person who identifies with a
    racial/ethnic group not listed above.
  </li>
</ul>
" %} {% include "components/learn-more.html" %} {% endwith %} {% endcall %}

<input
  type="text"
  id="custom-race-ethnicity"
  name="custom-race-ethnicity"
  aria-label="race-ethnicity input"
  placeholder="Please enter your racial/ethnic group"
  disabled
/>
