{% import "forms/macros/form_macros.html" as f %}
<div id="info-wrapper" class="info-wrapper">
  <fieldset>
    <legend>Contact Information</legend>
    <div>
      {{ f.input_field( 'firstname', 'First Name', id="firstname", type="text",
      required=True, pattern='^[A-Za-z\-\' ]{2,}$', title='Please enter a valid
      first name.' ) }}
    </div>
    <div>
      {{ f.input_field( 'lastname', 'Last Name', id="lastname", type="text",
      required=True, pattern='^[A-Za-z\-\' ]{2,}$', title='Please enter a valid
      last name.' ) }}
    </div>
    <div>
      {{ f.input_field( 'email', 'Email', id="email", type="email",
      required=True, pattern='^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$',
      title='Please enter a valid email address.' ) }}
    </div>
    <legend>Job Details</legend>
    <div>
      {{ f.input_field( 'jobtitle', 'Job Title', id="jobtitle", type="text",
      required=True, pattern='^[A-Za-z\-\' ]{2,}$', title='Please enter a valid
      job title.' ) }}
    </div>
    <div>
      {{ f.input_field( 'company', 'Company', id="company", type="text",
      required=True, pattern='^[A-Za-z\-\' ]{2,}$', title='Please enter a valid
      company name.' ) }}
    </div>
    <div>
      {{ f.input_field( 'type', 'Type (optional)', id="type", type="text",
      required=False ) }}
    </div>
    <div>
      {{ f.input_field( 'educationreq', 'Education Requirement (optional)',
      id="radio-wrapper", type="text", required=False ) }}
    </div>
    <div>
      {{ f.input_field( 'location', 'Location', id="location", type="text",
      required=True, pattern='^[A-Za-z\-\' ]{2,}$', title='Please enter a valid
      location.' ) }}
    </div>
    <div id="radio-wrapper">
      <p>Can you make a referral/connection?</p>
      <div id="referral-radio-wrapper">
        {{f.yes_no_radio('referral', '', id="ref") }}
      </div>
    </div>
    <div>
      {{ f.input_field( 'salaryrange', 'Salary Range (optional)',
      id="salaryrange", type="text", required=False ) }}
    </div>
    <div>
      {{ f.input_field( 'description', 'Description (optional)',
      id="description", type="textarea", required=False, value="Submit your job for $100 to be shared with our 100+ full-stack software engineer graduates.") }}
    </div>
    <div>
      {{ f.input_field( 'applicationlink', 'Link to Apply (optional)', id="applicationlink", type="textarea",
      required=False ) }}
    </div>
  </fieldset>
  <!-- This TODO comment was imported from templates/job-form.html -->
  <!-- TO-DO: File upload input for screenshots -->
</div>
