{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap -
Blog {% endblock title %} {% block content %}
<div class="row row__center blue-background">
  <div class="column">
    <h1>Techtonica<br />Blog</h1>
    <h3>#BridgeTheGap</h3>
  </div>
  <div class="column">
    <img
      src="{{ url_for('static', filename='img/sf-bridge-logo-without-background.png') }}"
      alt="Designed image of the San Francisco bridge."
      class="eighty-five-percent-width"
    />
  </div>
</div>

<div class="row row__center">
  <div>
    <h2 class="blue-h1">Meet Our 2026 H1 Part-Time Cohort!</h2>
  </div>
  <div class="row row__center">
    <img
      src="{{ url_for('static', filename='img/2026-H1-Cohort-Introduction.png') }}"
      alt="Two people with a Laptop."
      class="sixty-percent-width"
    />
  </div>
  <div class="row row__center">
    <p>
      We are excited about our 2026 H1 cohort, not only because we are always
      happy to walk this journey with our participants but because of the
      strides that this unique part-time cohort has made. The participants
      worked hard through part I of the program. To learn more about them,
      please read on.
    </p>
  </div>
</div>
{% endblock content %}
