@charset "UTF-8";
/* General form components and styling that can be reused across different forms
  - general reusable form components 
  - application-specific styling*/
body {
  margin: 0;
  box-sizing: border-box;
  font-size: 1.2em;
  line-height: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0;
  color: #0093b5;
  line-height: 1.3em;
  font-weight: 700;
}

h1,
h2 {
  letter-spacing: 2px;
}

h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "lato", helvetica, sans-serif;
}

h1 {
  color: white;
  font-size: 4em;
  letter-spacing: 4px;
}

a {
  color: #0093b5;
  text-decoration: none;
}

button {
  background-color: white;
  border: 0;
}

.blue-h1 {
  color: #05556d;
  text-shadow: 0px 0px 1px #ccc;
}

.blue-background {
  background-color: #0093b5;
  color: white;
}
.blue-background a {
  color: white;
}

.white-background {
  background-color: white;
  color: #0093b5;
}

.centered {
  text-align: center;
}

.centered p {
  text-align: center;
}

p {
  text-align: justify;
}

.form-wrapper .wrapper {
  max-width: 50%;
  justify-content: center;
}
.form-wrapper #info-wrapper {
  margin-bottom: 2em;
}
.form-wrapper #info-wrapper > fieldset {
  box-sizing: border-box;
  margin: 1em;
  padding: 1em;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-wrapper #info-wrapper > fieldset > label {
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: rgba(0, 115, 149, 0.8);
}
.form-wrapper #info-wrapper > fieldset > input[type=text],
.form-wrapper #info-wrapper > fieldset > input[type=email],
.form-wrapper #info-wrapper > fieldset > input[type=tel],
.form-wrapper #info-wrapper > fieldset > input[type=url],
.form-wrapper #info-wrapper > fieldset > input[type=number],
.form-wrapper #info-wrapper > fieldset > textarea {
  min-width: 90%;
  margin: auto auto 1em auto;
  padding: 0.25em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.form-wrapper #info-wrapper > fieldset > textarea {
  min-height: 6em;
}

legend {
  color: rgba(0, 115, 149, 0.8);
  font-size: 20px;
}

.radio-wrapper {
  width: 100%;
  margin-bottom: 1em;
  color: rgba(0, 0, 0, 0.851);
}
.radio-wrapper input[type=radio] {
  width: 50px;
}
.radio-wrapper label {
  color: black;
  margin-bottom: 2em;
}
.radio-wrapper.invalid {
  padding: 15px;
  border: 2px solid #bf0020;
  border-radius: 8px;
  background-color: rgba(191, 0, 32, 0.05);
  margin-bottom: 1em;
}

#radio-wrapper label {
  color: black;
  margin-bottom: 2em;
}
#radio-wrapper input {
  background-color: #16c1f3;
}
#radio-wrapper > input[type=radio] {
  margin: 0;
}
#radio-wrapper > label {
  font-size: smaller;
}

.continue-to-app-btn {
  width: 50%;
}

button.continue-to-app-btn,
button.previous-btn,
button.save-btn {
  background-color: #fc7625;
  color: white;
  font-size: large;
  padding: 1rem;
  border-radius: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

button.continue-to-app-btn:hover,
button.previous-btn:hover,
button.save-btn:hover {
  background-color: #16c1f3;
  color: white;
  transition: 0.3s;
}

.form-button {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.checkbox-wrapper {
  margin-bottom: 1em;
}
.checkbox-wrapper input[type=checkbox] {
  margin-right: 0.5em;
}
.checkbox-wrapper label {
  cursor: pointer;
}

.checkbox-container {
  margin: 25px;
  padding-bottom: 30px;
  display: flex;
}
.checkbox-container input#code-of-conduct-checkbox {
  margin-right: 15px;
}
.checkbox-container label[for=code-of-conduct-checkbox] ~ a {
  color: rgba(0, 115, 149, 0.8);
  text-decoration: none;
}
.checkbox-container.invalid {
  padding: 10px;
  background-color: rgba(255, 200, 200, 0.1);
  border-radius: 4px;
  border: 2px solid #bf0020;
}

span {
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
}

/* Square Payment System Styling */
.payment-form {
  padding: 50px 0px 50px 0px;
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
}

#apple-pay-button {
  height: 48px;
  width: 100%;
  display: inline-block;
  -webkit-appearance: -apple-pay-button;
  -apple-pay-button-type: plain;
  -apple-pay-button-style: black;
}

#fast-checkout {
  background: #fafafa;
  color: black;
}
#fast-checkout h3 {
  color: #0093b5;
}
#fast-checkout input {
  border-radius: 6px;
  position: relative;
}
#fast-checkout .wrapper {
  position: relative;
}
#fast-checkout button {
  width: 100%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  color: white;
  display: inline-block;
  background-color: #fc7625;
  text-align: center;
  font-size: 1.5em;
}
#fast-checkout button:hover {
  background-color: #16c1f3;
  color: white;
  transition: 0.3s;
}
#fast-checkout .border {
  color: rgba(0, 0, 0, 0.55);
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
  width: 100%;
  margin: 30px 0;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
}
#fast-checkout .border span {
  position: absolute;
  top: -10px;
  background: #fafafa;
  padding: 0 10px;
  left: calc(50% - 1em - 5px);
}

#ach-wrapper {
  display: none;
}
#ach-wrapper input:first-of-type {
  margin-bottom: 10px;
}

#ach-message {
  width: 100%;
  margin-top: 11px;
  margin-bottom: 11px;
  font-size: 14px;
  display: inline-block;
  color: #bf0020;
}
#ach-message:empty:before {
  content: "​";
}

#payment-flow-message {
  width: 100%;
  margin-top: 11px;
  margin-bottom: 11px;
  height: 100px;
  display: block;
}
#payment-flow-message.error {
  color: #bf0020;
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.4;
}
#payment-flow-message.success {
  color: #28a745;
  font-weight: bold;
  margin-top: 10px;
}

.wrapper {
  max-width: 50%;
  justify-content: center;
}

#card-container {
  max-width: 387px;
  margin: auto;
}

#payment-page {
  padding: 1.5em;
  background-color: #0093b5;
}
#payment-page > h1,
#payment-page > p {
  max-width: 65%;
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;
}

#consulting-list {
  list-style-position: inside;
  border-style: solid;
  border-color: #05556d;
  border-width: thick;
  padding: 3% 5% 3% 5%;
}

#consulting-bullet-items {
  border-style: solid;
  border-color: #05556d;
  border-radius: 5px;
  padding: 1%;
  margin: 1%;
  list-style-type: none;
}

.application-page {
  justify-content: center;
  background-color: #0093b5;
  padding: 2rem;
}
.application-page > h1,
.application-page > p {
  max-width: 65%;
  margin: auto;
  text-align: center;
}
.application-page > form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  width: 75%;
  max-width: 150rem;
  padding: 3rem;
  background-color: white;
  border: 1px solid #000000;
}

.application-form .learn-more-wrapper {
  display: inline;
}
.application-form .learn-more-wrapper button {
  display: inline;
  background-color: white;
  color: #0093b5;
  cursor: pointer;
  padding: 0;
  margin: 0 0 0 0.5em;
}
.application-form .learn-more-wrapper button:hover {
  background-color: white;
  color: #16c1f3;
}
.application-form .learn-more-wrapper button:focus-visible {
  padding: 3px;
}
.application-form .learn-more-content {
  margin: 0.5em 0 0 0;
  font-size: large;
}
.application-form button {
  background-color: #fc7625;
  color: white;
  font-size: large;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: auto;
  display: block;
  cursor: pointer;
}
.application-form button:hover {
  background-color: #16c1f3;
  color: white;
  transition: 0.3s;
}
.application-form > fieldset {
  border: 1px solid rgba(0, 0, 0, 0.559);
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100%;
}
.application-form > fieldset > label {
  color: #000000;
  font-size: large;
}
.application-form > fieldset > input[type=text],
.application-form > fieldset > input[type=email],
.application-form > fieldset > input[type=tel],
.application-form > fieldset > input[type=date],
.application-form > fieldset > input[type=number],
.application-form > fieldset > input[type=url],
.application-form > fieldset > textarea,
.application-form > fieldset > select {
  padding: 1em;
  margin-bottom: 2em;
  border: 1px solid rgba(0, 0, 0, 0.559);
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}
.application-form > fieldset > select,
.application-form > fieldset > input[type=checkbox],
.application-form > fieldset > #radio-wrapper > input[type=radio] {
  cursor: pointer;
}
.application-form > fieldset > select {
  appearance: none;
  background-color: transparent;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwMCAxMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmc+DQogIDxwYXRoIGZpbGw9ImdyYXkiIGQ9Ik0xMCwyMzIuN2w0OTAsNTM0LjVwNDkwLTUzNC41SDEweiIgLz4NCjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 15px;
  background-origin: content-box;
}

#radio-wrapper {
  width: 100%;
  color: rgba(0, 0, 0, 0.851);
}

#custom-gender,
#custom-pronouns,
#custom-race-ethnicity {
  display: none;
}

.pronouns-group {
  margin-bottom: 1.5em;
}
.pronouns-group.invalid {
  padding: 15px;
  border: 2px solid #bf0020;
  border-radius: 8px;
  background-color: rgba(191, 0, 32, 0.05);
  margin-bottom: 1em;
}

/* Form responsive design */
@media (max-width: 900px) {
  .form-wrapper .wrapper {
    max-width: 75%;
  }
  .form-wrapper #info-wrapper {
    max-width: 100%;
    min-width: none;
  }
  .wrapper {
    max-width: 75%;
  }
}
@media (max-width: 600px) {
  .form-wrapper .wrapper {
    max-width: 100%;
  }
  .form-wrapper #info-wrapper {
    max-width: 100%;
    min-width: none;
  }
  .form-wrapper #info-wrapper > fieldset {
    margin: 0px;
    width: 100%;
  }
  .payment-form {
    margin: 0px;
    padding: 30px;
    box-sizing: border-box;
  }
  .wrapper {
    max-width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 599px) {
  html,
  body {
    overflow-x: hidden;
    width: 100%;
  }
  .column {
    padding: 0;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  .row,
  .application-page {
    padding: 2em;
  }
  .justify {
    text-align: left;
  }
  .large-white-text {
    font-size: 1.5em;
  }
  button.previous-btn,
  button.continue-to-app-btn,
  button.save-btn {
    font-size: smaller;
  }
  .application-form .learn-more-wrapper .learn-more-title,
  .application-form .learn-more-wrapper .toggle-icon {
    color: #0093b5;
    font-size: smaller;
  }
  .application-form .learn-more-wrapper .learn-more-content {
    font-size: smaller;
  }
  .application-page > h1 {
    font-size: 1.5em;
    max-width: fit-content;
  }
  .application-page > form {
    width: initial;
    margin-bottom: 2rem;
    padding: 1.5rem;
  }
  legend {
    font-size: 18px;
  }
  .application-form > fieldset {
    min-width: 95%;
    word-wrap: break-word;
    padding: 1.5rem;
    margin: 0;
  }
  .application-form > fieldset > label {
    font-size: smaller;
  }
  .form-button {
    gap: 0.5em;
    margin: auto;
  }
  #radio-wrapper > input[type=radio] {
    margin: 0;
  }
  #radio-wrapper > label,
  .application-form > fieldset > label {
    font-size: smaller;
  }
}
@media only screen and (min-width: 320px) and (max-width: 599px) {
  .column {
    padding: 0;
  }
  .application-page {
    padding: 2rem 0;
  }
  .application-page > form {
    width: initial;
    margin-bottom: 2rem;
    padding: 1.5rem;
  }
  .application-page > h1 {
    font-size: 1.5em;
    max-width: fit-content;
  }
  html,
  body {
    overflow-x: hidden;
    width: 100%;
  }
  legend {
    font-size: 18px;
  }
  .application-form > fieldset {
    min-width: 95%;
    word-wrap: break-word;
    padding: 1.5rem;
    margin: 0;
  }
  #radio-wrapper > input[type=radio] {
    margin: 0;
  }
  #radio-wrapper > label,
  .application-form > fieldset > label {
    font-size: smaller;
  }
  .application-form .learn-more-wrapper .learn-more-title,
  .application-form .learn-more-wrapper .toggle-icon {
    color: #0093b5;
    font-size: smaller;
  }
  .application-form .learn-more-wrapper .learn-more-content {
    font-size: smaller;
  }
}
@media only screen and (min-width: 600px) and (max-width: 910px) {
  .column {
    padding: 0;
  }
  html,
  body {
    overflow-x: hidden;
    width: 100%;
  }
  .application-page {
    padding: 2rem 0;
  }
  .application-page > form {
    width: initial;
    margin-bottom: 2rem;
  }
  .application-page > h1 {
    font-size: 2em;
    max-width: fit-content;
  }
  legend {
    font-size: 24px;
  }
}

/*# sourceMappingURL=forms.css.map */
