body {
  margin: 0;
  box-sizing: border-box;
  font-size: 1.2em;
  line-height: 1.4em; }

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0;
  color: #0093B5;
  line-height: 1em;
  font-weight: 700; }

h1, h2 {
  letter-spacing: 2px; }

h3, h4, h5, h6 {
  letter-spacing: 1px; }

body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'lato', helvetica, sans-serif; }

h1 {
  color: white;
  text-shadow: 2px 2px 5px #666;
  font-size: 4em;
  letter-spacing: 4px; }

a {
  color: #0093B5;
  text-decoration: none; }

button {
  background-color: white;
  border: 0; }

.blue-h1 {
  color: #05556D;
  text-shadow: 0px 0px 1px #ccc; }

.blue-background {
  background-color: #0093B5;
  color: white; }
  .blue-background a {
    color: #fc7625;
    text-shadow: 1px 1px 1px #666; }
  .blue-background a:hover {
    color: #16C1F3; }

.centered {
  text-align: center; }

.justify {
  text-align: justify; }

.row {
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 3rem 5rem; }

.row__center {
  align-items: center; }

.row__baseline {
  align-items: baseline; }

.column {
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  padding: 0 1rem; }

.nav-bar {
  -webkit-display: inline-flex;
  -moz-display: inline-flex;
  display: inline-flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: white;
  box-shadow: 0 0 8px 1px #ccc;
  z-index: 100; }

.nav-bar-inner {
  -webkit-display: inline-flex;
  -moz-display: inline-flex;
  display: inline-flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 5px 1rem 5px 0;
  background: white; }

.nav-link {
  flex-grow: 1;
  padding: 1em 0;
  text-shadow: 0px 0px 1px #ccc; }

.nav-link:hover {
  color: #16C1F3; }

.img-link {
  -webkit-flex: 10;
  -moz-flex: 10;
  -o-flex: 10;
  flex: 10;
  display: inline-block;
  order: 1; }

.logo {
  height: 4rem;
  padding-left: 1rem; }

.mc-closeModal {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.main-content {
  margin-top: 4rem; }

.main-header {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  background: url(../img/women-library-min.jpg) #0093B5 no-repeat top right fixed;
  background-size: cover; }

.main-header__text {
  max-width: 50%;
  padding: 0 1.5em;
  text-shadow: 1px 1px 1px #666; }

.full-width-img {
  width: 100%; }

.fixed-img {
  width: 30%;
  position: fixed;
  top: 150px; }

.hiring {
  width: 4.5rem;
  margin: 0.5rem; }

.social-media {
  width: 3rem;
  margin: 0.5rem; }

.contact-us,
.donate {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  color: white;
  display: inline-block;
  background-color: #fc7625;
  text-align: center; }
  .contact-us:hover,
  .donate:hover {
    background-color: #16C1F3;
    color: white;
    transition: .3s; }

.contact-us {
  margin: 0.5em 0;
  padding: 0.75em 1.5em; }

.hidden-lg {
  display: none; }

@media only screen and (max-width: 1024px) {
  .row {
    padding: 2em; }

  h1 {
    font-size: 3.5em; } }
@media only screen and (max-width: 910px) {
  .row {
    padding: 1.5em 1em; }

  .column-med {
    -webkit-flex: 0 0 40%;
    -moz-flex: 0 0 40%;
    -o-flex: 0 0 40%;
    flex: 0 0 40%; }

  .hidden-med {
    display: none; }

  .column {
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    -o-flex: 0 0 100%;
    flex: 0 0 100%; }

  h1 {
    font-size: 2em;
    letter-spacing: 0.5px; }

  .donate {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    color: #fc7625; }
    .donate:hover {
      background-color: #fc7625;
      color: white; }

  .nav-bar {
    justify-content: space-between; }

  .small-screen-nav {
    flex-flow: column-reverse nowrap;
    justify-content: flex-end; }

  .img-link {
    position: absolute;
    left: 0;
    top: 5px; }

  .nav-link {
    display: none; }

  .nav-link--mobile {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid #ccc;
    background-color: white;
    text-align: center;
    min-height: 1.4em;
    z-index: 1; }

  .nav-link--mobile:last-child {
    border-bottom: 1px solid #ccc; }

  .main-header {
    display: block;
    position: relative;
    background: url(../img/women-library-min.jpg) #0093B5 no-repeat top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; }

  .main-header__text {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    width: auto;
    padding: 0 1em; }

  .main-content {
    margin-top: 5rem; }

  .hidden-sm {
    display: none; }

  .hidden-lg {
    display: inline-block; }

  .lines-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.5rem 0;
    padding: 1.5rem 1rem;
    transition: .3s;
    cursor: pointer;
    user-select: none;
    border-radius: 0.42857rem; }
    .lines-button:hover {
      opacity: 1; }
    .lines-button:active {
      transition: 0;
      background: rgba(0, 0, 0, 0.1); }

  .lines {
    display: inline-block;
    width: 3rem;
    height: 0.42857rem;
    background: #16C1F3;
    border-radius: 0.21429rem;
    transition: 0.3s;
    position: relative;
    /*create the upper and lower lines as pseudo-elements of the middle line*/ }
    .lines:before, .lines:after {
      display: inline-block;
      width: 3rem;
      height: 0.42857rem;
      background: #16C1F3;
      border-radius: 0.21429rem;
      transition: 0.3s;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: 0.21429rem center; }
    .lines:before {
      top: 0.75rem; }
    .lines:after {
      top: -0.75rem; }

  .lines-button:hover {
    opacity: 1; }
    .lines-button:hover .lines:before {
      top: 1rem; }
    .lines-button:hover .lines:after {
      top: -1rem; }

  .lines-button.x.close .lines {
    /*hide the middle line*/
    background: transparent;
    /*overlay the lines by setting both their top values to 0*/ }
    .lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
      transform-origin: 50% 50%;
      top: 0;
      width: 2.5em; }
    .lines-button.x.close .lines:before {
      transform: rotate3d(0, 0, 1, 45deg); }
    .lines-button.x.close .lines:after {
      transform: rotate3d(0, 0, 1, -45deg); }

  .contact-us {
    display: block; }

  .nav-bar-inner {
    padding: 0;
    margin-top: 5rem; } }
/* iphone 4 and 4s media query */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) {
  .main-header__text {
    font-size: 1rem;
    height: 50vh; } }
/* iphone 4 and 4s landscape media query */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .main-header {
    background-size: cover;
    font-size: 14px; }

  .main-content {
    font-size: 14px; } }
/* Samsung Galaxy s5 portrait media query */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .main-header__text {
    font-size: 1rem;
    height: 30vh; }

  .main-header_text p {
    margin-bottom: 20px; }

  .main-header {
    height: 420px; } }
/* Samsung Galaxy s5 landscape media query */
@media screen and (device-width: 640px) and (device-height: 360px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .main-header__text {
    font-size: 1rem;
    height: 50vh; }

  .main-header {
    height: 500px;
    background-size: cover; } }

/*# sourceMappingURL=style.css.map */
