/* General form components and styling that can be reused across different forms
  - base form wrapper
  - fieldset
  - input
  - component styling*/
@use "settings" as *;

// Form wrapper and structure
.form-wrapper {
  .wrapper {
    max-width: 50%;
    justify-content: center;
  }

  #info-wrapper {
    margin-bottom: 2em;

    > fieldset {
      box-sizing: border-box;
      margin: 1em;
      padding: 1em;
      border-radius: 6px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    > fieldset > label {
      margin-top: 1em;
      margin-bottom: 0.5em;
      color: $legend-color;
    }

    > fieldset > input[type="text"],
    > fieldset > input[type="email"],
    > fieldset > input[type="tel"],
    > fieldset > input[type="url"],
    > fieldset > input[type="number"],
    > fieldset > textarea {
      min-width: 90%;
      margin: auto auto 1em auto;
      padding: 0.25em;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 6px;
    }

    > fieldset > textarea {
      min-height: 6em;
    }
  }
}

// Legend styles
legend {
  color: $legend-color;
  font-size: 20px;
}

// Radio button styling
.radio-wrapper {
  width: 100%;
  margin-bottom: 1em;
  color: $radio-wrapper-color;

  input[type="radio"] {
    width: 50px;
  }

  label {
    color: black;
    margin-bottom: 2em;
  }
}

#radio-wrapper {
  label {
    color: black;
    margin-bottom: 2em;
  }

  input {
    background-color: $light-blue;
  }

  > input[type="radio"] {
    margin: 0;
  }

  > label {
    font-size: smaller;
  }
}

// Button styles
.continue-to-app-btn {
  width: 50%;
}

button.continue-to-app-btn,
button.previous-btn,
button.save-btn {
  background-color: $focal-orange;
  color: white;
  font-size: large;
  padding: 1rem;
  border-radius: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

button.continue-to-app-btn:hover,
button.previous-btn:hover,
button.save-btn:hover {
  background-color: $light-blue;
  color: white;
  transition: 0.3s;
}

.form-button {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

// Checkbox styling
.checkbox-wrapper {
  margin-bottom: 1em;

  input[type="checkbox"] {
    margin-right: 0.5em;
  }

  label {
    cursor: pointer;
  }
}

// Optional field styling
span {
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
}

// Responsive design for general forms
@media (max-width: 900px) {
  .form-wrapper {
    .wrapper {
      max-width: 75%;
    }

    #info-wrapper {
      max-width: 100%;
      min-width: none;
    }
  }
}

// Mobile (320px to 599px)
@media only screen and (min-width: 320px) and (max-width: 599px) {
  html,
  body {
    overflow-x: hidden;
    width: 100%;
  }

  .column {
    padding: 0;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  .row,
  .application-page {
    padding: 2em;
  }

  .justify {
    text-align: left;
  }

  .large-white-text {
    font-size: 1.5em;
  }

  button.previous-btn,
  button.continue-to-app-btn,
  button.save-btn {
    font-size: smaller;
  }

  .application-form .learn-more-wrapper .learn-more-title,
  .application-form .learn-more-wrapper .toggle-icon {
    color: $main-blue;
    font-size: smaller;
  }

  .application-form .learn-more-wrapper .learn-more-content {
    font-size: smaller;
  }

  .application-page > h1 {
    font-size: 1.5em;
    max-width: fit-content;
  }

  .application-page > form {
    width: initial;
    margin-bottom: 2rem;
    padding: 1.5rem;
  }

  legend {
    font-size: 18px;
  }

  .application-form > fieldset {
    min-width: 95%;
    word-wrap: break-word;
    padding: 1.5rem;
    margin: 0;
  }

  .application-form > fieldset > label {
    font-size: smaller;
  }

  .form-button {
    gap: 0.5em;
    margin: auto;
  }

  #radio-wrapper > input[type="radio"] {
    margin: 0;
  }

  #radio-wrapper > label,
  .application-form > fieldset > label {
    font-size: smaller;
  }
}

// Small screens (max-width 600px)
@media (max-width: 600px) {
  .form-wrapper {
    .wrapper {
      max-width: 100%;
    }

    #info-wrapper {
      max-width: 100%;
      min-width: none;

      > fieldset {
        margin: 0px;
        width: 100%;
      }
    }
  }
}