@import "settings";
@import "mixins";

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 75%;
    max-width: 150rem;
    padding: 3rem;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
  }

  .participant-assessment-page {
    justify-content: center;
    background-color: #0093b5;
    padding: 2rem;
  }

  .participant-assessment-form {
    display: inline;
    margin: 0.5em 0 0 0;
    font-size: large;
    color: black;
  }

  .participant-assessment-form button {
    display: inline;
    background-color: white;
    font-size: large;
    color: #0093b5;
    cursor: pointer;
    padding: 0;
    margin: 0 0 0 0.5em;
  }

  .participant-assessment-form button:hover {
    background-color: white;
    color: #16c1f3;
  }

  .participant-assessment-form button:focus-visible {
    padding: 3px;
  }

  .participant-assessment-page > h1,
  .participant-assessment-page > p {
    max-width: 65%;
    margin: auto;
    text-align: center;
  }

  legend {
    color: rgba(0, 115, 149, 0.8);
    font-size: 20px;
  }

  .participant-assessment-form > fieldset {
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.559);
    border-radius: 0.5rem;
    width: 100%;
  }

  .participant-assessment-form > fieldset > label,
  .participant-assessment-form > fieldset > #radio-wrapper {
    color: black;
    font-size: large;
  }

  .participant-assessment-form > fieldset > label,
  .participant-assessment-form > fieldset > #radio-wrapper > label {
    font-size: large;
  }

  .participant-assessment-form > fieldset > #radio-wrapper > input[type="checkbox"],
  .participant-assessment-form > fieldset > #radio-wrapper > input[type="radio"] {
    cursor: pointer;
  }

  .participant-assessment-form > fieldset > input[type="checkbox"],
  .participant-assessment-form > fieldset > input[type="radio"] {
    padding: 1em;
    margin-bottom: 2em;
    border: 1px solid rgba(0, 0, 0, 0.559);
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
  }

  button.save-btn {
    background-color: #fc7625;
    color: white;
    font-size: large;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  button.save-btn:hover {
    background-color: #16c1f3;
    color: white;
    transition: 0.3s;
  }

  .form-button {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
  }

  @media only screen and (min-width: 320px) and (max-width: 599px) {
    .column {
      padding: 0;
    }
    html,
    body {
      overflow-x: hidden;
      width: 100%;
    }
    .participant-assessment-page > form {
      width: inherit;
      margin-bottom: 2rem;
      padding: 1.5rem;
    }
    .participant-assessment-page {
      padding: 2rem 0;
    }
    .participant-assessment-form .toggle-icon {
      color: #0093b5;
      font-size: smaller;
    }
    .participant-assessment-form {
      font-size: smaller;
    }
    .participant-assessment-form > fieldset {
      min-width: 95%;
      word-wrap: break-word;
      padding: 1.5rem;
      margin: 0;
    }
    .participant-assessment-page > h1 {
      font-size: 1.5em;
      max-width: fit-content;
    }
    legend {
      font-size: 18px;
    }
    #radio-wrapper > input[type="radio"] {
      margin: 0;
    }
    .participant-assessment-form > fieldset > label,
    #radio-wrapper > label {
      font-size: smaller;
    }
    .form-button {
      gap: 0.5em;
      margin: auto;
    }
    button.previous-btn,
    button.continue-to-app-btn,
    button.save-btn {
      font-size: smaller;
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 910px) {
    .column {
      padding: 0;
    }
    html,
    body {
      overflow-x: hidden;
      width: 100%;
    }
    .participant-assessment-page {
      padding: 2rem 0;
    }
    .participant-assessment-page > form {
      width: initial;
      margin-bottom: 2rem;
    }
    .participant-assessment-page > h1 {
      font-size: 2em;
      max-width: fit-content;
    }
    legend {
      font-size: 24px;
    }
  }