@import 'settings';
@import 'mixins';

.row {
  @include prefix(display, flex, webkit moz);
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 3rem 5rem;
}

.row__center {
  align-items: center;
}

.row__baseline {
  align-items: baseline;
}

.column {
  @include prefix(flex, 1, webkit moz);
  padding: 0 1rem;
}

.nav-bar {
  @include prefix(display, inline-flex, webkit moz);
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: $white;
  box-shadow: 0 0 8px 1px #ccc;
  z-index: 100;
}

.nav-bar-inner {
  -webkit-display: inline-flex;
  -moz-display: inline-flex;
  display: inline-flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 5px 1rem 5px 0;
  background: white;
}

.nav-link {
  flex-grow: 1;
  padding: 1em 0;
  text-shadow: $thin-light-text-shadow;
}

.nav-link:hover {
  color: $light-blue;
}

.img-link {
  @include prefix(flex, 10, webkit moz o);
  display: inline-block;
  order: 1;
}

.logo {
  height: 4rem;
  padding-left: 1rem;
}

.mc-closeModal{
  text-shadow:-1px -1px 0 #000,
               1px -1px 0 #000,
               -1px 1px 0 #000,
                1px 1px 0 #000;
}

.main-content {
  margin-top: 4rem;
}

.main-header {
  @include prefix(background-size, cover, webkit moz o);
  @include prefix(display, flex, webkit moz o);
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  background: url(../img/women-library-min.jpg) $main-blue no-repeat top right fixed;
  background-size: cover;
}

.main-header__text {
  max-width: 50%;
  padding: 0 1.5em;
  text-shadow: $thin-dark-text-shadow;
}

.full-width-img {
  width: 100%;
}

.fixed-img {
  width:30%;
  position:fixed;
  top:150px;
}

.hiring {
  width: 4.5rem;
  margin: 0.5rem;
}

.social-media {
  width: 3rem;
  margin: 0.5rem;
}

.contact-us,
.donate {
  @include prefix(border-radius, 8px, webkit moz o);
  color: white;
  display: inline-block;
  background-color: $focal-orange;
  text-align: center;

  &:hover {
    background-color: $light-blue;
    color: white;
    transition: .3s;
  }
}

.contact-us {
  margin: 0.5em 0;
  padding: 0.75em 1.5em;
}

.hidden-lg {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .row {
    padding: 2em;
  }

  h1 {
    font-size: 3.5em;
  }
}


@media only screen and (max-width: 910px) {
  .row {
    padding: 1.5em 1em;
  }

  .column-med {
    @include prefix(flex, 0 0 40%, webkit moz o);
  }

  .hidden-med {
    display: none;
  }

  .column {
    @include prefix(flex, 0 0 100%, webkit moz o);
  }

  h1 {
    font-size: 2em;
    letter-spacing: 0.5px;
  }

  .donate {
    @include prefix(border-radius, 0px, webkit moz o);
    color: $focal-orange;
    &:hover {
      background-color: $focal-orange;
      color: white;
    }
  }


  .nav-bar {
    justify-content: space-between;
  }

  .small-screen-nav {
    flex-flow: column-reverse nowrap;
    justify-content: flex-end;
  }

  .img-link {
    position: absolute;
    left: 0;
    top: 5px;
  }

  .nav-link {
    display: none;
  }

  .nav-link--mobile {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid $light-gray;
    background-color: $white;
    text-align: center;
    min-height: 1.4em;
    z-index: 1
  }

  .nav-link--mobile:last-child {
    border-bottom: 1px solid $light-gray;
  }

  .main-header {
    display: block;
    position: relative;
    background: url(../img/women-library-min.jpg) $main-blue no-repeat top center;
    @include prefix(background-size, contain, webkit moz o);
  }

  .main-header__text {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    width: auto;
    padding: 0 1em;
  }

  .main-content {
    margin-top: 5rem;
  }

  .hidden-sm {
    display: none;
  }

  .hidden-lg {
    display: inline-block;
  }

  .lines-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.5rem 0;
    padding: $button-size/2 $button-size/3;
    transition: .3s;
    cursor: pointer;
    user-select: none;
    border-radius: $button-size/7;

    &:hover {
      opacity: 1;
    }

    &:active {
      transition: 0;
      background: rgba(0,0,0,.1);
    }
  }

  .lines {
    //create middle line
    @include line;
    position: relative;

    /*create the upper and lower lines as pseudo-elements of the middle line*/
    &:before, &:after {
     @include line;
      position: absolute;
        left: 0;
      content: '';
      transform-origin: $button-size/14 center;
    }
    &:before { top: $button-size/4; }
    &:after { top: -$button-size/4; }
  }

  .lines-button:hover {
    opacity: 1;

    .lines {
      &:before { top: $button-size/3; }
      &:after { top: -$button-size/3; }
    }
  }

  .lines-button.x.close .lines {
    /*hide the middle line*/
    background: transparent;

    /*overlay the lines by setting both their top values to 0*/
    &:before, &:after {
      transform-origin: 50% 50%;
      top: 0;
      width: 2.5em;
    }

    // rotate the lines to form the x shape
    &:before{
      transform: rotate3d(0,0,1,45deg);
    }
    &:after{
      transform: rotate3d(0,0,1,-45deg);
    }
  }
  .contact-us {
    display: block;
  }

  .nav-bar-inner {
    padding: 0;
    margin-top: 5rem;
  }
}

/* iphone 4 and 4s media query */
@media only screen and (min-device-width: 320px)
  and
  (max-device-width: 480px)
  and
  (-webkit-device-pixel-ratio: 2)
  and
  (device-aspect-ratio: 2/3){
    .main-header__text{
      font-size: 1rem;
      height: 50vh;
    }
}

/* iphone 4 and 4s landscape media query */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .main-header{
    background-size: cover;
    font-size: 14px;
  }
  .main-content{
    font-size: 14px;
  }
}

/* Samsung Galaxy s5 portrait media query */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .main-header__text{
      font-size: 1rem;
      height: 30vh;
    }
    .main-header_text p{
      margin-bottom: 20px;
    }
    .main-header{
        height: 420px;
    }
}

/* Samsung Galaxy s5 landscape media query */
@media screen
  and (device-width: 640px)
  and (device-height: 360px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .main-header__text{
      font-size: 1rem;
      height: 50vh;
    }
    .main-header{
        height: 500px;
        background-size: cover;
    }
}
