@import "settings";
@import "mixins";

.row {
  @include prefix(display, flex, webkit moz);
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 3rem 5rem;
}

.row__center {
  align-items: center;
}

.row__baseline {
  align-items: baseline;
}

.column {
  @include prefix(flex, 1, webkit moz);
  padding: 0 1rem;
}

.nav-bar {
  @include prefix(display, inline-flex, webkit moz);
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: $white;
  box-shadow: 0 0 8px 1px $light-gray;
  z-index: 100;
}

.nav-bar-inner {
  -webkit-display: inline-flex;
  -moz-display: inline-flex;
  display: inline-flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 5px 1rem 5px 0;
  background: $white;
}

.nav-link {
  flex-grow: 1;
  padding: 1em 0;
  text-shadow: $thin-light-text-shadow;
}

.nav-link:hover {
  color: $light-blue;
}

.img-link {
  @include prefix(flex, 10, webkit moz o);
  display: inline-block;
  order: 1;
}

.logo {
  width: 170px;
  padding-left: 1.25rem;
}

.mc-closeModal {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.main-content {
  margin-top: 4rem;
}

.main-header {
  @include prefix(background-size, cover, webkit moz o);
  @include prefix(display, flex, webkit moz o);
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 75vh;
  background: url(../img/three-participants-at-laptops-min.jpg) $main-blue
    no-repeat top right fixed;
  background-size: cover;
}

.main-header__text {
  max-width: 50%;
  padding: 0 1.5em;
  text-shadow: $thin-dark-text-shadow;
}

.main-header__header {
  // Responsive font-size fomula, min size 28px on 320px width screen.
  font-size: calc(28px + 24 * (100vw - 320px) / 960);

  // Caps max fontsize above x-large-screen breakpoint.
  @media only screen and (min-width: 1200px) {
    font-size: 3.5rem;
  }
}

.apprenticeship-header {
  @include prefix(background-size, cover, webkit moz o);
  @include prefix(display, flex, webkit moz o);
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  background: url(../img/apprentices-2019-h2-long-cropped-min.jpg) $main-blue
    no-repeat top fixed;
  background-size: cover;
}

.apprentice-header {
  @include prefix(background-size, cover, webkit moz o);
  @include prefix(display, flex, webkit moz o);
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

#apprentice-hero {
  width: 100%;
}

.full-width-img {
  width: 100%;
}

.twenty-percent-width {
  width: 20%;
}

.ten-percent-width {
  width: 10%;
}

.min-width-250 {
  min-width: 250px;
}

.max-size-75px {
  max-height: 75px;
  max-width: 75px;
}

.max-width-100-percent {
  max-width: 100%;
}

.max-width-75-percent {
  max-width: 75%;
}

.resize-400px {
  max-height: 400px;
  max-width: 400px;
}

.resize-200px {
  max-height: 200px;
  max-width: 200px;
}

.margin-25 {
  margin: 25px;
}

.fixed-img {
  width: 30%;
  position: fixed;
  top: 150px;
}

.hiring {
  width: 4.5rem;
  margin: 0.5rem;
}

.social-media {
  width: 3rem;
  margin: 0.5rem;
}

.contact-us,
.donate,
.sponsor {
  @include prefix(border-radius, 8px, webkit moz o);
  color: $white;
  display: inline-block;
  background-color: $focal-orange;
  text-align: center;

  &:hover {
    background-color: $light-blue;
    color: $white;
    transition: 0.3s;
  }
}

.sponsor:hover .link-on-blue {
  color: $dark-blue;
}

.contact-us {
  margin: 0.5em 0;
  padding: 0.75em 1.5em;
}

.sponsor {
  line-height: 36px;
  padding: 25px;
  margin: 0;
}

#orange-button {
  text-decoration: none;
  &:hover {
    color: $white;
  }
}

#quotes {
  color: $white;
  font-size: 2em;
  letter-spacing: 2px;
}

.white-text {
  color: $white;
  padding: 1.5rem;
  margin: 0;
}

.large-white-text {
  color: $white;
  font-size: 2em;
  letter-spacing: 2px;
  text-align: center;
}

a:hover {
  color: $light-blue;
}

.sponsor-p {
  font-size: 20px;
  line-height: 35px;
  text-align: center;
}

.stars {
  height: 90px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.sponsorship-levels-img {
  width: 90%;
  height: 90%;
  padding: 5%;
}

.hidden-lg {
  display: none;
}

table.mentor {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;

  td {
    border-bottom: 1px solid #000;
    padding: 1rem;

    ul {
      margin: 0;
    }
  }

  td:first-of-type {
    border-right: 1px solid #000;
    vertical-align: top;
  }
}

@media only screen and (max-width: 1024px) {
  .row {
    padding: 2em;
  }

  h1 {
    font-size: 3.5em;
  }
}

@media only screen and (max-width: 910px) {
  .row {
    padding: 1.5em 1em;
  }

  .column-med {
    @include prefix(flex, 0 0 40%, webkit moz o);
  }

  .hidden-med {
    display: none;
  }

  .column {
    @include prefix(flex, 0 0 100%, webkit moz o);
  }

  h1 {
    font-size: 2em;
    letter-spacing: 0.5px;
  }

  .donate {
    @include prefix(border-radius, 0px, webkit moz o);
    color: $focal-orange;
    &:hover {
      background-color: $focal-orange;
      color: $white;
    }
  }

  .nav-bar {
    justify-content: space-between;
  }

  .small-screen-nav {
    flex-flow: column-reverse nowrap;
    justify-content: flex-end;
  }

  .img-link {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }

  .nav-link {
    display: none;
  }

  .nav-link--mobile {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid $light-gray;
    background-color: $white;
    text-align: center;
    min-height: 1.4em;
    z-index: 1;
  }

  .nav-link--mobile:last-child {
    border-bottom: 1px solid $light-gray;
  }

  .main-header {
    display: block;
    position: relative;
    background: url(../img/three-participants-at-laptops-min.jpg) $main-blue
      no-repeat top center;
    @include prefix(background-size, contain, webkit moz o);
  }

  .main-header__text {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    width: auto;
    padding: 0 1em;
  }

  .main-content {
    margin-top: 5rem;
  }

  .hidden-sm {
    display: none;
  }

  .hidden-lg {
    display: inline-block;
  }

  .lines-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.5rem 0;
    padding: $button-size/2 $button-size/3;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
    border-radius: $button-size/7;

    &:hover {
      opacity: 1;
    }

    &:active {
      transition: 0;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .lines {
    //create middle line
    @include line;
    position: relative;

    /*create the upper and lower lines as pseudo-elements of the middle line*/
    &:before,
    &:after {
      @include line;
      position: absolute;
      left: 0;
      content: "";
      transform-origin: $button-size/14 center;
    }
    &:before {
      top: $button-size/4;
    }
    &:after {
      top: -$button-size/4;
    }
  }

  .lines-button:hover {
    opacity: 1;

    .lines {
      &:before {
        top: $button-size/3;
      }
      &:after {
        top: -$button-size/3;
      }
    }
  }

  .lines-button.x.close .lines {
    /*hide the middle line*/
    background: transparent;

    /*overlay the lines by setting both their top values to 0*/
    &:before,
    &:after {
      transform-origin: 50% 50%;
      top: 0;
      width: 2.5em;
    }

    // rotate the lines to form the x shape
    &:before {
      transform: rotate3d(0, 0, 1, 45deg);
    }
    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }
  .contact-us {
    display: block;
  }

  .nav-bar-inner {
    padding: 0;
    margin-top: 5rem;
  }
}

/* iphone 4 and 4s media query */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  .main-header__text {
    font-size: 1rem;
    height: 50vh;
  }
}

/* iphone 4 and 4s landscape media query */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .main-header {
    background-size: cover;
    font-size: 14px;
  }
  .main-content {
    font-size: 14px;
  }
}

/* Samsung Galaxy s5 portrait media query */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .main-header__text {
    font-size: 1rem;
  }
  .main-header_text p {
    margin-bottom: 20px;
  }
}

/* Samsung Galaxy s5 landscape media query */
@media screen and (device-width: 640px) and (device-height: 360px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .main-header__text {
    font-size: 1rem;
    height: 50vh;
  }
  .main-header {
    height: 500px;
    background-size: cover;
  }
}

.progress-bg {
  margin: 0 auto;
  width: 65%;
  height: 78px;
  border-radius: 10px;
  text-align: center;
  -moz-box-shadow: inset 0 0 10px $light-gray;
  -webkit-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black;
  background-color: $white;
}

.progress-bar {
  height: 78px;
  border-radius: 10px;
  float: left;
  width: 50%;
  background-color: $focal-orange;
}

.progress-bg h3.goal,
.progress-bg h3.raised {
  line-height: 78px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline;
}

.progress-bg h3.goal {
  color: #fff;
}

.progress-bg h3.goal {
  color: $focal-orange;
  text-align: center;
}

.progress-bg h3.goal {
  float: right;
  display: inline;
  padding: 0 25px 0 0;
  text-align: center;
}

/* Events Stuff */

.event-item {
  max-width: 30%;
  flex-basis: 25%;
  padding: 1rem 2rem;
}

.event-item__address {
  font-size: 1rem;
}

.blue-background h3 {
  color: white;
}

.collapsible {
  color: $main-blue;
  cursor: pointer;
  margin: 25px;
  text-align: left;
  outline: none;
  font-size: 1.2em;
  &:hover {
    color: $dark-blue;
  }
  &::before {
    content: "+ ";
    text-decoration: none;
  }
}

.collapsible-active {
  color: $dark-blue;
  &::before {
    content: "- ";
  }
}

.collapsible-content {
  padding: 25px;
  display: none;
}

ul.hidden-bullets {
  list-style-type: none;
  padding-inline-start: 0;
}

p.press-release-summary {
  font-style: italic;
}

p.press-release-bold {
  font-style: bold;
}
