{% macro input_field(name, label, id=None, type="text", required=True) %}
<label for="{{ name }}">{{ id or label }}</label>

{% if caller %} {{ caller() }} {% endif %}
<br />

<input
  type="{{ type }}"
  id="{{ id or name }}"
  name="{{ name }}"
  {%
  if
  required
  %}required{%
  endif
  %}
  {{
  kwargs|xmlattr
  }}
/><br />
{% endmacro %} {% macro select_field(name, label, options, id=None,
required=True) %}
<label for="{{ name }}">{{ id or label }}</label>

{% if caller %} {{ caller() }} {% endif %}
<br />
<select
  name="{{ name }}"
  id="{{ id or name }}"
  {%
  if
  required
  %}required{%
  endif
  %}
  {{
  kwargs|xmlattr
  }}
>
  <option value="" selected hidden disabled>Select an Option</option>
  {% for val in options %}
  <option value="{{ val }}">{{ val }}</option>
  {% endfor %}
</select>
<br />
{% endmacro %} {% macro checkbox_group(name, label, options, id=None) %}
<label for="{{ name }}">{{ id or label }}</label>

{% if caller %} {{ caller() }} {% endif %}
<br />

{% for opt in options %} {% set opt_id = name ~ '-' ~ opt|lower|replace('/',
'-') %}
<label>
  <input
    type="checkbox"
    name="{{ name }}"
    id="{{ opt_id }}"
    value="{{ opt }}"
    {{
    kwargs|xmlattr
    }}
  />
  {{ opt }} </label
><br />
{% endfor %} {% endmacro %}
