{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap {%
endblock title %} {% block content %}
<nav class="admin-nav-bar">
  <button>Log Out</button>
  <h2>Admin Dashboard</h2>
</nav>
<div>
  <table class="recent-applicants">
    <caption>
      Applicant Information
    </caption>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Reference #1</th>
      <th>Reference #2</th>
    </tr>
  </table>
  <table class="recent-applicants">
    <caption>
      Application Eligibility
    </caption>
    <tr>
      <th>WPM</th>
      <th>Freecodecamp</th>
      <th># of References</th>
      <th>Income Eligible</th>
      <th>Gender</th>
      <th>Computer Literate</th>
      <th>Stable Housing</th>
      <th>No Recent Bootcamp</th>
    </tr>
  </table>
  <table class="recent-applicants">
    <caption>
      Application Status
    </caption>
    <tr>
      <th>Screening/th></th>
      <th>Workshop</th>
      <th>Pair Programming</th>
      <th>Take Home Code Challenge</th>
      <th>Staff Interview</th>
      <th>Board Interview</th>
    </tr>
  </table>
</div>
{%endblock%}
