{% set show_footer = False %}{% extends "base.html" %} {% block title %}
Techtonica: Bridging the Tech Gap {% endblock title %} {% block content %}

<nav class="admin-nav-bar">
  <button class="admin-button">Log Out</button>
  <h2>Admin Dashboard</h2>
</nav>
<div class="admin-container">
  <section class="admin-section quick-stats">
    <div class="admin-box">
      <div class="quick-stats-header">
        <h4>Total Applications</h4>
        <svg
          fill="#7d7d7d"
          width="50px"
          height="50px"
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
          stroke="#7d7d7d"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M16 15.503A5.041 5.041 0 1 0 16 5.42a5.041 5.041 0 0 0 0 10.083zm0 2.215c-6.703 0-11 3.699-11 5.5v3.363h22v-3.363c0-2.178-4.068-5.5-11-5.5z"
            ></path>
          </g>
        </svg>
      </div>
      <p>1,234</p>
      <p class="quick-stats-percent">+20.1% from last month</p>
    </div>
    <div class="admin-box">
      <div class="quick-stats-header">
        <h4>Pending Review</h4>
        <svg
          fill="#808080"
          width="50px"
          height="50px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          enable-background="new 0 0 24 24"
          stroke="#808080"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M21,11c-0.6,0-1,0.4-1,1c0,2.9-1.5,5.5-4,6.9c-3.8,2.2-8.7,0.9-10.9-2.9C2.9,12.2,4.2,7.3,8,5.1c3.3-1.9,7.3-1.2,9.8,1.4h-2.4c-0.6,0-1,0.4-1,1s0.4,1,1,1h4.5c0.6,0,1-0.4,1-1V3c0-0.6-0.4-1-1-1s-1,0.4-1,1v1.8C17,3,14.6,2,12,2C6.5,2,2,6.5,2,12s4.5,10,10,10c5.5,0,10-4.5,10-10C22,11.4,21.6,11,21,11z"
            ></path>
          </g>
        </svg>
      </div>
      <p>45</p>
      <p class="quick-stats-percent">12 require immediate attention</p>
    </div>
    <div class="admin-box">
      <div class="quick-stats-header">
        <h4>Accepted</h4>
        <svg
          width="50px"
          height="50px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <g id="style=fill">
              <g id="check-circle">
                <path
                  id="Subtract"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 1.25C6.06294 1.25 1.25 6.06294 1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25ZM16.5303 10.0303C16.8232 9.73744 16.8232 9.26256 16.5303 8.96967C16.2374 8.67678 15.7626 8.67678 15.4697 8.96967L10.8434 13.5959C10.7458 13.6935 10.5875 13.6935 10.4899 13.5959L8.53033 11.6363C8.23744 11.3434 7.76256 11.3434 7.46967 11.6363C7.17678 11.9292 7.17678 12.4041 7.46967 12.697L9.42923 14.6566C10.1126 15.34 11.2207 15.34 11.9041 14.6566L16.5303 10.0303Z"
                  fill="#808080"
                ></path>
              </g>
            </g>
          </g>
        </svg>
      </div>

      <p>189</p>
      <p class="quick-stats-percent">15.3% acceptance rate</p>
    </div>
    <div class="admin-box">
      <div class="quick-stats-header">
        <h4>Rejected</h4>
        <svg
          width="50px"
          height="50px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <g id="style=fill">
              <g id="close-circle">
                <path
                  id="Subtract"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M1.25 12C1.25 6.06294 6.06294 1.25 12 1.25C17.9371 1.25 22.75 6.06294 22.75 12C22.75 17.9371 17.9371 22.75 12 22.75C6.06294 22.75 1.25 17.9371 1.25 12ZM8.46967 8.46967C8.76257 8.17678 9.23744 8.17678 9.53033 8.46967L12 10.9393L14.4697 8.46967C14.7626 8.17678 15.2374 8.17678 15.5303 8.46967C15.8232 8.76257 15.8232 9.23744 15.5303 9.53033L13.0606 12L15.5303 14.4697C15.8232 14.7626 15.8232 15.2374 15.5303 15.5303C15.2374 15.8232 14.7625 15.8232 14.4696 15.5303L12 13.0607L9.53033 15.5303C9.23743 15.8232 8.76256 15.8232 8.46967 15.5303C8.17678 15.2374 8.17678 14.7625 8.46967 14.4696L10.9393 12L8.46967 9.53033C8.17678 9.23743 8.17678 8.76256 8.46967 8.46967Z"
                  fill="#808080"
                ></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <p>1,000</p>
      <p class="quick-stats-percent">84.7% rejection rate</p>
    </div>
  </section>
  <section class="admin-section">
    <div class="admin-box">
      <h3>Applications Needing Attention</h3>
      <div class="attention-overview">
        <div class="attention-box">
          <svg
            width="150px"
            height="150px"
            viewBox="-2.4 -2.4 28.80 28.80"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#8a0019"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0">
              <rect
                x="-2.4"
                y="-2.4"
                width="28.80"
                height="28.80"
                rx="14.4"
                fill="#fccad3"
                strokewidth="0"
              ></rect>
            </g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M19 9L13 3M19 9H16.2C15.0799 9 14.5198 9 14.092 8.78201C13.7157 8.59027 13.4097 8.28431 13.218 7.90798C13 7.48016 13 6.9201 13 5.8V3M19 9V11M13 3H8.2C7.0799 3 6.51984 3 6.09202 3.21799C5.71569 3.40973 5.40973 3.71569 5.21799 4.09202C5 4.51984 5 5.07989 5 6.2V17.8C5 18.9201 5 19.4802 5.21799 19.908C5.40973 20.2843 5.71569 20.5903 6.09202 20.782C6.51984 21 7.07989 21 8.2 21H11M19.5 20.2361C18.9692 20.7111 18.2684 21 17.5 21C15.8431 21 14.5 19.6569 14.5 18C14.5 16.3431 15.8431 15 17.5 15C18.8062 15 19.9175 15.8348 20.3293 17M21 14.5V17.5H18"
                stroke="#8a0019"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M13 3V7.4C13 7.96005 13 8.24008 13.109 8.45399C13.2049 8.64215 13.3578 8.79513 13.546 8.89101C13.7599 9 14.0399 9 14.6 9H19M13 3H8.2C7.0799 3 6.51984 3 6.09202 3.21799C5.71569 3.40973 5.40973 3.71569 5.21799 4.09202C5 4.51984 5 5.0799 5 6.2V17.8C5 18.9201 5 19.4802 5.21799 19.908C5.40973 20.2843 5.71569 20.5903 6.09202 20.782C6.51984 21 7.0799 21 8.2 21H10.5M13 3L19 9M19 9V11M21 14.5V17.5H18M19.5 20.2361C18.9692 20.7111 18.2684 21 17.5 21C15.8431 21 14.5 19.6569 14.5 18C14.5 16.3431 15.8431 15 17.5 15C18.8062 15 19.9175 15.8348 20.3293 17"
                stroke="#8a0019"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </svg>
          <p class="admin-subtitle">
            <span id="admin-action">12</span> Applications requiring
            <b>admin</b>
            action
          </p>
        </div>
        <div class="attention-box">
          <svg
            width="150px"
            height="150px"
            viewBox="-2.4 -2.4 28.80 28.80"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#8a4000"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0">
              <rect
                x="-2.4"
                y="-2.4"
                width="28.80"
                height="28.80"
                rx="14.4"
                fill="#fced8c"
                strokewidth="0"
              ></rect>
            </g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M19 9L13 3M19 9H16.2C15.0799 9 14.5198 9 14.092 8.78201C13.7157 8.59027 13.4097 8.28431 13.218 7.90798C13 7.48016 13 6.9201 13 5.8V3M19 9V11M13 3H8.2C7.0799 3 6.51984 3 6.09202 3.21799C5.71569 3.40973 5.40973 3.71569 5.21799 4.09202C5 4.51984 5 5.07989 5 6.2V17.8C5 18.9201 5 19.4802 5.21799 19.908C5.40973 20.2843 5.71569 20.5903 6.09202 20.782C6.51984 21 7.07989 21 8.2 21H11M19.5 20.2361C18.9692 20.7111 18.2684 21 17.5 21C15.8431 21 14.5 19.6569 14.5 18C14.5 16.3431 15.8431 15 17.5 15C18.8062 15 19.9175 15.8348 20.3293 17M21 14.5V17.5H18"
                stroke="#cc9600"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M13 3V7.4C13 7.96005 13 8.24008 13.109 8.45399C13.2049 8.64215 13.3578 8.79513 13.546 8.89101C13.7599 9 14.0399 9 14.6 9H19M13 3H8.2C7.0799 3 6.51984 3 6.09202 3.21799C5.71569 3.40973 5.40973 3.71569 5.21799 4.09202C5 4.51984 5 5.0799 5 6.2V17.8C5 18.9201 5 19.4802 5.21799 19.908C5.40973 20.2843 5.71569 20.5903 6.09202 20.782C6.51984 21 7.0799 21 8.2 21H10.5M13 3L19 9M19 9V11M21 14.5V17.5H18M19.5 20.2361C18.9692 20.7111 18.2684 21 17.5 21C15.8431 21 14.5 19.6569 14.5 18C14.5 16.3431 15.8431 15 17.5 15C18.8062 15 19.9175 15.8348 20.3293 17"
                stroke="#cc9600"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </svg>
          <p class="admin-subtitle">
            <span id="applicant-action">10</span> Applications requiring
            <b>applicant</b>
            action
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="admin-section">
    <div class="admin-box">
      <div class="status-overview-info">
        <h3>Application Status Overview</h3>
        <p class="admin-subtitle">Current status of all applications</p>
      </div>
      <label class="progress-bar-label" for="submitted"
        ><p>Submitted:</p>
        <p>60%</p></label
      >
      <progress id="submitted" max="100" value="60"></progress>
      <label class="progress-bar-label" for="review"
        ><p>In Review:</p>
        <p>25%</p></label
      >
      <progress id="review" max="100" value="25"></progress>
      <label class="progress-bar-label" for="accepted"
        ><p>Accepted:</p>
        <p>10%</p></label
      >
      <progress id="accepted" max="100" value="10"></progress>
      <label class="progress-bar-label" for="rejected"
        ><p>Rejected:</p>
        <p>5%</p></label
      >
      <progress id="rejected" max="100" value="5"></progress>
    </div>
  </section>
  <section class="admin-section">
    <div class="admin-box">
      <div class="recent-applicant-info">
        <h3>Recent Applications</h3>
        <p class="admin-subtitle">
          Latest applications submitted to the system
        </p>
      </div>
      <div class="recent-applicants-container">
        <table class="recent-applicants">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Submitted</th>
            <th>Action</th>
          </tr>
          <tr>
            <td>Alice Johnson</td>
            <td>alice@example.com</td>
            <td><p id="review-text" class="status">In Review</p></td>
            <td>2023-07-01</td>
            <td><button class="admin-button">Review</button></td>
          </tr>
          <tr>
            <td>Bob Smith</td>
            <td>bob@example.com</td>
            <td><p id="submitted-text" class="status">Submitted</p></td>
            <td>2023-07-02</td>
            <td><button class="admin-button">Review</button></td>
          </tr>
          <tr>
            <td>Charlie Brown</td>
            <td>charlie@example.com</td>
            <td><p id="accepted-text" class="status">Accepted</p></td>
            <td>2023-06-30</td>
            <td><button class="admin-button">Review</button></td>
          </tr>
          <tr>
            <td>Diana Prince</td>
            <td>diana@example.com</td>
            <td><p id="rejected-text" class="status">Rejected</p></td>
            <td>2023-06-29</td>
            <td><button class="admin-button">Review</button></td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</div>
{%endblock%}
