{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
Techtonica Application {% endblock title %} {% block content %}
<section class="application-page">
  <h1>Techtonica Application</h1>
  <form action="#" method="POST" class="application-form" id="app-form-6">
    <fieldset>
      <legend>Administrative Questions</legend>

      <div id="radio-wrapper" role="radiogroup">
        <label for="has-macbook"
          >Do you have a <strong>MacBook</strong> (not another laptop) to use
          during the program that works well so it won't be a problem during our
          intensive program?
        </label>
        <div class="learn-more-wrapper">
          <button class="learn-more-title" type="button" aria-expanded="false">
            Learn More
            <span class="toggle-icon">
              <span class="toggle-icon-plus">+</span>
              <span class="toggle-icon-minus">-</span>
            </span>
          </button>
          <p class="learn-more-content" tabindex="0">
            This is to let us know if we will need to help you secure a MacBook
            during the program
          </p>
        </div>
        <br />
        <input
          type="radio"
          id="has-macbook-yes"
          name="has-macbook"
          value="Yes"
          required
        />
        <label for="has-macbook-yes">Yes</label>
        <input
          type="radio"
          id="has-macbook-no"
          name="has-macbook"
          value="No"
          required
        />
        <label for="has-macbook-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="media-release"
          >Do you agree to the following media release? Photographs, pictures,
          writing, assignments, recordings, likenesses, slides, movies, video,
          or other media coverage of my activities created or performed by me
          may be made in connection with my participation in Techtonica’s
          programs without compensation from Techtonica/Social Good Fund,
          activity-specific staff, its auxiliary organizations and partners, and
          the officers, directors, employees, and agents of each of them. I also
          consent for the company to take, use, reuse, publish and republish any
          and all media coverage depicting the same (including compilations or
          other derivative works) both during and after involvement with the
          organization for any legal purpose and release Techtonica/Social Good
          Fund from all liability in connection with such activities. </label
        ><br />
        <input
          type="radio"
          id="media-release-yes"
          name="media-release"
          value="Yes"
          required
        />
        <label for="media-release-yes">Yes</label>
        <input
          type="radio"
          id="media-release-no"
          name="media-release"
          value="No"
          required
        />
        <label for="media-release-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="sharing-personal-journey"
          >Do you agree to share your personal story/journey into tech as
          requested at Techtonica events and in Techtonica media? </label
        ><br />
        <input
          type="radio"
          id="sharing-personal-journey-yes"
          name="sharing-personal-journey"
          value="Yes"
          required
        />
        <label for="sharing-personal-journey-yes">Yes</label>
        <input
          type="radio"
          id="sharing-personal-journey-no"
          name="sharing-personal-journey"
          value="No"
          required
        />
        <label for="sharing-personal-journey-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="commit-to-conduct"
          >Do you commit to abiding by Techtonica's Code of Conduct
          <a href="https://techtonica.org/conduct/" target="_blank"
            >(https://techtonica.org/conduct/)</a
          >, Program Handbook, and Participant Agreement? </label
        ><br />
        <input
          type="radio"
          id="commit-to-conduct-yes"
          name="commit-to-conduct"
          value="Yes"
          required
        />
        <label for="commit-to-conduct-yes">Yes</label>
        <input
          type="radio"
          id="commit-to-conduct-no"
          name="commit-to-conduct"
          value="No"
          required
        />
        <label for="commit-to-conduct-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="commit-to-work-with-others"
          >Do you commit to working with the people assigned to work with you,
          whether volunteer, staff, fellow participants, or someone else? </label
        ><br />
        <input
          type="radio"
          id="commit-to-work-with-others-yes"
          name="commit-to-work-with-others"
          value="Yes"
          required
        />
        <label for="commit-to-work-with-others-yes">Yes</label>
        <input
          type="radio"
          id="commit-to-work-with-others-no"
          name="commit-to-work-with-others"
          value="No"
          required
        />
        <label for="commit-to-work-with-others-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="commit-to-program-schedule"
          >Do you commit to always being present at, on time to, and prepared
          for the program, which is conducted from 8 AM - 5 PM Pacific Time
          Monday through Friday, as well as other Techtonica-required events
          that may happen outside these hours? </label
        ><br />
        <input
          type="radio"
          id="commit-to-program-schedule-yes"
          name="commit-to-program-schedule"
          value="Yes"
          required
        />
        <label for="commit-to-program-schedule-yes">Yes</label>
        <input
          type="radio"
          id="commit-to-program-schedule-no"
          name="commit-to-program-schedule"
          value="No"
          required
        />
        <label for="commit-to-program-schedule-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="commit-to-placement"
          >Do you commit to working with whichever company we might place you
          with? </label
        ><br />
        <input
          type="radio"
          id="commit-to-placement-yes"
          name="commit-to-placement"
          value="Yes"
          required
        />
        <label for="commit-to-placement-yes">Yes</label>
        <input
          type="radio"
          id="commit-to-placement-no"
          name="commit-to-placement"
          value="No"
          required
        />
        <label for="commit-to-placement-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="willing-to-relocate"
          >Would you be willing to move to a new city to be placed in a job?
        </label>
        <div class="learn-more-wrapper">
          <button class="learn-more-title" type="button" aria-expanded="false">
            Learn More
            <span class="toggle-icon">
              <span class="toggle-icon-plus">+</span>
              <span class="toggle-icon-minus">-</span>
            </span>
          </button>
          <p class="learn-more-content" tabindex="0">
            While this is not currently a requirement, it may be a requirement
            again in the near future, and it increases your chances of securing
            a job.
          </p>
        </div>
        <br />
        <input
          type="radio"
          id="willing-to-relocate-yes"
          name="willing-to-relocate"
          value="Yes"
          required
        />
        <label for="willing-to-relocate-yes">Yes</label>
        <input
          type="radio"
          id="willing-to-relocate-no"
          name="willing-to-relocate"
          value="No"
          required
        />
        <label for="willing-to-relocate-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="aware-no-guaranteed-placement"
          >Are you fully aware that placements are not guaranteed by Techtonica
          and you may need to start a job search after graduation? </label
        ><br />
        <input
          type="radio"
          id="aware-no-guaranteed-placement-yes"
          name="aware-no-guaranteed-placement"
          value="Yes"
          required
        />
        <label for="aware-no-guaranteed-placement-yes">Yes, I'm aware</label>
        <input
          type="radio"
          id="aware-no-guaranteed-placement-no"
          name="aware-no-guaranteed-placement"
          value="No"
          required
        />
        <label for="aware-no-guaranteed-placement-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="aware-of-tuition-cost"
          >Are you aware that Techtonica’s tuition costs $18,000 and that
          tuition and stipend scholarships are available? </label
        ><br />
        <input
          type="radio"
          name="aware-of-tuition-cost"
          id="aware-of-tuition-cost-yes"
          value="Yes"
          required
        />
        <label for="aware-of-tuition-cost-yes">Yes</label>
        <input
          type="radio"
          id="aware-of-tuition-cost-no"
          name="aware-of-tuition-cost"
          value="No"
          required
        />
        <label for="aware-of-tuition-cost-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="interested-in-scholarships"
          >Did you want to apply for tuition and stipend scholarships? </label
        ><br />
        <input
          type="radio"
          name="interested-in-scholarships"
          id="interested-in-scholarships-yes"
          value="Yes"
          required
        />
        <label for="interested-in-scholarships-yes">Yes</label>
        <input
          type="radio"
          id="interested-in-scholarships-no"
          name="interested-in-scholarships"
          value="No"
          required
        />
        <label for="interested-in-scholarships-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="promote-techtonica"
          >Could you please spread the word about Techtonica to friends, family,
          and people in your area? </label
        ><br />
        <input
          type="radio"
          name="promote-techtonica"
          id="promote-techtonica-yes"
          value="Yes"
          required
        />
        <label for="promote-techtonica-yes">Yes</label>
        <input
          type="radio"
          id="promote-techtonica-no"
          name="promote-techtonica"
          value="No"
          required
        />
        <label for="promote-techtonica-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="commit-to-two-JS-study-groups"
          >For the next step in the application process, you'll need to join TWO
          of our digital literacy testing and JavaScript events on different
          days (if we decide to move forward with your application, we'll send
          you details based on availability and times selected). Please confirm
          you will make it to two of the provided dates or forfeit your
          application. </label
        ><br />
        <input
          type="checkbox"
          name="commit-to-two-JS-study-groups"
          id="commit-to-two-JS-study-groups-yes"
          value="Yes"
          required
        />
        <label for="commit-to-two-JS-study-groups-yes">Yes, I confirm</label
        ><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="completed-form-truthfully"
          >Do you confirm you've filled out this form truthfully?
        </label>
        <br />
        <input
          type="checkbox"
          name="completed-form-truthfully"
          id="completed-form-truthfully-yes"
          value="Yes"
          required
        />
        <label> Yes, I confirm </label>
      </div>

      <div class="form-button">
        <button
          type="button"
          class="previous-btn"
          onclick="window.location.href='/app-reference'"
        >
          Previous
        </button>
        <button
          type="button"
          class="continue-to-app-btn"
          onclick="validateForm()"
        >
          Next
        </button>
        <button
          type="button"
          class="save-btn"
          onclick="window.location.href='/'"
        >
          Save
        </button>
      </div>
    </fieldset>
  </form>
</section>

<style>
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 75%;
    max-width: 150rem;
    padding: 3rem;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
  }

  .application-page {
    justify-content: center;
    background-color: #0093b5;
    padding: 2rem;
  }

  .application-form .learn-more-wrapper {
    display: inline;
  }

  .application-form .learn-more-content {
    margin: 0.5em 0 0 0;
    font-size: large;
    color: black;
  }

  .application-form .learn-more-wrapper button {
    display: inline;
    background-color: white;
    font-size: large;
    color: #0093b5;
    cursor: pointer;
    padding: 0;
    margin: 0 0 0 0.5em;
  }

  .application-form .learn-more-wrapper button:hover {
    background-color: white;
    color: #16c1f3;
  }

  .application-form .learn-more-wrapper button:focus-visible {
    padding: 3px;
  }

  .application-page > h1,
  .application-page > p {
    max-width: 65%;
    margin: auto;
    text-align: center;
  }

  legend {
    color: rgba(0, 115, 149, 0.8);
    font-size: 20px;
  }

  .application-form > fieldset {
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.559);
    border-radius: 0.5rem;
    width: 100%;
  }

  .application-form > fieldset > label,
  .application-form > fieldset > #radio-wrapper {
    color: black;
    font-size: large;
  }

  .application-form > fieldset > label,
  .application-form > fieldset > #radio-wrapper > label {
    font-size: large;
  }

  .application-form > fieldset > #radio-wrapper > input[type="checkbox"],
  .application-form > fieldset > #radio-wrapper > input[type="radio"] {
    cursor: pointer;
  }

  .application-form > fieldset > input[type="checkbox"],
  .application-form > fieldset > input[type="radio"] {
    padding: 1em;
    margin-bottom: 2em;
    border: 1px solid rgba(0, 0, 0, 0.559);
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
  }

  button.continue-to-app-btn,
  button.previous-btn,
  button.save-btn {
    background-color: #fc7625;
    color: white;
    font-size: large;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  button.continue-to-app-btn:hover,
  button.previous-btn:hover,
  button.save-btn:hover {
    background-color: #16c1f3;
    color: white;
    transition: 0.3s;
  }

  .form-button {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
  }

  @media only screen and (min-width: 320px) and (max-width: 599px) {
    .column {
      padding: 0;
    }
    html,
    body {
      overflow-x: hidden;
      width: 100%;
    }
    .application-page > form {
      width: inherit;
      margin-bottom: 2rem;
      padding: 1.5rem;
    }
    .application-page {
      padding: 2rem 0;
    }
    .application-form .learn-more-wrapper .learn-more-title,
    .application-form .learn-more-wrapper .toggle-icon {
      color: #0093b5;
      font-size: smaller;
    }
    .application-form .learn-more-wrapper .learn-more-content {
      font-size: smaller;
    }
    .application-form > fieldset {
      min-width: 95%;
      word-wrap: break-word;
      padding: 1.5rem;
      margin: 0;
    }
    .application-page > h1 {
      font-size: 1.5em;
      max-width: fit-content;
    }
    legend {
      font-size: 18px;
    }
    #radio-wrapper > input[type="radio"] {
      margin: 0;
    }
    .application-form > fieldset > label,
    #radio-wrapper > label {
      font-size: smaller;
    }
    .form-button {
      gap: 0.5em;
      margin: auto;
    }
    button.previous-btn,
    button.continue-to-app-btn,
    button.save-btn {
      font-size: smaller;
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 910px) {
    .column {
      padding: 0;
    }
    html,
    body {
      overflow-x: hidden;
      width: 100%;
    }
    .application-page {
      padding: 2rem 0;
    }
    .application-page > form {
      width: initial;
      margin-bottom: 2rem;
    }
    .application-page > h1 {
      font-size: 2em;
      max-width: fit-content;
    }
    legend {
      font-size: 24px;
    }
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const learnMoreWrappers = document.querySelectorAll(".learn-more-wrapper");

    learnMoreWrappers.forEach((wrapper) => {
      const title = wrapper.querySelector(".learn-more-title");
      const content = wrapper.querySelector(".learn-more-content");
      const toggleIcon = wrapper.querySelector(".toggle-icon");

      toggleIcon.style.cursor = "pointer";

      toggleIcon.querySelector(".toggle-icon-plus").style.display = "inline";
      toggleIcon.querySelector(".toggle-icon-minus").style.display = "none";
      content.style.display = "none";

      let isExpanded = false;

      title.addEventListener("click", () => {
        if (!isExpanded) {
          content.style.display = "block";
          toggleIcon.querySelector(".toggle-icon-plus").style.display = "none";
          toggleIcon.querySelector(".toggle-icon-minus").style.display =
            "inline";
          title.setAttribute("aria-expanded", true);
        } else {
          content.style.display = "none";
          toggleIcon.querySelector(".toggle-icon-plus").style.display =
            "inline";
          toggleIcon.querySelector(".toggle-icon-minus").style.display = "none";
          title.setAttribute("aria-expanded", false);
        }

        isExpanded = !isExpanded;
      });
    });
  });

  function validateForm() {
    const form = document.getElementById("app-form-6");
    const requiredFields = form.querySelectorAll("[required]");
    let allValid = true;

    requiredFields.forEach((field) => {
      const parentElement = field.parentNode;
      parentElement.style.border = "";

      if (
        (field.type === "radio" || field.type === "checkbox") &&
        !form.querySelector(`[name="${field.name}"]:checked`)
      ) {
        allValid = false;
        parentElement.style.border = "2px solid red";
      }
    });

    if (!allValid) {
      alert("Please fill out the missing field(s).");
    } else {
      window.location.href = "/app-additional";
    }
  }
</script>
{% endblock content %}
