{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
Techtonica Application {% endblock title %} {% block content %}

<div class="application-page">
  <h1>Techtonica Application</h1>
  <form action="#" method="POST" class="application-form" id="app-form">
    <fieldset>
      <legend>Additional Applicant Information</legend>
      <div id="radio-wrapper">
        <label for="times-applied"
          >How many times have you applied? (3 is the max allowed)
        </label>
        <span
          class="info-icon"
          data-tooltip="If you have already applied three times in the past, you are not eligible to apply again and should stop filling out this form."
        >
        </span
        ><br />
        <input
          type="radio"
          id="times-applied-0"
          name="times-applied"
          value="0"
          required
        />
        <label for="times-applied-0">0 — This is my first time applying</label
        ><br />
        <input
          type="radio"
          id="times-applied-1"
          name="times-applied"
          value="1"
          required
        />
        <label for="times-applied-1">1 — I've applied once before</label><br />
        <input
          type="radio"
          id="times-applied-2"
          name="times-applied"
          value="2"
          required
        />
        <label for="times-applied-2"
          >2 — I've applied twice before and this will be my third and last
          try</label
        ><br />
      </div>
      <div id="radio-wrapper">
        <label for="digitally-literate"
          >Are you digitally literate, meaning you are very familiar and good
          with computers and the internet, can type 40+ WPM, and you know how to
          use a mouse/trackpad, browsers, and email? </label
        ><br />
        <input
          type="radio"
          id="digitally-literate-yes"
          name="digitally-literate"
          value="Yes"
          required
        />
        <label for="digitally-literate-yes">Yes</label>
        <input
          type="radio"
          id="digitally-literate-no"
          name="digitally-literate"
          value="No"
          required
        />
        <label for="digitally-literate-no">No</label><br />
      </div>
      <label for="typing-test-screenshot"
        >Please upload a screenshot of your results of a one-minute typing test
        at
        <a href="https://www.typingtest.com/">https://www.typingtest.com/</a>
        (you might want to sign up for an account and practice a couple of times
        first). </label
      ><br />
      <input
        type="file"
        id="typing-test-screenshot"
        name="typing-test-screenshot"
        required
      /><br />
      <label for="wpm-score">How many WPM did you type? </label><br />
      <input type="text" id="wpm-score" name="wpm-score" required /><br />
      <label for="typing-accuracy-percentage"
        >What was your typing accuracy percentage? </label
      ><br />
      <input
        type="text"
        name="typing-accuracy-percentage"
        id="typing-accuracy-percentage"
        required
      /><br />
      <label for="FCC-screenshot"
        >Please upload a screenshot of your completed pre-req 113 Basic
        JavaScript lessons at
        <a href="https://www.freecodecamp.org/learn/"
          >https://www.freecodecamp.org/learn</a
        >. The screenshot should include ALL the lessons you have completed in a
        single screenshot—you can use the Blipshot Chrome extension to create an
        image of the whole window. </label
      ><br />
      <input
        type="file"
        id="FCC-screenshot"
        name="FCC-screenshot"
        required
      /><br />
      <div id="radio-wrapper">
        <label for="able-to-participate"
          >Are you willing to participate actively in the program Monday to
          Friday during the full-time hours of the program (typically 8 a.m. to
          5 p.m. Pacific Time)? </label
        ><br />
        <input
          type="radio"
          id="able-to-participate-yes"
          name="able-to-participate"
          value="Yes"
          required
        />
        <label for="able-to-participate-yes">Yes</label>
        <input
          type="radio"
          id="able-to-participate-no"
          name="able-to-participate"
          value="No"
          required
        />
        <label for="able-to-participate-no">No</label><br />
      </div>
      <div id="radio-wrapper">
        <label for="stable-housing"
          >Do you have housing that will be stable for the six months of
          training and the following six months? </label
        ><br />
        <input
          type="radio"
          id="stable-housing-yes"
          name="stable-housing"
          value="Yes"
          required
        />
        <label for="stable-housing-yes">Yes</label>
        <input
          type="radio"
          id="stable-housing-no"
          name="stable-housing"
          value="No"
          required
        />
        <label for="stable-housing-no">No</label><br />
      </div>
      <div id="radio-wrapper">
        <label for="currently-employed">Are you currently employed? </label
        ><br />
        <input
          type="radio"
          id="currently-employed-yes-full-time-or-more"
          name="currently-employed"
          value="Yes, full-time or more than full-time"
          required
        />
        <label for="currently-employed-yes-full-time-or-more"
          >Yes, full-time or more than full-time</label
        ><br />
        <input
          type="radio"
          id="currently-employed-yes-part-time"
          name="currently-employed"
          value="Yes, part-time"
          required
        />
        <label for="currently-employed-yes-part-time">Yes, part-time</label
        ><br />
        <input
          type="radio"
          id="currently-employed-no"
          name="currently-employed"
          value="No"
          required
        />
        <label for="currently-employed-no">No</label><br />
      </div>
      <div id="radio-wrapper">
        <label for="willing-to-live-in-US"
          >Are you willing to live in the U.S. if required by the placement
          company? </label
        ><br />
        <input
          type="radio"
          id="willing-to-live-in-US-yes"
          name="willing-to-live-in-US"
          value="Yes"
          required
        />
        <label for="willing-to-live-in-US-yes">Yes</label>
        <input
          type="radio"
          id="willing-to-live-in-US-no"
          name="willing-to-live-in-US"
          value="No"
          required
        />
        <label for="willing-to-live-in-US-no">No</label><br />
      </div>
      <div id="radio-wrapper">
        <label for="willing-to-quit-job"
          >Are you willing to quit your job(s) to focus on your career
          transition into tech?
        </label>
        <span
          class="info-icon"
          data-tooltip="We advise AGAINST working part-time during this intensive program."
        >
        </span
        ><br />
        <input
          type="radio"
          id="willing-to-quit-job-yes"
          name="willing-to-quit-job"
          value="Yes"
          required
        />
        <label for="willing-to-quit-job-yes">Yes</label>
        <input
          type="radio"
          id="willing-to-quit-job-no"
          name="willing-to-quit-job"
          value="No"
          required
        />
        <label for="willing-to-quit-job-no">No</label><br />
      </div>
      <div class="form-button">
        <button
          type="button"
          class="previous-btn"
          onclick="window.location.href='/app-form-admin'"
        >
          Previous
        </button>
        <button type="button" class="submit-btn">Submit</button>
      </div>
    </fieldset>
  </form>
</div>

<style>
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 75%;
    max-width: 150rem;
    padding: 3rem;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
  }

  .application-page {
    justify-content: center;
    background-color: #0093b5;
    padding: 2rem;
  }
  .application-page > h1,
  .application-page > p {
    max-width: 65%;
    margin: auto;
    text-align: center;
  }

  fieldset {
    padding: 2rem;
    border-radius: 0.5rem;
  }

  fieldset > input[type="text"] {
    padding: 1em;
    width: 45%;
    border: 1px solid rgba(0, 0, 0, 0.348);
  }

  fieldset label {
    color: black;
  }

  fieldset > input {
    padding: 1em;
    border-radius: 6px;
    margin-bottom: 2em;
  }

  button.continue-to-app-btn,
  button.previous-btn,
  button.submit-btn {
    background-color: #fc7625;
    color: white;
    font-size: large;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  button.continue-to-app-btn:hover,
  button.previous-btn:hover,
  button.submit-btn:hover {
    background-color: #16c1f3;
    color: white;
    transition: 0.3s;
  }

  .form-button {
    display: flex;
    gap: 3rem;
  }

  .info-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 0.5rem;
  }

  .info-icon::after {
    white-space: pre-wrap;
    font-size: 0.85rem;
    content: attr(data-tooltip);
    visibility: hidden;
    width: 220px;
    background-color: #666;
    color: #fff;
    z-index: 1;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    position: absolute;
    margin-left: 10px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .info-icon:hover::after {
    visibility: visible;
    opacity: 1;
  }

  @media only screen and (min-width: 320px) and (max-width: 599px) {
    html,
    body {
      overflow-x: hidden;
      width: 100%;
    }
    form {
      width: 65%;
    }
    .application-page > h1 {
      font-size: 1.75em;
      max-width: fit-content;
    }
    fieldset {
      min-width: 95%;
      padding: 1em;
      word-wrap: break-word;
    }
    fieldset > label,
    #radio-wrapper > label {
      font-size: smaller;
    }
    #radio-wrapper > input[type="radio"] {
      margin: 0;
    }
    fieldset > input[type="text"],
    fieldset > input[type="file"] {
      width: 80%;
    }
    fieldset > input {
      border: 1px solid rgba(0, 0, 0, 0.348);
      padding: 1em;
      border-radius: 6px;
      margin-bottom: 2em;
      width: 35%;
      color: black;
    }
    .form-button {
      display: block;
    }
    button.previous-btn,
    button.submit-btn {
      font-size: smaller;
      margin: 0.5rem;
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 910px) {
    html,
    body {
      overflow-x: hidden;
      width: 100%;
    }
  }
</style>
{% endblock content %}
