{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
Techtonica Application {% endblock title %} {% block content %}

<div class="application-page">
  <h1>Techtonica Application</h1>
  <form action="#" method="POST" class="application-form" id="app-form">
    <fieldset>
      <legend>Applicant References</legend>
      <p>
        Reference #1 - Please share the full name, email address, and
        relationship (former manager, former coworker, etc.) of someone who has
        worked closely with you and can speak to your capabilities in a work
        setting.
        <span
          class="info-icon"
          data-tooltip="This may not be a relative, significant other, or friend. It must be someone who can speak to your work quality in an unbiased manner."
        >
        </span>
      </p>
      <br />
      <label for="reference-1-fname">First Name: </label><br />
      <input
        type="text"
        name="reference-1-fname"
        id="reference-1-fname"
        required
      /><br />
      <label for="reference-1-lname">Last Name: </label><br />
      <input
        type="text"
        name="reference-1-lname"
        id="reference-1-lname"
        required
      /><br />
      <label for="reference-1-email">Email: </label><br />
      <input
        type="email"
        name="reference-1-email"
        id="reference-1-email"
        required
      /><br />
      <label for="reference-1-relationship">Relationship: </label><br />
      <input
        type="text"
        name="reference-1-relationship"
        id="reference-1-relationship"
        required
      /><br />
      <p>
        Reference #2 - Please share the full name, email address, and
        relationship (former manager, former coworker, etc.) of someone who has
        worked closely with you and can speak to your capabilities in a work
        setting.
        <span
          class="info-icon"
          data-tooltip="This may not be a relative, significant other, or friend. It must be someone who can speak to your work quality in an unbiased manner."
        >
        </span>
      </p>
      <br />
      <label for="reference-2-fname">First Name: </label><br />
      <input
        type="text"
        name="reference-2-fname"
        id="reference-2-fname"
        required
      /><br />
      <label for="reference-2-lname">Last Name: </label><br />
      <input
        type="text"
        name="reference-2-lname"
        id="reference-2-lname"
        required
      /><br />
      <label for="reference-2-email">Email: </label><br />
      <input
        type="email"
        name="reference-2-email"
        id="reference-2-email"
        required
      /><br />
      <label for="reference-2-relationship">Relationship: </label><br />
      <input
        type="text"
        name="reference-2-relationship"
        id="reference-2-relationship"
        required
      /><br />

      <p>
        Please share your emergency contact's name and contact info (phone and
        email).
      </p>
      <br />
      <label for="emergency-contact-fname">First Name: </label><br />
      <input
        type="text"
        name="emergency-contact-fname"
        id="emergency-contact-fname"
        required
      /><br />
      <label for="emergency-contact-lname">Last Name: </label><br />
      <input
        type="text"
        name="emergency-contact-lname"
        id="emergency-contact-lname"
        required
      /><br />
      <label for="emergency-contact-email">Email: </label><br />
      <input
        type="email"
        name="emergency-contact-email"
        id="emergency-contact-email"
        required
      /><br />
      <label for="emergency-contact-relationship">Relationship: </label><br />
      <input
        type="text"
        name="emergency-contact-relationship"
        id="emergency-contact-relationship"
        required
      /><br />

      <label for="anything-else-to-share"
        >Anything else you want to share with us?
        <span>(Optional)</span> </label
      ><br />
      <input
        type="textarea"
        name="anything-else-to-share"
        id="anything-else-to-share"
        cols="100"
        rows="3"
      />
      <br />
      <div class="form-button">
        <button
          type="button"
          class="previous-btn"
          onclick="window.location.href='/app-long-text'"
        >
          Previous
        </button>
        <button
          type="button"
          class="continue-to-app-btn"
          onclick="window.location.href='/app-form-admin'"
        >
          Next
        </button>
        <button
          type="button"
          class="save-btn"
          onclick="window.location.href='/'"
        >
          Save
        </button>
      </div>
    </fieldset>
  </form>
</div>

<style>
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 75%;
    max-width: 150rem;
    padding: 3rem;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
  }

  .application-page {
    justify-content: center;
    background-color: #0093b5;
    padding: 2rem;
  }
  .application-page > h1,
  .application-page > p {
    max-width: 65%;
    margin: auto;
    text-align: center;
  }

  fieldset {
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.559);
    border-radius: 0.5rem;
  }

  fieldset p {
    margin-bottom: 0.5rem;
  }

  .application-form > fieldset > input[type="text"],
  .application-form > fieldset > input[type="email"],
  .application-form > fieldset > input[type="textarea"] {
    box-sizing: border-box;
    padding: 1em;
    margin-bottom: 2em;
    border: 1px solid rgba(0, 0, 0, 0.559);
    border-radius: 6px;
    width: 100%;
  }

  #radio-wrapper label {
    color: black;
    margin-bottom: 2em;
  }
  #radio-wrapper input {
    background-color: #16c1f3;
  }

  button.continue-to-app-btn,
  button.previous-btn,
  button.save-btn {
    background-color: #fc7625;
    color: white;
    font-size: large;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  button.continue-to-app-btn:hover,
  button.previous-btn:hover,
  button.save-btn:hover {
    background-color: #16c1f3;
    color: white;
    transition: 0.3s;
  }

  .form-button {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
  }

  .info-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 0.5rem;
  }

  .info-icon::after {
    white-space: pre-wrap;
    font-size: 0.85rem;
    content: attr(data-tooltip);
    visibility: hidden;
    width: 220px;
    background-color: #666;
    color: #fff;
    z-index: 1;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    position: absolute;
    margin-left: 10px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    /* white-space: pre-wrap; */
  }

  .info-icon:hover::after {
    visibility: visible;
    opacity: 1;
  }

  @media only screen and (min-width: 320px) and (max-width: 430px) {
    .column {
      padding: 0;
    }
    html,
    body {
      overflow-x: hidden;
      width: 100%;
    }
    .application-page > h1 {
      font-size: 1.5em;
      max-width: fit-content;
    }
    form {
      width: 65%;
    }
    fieldset {
      min-width: 90%;
      padding: 1em;
    }
    fieldset > label,
    fieldset > p {
      font-size: smaller;
    }
    .form-button {
      display: grid;
      gap: 0.5em;
      width: 50%;
      margin: auto;
    }
    button.previous-btn,
    button.continue-to-app-btn,
    button.save-btn {
      font-size: smaller;
    }
  }

  @media only screen and (min-width: 431px) and (max-width: 599px) {
    .column {
      padding: 0;
    }
    html,
    body {
      overflow-x: hidden;
      width: 100%;
    }
    .application-page > h1 {
      font-size: 1.5em;
      max-width: fit-content;
    }
    form {
      width: 70%;
    }
    fieldset {
      min-width: 90%;
      padding: 1em;
    }
    fieldset > label,
    fieldset > p {
      font-size: smaller;
    }
    button.continue-to-app-btn,
    button.previous-btn,
    button.save-btn {
      font-size: smaller;
    }
    .form-button {
      display: grid;
      gap: 0.5em;
      width: 50%;
      margin: auto;
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 910px) {
    .column {
      padding: 0;
    }
    .form-button {
      display: flex;
      margin: auto;
      align-items: center;
      justify-content: space-between;
    }
  }
</style>
{% endblock content %}
