{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
Techtonica Application Details {% endblock title %} {% block content %}

<main class="main-content">
  <div class="row row__center blue-background" style="padding: 0">
    <h1 class="large-white-text">Application Details</h1>
  </div>
  <div class="row row__center">
    <div class="column">
      <h2>The Program</h2>
      <p class="justify">
        Techtonica’s full-time, virtual software engineering training program
        provides the opportunity seeking economic empowerment to learn technical
        skills in a safe, inclusive space and start their first jobs in tech. We
        select participants who are independent but good at collaborating,
        motivated to succeed, committed to learning to code, flexible, curious,
        open-minded, and excited for long-term careers in the field, have a good
        attitude and a growth mindset, can calmly manage extended periods of
        frustration (troubleshooting is something you'll face forever in tech!),
        and want to pay it forward.
        <br />
        <br />
        We aim to empower those most underrepresented in tech and to help tech
        become more diverse and inclusive. To that end, we have been very
        intentional about creating a safe community, building a network, and
        providing personalized support, which means open communication is
        absolutely necessary. If a special situation comes up, we need you to
        let us know so we can sympathize and brainstorm solutions with you.
        We've had participants lose housing, have their laptop stolen, become
        pregnant, face abuse, and more, and if we don't know about it, we can't
        help.
        <br />
        88% of our graduates so far are BIPOC, 21% have a disability, 21% are
        parents, 10% identify outside the gender binary, and 1% are veterans.
        Our cohorts have had between 8 and 18 participants so far, and income
        increase is usually 3-5x. The
        participant-to-technical-program-staff-member ratio has historically
        been between 5:1 and 9:1. We appreciate an average of 98 hours of
        volunteer support per participant.
      </p>
      <h2>Pre-Req and Form Deadline</h2>
      <p>
        Lorem ipsum odor amet, consectetuer adipiscing elit. Et per commodo
        litora duis neque congue. Convallis quisque suspendisse et est nullam
        ligula magna habitant conubia. Ad torquent tortor etiam donec; fermentum
        nascetur malesuada maximus. Amet enim magnis porta nec, donec ac aliquam
        molestie mollis. Volutpat neque magna malesuada malesuada dolor
        tristique. Accumsan feugiat varius tortor convallis aenean ridiculus.
        Dui penatibus gravida sem ipsum hendrerit pulvinar tincidunt efficitur.
      </p>
      <h2>Eligibility</h2>
      <p>
        You are eligible to apply for Techtonica’s full-time program if you:
      </p>
      <ul>
        <li>
          are a woman (cis OR trans) or non-binary adult. We especially
          encourage Latinx, Black, and non-binary folks to apply.
        </li>
        <li>
          are digitally literate, meaning you are very familiar and good with
          computers and the internet, can type 50+ WPM with 80%+ accuracy, and
          you know how to use a mouse/trackpad, browsers, and email
        </li>
        <li>
          at the very least graduated from high school or received your GED
        </li>
        <li>
          completed the JavaScript pre-req (see the Application Process section
          below)
        </li>
        <li>can commit to always being present and on time and prepared</li>
        <li>are willing to be part of the program during Pacific Time hours</li>
        <li>
          are dedicated to building a long-term career in tech and contributing
          to a diverse, inclusive, equitable tech environment
        </li>
        <li>
          have housing that will be stable for the entirety of the six months of
          full-time training and the following six months
        </li>
        <li>
          are willing to live in the U.S. if required by placement company
        </li>
        <li>have a U.S. bank account</li>
        <li>
          have the proof that you are legally employable in the United States at
          the time of application (we can't help with visas)
        </li>
        <li>
          agree to work at an assigned partner company if we match you upon
          successful completion of six months of training
        </li>
        <li>
          are willing to appear in Techtonica's media and pitch yourself to
          Techtonica's partners
        </li>
        <li>
          have not attended a full-time coding bootcamp, completed a C.S.
          degree, or worked as a software engineer in the last six years
        </li>
        <li>can have high-speed internet set up by the start of the program</li>
        <li>
          agree to abide by Techtonica's Code of Conduct, Participant Handbook,
          and Participant Agreement
        </li>
        <li>haven't already applied three times</li>
        <li>
          (for white applicants) are willing to do personal anti-racism work
        </li>
        <li>
          have attended at least one of the study night groups for the
          application process
        </li>
      </ul>
      <h2>Application Process</h2>
      <p>
        For the January ("H1") cohort, the application forms open, emails to
        interested folks go out, and forms close again around October. For the
        July to December ("H2") cohort, the application forms open, emails to
        interested folks go out, and forms close again around March. For the
        2025 H1 cohort, applications open in September and close in October. The
        application process continues for about four to five weeks after
        applications close, with candidates eliminated at each step of the
        process.
      </p>
      <h2>What We Look For</h2>
      <p>
        This program is very competitive; we select and graduate participants
        who continuously prove that they are:
      </p>
      <ul>
        <li>self-motivated</li>
        <li>resilient</li>
        <li>logical</li>
        <li>humble</li>
        <li>respectful</li>
        <li>independent</li>
        <li>open-minded</li>
        <li>flexible</li>
        <li>persistent</li>
        <li>optimistic</li>
        <li>punctual</li>
        <li>committed</li>
        <li>responsive to feedback</li>
        <li>willing to ask questions</li>
        <li>able to set and reach goals</li>
        <li>able to deal with stress well</li>
        <li>inclusive and able and willing to work with anyone</li>
        <li>proud of owning their learning</li>
        <li>always curious and ready to learn and improve</li>
        <li>transparent and compassionate communicators</li>
        <li>hard-working and ready to make sacrifices</li>
        <li>dedicated to seeing things through to the end</li>
      </ul>
      <h2>How to Prepare</h2>
      <ol>
        <li>
          Learn as much JavaScript ahead of time as possible—freeCodeCamp and
          Codecademy are great for this.
        </li>
        <li>Attend coding meetups or our study groups.</li>
        <li>Develop your typing and Mac keyboard shortcut skills.</li>
        <li>
          Learn about different tech companies and long-term pathways in tech to
          start formulating an idea of your career goals.
        </li>
        <li>Practice learning and applying concepts quickly.</li>
        <li>
          Practice talking out loud about your thought process and collaborating
          with others.
        </li>
        <li>
          Practice your English Proficiency Levels. Here is a guide to
          understand your English Proficiency Levels
        </li>
        <li>
          If you need a reasonable accommodation for any part of our process,
          and including ADHD, we encourage open communication around what works
          best for you.
        </li>
      </ol>
      <h2>Acceptance & Onboarding</h2>
      <p>
        Lorem ipsum odor amet, consectetuer adipiscing elit. Et per commodo
        litora duis neque congue. Convallis quisque suspendisse et est nullam
        ligula magna habitant conubia. Ad torquent tortor etiam donec; fermentum
        nascetur malesuada maximus. Amet enim magnis porta nec, donec ac aliquam
        molestie mollis. Volutpat neque magna malesuada malesuada dolor
        tristique. Accumsan feugiat varius tortor convallis aenean ridiculus.
        Dui penatibus gravida sem ipsum hendrerit pulvinar tincidunt efficitur.
      </p>
      <button
        type="button"
        class="continue-to-app-btn"
        onclick="window.location.href='/app-form'"
      >
        Continue to Application
      </button>
    </div>
    <style>
      .continue-to-app-btn {
        width: 75%;
      }

      button.continue-to-app-btn {
        background-color: #fc7625;
        color: white;
        font-size: large;
        padding: 1rem;
        border-radius: 0.5rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      button.continue-to-app-btn:hover {
        background-color: #16c1f3;
        color: white;
        transition: 0.3s;
      }

      @media only screen and (min-width: 320px) and (max-width: 599px) {
        .column {
          padding: 0 1rem;
          width: 100%;
          margin: auto;
          overflow-x: hidden;
          box-sizing: border-box;
        }
        .row {
          padding: 2em;
        }
        .justify {
          text-align: left;
        }
        .large-white-text {
          font-size: 1.5em;
        }
        .continue-to-app-btn {
          font-size: 0.75em;
        }
      }

      @media only screen and (min-width: 600px) and (max-width: 910px) {
        .column {
          padding: 0 1rem;
          width: 100%;
          margin: auto;
          overflow-x: hidden;
          box-sizing: border-box;
        }
        .row {
          padding: 2em;
        }
      }
    </style>
    {% endblock content %}
  </div>
</main>
