{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
Techtonica Application {% endblock title %} {% block content %}

<div class="application-page">
  <h1>Techtonica Application</h1>
  <form action="#" method="POST" class="application-form" id="app-form">
    <fieldset>
      <legend>Applicant Long-Text Answers</legend>

      <label for="did-not-complete-other-program"
        >If you have signed up for another coding course or program and not
        completed it, why not? </label
      ><br />
      <textarea
        name="did-not-complete-other-program"
        id="did-not-complete-other-program"
        cols="100"
        rows="4"
        required
      >
      </textarea
      ><br />

      <div id="radio-wrapper">
        <label for="coding-experience">
          Have you attended a full-time coding bootcamp, completed a C.S. degree
          (bachelor's or above), or worked as a software engineer in the last
          six years? </label
        ><br />
        <input
          type="radio"
          name="coding-experience"
          id="coding-experience-yes"
          value="Yes"
          required
        />
        <label for="coding-experience-yes">Yes</label>
        <input
          type="radio"
          name="coding-experience"
          id="coding-experience-no"
          value="No"
          required
        />
        <label for="coding-experience-no">No</label><br />
      </div>

      <label for="post-high-school-education">
        Please tell us about any post-high school educational experiences. </label
      ><br />
      <textarea
        name="post-high-school-education"
        id="post-high-school-education"
        cols="100"
        rows="4"
        required
      >
      </textarea
      ><br />
      <label for="graduated-college"
        >Did you graduate from college, and if so, which one and with what
        degree? </label
      ><br />
      <textarea
        name="graduated-college"
        id="graduated-college"
        cols="100"
        rows="4"
        required
      >
      </textarea
      ><br />
      <label for="programming-story">
        What’s your programming story? How did you become interested in learning
        how to code? What self-studying or formal education have you had related
        to programming? How have you been preparing for a career as a software
        engineer? Please carefully craft at least one thoughtful paragraph. </label
      ><br />
      <textarea
        name="programming-story"
        id="programming-story"
        cols="100"
        rows="4"
        required
      >
      </textarea
      ><br />
      <label for="previous-applicant">
        If you've applied for Techtonica before, please share what has changed
        and what additional experience you've gained since you applied.
        <span>(Optional)</span> </label
      ><br />
      <textarea
        name="previous-applicant"
        id="previous-applicant"
        cols="100"
        rows="4"
      >
      </textarea
      ><br />
      <label for="HTML-CSS-JS-experience">
        What experience with HTML, CSS, and/or JavaScript have you had? </label
      ><br />
      <textarea
        name="HTML-CSS-JS-experience"
        id="HTML-CSS-JS-experience"
        cols="100"
        rows="4"
        required
      >
      </textarea
      ><br />
      <label for="other-languages-experience"
        >If you've had experience with other programming languages, please
        describe it here. <span>(Optional)</span> </label
      ><br />
      <textarea
        name="other-languages-experience"
        id="other-languages-experience"
        cols="100"
        rows="4"
      >
      </textarea
      ><br />
      <label for="diversity-inclusion"
        >We value diversity, inclusion, equity, and belonging. What does that
        mean for you? What and how have you learned about this topic recently?
        Please carefully craft at least one thoughtful paragraph. </label
      ><br />
      <textarea
        name="diversity-inclusion"
        id="diversity-inclusion"
        cols="100"
        rows="4"
        required
      >
      </textarea
      ><br />
      <label for="recent-activities">
        What have you been up to over the last few years? Please carefully craft
        at least one thoughtful paragraph. </label
      ><br />
      <textarea
        name="recent-activities"
        id="recent-activities"
        cols="100"
        rows="4"
        required
      >
      </textarea
      ><br />
      <label for="tech-industry-interest">
        Why is it that you want to work in the tech industry? Please carefully
        craft at least one thoughtful paragraph. </label
      ><br />
      <textarea
        name="tech-industry-interest"
        id="tech-industry-interest"
        cols="100"
        rows="4"
        required
      >
      </textarea>
      <br />
      <label for="tech-barriers">
        What has prevented you from making it into tech before now? </label
      ><br />
      <textarea
        name="tech-barriers"
        id="tech-barriers"
        cols="100"
        rows="4"
        required
      >
      </textarea
      ><br />
      <label for="career-transition">
        Why are you ready for this career transition now? </label
      ><br />
      <textarea
        name="career-transition"
        id="career-transition"
        cols="100"
        rows="4"
        required
      >
      </textarea
      ><br />
      <label for="five-year-plan">
        What’s your five year professional plan? How will being in Techtonica's
        full-time program help you achieve these goals? Please carefully craft
        at least one thoughtful paragraph. </label
      ><br />
      <textarea
        name="five-year-plan"
        id="five-year-plan"
        cols="100"
        rows="4"
        required
      >
      </textarea
      ><br />
      <label for="software-engineer-qualities">
        What about you would make you a good software engineer? Please carefully
        craft at least one thoughtful paragraph. </label
      ><br />
      <textarea
        name="software-engineer-qualities"
        id="software-engineer-qualities"
        cols="100"
        rows="4"
        required
      >
      </textarea
      ><br />
      <label for="unique-experiences">
        What unique points of view, experiences, and background will you bring
        to Techtonica's sponsor companies? Please carefully craft at least one
        thoughtful paragraph. </label
      ><br />
      <textarea
        name="unique-experiences"
        id="unique-experiences"
        cols="100"
        rows="4"
        required
      >
      </textarea
      ><br />
      <label for="five-tech-companies"
        >List five tech companies you'd be interested in working for after
        Techtonica and why. </label
      ><br />
      <textarea
        name="five-tech-companies"
        id="five-tech-companies"
        cols="100"
        rows="4"
        required
      >
      </textarea
      ><br />
      <label for="self-taught">
        Tell us about something difficult you've learned on your own that is not
        related to computers or coding. Why did you want to learn that thing?
        What did you do to learn it? What level are you at now? Please carefully
        craft at least one thoughtful paragraph. </label
      ><br />
      <textarea
        name="self-taught"
        id="self-taught"
        cols="100"
        rows="4"
        required
      >
      </textarea
      ><br />
      <label for="pair-partner-situation">
        Would you do in the following situation? You have been assigned a
        project by your supervisor and have also been assigned a pair partner.
        The two of you are supposed to collaborate on the project and submit
        your work together. Your pair partner keeps working ahead on their own
        at lunch and in the evenings, doesn't take your suggestions, and makes
        you feel inferior. </label
      ><br />
      <textarea
        name="pair-partner-situation"
        id="pair-partner-situation"
        cols="100"
        rows="4"
        required
      >
      </textarea
      ><br />
      <label for="robot-sandwich">
        List all the steps one-by-one that you would use to tell a robot how to
        make a sandwich (if all the ingredients are ready and available).
      </label>
      <span
        class="info-icon"
        data-tooltip="This is to help us assess your logical thinking; please be specific and thorough."
      >
      </span
      ><br />
      <textarea
        name="robot-sandwich"
        id="robot-sandwich"
        cols="100"
        rows="4"
        required
      >
      </textarea
      ><br />
      <label for="readiness">
        Is there any reason you might not be ready for Techtonica, and if so,
        what is it? Why shouldn't we accept you to Techtonica right now? </label
      ><br />
      <textarea name="readiness" id="readiness" cols="100" rows="4" required>
      </textarea
      ><br />
      <label for="commitment-barriers">
        Do you have any barriers to committing to Techtonica and actively
        participating in the program (child pickup, care for a loved one,
        funding, length of commute, domestic or drug abuse issues not taken care
        of, being unable to attend every day, being unable to use a computer for
        long periods of time, etc.) or is there any reason you wouldn't commit
        to Techtonica? If yes, what are the barriers? </label
      ><br />
      <textarea
        name="commitment-barriers"
        id="commitment-barriers"
        cols="100"
        rows="4"
        required
      >
      </textarea
      ><br />
      <label for="how-did-you-find-out">
        How did you find out about Techtonica?
      </label>
      <span
        class="info-icon"
        data-tooltip="The more specific you can be, the better—was it a flyer, and if so, where? Did a friend tell you, and if so, how did they find out? Was it a Facebook group, and if so, which one? Etc."
      >
      </span
      ><br />
      <textarea
        name="how-did-you-find-out"
        id="how-did-you-find-out"
        cols="100"
        rows="4"
        required
      >
      </textarea
      ><br />
      <label for="applicant-linkedin-url">
        Full LinkedIn URL (make sure you have a recognizable picture of your
        face on your profile!) </label
      ><br />
      <input
        type="url"
        name="applicant-linkedin-url"
        id="applicant-linkedin-url"
        required
      />
      <br />
      <label for="applicant-other-social-medias">
        Other full URLs to you online (blog, Twitter, GitHub, Instagram, etc.)
        <span>(Optional)</span>
      </label>
      <span
        class="info-icon"
        data-tooltip="For example, https://twitter.com/TechtonicaOrg"
      >
      </span
      ><br />
      <input
        type="url"
        name="applicant-other-social-medias"
        id="applicant-other-social-medias"
      />
      <br />
      <div class="form-button">
        <button
          type="button"
          class="previous-btn"
          onclick="window.location.href='/app-questionnaire'"
        >
          Previous
        </button>
        <button
          type="button"
          class="continue-to-app-btn"
          onclick="window.location.href='/app-reference'"
        >
          Next
        </button>
        <button
          type="button"
          class="save-btn"
          onclick="window.location.href='/'"
        >
          Save
        </button>
      </div>
    </fieldset>
  </form>
</div>

<style>
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 75%;
    max-width: 150rem;
    padding: 3rem;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
  }

  .application-page {
    justify-content: center;
    background-color: #0093b5;
    padding: 2rem;
  }
  .application-page > h1,
  .application-page > p {
    max-width: 65%;
    margin: auto;
    text-align: center;
  }

  fieldset {
    padding: 2rem;
    border-radius: 0.5rem;
  }

  fieldset textarea {
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    align-items: center;
    width: 95%;
  }

  fieldset input {
    padding: 0.5rem;
    margin-bottom: 2rem;
    width: 60%;
  }
  #radio-wrapper label {
    color: black;
    margin-bottom: 2em;
  }
  #radio-wrapper input {
    background-color: #16c1f3;
  }

  button.previous-btn,
  button.continue-to-app-btn,
  button.save-btn {
    background-color: #fc7625;
    color: white;
    font-size: large;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  button:hover {
    background-color: #0093b5;
  }

  .form-button {
    display: flex;
    gap: 3rem;
  }

  .info-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 0.5rem;
  }

  .info-icon::after {
    white-space: pre-wrap;
    font-size: 0.85rem;
    content: attr(data-tooltip);
    visibility: hidden;
    width: 220px;
    background-color: #666;
    color: #fff;
    z-index: 1;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    position: absolute;
    margin-left: 10px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    /* white-space: pre-wrap; */
  }

  .info-icon:hover::after {
    visibility: visible;
    opacity: 1;
  }

  @media only screen and (min-width: 320px) and (max-width: 599px) {
    html,
    body {
      overflow-x: hidden;
      width: 100%;
    }
    form {
      width: 70%;
    }
    .application-page > h1 {
      font-size: 1.5em;
      max-width: fit-content;
    }
    fieldset {
      min-width: 90%;
      padding: 1em;
    }
    fieldset > label,
    #radio-wrapper > label {
      font-size: smaller;
    }
    .form-button {
      display: block;
    }
    button.previous-btn,
    button.continue-to-app-btn,
    button.save-btn {
      font-size: smaller;
      margin: 0.5rem;
    }
  }

  @media only screen and (min-width: 575px) and (max-width: 910px) {
    html,
    body {
      overflow-x: hidden;
      width: 100%;
    }
  }
</style>
{% endblock content %}
