{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
Techtonica Application {% endblock title %} {% block content %}

<div class="application-page">
  <h1>Techtonica Application</h1>
  <form action="#" method="POST" class="application-form" id="app-form">
    <fieldset>
      <legend>Questionnaire</legend>
      <p>
        Please mark how much you agree with each statement when thinking about
        you personally.
      </p>
      <br />
      <div id="radio-wrapper">
        <label for="comfortable-presenting"
          >I am comfortable presenting a project or short talk to a group. </label
        ><br />
        <input
          type="radio"
          name="comfortable-presenting"
          id="comfortable-presenting-1-disagree"
          value="1-disagree"
          required
        />
        <label for="comfortable-presenting-1-disagree">1 - Disagree</label>
        <input
          type="radio"
          name="comfortable-presenting"
          id="comfortable-presenting-2-somewhat-disagree"
          value="2-somewhat-disagree"
          required
        />
        <label for="comfortable-presenting-2-somewhat-disagree"
          >2 - Somewhat Disagree</label
        >
        <input
          type="radio"
          name="comfortable-presenting"
          id="comfortable-presenting-3-somewhat agree"
          value="3-somewhat-agree"
          required
        />
        <label for="comfortable-presenting-3-somewhat-agree"
          >3 - Somewhat Agree</label
        >
        <input
          type="radio"
          name="comfortable-presenting"
          id="comfortable-presenting-4-agree"
          value="4-agree"
          required
        />
        <label for="comfortable-presenting-4-agree">4 - Agree</label><br />
      </div>

      <div id="radio-wrapper">
        <label for="comfortable-collaborating"
          >I am comfortable collaborating with others on a team. </label
        ><br />
        <input
          type="radio"
          name="comfortable-collaborating"
          id="comfortable-collaborating-1-disagree"
          value="1-disagree"
          required
        />
        <label for="comfortable-collaborating-1-disagree">1 - Disagree</label>
        <input
          type="radio"
          name="comfortable-collaborating"
          id="comfortable-collaborating-2-somewhat-disagree"
          value="2-somewhat-disagree"
          required
        />
        <label for="comfortable-collaborating-2-somewhat-disagree"
          >2 - Somewhat Disagree</label
        >
        <input
          type="radio"
          name="comfortable-collaborating"
          id="comfortable-collaborating-3-somewhat-agree"
          value="3-somewhat-agree"
          required
        />
        <label for="comfortable-collaborating-3-somewhat-agree"
          >3 - Somewhat Agree</label
        >
        <input
          type="radio"
          name="comfortable-collaborating"
          id="comfortable-collaborating-4-agree"
          value="4-agree"
          required
        />
        <label for="comfortable-collaborating-4-agree">4 - Agree</label><br />
      </div>

      <div id="radio-wrapper">
        <label for="comfortable-asking-help"
          >I am comfortable asking others for help when I'm stuck. </label
        ><br />
        <input
          type="radio"
          name="comfortable-asking-help"
          id="comfortable-asking-help-1-disagree"
          value="1-disagree"
          required
        />
        <label for="comfortable-asking-help-1-disagree">1 - Disagree</label>
        <input
          type="radio"
          name="comfortable-asking-help"
          id="comfortable-asking-help-2-somewhat-disagree"
          value="2-somewhat-disagree"
          required
        />
        <label for="comfortable-asking-help-2-somewhat-disagree"
          >2 - Somewhat Disagree</label
        >
        <input
          type="radio"
          name="comfortable-asking-help"
          id="comfortable-asking-help-3-somewhat-agree"
          value="3-somewhat-agree"
          required
        />
        <label for="comfortable-asking-help-3-somewhat-agree"
          >3 - Somewhat Agree</label
        >
        <input
          type="radio"
          name="comfortable-asking-help"
          id="comfortable-asking-help-4-agree"
          value="4-agree"
          required
        />
        <label for="comfortable-asking-help-4-agree">4 - Agree</label><br />
      </div>

      <div id="radio-wrapper">
        <label for="does-not-hide-struggles"
          >I do not hide that I'm struggling from friends, colleagues, or
          managers. </label
        ><br />
        <input
          type="radio"
          name="does-not-hide-struggles"
          id="does-not-hide-struggles-1-disagree"
          value="1-disagree"
          required
        />
        <label for="does-not-hide-struggles-1-disagree">1 - Disagree</label>
        <input
          type="radio"
          name="does-not-hide-struggles"
          id="does-not-hide-struggles-2-somewhat-disagre"
          value="2-somewhat-disagree"
          required
        />
        <label for="does-not-hide-struggles-2-somewhat-disagree"
          >2 - Somewhat Disagree</label
        >
        <input
          type="radio"
          name="does-not-hide-struggles"
          id="does-not-hide-struggles-3-somewhat-agree"
          value="3-somewhat-agree"
          required
        />
        <label for="does-not-hide-struggles-3-somewhat-agree"
          >3 - Somewhat Agree</label
        >
        <input
          type="radio"
          name="does-not-hide-struggles"
          id="does-not-hide-struggles-4-agree"
          value="4-agree"
          required
        />
        <label for="does-not-hide-struggles-4-agree">4 - Agree</label><br />
      </div>

      <div id="radio-wrapper">
        <label for="care-about-dei"
          >I care greatly about diversity, equity, and inclusion. </label
        ><br />
        <input
          type="radio"
          name="care-about-dei"
          id="care-about-dei-1-disagree"
          value="1-disagree"
          required
        />
        <label for="care-about-dei-1-disagree">1 - Disagree</label>
        <input
          type="radio"
          name="care-about-dei"
          id="care-about-dei-2-somewhat-disagree"
          value="2-somewhat-disagree"
          required
        />
        <label for="care-about-dei-2-somewhat-disagree"
          >2 - Somewhat Disagree</label
        >
        <input
          type="radio"
          name="care-about-dei"
          id="care-about-dei-3-somewhat-agree"
          value="3-somewhat-agree"
          required
        />
        <label for="care-about-dei-3-somewhat-agree">3 - Somewhat Agree</label>
        <input
          type="radio"
          name="care-about-dei"
          id="care-about-dei-4-agree"
          value="4-agree"
          required
        />
        <label for="care-about-dei-4-agree">4 - Agree</label><br />
      </div>

      <div id="radio-wrapper">
        <label for="learn-quickly">I learn brand-new concepts quickly. </label
        ><br />
        <input
          type="radio"
          name="learn-quickly"
          id="learn-quickly-1-disagree"
          value="1-disagree"
          required
        />
        <label for="learn-quickly-1-disagree">1 - Disagree</label>
        <input
          type="radio"
          name="learn-quickly"
          id="learn-quickly-2-somewhat-disagree"
          value="2-somewhat-disagree"
          required
        />
        <label for="learn-quickly-2-somewhat-disagree"
          >2 - Somewhat Disagree</label
        >
        <input
          type="radio"
          name="learn-quickly"
          id="learn-quickly-3-somewhat-agree"
          value="3-somewhat-agree"
          required
        />
        <label for="learn-quickly-3-somewhat-agree">3 - Somewhat Agree</label>
        <input
          type="radio"
          name="learn-quickly"
          id="learn-quickly-4-agree"
          value="4-agree"
          required
        />
        <label for="learn-quickly-4-agree">4 - Agree</label><br />
      </div>

      <div id="radio-wrapper">
        <label for="help-others"
          >When working with others, I'm the person who likes to help everyone
          get up to speed.</label
        ><br />
        <input
          type="radio"
          name="help-others"
          id="help-others-1-disagree"
          value="1-disagree"
          required
        />
        <label for="help-others-1-disagree">1 - Disagree</label>
        <input
          type="radio"
          name="help-others"
          id="help-others-2-somewhat-disagree"
          value="2-somewhat-disagree"
          required
        />
        <label for="help-others-2-somewhat-disagree"
          >2 - Somewhat Disagree</label
        >
        <input
          type="radio"
          name="help-others"
          id="help-others-3-somewhat-agrees"
          value="3-somewhat-agree"
          required
        />
        <label for="help-others-3-somewhat-agree">3 - Somewhat Agree</label>
        <input
          type="radio"
          name="help-others"
          id="help-others-4-agree"
          value="4-agree"
          required
        />
        <label for="help-others-4-agree">4 - Agree</label><br />
      </div>

      <div id="radio-wrapper">
        <label for="interested-in-mentoring"
          >I would be interested in mentoring future participants after I
          graduate from Techtonica. </label
        ><br />
        <input
          type="radio"
          name="interested-in-mentoring"
          id="interested-in-mentoring-1-disagree"
          value="1-disagree"
          required
        />
        <label for="interested-in-mentoring-1-disagree">1 - Disagree</label>
        <input
          type="radio"
          name="interested-in-mentoring"
          id="interested-in-mentoring-2-somewhat-disagree"
          value="2-somewhat-disagree"
          required
        />
        <label for="interested-in-mentoring-2-somewhat-disagree"
          >2 - Somewhat Disagree</label
        >
        <input
          type="radio"
          name="interested-in-mentoring"
          id="interested-in-mentoring-3-somewhat-agree"
          value="3-somewhat-agree"
          required
        />
        <label for="interested-in-mentoring-3-somewhat-agree"
          >3 - Somewhat Agree</label
        >
        <input
          type="radio"
          name="interested-in-mentoring"
          id="interested-in-mentoring-4-agree"
          value="4-agree"
          required
        />
        <label for="interested-in-mentoring-4-agree">4 - Agree</label><br />
      </div>

      <div id="radio-wrapper">
        <label for="involved-post-graduation"
          >I would be actively involved with Techtonica's graduates group after
          completion of the program. </label
        ><br />
        <input
          type="radio"
          name="involved-post-graduation"
          id="involved-post-graduation-1-disagree"
          value="1-disagree"
          required
        />
        <label for="involved-post-graduation-1-disagree">1 - Disagree</label>
        <input
          type="radio"
          name="involved-post-graduation"
          id="involved-post-graduation-2-somewhat-disagree"
          value="2-somewhat-disagree"
          required
        />
        <label for="involved-post-graduation-2-somewhat-disagree"
          >2 - Somewhat Disagree</label
        >
        <input
          type="radio"
          name="involved-post-graduation"
          id="involved-post-graduation-3-somewhat-agree"
          value="3-somewhat-agree"
          required
        />
        <label for="involved-post-graduation-3-somewhat-agree"
          >3 - Somewhat Agree</label
        >
        <input
          type="radio"
          name="involved-post-graduation"
          id="involved-post-graduation-4-agree"
          value="4-agree"
          required
        />
        <label for="involved-post-graduation-4-agree">4 - Agree</label><br />
      </div>

      <div class="form-button">
        <button
          type="button"
          class="continue-to-app-btn"
          onclick="window.location.href='/app-household'"
        >
          Previous
        </button>
        <button
          type="button"
          class="continue-to-app-btn"
          onclick="window.location.href='/app-long-text'"
        >
          Next
        </button>
        <button
          type="button"
          class="continue-to-app-btn"
          onclick="window.location.href='/'"
        >
          Save
        </button>
      </div>
    </fieldset>
  </form>
</div>

<style>
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 40%;
    max-width: 150rem;
    padding: 3rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.547);
  }

  .application-page {
    justify-content: center;
    background-color: #0093b5;
    padding: 2rem;
  }
  .application-page > h1,
  .application-page > p {
    max-width: 65%;
    margin: auto;
    text-align: center;
  }

  fieldset {
    padding: 2rem;
    border-radius: 0.5rem;
  }

  fieldset label {
    color: black;
  }

  #radio-wrapper > input {
    margin-bottom: 2rem;
  }

  button {
    background-color: #fc7625;
    color: white;
    font-size: large;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  button:hover {
    background-color: #0093b5;
  }

  .form-button {
    display: flex;
    gap: 3rem;
  }
</style>

{% endblock content %}
