{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
Techtonica Application {% endblock title %} {% block content %}

<div class="application-page">
  <h1>Techtonica Application</h1>
  <form action="#" method="POST" class="application-form" id="app-form">
    <fieldset>
      <legend>Questionnaire</legend>
      <p>
        Please mark how much you agree with each statement when thinking about
        you personally.
      </p>
      <br />
      <label for="comfortable-presenting">
        I am comfortable presenting a project or short talk to a group. </label
      ><br />
      <select
        name="comfortable-presenting"
        id="comfortable-presenting"
        required
      >
        <option value="" disabled selected>Select an option</option>
        <option value="1-disagree">1 - Disagree</option>
        <option value="2-somewhat-disagree">2 - Somewhat Disagree</option>
        <option value="3-somewhat-agree">3 - Somewhat Agree</option>
        <option value="4-agree">4 - Agree</option></select
      ><br />
      <label for="comfortable-collaborating">
        I am comfortable collaborating with others on a team. </label
      ><br />
      <select
        name="comfortable-collaborating"
        id="comfortable-collaborating"
        required
      >
        <option value="" disabled selected>Select an option</option>
        <option value="1-disagree">1 - Disagree</option>
        <option value="2-somewhat-disagree">2 - Somewhat Disagree</option>
        <option value="3-somewhat-agree">3 - Somewhat Agree</option>
        <option value="4-agree">4 - Agree</option></select
      ><br />
      <label for="comfortable-asking-help">
        I am comfortable asking others for help when I'm stuck. </label
      ><br />
      <select
        name="comfortable-asking-help"
        id="comfortable-asking-help"
        required
      >
        <option value="" disabled selected>Select an option</option>
        <option value="1-disagree">1 - Disagree</option>
        <option value="2-somewhat-disagree">2 - Somewhat Disagree</option>
        <option value="3-somewhat-agree">3 - Somewhat Agree</option>
        <option value="4-agree">4 - Agree</option></select
      ><br />
      <label for="does-not-hide-struggles">
        I do not hide that I'm struggling from friends, colleagues, or managers. </label
      ><br />
      <select
        name="does-not-hide-struggles"
        id="does-not-hide-struggles"
        required
      >
        <option value="" disabled selected>Select an option</option>
        <option value="1-disagree">1 - Disagree</option>
        <option value="2-somewhat-disagree">2 - Somewhat Disagree</option>
        <option value="3-somewhat-agree">3 - Somewhat Agree</option>
        <option value="4-agree">4 - Agree</option></select
      ><br />
      <label for="care-about-dei"
        >I care greatly about diversity, equity, and inclusion. </label
      ><br />
      <select name="care-about-dei" id="care-about-dei" required>
        <option value="" disabled selected>Select an option</option>
        <option value="1-disagree">1 - Disagree</option>
        <option value="2-somewhat-disagree">2 - Somewhat Disagree</option>
        <option value="3-somewhat-agree">3 - Somewhat Agree</option>
        <option value="4-agree">4 - Agree</option></select
      ><br />
      <label for="learn-quickly">I learn brand-new concepts quickly. </label
      ><br />
      <select name="learn-quickly" id="learn-quickly" required>
        <option value="" disabled selected>Select an option</option>
        <option value="1-disagree">1 - Disagree</option>
        <option value="2-somewhat-disagree">2 - Somewhat Disagree</option>
        <option value="3-somewhat-agree">3 - Somewhat Agree</option>
        <option value="4-agree">4 - Agree</option></select
      ><br />
      <label for="help-others">
        When working with others, I'm the person who likes to help everyone get
        up to speed. </label
      ><br />
      <select name="help-others" id="help-others" required>
        <option value="" disabled selected>Select an option</option>
        <option value="1-disagree">1 - Disagree</option>
        <option value="2-somewhat-disagree">2 - Somewhat Disagree</option>
        <option value="3-somewhat-agree">3 - Somewhat Agree</option>
        <option value="4-agree">4 - Agree</option></select
      ><br />
      <label for="interested-in-mentoring">
        I would be interested in mentoring future participants after I graduate
        from Techtonica. </label
      ><br />
      <select
        name="interested-in-mentoring"
        id="interested-in-mentoring"
        required
      >
        <option value="" disabled selected>Select an option</option>
        <option value="1-disagree">1 - Disagree</option>
        <option value="2-somewhat-disagree">2 - Somewhat Disagree</option>
        <option value="3-somewhat-agree">3 - Somewhat Agree</option>
        <option value="4-agree">4 - Agree</option></select
      ><br />
      <label for="involved-post-graduation">
        I would be actively involved with Techtonica's graduates group after
        completion of the program. </label
      ><br />
      <select
        name="involved-post-graduation"
        id="involved-post-graduation"
        required
      >
        <option value="" disabled selected>Select an option</option>
        <option value="1-disagree">1 - Disagree</option>
        <option value="2-somewhat-disagree">2 - Somewhat Disagree</option>
        <option value="3-somewhat-agree">3 - Somewhat Agree</option>
        <option value="4-agree">4 - Agree</option></select
      ><br />
      <div class="form-button">
        <button
          type="button"
          class="previous-btn"
          onclick="window.location.href='/app-household'"
        >
          Previous
        </button>
        <button
          type="button"
          class="continue-to-app-btn"
          onclick="window.location.href='/app-long-text'"
        >
          Next
        </button>
        <button
          type="button"
          class="save-btn"
          onclick="window.location.href='/'"
        >
          Save
        </button>
      </div>
    </fieldset>
  </form>
</div>

<style>
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 40%;
    max-width: 150rem;
    padding: 3rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.547);
  }

  .application-page {
    justify-content: center;
    background-color: #0093b5;
    padding: 2rem;
  }
  .application-page > h1,
  .application-page > p {
    max-width: 65%;
    margin: auto;
    text-align: center;
  }

  fieldset {
    padding: 2rem;
    border-radius: 0.5rem;
  }

  fieldset label {
    color: black;
  }

  fieldset > input {
    margin-bottom: 2rem;
  }

  button.continue-to-app-btn,
  button.previous-btn,
  button.save-btn {
    background-color: #fc7625;
    color: white;
    font-size: large;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  button.continue-to-app-btn:hover,
  button.previous-btn:hover,
  button.save-btn:hover {
    background-color: #16c1f3;
    color: white;
    transition: 0.3s;
  }

  .form-button {
    display: flex;
    gap: 3rem;
  }

  fieldset > select {
    padding: 1em;
    margin: 2em auto;
    border: 1px solid rgba(0, 0, 0, 0.559);
    border-radius: 6px;
    width: 80%;
  }

  @media only screen and (min-width: 320px) and (max-width: 574px) {
    .column {
      padding: 0;
    }
    html,
    body {
      overflow-x: hidden;
      width: 100%;
    }
    .application-page > h1 {
      font-size: 1.5em;
      max-width: fit-content;
    }
    p {
      font-size: smaller;
    }
    fieldset > label {
      font-size: smaller;
    }
    form {
      width: 70%;
    }
    fieldset {
      min-width: 90%;
      padding: 1em;
    }
    fieldset > select {
      width: 80%;
    }
    button.continue-to-app-btn,
    button.previous-btn,
    button.save-btn {
      font-size: smaller;
    }
    .form-button {
      display: grid;
      gap: 0.5em;
      width: 50%;
      margin: auto;
    }
  }

  @media only screen and (min-width: 575px) and (max-width: 910px) {
    .column {
      padding: 0;
    }
    form {
      width: 80%;
    }
    html,
    body {
      overflow-x: hidden;
      width: 100%;
    }
    fieldset {
      padding: 2em;
    }
    .form-button {
      display: flex;
      margin: auto;
      align-items: center;
      justify-content: space-between;
    }
  }
</style>

{% endblock content %}
