{% extends "base.html" %}

{% block title %}
  Techtonica Apprenticeship
{% endblock title %}

{% block content %}
  <div class="main-content">
      <div class="apprenticeship-header" title="Mentor and apprentice">
        <div class="main-header__text blue-background">
          <h1 class="main-header__header">Apprenticeship</h1>
          <p>Techtonica's software engineering apprenticeship program is six months of free, intensive, hands-on tech learning for local women and non-binary adults with low incomes.
          </p>
        </div>
      </div>
      <div class="row row__center what-we-do" id="whatwedo">
        <div class="column">
          <h1 class="blue-h1">The Program</h1>
          <p class="justify">Techtonica's apprenticeship program is a free, full-time, six-month program that provides the opportunity for local women and non-binary, femme adults with low incomes to learn technical skills and start their first job in tech. We select apprentices who are independent but good at collaborating, motivated to succeed, dedicated to the commitment of learning to code, flexible, curious, open-minded, and excited for long-term careers in the field, have a good attitude and a growth mindset, can calmly manage extended periods of frustration (troubleshooting is something you'll face forever in tech!), and want to pay it forward. We aim to empower those most underrepresented in tech and to help tech become more diverse.</p>
          <p class="justify">The program runs Monday through Friday, 9am-6pm for six months in San Francisco, starting in January and July. After the first trial month of full-time training, participants who work the hardest and meet and exceed expectations will be invited to continue for the last five months with stipends based upon need and funding available. (We still recommend you save up as much as possible as stipends may not cover all your costs.)</p>
          <p class="justify">Techtonica apprentices will learn to do full-stack web development using JavaScript. Upon successful completion of the program, as many apprentices as possible are placed with partner companies via a two-way interview and rating system.</p>
          <p class="justify">What bootcamps and Techtonica have in common is the fact that they are intensive training. However, bootcamps can be pretty passive classroom learning with students and they cost between $15,000 and $30,000. Techtonica aims to be more like the workplace to make the transition into the industry better—instead of having an instructor constantly guiding you (which you won't have in any software engineering job), a facilitator gives you general assignments and you're expected to figure out what to do on your own or in collaboration with volunteers, mentors, tech groups, and other apprentices. In the best jobs, there are regular check-ins with very understanding managers and mentors provide regular support, but that is not always the case. Techtonica’s program is as hands-on and project-based as possible to best prepare you for work in tech.
          </p>
        </div>
        <div class="column">
          <img src="{{ url_for('static', filename='img/practice-interviewing-at-Symantec-min.jpg') }}" alt="Three women talk technical interviewing at Symantec." class="full-width-img">
          <img src="{{ url_for('static', filename='img/four-coding-at-Eventbrite-min.jpg') }}" alt="Four people coding at Eventbrite." class="full-width-img">
          <img src="{{ url_for('static', filename='img/two-way-interview-min.jpg') }}" alt="Two people from a company interviewing an apprentice." class="full-width-img">
        </div>
      </div>
      <div class="row row__center blue-background why-why" id="why">
        <div class="column">
          <img src="{{ url_for('static', filename='img/working-at-laptops-min.jpg') }}" alt="Several coding workshops participants working at laptops" class="full-width-img">
          <img src="{{ url_for('static', filename='img/interview-practice-min.jpg') }}" alt="Two people practicing interviewing." class="full-width-img">
          <img src="{{ url_for('static', filename='img/whiteboarding-practice-min.jpg') }}" alt="Two people practicing whiteboarding." class="full-width-img">
        </div>
        <div class="column">
          <h1>Eligibility</h1>
          <p class="justify">You are eligible to apply for Techtonica’s full-time program if you:
            <ul>
              <li>are a woman (cis OR trans) or non-binary adult</li>
              <li>are digitally literate, meaning you are very familiar and good with computers and the internet, can type 40+ WPM with accuracy, and you know how to use a mouse/trackpad, browsers, and email</li>
              <li>at the very least graduated from high school or received your GED</li>
              <li>can commit to always being present and on time and prepared</li>
              <li>are dedicated to building a long-term career in tech</li>
              <li>have less than $50,000 in annual income and net worth</li>
              <li>have lived in the Bay Area for at least one year</li>
              <li>have housing that will be stable for the entirety of 2019</li>
              <li>are legally employable in the United States</li>
              <li>agree to work at whichever partner company we match you with upon successful completion of the program</li>
              <li>are willing to appear in Techtonica's media and pitch yourself to Techtonica's partners</li>
              <li>have not attended a full-time coding bootcamp or completed a C.S. degree in the last six years</li>
              <li>have not already worked as a software engineer or web developer in the last six years</li>
              <li>agree to abide by <a href="{{ url_for('render_conduct_page') }}" title="Code of Conduct" target="_blank">Techtonica's Code of Conduct</a>, <a href="https://docs.google.com/document/d/1IWny-IXB-XDWW21l3JODwPuh1QOVBFQbii_DjvF0g00/edit?usp=sharing" target="_blank">Apprenticeship Expectations</a>, and <a href="https://docs.google.com/document/d/1vMjIHg0kfmmBAul1KeZnhl3s2TXrKcL69xwjV1UzMNE/edit?usp=sharing" target="_blank">Apprenticeship Agreement</a></li>
            </ul>
          </p>
          <p class="justify">You are probably not a good fit if you:
            <ul>
              <li>would rather be passively trained than learn through discovery</li>
              <li>prefer always being told exactly what to do</li>
              <li>don't like when plans change</li>
              <li>can't advocate for yourself</li>
              <li>don't like details</li>
              <li>don't get along with everyone</li>
              <li>are quickly frustrated every time you get stuck on a problem</li>
              <li>don't feel comfortable asking questions until you understand complicated concepts</li>
              <li>can't lay aside learning everything about something in place of just learning enough to make progress on your work</li>
              <li>take longer than most people to learn and apply new concepts</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="row row__baseline how-it-works" id="howitworks">
        <h1 class="blue-h1">Application Process</h1>
        <div class="row">
          <div class="column column-med centered">
            <h3>1. Interest and long application forms</h3>
            <p>Thoroughly fill out and submit <a href="https://docs.google.com/forms/d/e/1FAIpQLSdk8nJUSuK_xoILyYyf3GIpVypQRtqsx9aQE7odHgX1cWvoHA/viewform?usp=sf_link" target="_blank">the interest form</a> and the long application form (linked to upon submitting the first form—the long form will take some time, so don't start too late!) by the deadline.
            </p>
          </div>
          <div class="column column-med centered">
            <h3>2. Two invite-only digital literacy testing and JavaScript events</h3>
            <p>Participate in two of the events offered (details will be sent upon submission of the long form).</p>
          </div>
          <div class="column column-med centered">
            <h3>3. Code challenges</h3>
            <p>Complete a take-home code challenge.</p>
          </div>
        </div>
        <div class="row">
          <div class="column column-med centered">
            <h3>4. Staff interviews</h3>
            <p>Participate in staff interviews.</p>
          </div>
          <div class="column column-med centered">
            <h3>5. Board interviews</h3>
            <p>Participate in board interviews.</p>
          </div>
        </div>
        <div class="row">
          <div class="column column-med centered">
            <h2><a href="https://docs.google.com/forms/d/e/1FAIpQLSdk8nJUSuK_xoILyYyf3GIpVypQRtqsx9aQE7odHgX1cWvoHA/viewform?usp=sf_link" class="sponsor" target="_blank">Apply by noon on May 17th for July 2019!</a></h2>
          </div>
        </div>
        <div class="row">
          <div class="column column-med centered">
            <p>Accepted applicants will be required to submit some more information to confirm participation and to join onboarding on Saturday, June 8th. You'll also be given some pre-work to complete before the start of the full-time training.</p>
          </div>
        </div>
      </div>
      <div class="row row__center blue-background howtohelp">
        <div class="column how-to-help" id="howtohelp">
          <h1>What We Look For</h1>
                  <p class="justify">
             This program is very competitive; we select participants who continuously prove that they are:
          <p class="justify">
            <ul>
              <li>self-motivated</li>
              <li>resilient</li>
              <li>logical</li>
              <li>humble</li>
              <li>respectful</li>
              <li>independent</li>
              <li>curious</li>
              <li>open-minded</li>
              <li>flexible</li>
              <li>persistent</li>
              <li>optimistic</li>
              <li>punctual</li>
              <li>committed</li>
              <li>communicative</li>
              <li>collaborative</li>
              <li>responsive to feedback</li>
              <li>willing to ask questions</li>
              <li>long-term goal setters</li>
              <li>able to deal with stress well</li>
              <li>able and willing to work with anyone</li>
              <li>take pride in owning their learning</li>
              <li>always curious and ready to learn and improve</li>
              <li>transparent and compassionate communicators</li>
              <li>hard-working and ready to make sacrifices</li>
              <li>dedicated to seeing things through to the end</li>
              <li>willing to meet the <a href="https://docs.google.com/document/d/1IWny-IXB-XDWW21l3JODwPuh1QOVBFQbii_DjvF0g00/edit?usp=sharing" target="_blank">Apprenticeship Expectations</a>, including abiding by <a href="/conduct">Techtonica's Code of Conduct</a></li>
            </ul>
          </p>
        </div>
        <div class="column">
          <img src="{{ url_for('static', filename='img/focused-participant-min.jpg') }}" alt="Focused participant at a laptop" class="full-width-img">
          <img src="{{ url_for('static', filename='img/presenting-at-event-min.jpg') }}" alt="Person giving a talk at an event" class="full-width-img">
        </div>
      </div>
      <div class="row row__baseline how-it-works" id="howitworks">
        <h1 class="blue-h1">How to Prepare</h1>
        <div class="row">
          <div class="column column-med centered">
            <h3>1. Learn as much JavaScript ahead of time as possible—<a href="http://freecodecamp.org">Free Code Camp</a> and <a>Codecademy</a> are great for this.</h3>
          </div>
          <div class="column column-med centered">
            <h3>2. Attend coding meetups, like the <a href="https://www.meetup.com/Women-Who-Code-SF/">Women Who Code</a> JavaScript study group to practice getting to know people.</h3>
          </div>
          <div class="column column-med centered">
            <h3>3. Develop your typing and Mac keyboard shortcut skills.</h3>
          </div>
        </div>
        <div class="row">
          <div class="column column-med centered">
            <h3>4. Learn about different Bay Area companies and long-term pathways in tech to start getting an idea of your career goals.</h3>
          </div>
          <div class="column column-med centered">
            <h3>5. Practice learning and applying concepts quickly.</h3>
          </div>
          <div class="column column-med centered">
            <h3>6. Practice talking out loud about your thought process and collaborating with others.</h3>
          </div>
        </div>
      </div>
{% endblock content %}
