{% extends "base.html" %}

{% block title %}
  Techtonica Apprenticeship
{% endblock title %}

{% block content %}
  <div class="main-content">
      <div class="apprenticeship-header" title="Mentor and apprentice">
        <div class="main-header__text blue-background">
          <h1 class="main-header__header">Apprenticeship</h1>
          <p>Techtonica's apprenticeship is intensive, hands-on tech learning for local women and non-binary adults with low incomes. 
          </p>
        </div>
      </div>
      <div class="row row__center what-we-do" id="whatwedo">
        <div class="column">
          <h1 class="blue-h1">The Program</h1>
          <p class="justify">Apprentices will learn to do full-stack web development using JavaScript. What bootcamps and apprenticeships like Techtonica have in common is the fact that they are intensive training. However, bootcamps can be pretty passive classroom learning with students and they cost between $15,000 and $30,000. An apprenticeship aims to be more like the workplace to make the transition into the industry better—instead of having an instructor constantly guiding you, a facilitator gives you assignments and you're expected to figure out what to do as a team. In the best-case scenarios, there are regular check-ins with managers and mentors provide support. We’re making Techtonica’s program as hands-on and project-based as possible to best prepare you for work in tech.
          </p>
          <p class="justify">
          After the first trial month, participants who work the hardest and meet and exceed expectations will be invited to continue for five months with stipends. Upon successful completion of six months, as many apprentices as possible are placed with partner companies via a two-way interview and rating system.
          </p>
          </br>
          <p class="justify">The next apprenticeship starts in July 2018 in San Francisco. <!-- <a href="https://www.dropbox.com/s/t1vjptwg8qp5djg/Techtonica%20Apprenticeship%20Application%20Flyer.pdf?dl=0" target="_blank">Download an informational flyer here.</a> --></p>
        </div>
        <div class="column">
          <img src="{{ url_for('static', filename='img/pairing-at-TTL-min.jpg') }}" alt="Two women code at the Tenderloin Tech Lab." class="full-width-img">
        </div>
      </div>
      <div class="row row__center blue-background why-why" id="why">
        <div class="column">
          <img src="{{ url_for('static', filename='img/working-at-laptops-min.jpg') }}" alt="Several coding workshops participants working at laptops" class="full-width-img">
        </div>
        <div class="column">
          <h1>Eligibility</h1>
          <p class="justify">You are eligible to apply for Techtonica’s apprenticeship if you:
            <ul>
              <li>are a woman or non-binary, feminine-adjacent adult</li>
              <li>are digitally literate, meaning you are very familiar and good with computers and the internet, can type 40+ WPM, and you know how to use a mouse/trackpad, browsers, and email</li>
              <li>meet our socioeconomic criteria (less than $50,000 in income and net worth)</li>
              <li>have housing that will be stable for the duration of the program</li>
              <li>have lived in the Bay Area for at least a year</li>
              <li>can legally be employed by our partner companies</li>
              <li>are prepared to appear in Techtonica's media and pitch yourself to Techtonica's partners</li>
              <li>have not attended a full-time coding bootcamp or completed a C.S. degree in the last six years</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="row row__baseline how-it-works" id="howitworks">
        <h1 class="blue-h1">Application Process</h1>
        <div class="row">
          <div class="column column-med centered">
            <img src="{{ url_for('static', filename='img/lightbulb.png') }}" alt="" aria-hidden="true">
            <h3>1. Fill out the interest form.</h3>
            <p>Fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSfUdyIAfcU5KSqtYH5J5iPRgu-yycHdebnUKygQLEv-m7oVMw/viewform?usp=sf_link" target="_blank">the interest form</a> completely. Submit as soon as you can and watch for a follow-up email.          
            </p>
          </div>
          <div class="column column-med centered">
            <img src="{{ url_for('static', filename='img/conversation.png') }}" alt="conversation bubbles icon" aria-hidden="true">
            <h3>2. If invited, join one of our introductions.</h3>
            <p>Learn how a web page is made and code your own while being assessed. There will be several sessions to choose from in Oakland and San Francisco.</p>
          </div>
          <div class="column column-med centered">
            <img src="{{ url_for('static', filename='img/chalkboard.jpg') }}" alt="chalkboard icon" aria-hidden="true">
            <h3>3. Attend a coding workshop.</h3>
            <p>There will be workshops for you to choose from in Oakland and San Francisco.</p>
          </div>
        </div>
        <div class="row">
          <div class="column column-med centered">
<!--             <img src="{{ url_for('static', filename='img/lightbulb.png') }}" alt="lightbulb" aria-hidden="true"> -->
            <h3>4. Complete the take-home challenge.</h3>
            <p>We'll give you a coding challenge to work on at home.</p>
          </div>
          <div class="column column-med centered">
<!--             <img src="{{ url_for('static', filename='img/conversation.png') }}" alt="conversation bubbles icon" aria-hidden="true"> -->
            <h3>5. Fill out the application.</h3>
            <p>Thoughtfully complete the long application.</p>
          </div>
          <div class="column column-med centered">
<!--             <img src="{{ url_for('static', filename='img/chalkboard.jpg') }}" alt="chalkboard" aria-hidden="true"> -->
            <h3>6. Interview with a staff member and a board member.</h3>
            <p>Schedule a time to meet us individually to be assessed for fit.</p>
          </div>
        </div>
      </div>
      <div class="row row__center blue-background howtohelp">
        <div class="column how-to-help" id="howtohelp">
          <h1>What We Look For</h1>
                  <p class="justify">
             This program is very competitive; we select participants who continuously prove that they are:
          <p class="justify">
            <ul>
              <li>self-motivated</li>
              <li>resilient</li>
              <li>logical</li>
              <li>humble</li>
              <li>respectful</li>
              <li>persistent</li>
              <li>optimistic</li>
              <li>punctual</li>
              <li>committed</li>
              <li>collaborative</li>
              <li>responsive to feedback</li>
              <li>willing to ask questions</li>
              <li>long-term goal setters</li>
              <li>able to deal with stress well</li>
              <li>able and willing to work with anyone</li>
              <li>take pride in owning their learning</li>
              <li>always curious and ready to learn and improve</li>
              <li>transparent and compassionate communicators</li>
              <li>hard-working and ready to make sacrifices</li>
              <li>dedicated to seeing things through to the end</li>
              <li>willing to meet the apprentice expectations, including abiding by <a href="/conduct">Techtonica's Code of Conduct</a></li>
            </ul>
          </p>
        </div>
        <div class="column">
          <img src="{{ url_for('static', filename='img/focused-participant-min.jpg') }}" alt="Focused participant at a laptop" class="full-width-img">
        </div>
      </div>
      <div class="row row__baseline how-it-works" id="howitworks">
        <h1 class="blue-h1">How to Prepare</h1>
        <div class="row">
          <div class="column column-med centered">
            <h3>1. Learn as much JavaScript ahead of time as possible—<a href="http://freecodecamp.org">Free Code Camp</a> and <a>Codecademy</a> are great for this.</h3>
          </div>
          <div class="column column-med centered">
            <h3>2. Attend coding meetups, like the <a href="https://www.meetup.com/Women-Who-Code-SF/">Women Who Code</a> JavaScript study group.</h3>
          </div>
          <div class="column column-med centered">
            <h3>3. Develop your typing and Mac keyboard shortcut skills.</h3>
          </div>
        </div>
        <div class="row">
          <div class="column column-med centered">
<!--             <img src="{{ url_for('static', filename='img/lightbulb.png') }}" alt="lightbulb" aria-hidden="true"> -->
            <h3>4. Make sure your life is ready to take care of itself for a while (automate your bill-paying and make freezer meals to save time, for example).</h3>
          </div>
          <div class="column column-med centered">
<!--             <img src="{{ url_for('static', filename='img/conversation.png') }}" alt="conversation bubbles icon" aria-hidden="true"> -->
            <h3>5. Use social media to start building a network of people who can help you when you get stuck.</h3>
          </div>
          <div class="column column-med centered">
<!--             <img src="{{ url_for('static', filename='img/chalkboard.jpg') }}" alt="chalkboard" aria-hidden="true"> -->
            <h3>6. Make a list of things that re-charge you so you can turn to it when needed.</h3>
          </div>
        </div>
      </div>
{% endblock content %}
