{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap -
Blog {% endblock title %} {% block content %}
<div class="row row__center blue-background">
  <div class="column">
    <h1>Techtonica<br />Blog</h1>
    <h3>#BridgeTheGap</h3>
  </div>
  <div class="column">
    <img
      src="{{ url_for('static', filename='img/sf-bridge-logo-without-background.png') }}"
      alt="Designed image of the San Francisco bridge."
      class="eighty-five-percent-width"
    />
  </div>
</div>
{% endblock content %}
