{% extends "base.html" %}

{% block title %}
	Techtonica: Bridging the Tech Gap — Careers
{% endblock title %}

{% block content %}
  <div class="row row__center about-us">
    <div class="column hidden-med">
      <img src="{{ url_for('static', filename='img/make-a-difference-instructor.jpg') }}"
           alt="A teacher works with a student at a laptop." 
           class="fixed-img" style="width:38%;">
    </div>
    <div class="column">
      <h1 class="blue-h1">Board Job Discriptions</h1>
      <p class="justify">Techtonica is a new nonprofit that offers low-income women and non-binary adults free tech training, along with living and childcare stipends, then places them in positions at sponsoring companies that are ready to support more diverse teams. You can <a href="https://medium.com/@michelleglauser/techtonica-how-to-diversify-tech-and-help-neighbors-in-need-837d5f0b40bc">read more here</a>.</p>


		<h3>Make an Impact as a Full-time Instructor</h3>

		<p class="justify">Techtonica offers an unforgettable learning experience to students. We care deeply about helping students succeed as high-quality developers.</p>


<h3>For all:</h3>
<ul>
<li> Can make time for board meetings.</li>
<li> Regularly attends board meetings and important related meetings.</li>
                <ul><li>Makes sure that his/her voice is heard even if missed a meeting</li></ul>
<li> Determine and be informed about the organization’s mission and purpose, services, policies, and programs </li>
<Li>Reviews agenda and supporting materials prior to board and committee meetings.</li>
<li> Suggests possible nominees to the board who can make significant contributions to the work of the board and the organization.</li>
<li> Informs others about the organization.</li>
<li> Participates in fundraising for the organization.</li>
<li> Is an active participant in the committee's annual evaluation and planning efforts.</li>
<li> Fans of transparency</li>
<li> Strong interpersonal communication skills.</li>
<li> Respect</li>
<li> Decisiveness, but willing to re-consider</li>
<li>Reflect the community we serve</li>
<li>Passionate about diversity and inclusion/social justice</li>
<li> Good with budgeting</li>
<li> Well-connected</li>
<li>Fundraising, sales, or business development experience (and willing to use that experience)</li>
<li>Willing to commit one new sponsor per year.</li>
<li>Willing to donate $1,000 per year.</li>
<li>Willing to build partnerships with 2 new community organizations per year.</li>
<Li>Attend one workshop per year</li>
<li> Speak to students once per year</li>
<li>Help organize one event per year</li>
<li>Will speak about Techtonica at events and during speaking gigs</li>
<li>Act all times with benefit of the (nonprofit) corporation and its charitable purpose in mind</li>
<li>Disclose all possible conflicts of interest, abstain from voting when you feel that some conflict may exist, and avoid self- dealing activities. Discourage business dealings between board members and the organization.</li>
<li>She/he is familiar with the organization's bylaws and ensure that they are followed</li>
<li>Make sure state and federal statutory regulations are met, including but not limited to filing annual information returns 9 such as IRS Form 990), remitting withheld payroll taxes and employer-paid, taxes, and submitting payroll reports.</li>
<li> Stay informed. Review all program reports carefully; ask questions.</li>

<li>Seek outside help such as lawyers, accountants, and other professionals in the respective fields </li>
<li> Make sure the organization’s bylaws include an indemnification clause. An indemnification clause states that the nonprofit organization, within its financial abilities, will cover most legal fees or judgments against a board member.</li>
<li>See that the organization has written and up-to-date personnel policies, complies with employment law, and follows these personnel policies and law</li>
</ul>

<h3>Board Chair</h3>
<ul>
<li> Provides leadership to the Board of Directors, who sets policy and to whom the Chief Executive is accountable.</li>
<li>Chairs meetings of the Board after developing the agenda with the Chief Executive.</li>
<li>Monitors financial planning and financial reports.</li>
<li> Plays a leading role in fundraising activities.</li>
<li>Evaluates annually the performance of the organization in achieving its mission.</li>
<li>Oversees board and executive committee meetings</li>
<li>Works in partnership with the chief executive to make sure board resolutions are carried out</li>
<li> Calls special meetings if necessary</li>
<li>Appoints all committee chairs, and with the chief executive, recommends who will serve on committees</li>
<li>Assists chief executive in preparing agenda for board meetings</li>
<li>Assists chief executive in conducting new board member orientation</li>
<li>Oversees searches for a new chief executive
</li>
<li>Coordinates chief executive's annual performance evaluation</li>
<li>Works with the governance committee to recruit new board members</li>
<li>Acts as an alternate spokesperson for the organization</li>
<li> Periodically consults with board members on their roles and helps them assess their performance</li>
<li> Ensuring mission and purpose; that overall strategies, policies and priorities are in place </li>
<li> Ensuring organizational performance and impact. </li>
<li> Ensuring compliance with laws and regulations and fulfillment of contractual obligations. </li>
<li> Fiduciary oversight, safeguarding assets from misuse, and ensuring maximum use of resources.</li>
<li>Ensure that the board is well run with effective governance practices and processes in place.</li>
</ul>

<h3>Vice-Chair</h3>
<ul>
<li> Performs Chair responsibilities when the Chair cannot be available (see Chair Job Description).</li>
<li> Works closely with and reports to the Board's Chair.</li>
<li> Performs other responsibilities as assigned by the Board.</li>
<li> Attend all board meetings</li>
<li> Serve on the executive committee if one exists </li>
<li> Carry out special assignments as requested by the board chair</li>
<li> Understand the responsibilities of the board chair and be able to perform these duties in the chair's absence. </li>
<li>Participate as a vital part of the board leadership.</li>
</ul>

<h3>Treasurer</h3>
<ul>
<li> Manages finances and fiscal matters of the organization.</li>
<li>Provides annual budget to the board for members' approval.</li>
<li>Ensures development and board review of financial policies and procedures.</li>
<li> Attend all board meetings </li>
<li> Maintain knowledge of the organization and personal commitment to its goals and objectives </li>
<li> Understand financial accounting for nonprofit organizations</li>
<li> Serve as the chair of the finance committee</li>
<li> Manage, with the finance committee, the board's review of and action related to the board's financial responsibilities </li>
<li> Work with the chief executive and the chief financial officer to ensure that appropriate financial reports are made available to the board on a timely basis</li>
<li> Present the annual budget to the board for approval</li>
<li> Review the annual audit and answer board members' questions about the audit</li>
</ul>

<h3>Secretary</h3>
<ul>
<li> Maintains records of the board and ensures effective management of organization's records.</li>
<li> Manages minutes of board meetings.</li>
<li> Ensures minutes are distributed to members shortly after each meeting.</li>
<li> Is sufficiently familiar with legal documents (articles, by-laws, IRS letters, etc.) to note applicability during meetings.</li>
<li> Attend all board meetings</li>
<li> Serve on the executive committee if one exists</li>
<li> Ensure the safety and accuracy of all board records</li>
<li> Review board minutes </li>
<li> Assume responsibilities of the chair in the absence of the board chair, chair-elect, and vice chair</li>
<li> Provide notice of meetings of the board and/or of a committee when such notice is required</li>
</ul>

*Something to keep in mind* ( for individual board members)
<ul>
<li> Fundraising: contributing to the organization's fundraising success as appropriate to the individual ( such as making a financial contribution, volunteering at fundraising events, making business contracts for organization, soliciting cash and non-cash contributions, etc.) </li>
<li> Speaking engagements: Acting as ambassadors to the community on behalf of the organization and its clients </li>
<li> Attending and volunteering at events. </li>
<li>Consultation or advising staff in area of expertise, providing technical assistance. </li>
<li> Providing thought- partnership to the CEO and staff, acting as a sounding board. </li>
<li> Participation on organizational committees. </li>
</ul>






































		<p class="justify">We are looking for a committed instructor to complement our full-time training program in the San Francisco Bay Area.

		<p class="justify"><b><i>Our students are low-income women and non-binary femme adults and 75% people of color. We are seeking an instructor who can relate to the target audience on as many levels as possible.</i></b></p>

		<p class="justify">You will be responsible for preparing and implementing a teaching plan according to the course's requirements, providing personal and professional instruction to students, creating a relationship of mutual trust, and making learning meaningful and as simple as possible.</p>

		<p class="justify">The salary goal is $84,000 or more, depending on experience. We can offer benefits if needed, but unfortunately at this time we can't offer a visa or relocation assistance. This role is from 9-6 M-F, ~1 evening per week, and 1-2 Saturdays per month.</p>

		<p class="justify">Responsibilities:
		<ul>
			<li>Collaborate on designing and implementing project-based curriculum with sponsoring companies</li>
			<li>Create and distribute educational content (notes, summaries, assignments, etc.)</li>
			<li>Work closely with the well-connected founder on the program vision</li>
			<li>Organize one-day workshops with local organizations to find future students and build community partnerships</li>
			<li>Refine our vetting process for full-time students</li>
			<li>Manage workshop volunteers and mentors</li>
			<li>Teach with a focus on empowering students so they can succeed long-term</li>
			<li>Present lessons in a comprehensive manner and use visual/audio means to facilitate learning</li>
			<li>Develop and enrich professional skills and knowledge by attending seminars, conferences, etc.</li>
		</ul>
		</p>

<p class="justify">What we're looking for:
		<ul>
			<li>A minimum of two years of professional experience in full-stack web development</li>
			<li>Someone who can familiarize themselves with the cohort and Techtonica's vision quickly</li>
			<li>Prior experience teaching and developing curriculum, with an open mind about methods</li>
			<li>Belief that anyone can learn anything</li>
			<li>Confidence that you can figure out anything and instill that confidence in students</li>
			<li>Ability to keep students focused and inspired</li>
			<li>Clear, transparent, compassionate communication</li>
			<li>Commitment, trustworthiness, patience, organization</li>
			<li>Being passionate and informed about social justice and diversity-and-inclusion-in-tech issues</li>
			<li>Understanding of socioeconomic differences and experiences that our students (class straddlers) face</li>
			<li>Unequivocal support for parents, people who don't identify with the gender binary, and people with disabilities</li>
			<li>Dedication to underprivileged populations and willingness to examine your biases often</li>
			<li>Willingness to do pretty much anything—we are a brand-new nonprofit that works much like a tech startup</li>
			<li>Ability to handle many different projects and tasks simultaneously</li>
			<li>Ability to take tasks and run with them independently</li>

		</ul>
		</p>

		<p class="justify">Because this role involves a lot of people-interacting, it might be best if you're extroverted or at least an ambivert, but you should also respect the space needed by introverts, especially since you'll be working closely with the founder, who is an introvert.</p>

		<p class="justify">
			See <a href="https://github.com/Techtonica/curriculum/blob/master/README.md">some of the subjects we aim to cover here</a>.
		</p>
		<p>The interview process involves an interview (online or on-site), writing a lesson plan, and teaching a technical concept. If given a second interview, it will involve meeting with the first cohort. Please send a description of how you relate to the target audience, and a link to your LinkedIn profile, portfolio, or resume.</p>
      <a href="mailto:info@badmail.techtonica.org?Subject=Techtonica%20Contact%20Us" class="contact" target="_blank" ><img src="{{ url_for('static', filename='img/contact-us.jpg') }}" class="contact" alt="Contact us at info@techtonica.org"></a>
    </div>
  </div>
{% endblock content %}
