{% extends "base.html" %}

{% block title %}
	Techtonica: Bridging the Tech Gap — Careers
{% endblock title %}

{% block content %}
  <div class="row row__center about-us">
    <div class="column hidden-med">
      <img src="{{ url_for('static', filename='img/make-a-difference-instructor.jpg') }}"
           alt="A teacher works with a student at a laptop." 
           class="fixed-img" style="width:38%;">
    </div>
    <div class="column">
      <h1 class="blue-h1">Check back!</h1>
      <h3>We'll be posting info soon about how you can make an impact as a member of our Advisory Board.</h3>
      <a href="mailto:info@badmail.techtonica.org?Subject=Techtonica%20Contact%20Us" class="contact" target="_blank" ><img src="{{ url_for('static', filename='img/contact-us.jpg') }}" class="contact" alt="Contact us at info@techtonica.org"></a>
    </div>
  </div>
{% endblock content %}