{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
Techtonica Consulting {% endblock title %} {% block content %}
<div class="row row__center">
    <div class="column">
    <h1>Techtonica Consulting</h1>
  </div>
  <div class="column">
    <a href="{{ url_for('render_sponsor_page') }}">
      <img
        src="{{ url_for('static', filename='img/mentor-programm.jpg') }}"
        alt="placeholder alt text for placeholder image"
        class="full-width-img"
      />
    </a>
  </div>
</div>

<div class="row row__center about-us">
  <div class="column">
    <p class="justify">
        Techtonica Consulting, an extension of Techtonica's mission, will offer
        an alternative real-world software engineering experience to its graduates.
        These graduates, who have completed extensive training and come from
        diverse backgrounds, will have the opportunity to work on real software
        projects while being supervised by senior software engineers. Techtonica
        Consulting is dedicated to serving a broad spectrum of industries, from
        large Fortune 100 companies to small businesses and entrepreneurs, providing
        tailored tech solutions to meet their unique needs. 
    </p>
    <h3>How It Works</h3>
    <ol>
      <li>
        Initial Contact and Needs Assessment:
        <ul>
            <li>Companies interested in working with Techtonica Consulting reach out
                through the Techtonica.org or contact LMadison@Techtonica.org
            </li>
            <li>Techtonica Consulting technical team schedules an initial meeting with
                the company to understand their specific software development needs,
                project scope, and goals.
            </li>
        </ul>
      </li>
      <li>
        Project Proposal:
        <ul>
            <li>Customized Proposal: Based on the needs assessment, Techtonica Consulting
                creates a customized project proposal that includes project objectives,
                timeline, cost estimates, and the number of Techtonica graduates required
                for the project.
            </li>
            <li>Agreement: Once both parties agree on the proposal, a formal agreement is
                signed outlining the project details, roles, responsibilities, and
                confidentiality terms.
            </li>
        </ul>
      </li>
      <li>
        Team Formation:
        <ul>
            <li>Selection of Graduates: Techtonica Consulting selects graduates from its
                pool of trained and diverse software engineering talents whose skills align
                with the project requirements.
            </li>
            <li>Supervision: Senior software engineers, often from Techtonica Consulting,
                are assigned as mentors and supervisors for the graduates throughout the project.
            </li>
        </ul>
      </li>
      <li>
        Project Execution:
        <ul>
            <li>Development Phase: The Techtonica Consulting team, consisting of graduates and
                mentors, starts working on the project according to the agreed-upon timeline
                and milestones.
            </li>
            <li>Regular Updates: Regular communication and progress updates are provided to the
                company to ensure alignment with their goals.
            </li>
        </ul>
      </li>
      <li>
        Quality Assurance and Testing:
        <ul>
            <li>Quality Control: The project undergoes rigorous quality assurance and testing
                processes to ensure it meets industry standards and the company's expectations.
            </li>
            <li>Feedback Loop: Companies provide feedback on the project's development, which
                is used to refine and adjust the work as needed.
            </li>
        </ul>
      </li>
      <li>
        Project Delivery:
        <ul>
            <li>Completion: Once the project is completed successfully, Techtonica Consulting
                delivers the final product to the company.
            </li>
            <li>Documentation: All project documentation, source code, and intellectual property
                are handed over to the company.
            </li>
        </ul>
      </li>
      <li>
        Post-Project Support:
        <ul>
            <li>Transition: Techtonica Consulting ensures a smooth transition of the project to
                the company's internal teams, if applicable.
            </li>
            <li>Ongoing Support: Techtonica Consulting may provide post-project support and
                maintenance services as agreed upon in the initial contract.
            </li>
        </ul>
      </li>
      <li>
        Evaluation and Future Collaboration:
        <ul>
            <li>Feedback Session: After project completion, a feedback session is held with
                the company to evaluate the performance of graduates and the overall project.
            </li>
            <li>Discussion on Future Collaboration: Techtonica Consulting discusses potential
                future collaborations, whether for additional projects or other opportunities.
            </li>
        </ul>
      </li>
      <li>
        Billing and Payment:
        <ul>
            <li>Billing Cycle: Billing is done based on the terms agreed upon in the contract,
                which may be milestone-based or monthly.
            </li>
            <li>Payment: Your company makes payments to Social Good as per the payment schedule.
            </li>
        </ul>
      </li>
      <li>
        Continuous Improvement:
        <ul>
            <li>Feedback Incorporation: Techtonica Consulting continuously improves its processes
                and the training provided to graduates based on feedback from both companies and graduates.
            </li>
            <li>Expanding Talent Pool: Techtonica Consulting strives to expand its pool of graduates to
                cater to a broader range of industry needs.
            </li>
        </ul>
      </li>
    </ol>
  </div>
</div>
<div class="row row__center blue-background">
  <div class="column">
    <p class="justify">
        At Techtonica Consulting, we meticulously follow these steps to foster
        seamless collaborations with your company or project. We provide
        invaluable real-world software engineering solutions, all while offering
        our graduates a hands-on learning experience and mentorship within a
        professional environment.
    </p>
  </div>
  <div class="column centered">
    <a href="{{ url_for('render_sponsor_page') }}">
      <img
        src="{{ url_for('static', filename='img/mentor-programm2.jpg') }}"
        alt="placeholder alt text for placeholder image"
        width="400"
        height="250"
      />
    </a>
  </div>
</div>
{% endblock content %}
