{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap {%
    endblock title %} {% block content %}
    
    <div class="main-content">
      <div class="consulting-header"> <!-- TODO: Create class -->
        <img
          id="consulting-hero" <!-- TODO: Create class -->
          src="{{ url_for('static', filename='img/Partnerships-Manager-with-Participants-min.png') }}"
        />
      </div>
      <div class="row row__center blue-background" style="padding: 0">
        <h2 class="large-white-text">Partner today to help #BridgeTheTechGap!</h2>
      </div>
      <div class="row row__center">
        <div class="column">
          <p class="justify">
            <!-- TODO: Content here -->
          </p>
          
          <h2>
            <a
              href="https://www.dropbox.com/scl/fi/5zoqis2ge820y9v2x1i9w/Partnering-with-Techtonica-Info-Sheet.pdf?rlkey=ulfq0kb7tvev5vvezwpxffytz&dl=0"
              class="sponsor"
              id="orange-button"
              target="_blank"
              rel="noopener noreferrer"
              >Download our partnering info sheet</a
            >
          </h2>
          <h2>
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSdNrE6qtdhND2eN3e4PbRfxa4ro1EKiQ3zYkKhYVxtbRXSsGg/viewform?usp=sf_link"
              class="sponsor"
              id="orange-button"
              target="_blank"
              rel="noopener noreferrer"
              >Discuss consulting</a
            >
          </h2>
        </div>
    </div>
    {% endblock content %}    