{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap {%
    endblock title %} {% block content %}
    
    <div class="main-content">
      <div class="sponsor-header"> 
        <img
          id="sponsor-hero" 
          src="{{ url_for('static', filename='img/Partnerships-Manager-with-Participants-min.png') }}"
        />
      </div>
      <div class="row row__center blue-background" style="padding: 0">
        <h2 class="large-white-text">Partner today to help #BridgeTheTechGap!</h2>
      </div>
      <div class="row row__center">
        <div class="column">
          <p class="justify">
            Techtonica Consulting will be your partner in software engineering solutions, 
            catering to visionary clients seeking to create innovative products, test software, 
            streamline core business operations, and enhance efficiency, all while offering our 
            graduates a hands-on learning experience and mentorship within a professional environment. 
            Techtonica Consulting frees your internal team members to be more productive in the areas 
            that matter most to your business. You also give underrepresented software engineers an 
            opportunity to demonstrate their skills.  If you or someone you know has a specific software 
            development project that requires assistance or support, our team of skilled graduates, 
            overseen by a senior technical program manager, stands ready to deliver innovative and 
            effective solutions.
          </p>
          <h2>Program Highlights</h2>
          <p class="justify">
            <ul>
                <li><strong>Diverse Talent Pool: </strong>  
                    Techtonica Consulting harnesses the skills and potential of underrepresented software 
                    engineers, improving business outcomes.
                </li>
                <li><strong>Accessible Pricing: </strong>
                    Projects start at just $5,000, making it an affordable option for organizations of all 
                    sizes, and a great option for pilots of ideas you’d like to test.   </li>
                <li><strong>Tax Deductible: </strong>
                    Participation in Techtonica Consulting may be tax-deductible, and contributes to the 
                    empowerment of underrepresented software engineers on the rise.    </li>
            </ul>
          </p>
          <p class="justify">
            We work with clients of any size, from Fortune 5 companies to community-driven opensource projects. 
            Our engagement rates may be as low as $5000, depending on required deliverables and length of time. 
            Participation in Techtonica Consulting may be tax-deductible, as well.  Your support for the Techtonica 
            Consulting program enriches the journey and development of our participants, propelling them towards 
            their next milestones by equipping them with invaluable real-world technical experience as part of 
            their education. Check with your tax professional to be sure.
          </p>
          <p class="justify">
            Participating in a Techtonica Consulting project can help streamline your team's workload and increase 
            overall productivity. Techtonica Consulting allows you to leverage junior software engineers supervised 
            by experienced senior personnel at Techtonica, effectively outsourcing specific projects or tasks. This 
            delegation reduces the burden on your existing staff, enabling them to focus on high-priority tasks 
            while providing valuable real-world experience to Techtonica graduates. 
          </p>
          <p class="justify">
            Techtonica consultants are Techtonica graduates who have successfully completed our full-time project-based 
            fully-opensource software engineering training curriculum, followed by varying amounts of professional 
            software engineering experience. However, a lot of organizations don't currently have the capacity to 
            support entry-level talent in paid internships even with the extra support Techtonica provides for those 
            partners. To continue helping those organizations meet their software development needs while prioritizing 
            learning opportunities for participants who are finishing our program, new graduates from diverse backgrounds 
            can work on real software projects alongside senior software engineers who share some of their journey with 
            Techtonica Consulting. Techtonica consultants gain real-world software engineering consulting experience, 
            including scoping projects, talking to clients, meeting deliverables, holding retrospectives, reviewing PRs, 
            and more. 
          </p>
          <p class="justify">
            Techtonica holds weekly check-ins with consultants involved in client projects. Consultants also have 
            opportunities to pair or ask for advice in regular office hours, a weekly team meeting for each project, 
            and a weekly review for all consultants. Senior software engineers review PRs and hold retrospectives with 
            involved consultants. Our team also meets with yours to sync as needed, and shares regular updates about 
            progress.
          </p>
          <p class="justify">
            All Techtonica graduates have extensive project-based experience with the PERN stack (Postgres, Express, React, 
            and Node). Graduates may also have experience in a wide variety of other technologies, and current consultants 
            have used Java, Python, JavaScript, HTML, CSS, SQL, C#, Go, Ruby, and assorted APIs on past projects. Because 
            this is an educational experience, we’re also very open to learning new technologies to support your tech stack.
          </p>
          <p class="justify">
            Some projects that would be most fitting for Techtonica Consulting include: 
            <ul>
                <li>testing and debugging (unit tests for individual components, integration tests for larger systems, or 
                    using debugging tools to identify and fix a certain class of issues), </li>
                <li>encapsulated security changes (such as implementing basic authentication and authorization systems or 
                    testing to prevent common web vulnerabilities), and </li>
                <li>general web development (such as building simple web applications, implementing RESTful APIs, customizing 
                    no-code applications, and payment system integrations). 
                </li>
            </ul>
          </p>
          <p class="justify">
            <!-- TODO: Content here [How It Works and below still TBD] -->
          </p>
          <p class="justify">
            <!-- TODO: Content here -->
          </p>
          <p class="justify">
            <!-- TODO: Content here -->
          </p>
          <h2>
            <a
              href="https://www.dropbox.com/scl/fi/5zoqis2ge820y9v2x1i9w/Partnering-with-Techtonica-Info-Sheet.pdf?rlkey=ulfq0kb7tvev5vvezwpxffytz&dl=0"
              class="sponsor"
              id="orange-button"
              target="_blank"
              rel="noopener noreferrer"
              >Download our partnering info sheet</a
            >
          </h2>
          <h2>
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSdNrE6qtdhND2eN3e4PbRfxa4ro1EKiQ3zYkKhYVxtbRXSsGg/viewform?usp=sf_link"
              class="sponsor"
              id="orange-button"
              target="_blank"
              rel="noopener noreferrer"
              >Discuss consulting</a
            >
          </h2>
        </div>
    </div>
    {% endblock content %}    