{% extends "base.html" %}

{% block title %}
  Techtonica: Bridging the Tech Gap — Careers
{% endblock title %}

{% block content %}
  <div class="row row__center about-us">
    <div class="column hidden-med">
      <img src="{{ url_for('static', filename='img/make-a-difference-instructor.jpg') }}"
           alt="A mentor works with a participant at a laptop." 
           class="fixed-img" style="width:38%;">
    </div>
    <div class="column">
      <h1 class="blue-h1">Openings</h1>
      <p class="justify">Techtonica is a nonprofit that offers six months of full-time software engineering training with living stipends to Bay Area women and non-binary adults with low incomes. After graduation, Techtonica places graduates with engineering jobs at local companies. You can <a href="https://medium.com/@michelleglauser/techtonica-how-to-diversify-tech-and-help-neighbors-in-need-837d5f0b40bc">read more here</a>.</p>
      <h3>Make an Impact as Our Curriculum Developer!</h3>

      <p class="justify">Techtonica offers a life-changing learning experience to participants. We care deeply about helping our apprentices become high-quality developers.</p>

      <p class="justify">We're looking for a curriculum developer to develop a software engineering curriculum for our six month coding bootcamp. We have an existing curriculum from our first 2018 cohort that you will build upon and improve. This is a part-time position.</p>

      <p class="justify">Responsibilities:
      <ul>
        <li>Develop the overall plan and pacing for the curriculum, including the balance of lessons, projects, and assessments, while incorporating feedback from the first cohort of apprentices</li>
        <li>Develop lesson plans, projects, and assessments (building upon existing materials)</li>
        <li>Develop pre-work to for apprentices to complete before in-person bootcamp starts</li>
        <li>Break down necessary work into individual pieces that can be developed by volunteers</li>
        <li>Review work of volunteers for accuracy, completeness, and overall quality</li>
      </ul>
      </p>

      <p class="justify">What we're looking for:
        <ul>
          <li>You can clearly explain technical topics in writing</li>
          <li>You understand what is needed to become an entry-level software engineer</li>
          <li>You understand how to explain technical topics in a way that is rigorous but can be understood by beginners</li>
          <li>You have an understanding of socioeconomic difference and experiences that our students face</li>
        </ul>
      </p>

      <p class="justify">Preferred previous experience:
        <ul>
          <li>Previous experience developing a technical curriculum</li>
          <li>Previous teaching experience preferred</li>
          <li>Previous experience as a professional software developer preferred</li>
        </ul>
      </p>
      {% include 'contactbutton.html' %}
    </div>
  </div>
{% endblock content %}
