{% extends "base.html" %}

{% block title %}
  Techtonica: Bridging the Tech Gap
{% endblock title %}

{% block content %}
  <div class="main-content">
    <div class="main-header">
      <div class="main-header__text blue-background">
        <h1 class="main-header__header">Help us bridge the tech opportunity gap.</h1>
        <p>Donate today to directly benefit the participants of our six-month tech apprenticeship program, help increase diversity in tech, and empower locals in need!</p>
      </div>
      </div>
      <div class="row row__center what-we-do" id="whatwedo">
        <h1 class="blue-h1">How to Donate</h1>
      </div>
      <div class="row row__center what-we-do">
        <div class="column">
          <h2>Credit, Debit, or PayPal</h2>
          <h3><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=JK79ZYMRLEWDA" class="sponsor" id="orange-button" target="_blank">Click here to donate through our fiscal sponsor, Social Good, via PayPal.</a></h3>
        </div>
        <div class="column">
          <h2>Venmo</h2>
          <h3><a href="#" onclick="return false;" class="sponsor" id="orange-button" target="_blank">Venmo your donation to @socialgoodfund and indicate it's for Techtonica.</a></h3>
        </div>
        <div class="column">
          <h2>Check</h2>
          <h3><a href="#" onclick="return false;" class="sponsor" id="orange-button" target="_blank">Write your check to Social Good Fund, indicate it's for Techtonica on the memo line, and mail it to: </br>
            Social Good Fund</br>
            P.O. Box 5473</br>
            Richmond, CA 94805</a><h3>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
