{% extends "base.html" %}

{% block title %}
  FAQs about Techtonica
{% endblock title %}

{% block content %}

<div class="row row__center what-we-do" id="whatwedo">
  <div class="column">
    <h1 class="blue-h1">Frequently Asked Questions About Techtonica</h1>
<p>&nbsp;</p>
<h3>What is your one-sentence description of Techtonica?</h3>
<p>Techtonica partners with tech companies to provide free tech training, living stipends, and job placement to women and non-binary adults in need in the Bay Area.</span></p>
<p>&nbsp;</p>
<h3>What makes Techtonica different?</h3>
<p><span style="font-weight: 400;">We offer underserved, diverse populations an opportunity to be involved in a long-term, tuition free, full-time program that prepares and places students in the software engineering field without having to worry about financial instability. The main differences between us and other programs are: </span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Our students are </span><strong>local, low-income women and non-binary adults, </strong><span style="font-weight: 400;">preventing more displacement and empowering the people who really need tech skills</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">71% of our students so far have been people of color</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Our program is </span><strong>free</strong><span style="font-weight: 400;"> for students</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">We cover our students'</span><strong> living and childcare costs</strong></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">We are a </span><strong>nonprofit, so donations are tax-deductible</strong></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">We provide </span><strong>laptops</strong></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Our program is </span><strong>six months long</strong><span style="font-weight: 400;"> instead of just three​</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Our program ends with a </span><strong>job</strong><span style="font-weight: 400;"> and </span><strong>professional connections</strong><span style="font-weight: 400;"> in the industry</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">We expose students to a </span><strong>variety of roles</strong><span style="font-weight: 400;"> in the tech industry, not solely the role of software engineer&mdash;our goal is to find great fits for our students and help them support themselves and their families</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">We encourage students to be </span><strong>leaders</strong><span style="font-weight: 400;"> in the community</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">We organize intro coding workshops with </span><strong>local organizations</strong><span style="font-weight: 400;"> to reach the local community</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Our program is more </span><strong>age-inclusive</strong><span style="font-weight: 400;">&mdash;it's not just for young adults</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">We provide </span><strong>ongoing support</strong><span style="font-weight: 400;"> to our graduates</span></li>
<li style="font-weight: 400;"><strong>Partner companies</strong><span style="font-weight: 400;"> are involved in criteria, curriculum, and mentoring</span></li>
</ul>
<p>&nbsp;</p>
<h3>What do &ldquo;genderqueer,&rdquo; &ldquo;non-binary,&rdquo; and &ldquo;femme&rdquo; or &ldquo;femme-presenting mean?</h3>
<p><span style="font-weight: 400;">Genderqueer and non-binary are terms that describe people who do not identify as men or women. &ldquo;Femme&rdquo; refers to people&rsquo;s appearance. A more traditionally-feminine appearance is considered femme.</span></p>
<p>&nbsp;</p>
<h3>What is Techtonica looking for in students?</h3>
<p><span style="font-weight: 400;">We are seeking students who can show consistent responsibility, resilience, commitment, and interest, among other criteria that our partner companies work out with us. </span></p>
<p>&nbsp;</p>
<h3>What is Techtonica looking for in companies?</h3>
<p><span style="font-weight: 400;">We are seeking companies that are interested in increasing diversity and social impact, committed to learning about and encouraging inclusion, supportive of junior engineers, etc.</span></p>
<p>&nbsp;</p>
<h3>What is considered low-income?</h3>
<p><span style="font-weight: 400;">For most area nonprofits: </span></p>
<p><span style="font-weight: 400;">For a family: less than $39,000 annually</span></p>
<p><span style="font-weight: 400;">For an individual: less than $24,000 annually</span></p>
<p><span style="font-weight: 400;">For Techtonica:</span></p>
<p><span style="font-weight: 400;">Less than $50,000 annually</span></p>
<p>&nbsp;</p>
<h3>Is there an age limit?</h3>
<p><span style="font-weight: 400;">Adults, ages 18 and up</span></p>
<p>&nbsp;</p>
<h3>How long is the training?</h3>
<p><span style="font-weight: 400;">Our full-time program is full-time, Monday through Friday, for six months.</span></p>
<p>&nbsp;</p>
<h3>When does the first class start?</h3>
<p><span style="font-weight: 400;">In May! Sponsoring companies must commit to sponsor in April.</span></p>
<p>&nbsp;</p>
<h3>Where will classes be held?</h3>
<p><span style="font-weight: 400;">The classes will be held in San Francisco&mdash;we are currently looking for space, possibly at a sponsoring company.</span></p>
<p>&nbsp;</p>
<h3>Which subjects will be covered? What does the curriculum cover? What level of training do you provide?</h3>
<p><span style="font-weight: 400;">The curriculum covers mostly web development (full-stack JavaScript), but we also do sections on other skills useful in tech, such as project management, UI/UX design, and data analysis. Sponsoring companies have a say in what should be added or improved upon. </span></p>
<p>&nbsp;</p>
<h3>Why don&rsquo;t you just take a cut from students&rsquo; salaries following the program?</h3>
<p><span style="font-weight: 400;">We believe in empowering underrepresented folks in order to increase diversity, rather than charging them. </span></p>
<p>&nbsp;</p>
<h3>Why does your program end with job placement?</h3>
<p><span style="font-weight: 400;">Being underrepresented and without connections in the tech industry makes it very difficult to find a job. Companies are working to increase diversity and underprivileged locals are seeking employment, so why not have them help each other?</span></p>
<p>&nbsp;</p>
<h3>Are my donations tax-exempt?</h3>
<p><span style="font-weight: 400;">Yes. We are fiscally sponsored through </span><a href="http://www.socialgoodfund.org"><span style="font-weight: 400;">Social Good Fund</span></a><span style="font-weight: 400;">. </span></p>
<p>&nbsp;</p>
<h3>What else can we do besides sponsoring and hiring students?</h3>
<ul>
<li style="font-weight: 400;"><a href="https://twitter.com/TechtonicaOrg/status/842485189531983872"><span style="font-weight: 400;">Provide space</a> for our full-time class, workshops, or events.</span></li>
<li style="font-weight: 400;"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=JK79ZYMRLEWDA"><span style="font-weight: 400;">Make donations</span></a><span style="font-weight: 400;">.</span></li>
<li style="font-weight: 400;"><a href="https://goo.gl/forms/jgD3BWCEg5RN8XwN2"><span style="font-weight: 400;">Sign up to volunteer</span></a><span style="font-weight: 400;"> your skills to the cause.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Spread the word.</span></li>
</ul>
  </div>
</div>

{% endblock content %}