{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
FAQs {% endblock title %} {% block content %}

<div class="row row__center what-we-do" id="whatwedo">
  <div class="column">
    <h1 class="blue-h1">Frequently Asked Questions About Techtonica</h1>
    <p>&nbsp;</p>
    <h3>What is your one-sentence description of Techtonica?</h3>
    <p id="unique">
      Techtonica partners with tech companies to provide free tech training,
      laptops, living stipends, and job placement to women and non-binary adults
      seeking economic empowerment.
    </p>
    <p>&nbsp;</p>
    <h3 id="different">What makes Techtonica different?</h3>
    <p>
      We offer underserved, diverse populations an opportunity to be involved in a long-term, tuition-free, full-time program that prepares and places them in the software engineering field without having to worry about financial
      instability. The main differences between us and other programs are:
    </p>
    <ul>
      <li>
        Our participants are
        <strong>women and non-binary adults seeking economic empowerment, </strong
        >preventing more displacement and empowering the people who really need
        tech skills
      </li>
      <li>
        85% of our participants so far have been
        <strong>people of color</strong>, 19% have a
        <strong>disability</strong>, 8% identify
        <strong>outside the gender binary</strong>, and 2% are
        <strong>veterans</strong>
      </li>
      <li>Our program is <strong>free</strong> for participants</li>
      <li>
        We provide stipends to help our participants with<strong>
          living and childcare costs</strong
        >
      </li>
      <li>
        We are a <strong>nonprofit, so donations are tax-deductible</strong>
      </li>
      <li>We provide <strong>MacBooks</strong> to those who need them</li>
      <li>
        Our program is <strong>six months long</strong> instead of just three​
      </li>
      <li>
        Our program usually ends with a <strong>paid or stipended placement</strong> (not guaranteed, but we have managed to find roles for everyone so far) and <strong>professional connections</strong> in the industry
      </li>
      <li>
        We expose participants to a <strong>variety of roles</strong> in the
        tech industry, not solely the role of software engineer&mdash;our goal
        is to find great fits for our participants and help them support
        themselves and their families
      </li>
      <li>
        We encourage participants to be <strong>leaders</strong> in the
        community
      </li>
      <li>
        We organize intro coding workshops with
        <strong>community organizations</strong> to reach people most in need of our services
      </li>
      <li>
        Our program is more <strong>age-inclusive</strong>&mdash;it's not just for young adults
      </li>
      <li>We provide <strong>ongoing support</strong> to our graduates</li>
      <li>
        <strong>Partner companies</strong> are often involved in criteria, curriculum, and mentoring
      </li>
      <li>Our curriculum is <strong>open-source</strong></li>
      <li>
        We provide <strong>diversity and inclusion training</strong> to the teams that our graduates will be placed onto
      </li>
    </ul>
    <p>&nbsp;</p>
    <h3 id="definitions">
      What do &ldquo;genderqueer,&rdquo; &ldquo;non-binary,&rdquo; and
      &ldquo;femme&rdquo; or &ldquo;femme-presenting&rdquo; mean?
    </h3>
    <p>
      Genderqueer and non-binary are terms that describe people who do not
      identify as men or women. &ldquo;Femme&rdquo; refers to people&rsquo;s
      appearance. A more traditionally-feminine appearance is considered femme.
      We are trans-inclusive. We serve and accept cis and trans women, as well
      as people with non-binary gender identities.
    </p>
    <p>&nbsp;</p>
    <h3 id="participants">What is Techtonica looking for in participants?</h3>
    <p>
      We are seeking participants who can show consistent responsibility,
      resilience, commitment, and interest, among other criteria that our
      partner companies work out with us. See our
      <a href="{{ url_for('render_ft_program_page') }}"
        >full-time program page</a
      >
      for more information.
    </p>
    <p>&nbsp;</p>
    <h3 id="sign-up">
      I'm interested in being a participant in your program. How do I sign up?
    </h3>
    <p>
      See if you're eligible on our
      <a href="{{ url_for('render_ft_program_page') }}"
        >full-time program page</a
      > and fill out the interest or application form (usually open around April and October each year).
    </p>
    <p>&nbsp;</p>
    <h3 id="companies">What is Techtonica looking for in hiring partner companies?</h3>
    <p>Our ideal advocate sponsor companies:</p>
      <ul>
        <li>Have at least 100 employees</li>
        <li>Have engineering teams that care about diversity and inclusion and it shows</li>
        <li>Have a plan to support junior talent long-term</li>
        <li>Would like to sponsor at least two so our graduates can support one another</li>
        <li>Employ matched graduates as FTEs with benefits, not just contractors</li>
        <li>Care more about ability to learn than which specific tech stack people know</li>
      </ul>
      <p>They should be able to:</p>
      <ul>
          <li>Get involved with the cohort through pairing, Q&As, etc.,</li>
          <li>Provide weekly check-ins with managers throughout placement</li>
          <li>Provide weekly pairing with mentors throughout placement</li>
          <li>Pay at least $30/hour</li>
        </ul>
    <p>&nbsp;</p>
    <h3 id="low-income">What is considered low-income?</h3>
    <p>Low incomes are incomes less than the amount specified in your location and situation on <a href="https://livingwage.mit.edu/" target="_blank"
            rel="noopener noreferrer">the MIT Living Wage Calculator</a> in annual household income.</p>
    <p>&nbsp;</p>
    <h3 id="age-limit">Is there an age limit?</h3>
    <p>Adults, ages 18 and up</p>
    <p>&nbsp;</p>
    <h3 id="duration">How long is Techtonica's full-time program?</h3>
    <p>The program consists of six months of full-time training, Monday through Friday, followed by six months of placement or job search support.</p>
    <p>&nbsp;</p>
    <h3 id="where">Where does Techtonica's program take place?</h3>
    <p>The program started in San Francisco (on Ramaytush Ohlone land) but has been remote since March 2020.</p>
    <p>&nbsp;</p>
    <h3 id="subjects">
      Which subjects will be covered? What does the curriculum cover? What level
      of training do you provide?
    </h3>
    <p>
      The curriculum covers mostly web development (full-stack JavaScript), but we also touch on other skills useful in tech, such as project
      management, UI/UX design, and data analysis. Feel free to check out and
      contribute to
      <a href="https://github.com/Techtonica/curriculum" target="_blank"
        >our open-source curriculum</a
      >.
    </p>
    <p>&nbsp;</p>
    <h3 id="cut-from-salaries">
      Why don't you just take a cut from graduates' salaries following the
      program?
    </h3>
    <p>
      We believe in empowering underrepresented folks, rather than placing an additional burden on them.
    </p>
    <p>&nbsp;</p>
    <h3 id="job-placements">Where are your Mission, Code of Conduct, and Feedback Framework?</h3>
    <p>You can find our <a href="{{ url_for('render_conduct_page') }}" title="Code of Conduct"
            >Mission, Code of Conduct, and Feedback Framework here</a>. 
    </p>
    <h3 id="job-placements">Why does your program end with job placement?</h3>
    <p>
      Being underrepresented and without connections in the tech industry makes it very difficult to find a job—most bootcamp graduates require six months to a year to secure a job after graduation. We want to help match companies working to increase diversity and underestimated people seeking empowering employment.
    </p>
    <p>&nbsp;</p>
    <h3 id="sponsor-levels-and-benefits">
      What are the sponsor levels and benefits?
    </h3>
    <p>
      See
      <a href="{{ url_for('render_sponsor_page') }}">our sponsorships page.</a>
    </p>
    <p>&nbsp;</p>
    <h3 id="hiring">Do sponsors get to select participants for employment?</h3>
    <p>
      Advocate-level sponsors can get involved with the training and curriculum, so they get to know participants over the span of the six months. Around the fifth month, companies and participants interview and rate each other and we do our best to align you so both sides are happy.
    </p>
    <p>&nbsp;</p>
    <h3 id="topics-in-diversity-training">
      What topics are included in the diversity and inclusion training for sponsors?
    </h3>
    <p>
      Implicit bias, privilege, allyship, empathy, inclusion vs. diversity, apologizing, tools for inclusive hiring, why policies are important,
      giving actionable feedback, anti-racism, etc.
    </p>
    <p>&nbsp;</p>
    <h3 id="tax-exempt-donations">Are my donations tax-exempt?</h3>
    <p>
      Yes, because our fiscal sponsor
      <a href="http://www.socialgoodfund.org">Social Good Fund</a> has 501(c)(3) status.
    </p>
    <p>&nbsp;</p>
    <h3 id="fiscal-sponsorship">Why do donations go to Social Good Fund?</h3>
    <p>
      We are fiscally sponsored through
      <a href="http://www.socialgoodfund.org">Social Good Fund</a>. Fiscal sponsorship is when a 501(c)(3) nonprofit organization—the “fiscal
      sponsor”—takes on a project like Techtonica, thus sharing legal and tax-exempt status. We give them a percentage of our donations and they manage our employment, donations, payroll, and taxes so we can focus on our mission. They offer the same
      services to
      <a
        href="https://www.socialgoodfund.org/fiscal-sponsorship/current-projects/"
        target="_blank" title="Social Good Fund's Fiscally-Sponsored Projects"
        >over 50 organizations</a
      >, so <a href="https://www.socialgoodfund.org/wp-content/uploads/_pda/2020/01/2018-990-1.pdf" target="_blank" title="Social Good Fund 990">their tax documents</a> reflect the information for all of those organizations combined.
    </p>
    <p>&nbsp;</p>
    <h3 id="fiscal-sponsorship">
      What is the breakdown of Techtonica’s budget?
    </h3>
    <p>Programs—38.5%</p>
    <p>Stipends—34.0%</p>
    <p>Partnership Development—19.1%</p>
    <p>Services & Fiscal Fees—4.5%</p>
    <p>Operations—3.9%</p>

    <p>&nbsp;</p>
    <h3 id="fiscal-sponsorship">What is Techtonica’s annual impact?</h3>
    <p>
      <a
        href="https://www.dropbox.com/s/1yji8ofbzngrezm/Techtonica%202017%20Annual%20Report.pdf?dl=0"
        >2017 Impact Report</a
      >
    </p>
    <p>
      <a
        href="https://www.dropbox.com/s/m3p326vamraw3o1/Techtonica%202018%20Progress%20Report.pdf?dl=0"
        >2018 Impact Report</a
      >
    </p>
    <p>
      <a
        href="https://www.dropbox.com/s/f67n0wc6rp18b9n/Techtonica%202019%20Impact%20Report.pdf?dl=0"
        >2019 Impact Report</a
      >
    </p>
    <p>
      <a
        href="https://www.dropbox.com/s/f4im5qrv82p13af/Techtonica%202020%20Impact%20Report.pdf?dl=0"
        >2020 Impact Report</a
      >
    </p>
    <p>
      <a
        href="https://www.dropbox.com/s/ssx2gt7up8q970b/Techtonica%202021%20Impact%20Report.pdf?dl=0"
        >2021 Impact Report</a
      >
    </p>
    <p>
      <a
        href="https://www.dropbox.com/s/cbgm18d34ezj1tt/Techtonica%202022%20Impact%20Report.pdf?dl=0"
        >2022 Impact Report</a
      >
    </p>
    <p>&nbsp;</p>
    <h3 id="how-to-donate">How do I donate?</h3>
    <p>
      Thank you! You can donate once or regularly
      <a href="https://techtonica.org/donate/">here</a>. Since our fiscal sponsor is <a href="http://www.socialgoodfund.org">Social Good Fund</a> (nonprofit EIN 46-1323531), all donations will be sent to them first before being distributed to us.
      Please
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLScjCF6_xzIn-Uht3MDOr1__3YpIYDCTzx80cIE0KVCsPqcYKQ/viewform"
        >send us a message</a
      >
      when you donate so that we know to inform Social Good and they can place your donation into our account.
    </p>
    <p>&nbsp;</p>
    <h3 id="other-ways-to-help">
      What else can we do besides sponsoring and hiring?
    </h3>
    <ul>
      <!-- <li>
        <a href="https://twitter.com/TechtonicaOrg/status/842485189531983872"
          >Provide space</a
        >
        for our full-time program, workshops, or events.
      </li> -->
      <li><a href="https://techtonica.wedid.it/">Make donations</a>.</li>
      <li>
        <a href="https://docs.google.com/document/d/1Fl9obaF3kdusiEb8dUW8lszzCACRbKSd5GQqwDdFirU/edit"
          class="hover-link" target="_blank" rel="noopener noreferrer">Sign up to volunteer</a> your skills to the cause.</li>
      <li>
        Spread the word via
        <a
          href="https://twitter.com/TechtonicaOrg"
          target="_blank"
          title="Twitter"
          >Twitter</a
        >,
        <a
          href="https://www.linkedin.com/company/techtonica/"
          target="_blank"
          title="LinkedIn"
          >LinkedIn</a
        >,
        <a href="https://instagram.com/techtonicaorg" target="_blank" title="Instagram">Instagram</a>, 
        <a href="https://www.facebook.com/Techtonica/"
          target="_blank"
          title="Facebook"
          >Facebook</a
        >,
        <a href="https://medium.com/techtonica/" target="_blank" title="Medium">Medium</a>, and
        <a href="https://www.youtube.com/channel/UCZHRjd_jS91oEj0ecJ0kZsg"
          target="_blank"
          title="YouTube"
          >YouTube</a
        >.
      </li>
    </ul>
    <p>&nbsp;</p>
    <h3 id="name">Where did the name 'Techtonica' come from?</h3>
    <p>
      Our founder Michelle Glauser liked the idea of Techtonica being a "tonic" or "solution" for tech and a technical solution for underestimated people in need. She also likes the "moving and shaking" that the name implies and the connection to the Bay Area. The A at the end just fits, you know?
    </p>
    <p>&nbsp;</p>
    <h3 id="contact">How do we contact you?</h3>
    <p>
      We would love to hear from you! Reach out to us through
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLScjCF6_xzIn-Uht3MDOr1__3YpIYDCTzx80cIE0KVCsPqcYKQ/viewform?usp=sf_link"
        >this form</a
      >.
    </p>
    <p>&nbsp;</p>
  </div>
</div>

{% endblock content %}
