{% extends "base.html" %} {% block title %} Techtonica Full-Time Program {%
endblock title %} {% block content %}
<div class="main-content">
  <div class="program-header" title="Full-Time Program">
    <div class="main-header__text blue-background">
      <h1 class="main-header__header">Full-Time Program</h1>
      <p>
        Six months of free, intensive, hands-on software engineering learning,
        followed by six months of remote job placement or job search support for women and
        non-binary adults seeking economic empowerment.
      </p>
      <h2>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfUdyIAfcU5KSqtYH5J5iPRgu-yycHdebnUKygQLEv-m7oVMw/viewform"
          class="sponsor" id="orange-button" target="_blank" rel="noopener noreferrer">Fill out our interest form to be
          notified about next cohort</a>
      </h2>
    </div>
  </div>
  <div class="row row__center what-we-do" id="whatwedo">
    <div class="column">
      <h1 class="blue-h1">The Program</h1>
      <p class="justify">
        Techtonica's full-time software engineering training program is a free,
        virtual, year-long program that provides the opportunity for
        women and non-binary adults seeking economic empowerment to learn technical skills in
        a safe, inclusive space and start their first jobs in tech. We select
        participants who are independent but good at collaborating, motivated to
        succeed, committed to learning to code, flexible, curious, open-minded,
        and excited for long-term careers in the field, have a good attitude and
        a growth mindset, can calmly manage extended periods of frustration
        (troubleshooting is something you'll face forever in tech!), and want to
        pay it forward.
      </p>
      <p class="justify">
        We aim to empower those most underrepresented in tech and to help tech
        become more diverse and inclusive. To that end, we have been very intentional
        about creating a safe community, building a network, and providing personalized
        support, which means open communication is absolutely necessary. If a special
        situation comes up, we need you to let us know so we can sympathize and
        brainstorm solutions with you. We've had participants lose housing, have
        their laptop stolen, become pregnant, face abuse, and more, and if we don't
        know about it, we can't help.
      </p>
      <p class="justify">
        88% of our graduates so far are BIPOC, 21% have a
        disability, 10% identify outside the gender binary, and 1% are veterans.
        Our cohorts have had between 8 and 18 participants so far, and income increase
        is usually 3-5x. The participant-to-technical-program-staff-member ratio has
        historically been between 5:1 and 9:1. We appreciate an average of 98 hours
        of volunteer support per participant.
      </p>
      <div class="blue-background">
        <canvas id="myChart" width="700" height="350"></canvas>
      </div>
      <p class="justify">
        The program usually runs Monday through Friday, 8:00 AM to 5:00 PM (Pacific Time)
        for six months (from January to June and July to December). The whole program is
        a year long, starting with training at Techtonica, and followed by six months of
        remote job placement or job search and community support. After the first trial month of
        full-time training, participants who work the hardest and meet and exceed
        expectations will be invited to continue for the next five months of training with
        stipends based upon need and funding available. We still recommend you
        save up as much as possible as stipends may not cover all your costs, and we can't
        provide medical insurance, so we recommend you google programs in your area
        (like MediCal in California). We also can't help with visas, student or otherwise.
      </p>
      <p class="justify">
        For participants with ADHD, we can provide accommodations <a target="_blank"
          href="https://github.com/Techtonica/curriculum/blob/main/underrepresented-in-tech-resources/resources-adhd.md">and
          resources.</a> We encourage open communication around what works best for you.
      </p>
      <p class="justify">
        Note: Techtonica is not set up to provide wraparound or crisis services (try
        [the Crisis Text Line](https://www.crisistextline.org/)) such as for mental or physical health,
        housing, finding childcare, escaping abuse, etc. We encourage you to google services in your area.
        Threats of violence against yourself or others will result in us ceasing all contact
        with you and possibly initiating a welfare check.
      </p>
      <p class="justify">
        Techtonica participants will learn to do full-stack web development
        using JavaScript. Upon successful completion of the program, some
        participants will be placed with available partner companies via a
        two-way interview and rating system. We aim to accept 12-20 participants to
        each cohort. If you are placed with a company and you both meet the requirements,
        you may earn an OJT ("On-the-Job Training") certificate from the
        State of California's Division of Apprenticeship Standards.
      </p>
      <p class="justify">
        What bootcamps and Techtonica have in common is the fact that they are
        intensive training. However, bootcamps can be pretty passive classroom
        learning with students and they cost between $15,000 and $30,000.
        Techtonica aims to be more like the workplace to make the transition
        into the industry better—instead of having an instructor constantly
        guiding you (which you won't have in any software engineering job), you
        are given a general schedule of topics and assignments (see
        <a title="Curriculum" target="_blank" href="https://github.com/techtonica/curriculum">our curriculum repo</a>
        for an idea of the resources provided) and you're expected to figure out
        what to do on your own or in collaboration with volunteers, mentors,
        tech groups, other participants, and Techtonica staff. Because our
        resources are open-source, they are continuously being improved and you
        can even make improvements as you work through them. In the best jobs,
        there are regular check-ins with very understanding managers and mentors
        provide regular support, but that is not always the case. Techtonica’s
        program is as hands-on and project-based as possible to best prepare you
        for work in tech. You'll also be expected to speak and present in front
        of people often—a very useful skill to have for a successful career.
      </p>
      <p class="justify">
        The schedule includes knowledge checks to give you a reason to review what
        you've learned, to provide you with feedback on where you need to
        improve, and to prepare you for long-term success in the workplace. As
        we consider your progress, we take everything you do in the program into
        account (not just assessments)—if you're on time and present, if you're
        meeting deadlines, if you're completing assignments, if you're following
        process, if you're communicating about your needs, if you're
        consistently meeting with your mentors, if you're building your network,
        if you're collaborating well, if you're solving problems, if you're
        dealing with the stress of an intensive program well, if you're lifting
        others with you, if you're reading instructions, how your mentor feels
        you're doing, how you indicate you're doing in surveys and one-on-ones,
        etc. If we see any indications you’re struggling in one area, we look
        more closely at everything else and we work out a plan for improvement.
        Consistent problems and lack of improvement could indicate someone’s not
        ready to continue the program. The board discusses such cases to decide
        what should be done. Because of the high expectations of our program and
        partners, not everyone completes the program.
      </p>
      <p class="justify">
        Intensive programs, career transitions, and learning and working with
        technical concepts—these are all stressful, difficult things. If we
        accept you to our program, we believe in your ability to step up to the
        challenge and handle stress in a healthy way, and you should believe in
        that ability and look at every new step as something preparing you for
        tech. In many ways, tech will be much harder than this program and this
        is your chance to work out how you’re going to react when faced with
        bigger challenges. Are you able to train yourself to calmly accept
        challenges, to open your minds to growth, to manage your stress levels
        in a healthy way, and to learn whatever’s needed to succeed? Do you contribute to a safe, inclusive environment?
      </p>
      <p class="justify">Also, check out
        <a href="https://twitter.com/TechtonicaOrg/status/1558191593861029888">this video</a>
        about a day in the life of a Techtonica participant, our social media,
        <a href="{{ url_for('render_testimonials_page') }}">our testimonials page</a>,
        and the info session below:
      </p>
      <br />
      <iframe width="560" height="315" src="https://www.youtube.com/embed/oMUlVN35UfQ" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="column">
      <img src="{{ url_for('static', filename='img/practice-interviewing-at-Symantec-min.jpg') }}"
        alt="Three women talk technical interviewing at Symantec." class="full-width-img" />

      <img src="{{ url_for('static', filename='img/two-way-interview-min.jpg') }}"
        alt="Two people from a company interviewing a participant." class="full-width-img" />
      <img src="{{ url_for('static', filename='img/coding-on-a-whiteboard-min.jpg') }}"
        alt="Black woman coding on a whiteboard." class="full-width-img" />
      <img src="{{ url_for('static', filename='img/four-smiling-people-at-laptops.jpg') }}"
        alt="Four women sitting at laptops and smiling." class="full-width-img" />
    </div>
  </div>
  <div class="row row__center blue-background why-why" id="why">
    <div class="column">
      <img src="{{ url_for('static', filename='img/interview-practice-min.jpg') }}"
        alt="Two Asian women practicing technical interviewing." class="full-width-img" />
      <img src="{{ url_for('static', filename='img/whiteboarding-practice-min.jpg') }}"
        alt="Two people practicing technical whiteboarding." class="full-width-img" />
      <img src="{{ url_for('static', filename='img/final-project-presentation-min.jpg') }}"
        alt="Black woman presenting her software project." class="full-width-img" />
    </div>
    <div class="column">
      <h1>Eligibility</h1>
      <p class="justify">
        You are eligible to apply for Techtonica’s full-time program if you:
      </p>
      <ul>
        <li>are a woman (cis OR trans) or non-binary adult. We especially encourage Latinx, Black, and non-binary folks
          to apply.</li>
        <li>
          are digitally literate, meaning you are very familiar and good with
          computers and the internet, can type 50+ WPM with 80%+ accuracy, and you
          know how to use a mouse/trackpad, browsers, and email
        </li>
        <li>
          at the very least graduated from high school or received your GED
        </li>
        <li>completed the JavaScript pre-req (see the Application Process section below)</li>
        <li>can commit to always being present and on time and prepared</li>
        <li>are willing to be part of the program during Pacific Time hours</li>
        <li>are dedicated to building a long-term career in tech and contributing to a diverse, inclusive, equitable
          tech environment</li>
        <li>have less than the amount specified in your location and situation on the <a
            href="https://livingwage.mit.edu/" target="_blank" rel="noopener noreferrer">MIT Living Wage Calculator</a>
          in annual household income</li>
        <li>
          have housing that will be stable for the entirety of the six months of
          full-time training and the following six months
        </li>
        <li>
          are willing to live in the U.S. if required by placement company
        </li>
        <li>have a U.S. bank account</li>
        <li>have <a href="https://www.uscis.gov/i-9-central/form-i-9-acceptable-documents" target="_blank"
            rel="noopener noreferrer">the proof that you are legally employable in the United States</a>
          at the time of application (we can't help with visas)</li>
        <li>agree to work at an assigned partner company if we match you upon successful
          completion of six months of training</li>
        <li>are willing to appear in Techtonica's media and pitch yourself to
          Techtonica's partners</li>
        <li>have not attended a full-time coding bootcamp, completed a C.S.
          degree, or worked as a software engineer in the last six years
        </li>
        <li>can have high-speed internet set up by the start of the program</li>
        <li>agree to abide by
          <a href="{{ url_for('render_conduct_page') }}" title="Code of Conduct" target="_blank"
            rel="noopener noreferrer">Techtonica's Code of Conduct</a>,
          <a href="https://docs.google.com/document/d/1bPp3wT4YUo2PuNSYLMwIW9TkU6trd7NSuR9ieHv9MME/edit?usp=sharing"
            target="_blank" rel="noopener noreferrer">Participant Handbook</a>, and
          <a href="https://docs.google.com/document/d/1ZU1ZdWp3S0udb6kuEdRA3yRp3lngM4FSnQZO-_GHyls/edit?usp=sharing"
            target="_blank" rel="noopener noreferrer">Participant Agreement</a>
        </li>
        <li>haven't already applied three times</li>
        <li>(for white applicants) are willing to do personal anti-racism work</li>
      </ul>
      <p class="justify">If you don't get in the first time, you can apply two more times for a maximum of three times,
        and they do not have to be consecutive application rounds. If you have any special circumstances that make you
        question your eligibility for Techtonica’s
        program, please feel free to contact us and we will be happy to discuss with you. If you are interested in
        Techtonica but cannot participate in the next cohort, please fill out our
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfUdyIAfcU5KSqtYH5J5iPRgu-yycHdebnUKygQLEv-m7oVMw/viewform"
          target="_blank" rel="noopener noreferrer">interest form</a> and we will alert you when applications open.
      </p>
      <p class="justify">You are probably not a good fit if you:</p>
      <ul>
        <li>would rather be passively trained than learn through discovery</li>
        <li>prefer always being told exactly what to do</li>
        <li>won't prioritize your participation in the program</li>
        <li>have unaddressed mental or physical health issues, insecure housing, no internet or
          can't manage the stress of quickly learning a whole new career in a
          healthy way
        </li>
        <li>don't like when plans change</li>
        <li>can't advocate for yourself</li>
        <li>don't like details</li>
        <li>don't get along with everyone</li>
        <li>don't care about diversity, equity, inclusion, and belonging</li>
        <li>are quickly frustrated every time you get stuck on a problem</li>
        <li>
          don't feel comfortable asking questions until you understand
          complicated concepts
        </li>
        <li>
          can't lay aside learning everything about something in place of just
          learning enough to make progress on your work
        </li>
        <li>take longer than most people to learn and apply new concepts</li>
        <li>aren't sure if you want to be a software engineer</li>
        <li>can’t give, receive or implement constructive feedback with an open mind</li>
      </ul>
    </div>
  </div>
  <div class="row row__baseline how-it-works" id="howitworks">
    <h1 class="blue-h1">Application Process</h1>
    <p class="justify">
      For the January to June ("H1") cohort, the application forms open, emails to
      interested folks go out, and forms close again around September.
      For the July to December ("H2") cohort, the application forms open,
      emails to interested folks go out, and forms close again around March.
      The application process continues for about five weeks after applications
      close, with candidates eliminated at each step of the process.
    </p>
    <div class="row">
      <div class="column column-med centered">
        <h3>0. Completion of a JavaScript Pre-Req Course</h3>
        <p>
          Log in to
          <a href="https://www.freecodecamp.org/learn/" target="blank" ref="noopener noreferrer">freeCodeCamp</a>
          and expand the "JavaScript Algorithms and Data Structures
          Certification" section on the /learn page. Complete the first 113
          lessons about Basic JavaScript. This should take 4-12 hours. Be ready
          to upload a screenshot of the completed course checklist in the application
          form.
        </p>
      </div>
      <div class="column column-med centered">
        <h3>1. Two application forms</h3>
        <p>
          Thoroughly fill out and submit both the short first application form
          (this is different from the interest form that is linked on this page
          before applications are open) and the longer second application form
          (linked to upon submitting the first form) by the deadline. The second
          form will take some time, so don't start too late!
        </p>
      </div>
      <div class="column column-med centered">
        <h3>
          2. Two invite-only digital literacy testing and JavaScript events
        </h3>
        <p>
          Participate in two of the application workshops offered (details will
          be sent to selected applicants).
        </p>
      </div>
    </div>
    <div class="row">
      <div class="column column-med centered">
        <h3>3. Code challenges</h3>
        <p>Complete a JavaScript code challenge.</p>
      </div>
      <div class="column column-med centered">
        <h3>4. Staff interviews</h3>
        <p>Participate in staff interviews. This will include pair programming, questions about you and your
          application, and questions from you.</p>
      </div>
      <div class="column column-med centered">
        <h3>5. Board interviews</h3>
        <p>Participate in board interviews.</p>
      </div>
    </div>
    <div class="row">
      <div class="column column-med centered">
        <h2>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfUdyIAfcU5KSqtYH5J5iPRgu-yycHdebnUKygQLEv-m7oVMw/viewform"
            class="sponsor" id="orange-button" target="_blank" rel="noopener noreferrer">Fill out our interest form to
            be notified about next cohort</a>
        </h2>
        <p class="column column-med centered">
          <a target="_blank" href="http://techtonica.eventbrite.com/">Sign up to join our events (such as our pre-req
            study groups)
            here</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row row__center blue-background howtohelp">
    <div class="column how-to-help" id="howtohelp">
      <h1>What We Look For</h1>
      <p class="justify">
        This program is very competitive; we select and graduate participants
        who continuously prove that they are:
      </p>

      <ul>
        <li>self-motivated</li>
        <li>resilient</li>
        <li>logical</li>
        <li>humble</li>
        <li>respectful</li>
        <li>independent</li>
        <li>open-minded</li>
        <li>flexible</li>
        <li>persistent</li>
        <li>optimistic</li>
        <li>punctual</li>
        <li>committed</li>
        <li>responsive to feedback</li>
        <li>willing to ask questions</li>
        <li>able to set and reach goals</li>
        <li>able to deal with stress well</li>
        <li>inclusive and able and willing to work with anyone</li>
        <li>proud of owning their learning</li>
        <li>always curious and ready to learn and improve</li>
        <li>transparent and compassionate communicators</li>
        <li>hard-working and ready to make sacrifices</li>
        <li>dedicated to seeing things through to the end</li>
      </ul>
    </div>
    <div class="column">
      <img src="{{ url_for('static', filename='img/presenting-at-event-min.jpg') }}"
        alt="Person giving a talk at an event" class="full-width-img" />
      <img src="{{ url_for('static', filename='img/person-at-desk-with-monitor-and-laptop-min.jpg') }}"
        alt="Latina woman coding at a desk with monitor and laptop." class="full-width-img" />
    </div>
  </div>
</div>
<div class="row row__baseline how-it-works" id="howitworks">
  <h1 class="blue-h1">How to Prepare</h1>
  <div class="row">
    <div class="column column-med centered">
      <h3>
        0. Learn as much JavaScript ahead of time as possible—<a target="_blank"
          href="http://freecodecamp.org">freeCodeCamp</a>
        and <a>Codecademy</a> are great for this.
      </h3>
    </div>
    <div class="column column-med centered">
      <h3>
        1. Attend coding meetups, like the
        <a target="_blank" href="https://www.meetup.com/Women-Who-Code-SF/">Women Who Code</a>
        or
        <a target="_blank" href="https://www.eventbrite.com/o/techtonica-11297022451">our study groups</a>.
      </h3>
    </div>
    <div class="column column-med centered">
      <h3>2. Develop your typing and Mac keyboard shortcut skills.</h3>
    </div>
  </div>
  <div class="row">
    <div class="column column-med centered">
      <h3>
        3. Learn about different tech companies and long-term pathways in
        tech to start formulating an idea of your career goals.
      </h3>
    </div>
    <div class="column column-med centered">
      <h3>4. Practice learning and applying concepts quickly.</h3>
    </div>
    <div class="column column-med centered">
      <h3>
        5. Practice talking out loud about your thought process and
        collaborating with others.
      </h3>
    </div>
    <div class="row">
      <div class="column column-med centered">
        <h3>
          6. Practice your English Proficiency Levels. Here is a guide to understand your <a target="_blank"
            href="https://magoosh.com/english-speaking/english-proficiency-levels-a-guide-to-determining-your-level/">English
            Proficiency Levels</a>
        </h3>
      </div>
      <div class="column column-med centered">
        <h3>
          7. If you need a reasonable accommodation for any part of our process, <a target="_blank"
            href="https://github.com/Techtonica/curriculum/blob/main/underrepresented-in-tech-resources/resources-adhd.md">and
            incluiding ADHD,</a> we encourage open communication around what works best for you.
        </h3>
      </div>
    </div>
  </div>
</div>
<div class="row row__baseline blue-background">
  <h1>Acceptance & Onboarding</h1>
  <div class="row">
    <div class="column column-med centered">
      <h3>0. Assess financial need with Techtonica staff member</h3>
    </div>
    <div class="column column-med centered">
      <h3>1. Review official docs and return signed agreement</h3>
    </div>
    <div class="column column-med centered">
      <h3>
        2. Attend Onboarding Day usually about 5 weeks before the official start of the program—
        pictures, mentor matching, laptop setup, pitch practice, pre-work, etc.
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="column column-med centered">
      <h3>3. Join weekly pre-start study groups</h3>
    </div>
    <div class="column column-med centered">
      <h3>4. Complete pre-start assignments (about 10-20 hours per week)</h3>
    </div>
    <div class="column column-med centered">
      <h3>
        5. Hit the ground running on day 1, usually in mid-January or
        mid-July!
      </h3>
    </div>
  </div>
</div>
{% endblock content %}
</div>
