{% extends "base.html" %}

{% block title %}
  Techtonica: Bridging the Tech Gap
{% endblock title %}

{% block content %}
  <div class="main-content">
      <div class="main-header">
        <div class="main-header__text blue-background">
          <h1 class="main-header__header">#BridgeTheTechGap</h1>
          <p>We partner with tech companies to offer free tech training and job placement to local women and non-binary femme adults in need. Our students have been selected—we just need you!</p>
          <h2><a href="{{ url_for('render_sponsor_page') }}" class="sponsor" id="orange-button" target="_blank">Sponsor a Techtonica student today!</a></h2>
        </div>
      </div>
      <div class="row row__center what-we-do" id="whatwedo">
        <div class="column">
          <h1 class="blue-h1">What We Do</h1>
          <p class="justify">We're like a coding bootcamp, but our program covers more than just web development, and it's longer, free to students, and for local women and non-binary femme adults in need. Our program also has job placement at the end, and criteria, curriculum, and mentoring support from sponsoring companies. (See what else sets us apart in <a href="{{ url_for('render_faqs_page') }}">our FAQs</a>.)</p>
        </div>
        <div class="column">
          <img src="{{ url_for('static', filename='img/michelle-teaching-small-min.jpg') }}" alt="Two women sit at a computer, working together on some code." class="full-width-img">
        </div>
      </div>
      <div class="row row__center blue-background why-why" id="why">
        <div class="column">
          <img src="{{ url_for('static', filename='img/Tenderloin.jpg') }}" alt="Street, sidewalks, and building in the Tenderloin neighborhood of San Francisco." class="full-width-img">
        </div>
        <div class="column">
          <h1>Why</h1>
          <p class="justify">Tech companies in the Bay Area are causing displacement and increasing income disparity. They also need to build more diverse technical teams.</p>
          <p class="justify">We asked, "What if we could help companies build much-needed diverse technical teams by having them sponsor the training for underrepresented, underprivileged locals who need jobs the most?"</p>
        </div>
      </div>
      <div class="row row__baseline how-it-works" id="howitworks">
        <h1 class="blue-h1">How it Works</h1>
        <div class="row">
            <div class="column column-med centered">
              <img src="{{ url_for('static', filename='img/lightbulb.png') }}" alt="" aria-hidden="true">
              <h3>Vetting</h3>
              <p>Techtonica conducts free intro workshops with local organizations and labs.</p> <p>We invite the best students to apply for the full-time program.</p>
            </div>
            <div class="column column-med centered">
              <img src="{{ url_for('static', filename='img/conversation.png') }}" alt="" aria-hidden="true">
              <h3>Partner Companies</h3>
              <p>Partner companies sponsor the training and provide mentors.</p>
              <p>They have a say in the curriculum and receive inclusion training in preparation for employing one of their top-rated students at the end of the program.</p>
              <p>The sponsorship is tax-deductible.</p>
            </div>
            <div class="column column-med centered">
              <img src="{{ url_for('static', filename='img/chalkboard.jpg') }}" alt="" aria-hidden="true">
              <h3>Training</h3>
              <p>Accepted students receive living stipends, laptops, childcare if needed, and six months of full-time training that includes lectures, projects, open-source contributions, and experienced guidance.</p>
              <p>Upon completion of the program, students are placed with partner companies.</p>
            </div>
        </div>
      </div>
      <div class="row row__center blue-background howtohelp">
        <div class="column how-to-help" id="howtohelp">
          <h1>How to Help</h1>
          <p class="justify">
            <ul>
              <li>Encourage your company to <a href="{{ url_for('render_faqs_page') }}">sponsor and hire students</a>.</li>
<!--               <li>Encourage your company to <a href="https://goo.gl/forms/Q88hao4ApxVFl76N2" class="hover-link" target="_blank">sponsor and hire students</a>.</li> -->
              <li><a href="https://goo.gl/forms/jgD3BWCEg5RN8XwN2" class="hover-link" target="_blank">Sign up to volunteer</a>.</li>
              <li><a href="https://twitter.com/TechtonicaOrg/status/842485189531983872">Host the first class in your space for a month</a>.</li>
              <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=JK79ZYMRLEWDA" class="hover-link" target="_blank">Donate</a> (donations are tax-deductible and you can sign up to donate monthly).</li>
            </ul>
          </p>
          <p class="justify">To receive updates, please <a id="open-popup" class="hover-link newsletter pad-lv3 pad-tb0" href="#" onclick="openPopupForm(); return false;">sign up for our newsletter</a>.</p>
        </div>
        <div class="column">
          <img src="{{ url_for('static', filename='img/listening-volunteers.png') }}" alt="Twenty-five Techtonica attendees and volunteers standing together after a workshop." class="full-width-img">
        </div>
      </div>
      <div class="row row__center our-supporters" id="supporters">
          <h1 class="blue-h1">Thank you for your support!</h1>
          <div class="row">
            <div class="column centered">
              <a href="http://sfpl.org/" target="_blank">
                  <img src="{{ url_for('static', filename='img/sfpl-logo.jpg') }}"
                       alt="San Francisco Public Library"
                       class="twenty-percent-width min-width-250 margin-25">
              </a>
              <a href="https://blog.rackspace.com/the-rackspace-startup-program" target="_blank">
                  <img src="{{ url_for('static', filename='img/rackspace-startups-logo.png') }}"
                       alt="Rackspace Startups"
                       class="twenty-percent-width min-width-250 margin-25">
              </a>
              <a href="https://www.stanthonysf.org/" target="_blank">
                  <img src="{{ url_for('static', filename='img/st-anthonys.jpg') }}"
                       alt="St. Anthony's: Hope Served Daily"
                       class="twenty-percent-width min-width-250 margin-25">
              </a>
              <a href="https://www.zendesk.com/" target="_blank">
                  <img src="{{ url_for('static', filename='img/zendesk-logo.jpg') }}"
                       alt="Zendesk"
                       class="twenty-percent-width min-width-250 margin-25">
              </a>
              <a href="https://www.python.org/psf/" target="_blank">
                  <img src="{{ url_for('static', filename='img/python-software-foundation-logo.jpg') }}"
                       alt="Python Software Foundation"
                       class="twenty-percent-width min-width-250 margin-25">
              </a>
              <a href="http://www.kaporcenter.org/" target="_blank">
                  <img src="{{ url_for('static', filename='img/kapor-center-for-social-impact-logo.jpg') }}"
                       alt="Kapor Center for Social Impact"
                       class="twenty-percent-width min-width-250 margin-25">
              </a>
              <a href="https://www.scienceexchange.com/" target="_blank">
                  <img src="{{ url_for('static', filename='img/scienceexchange_logo.png') }}"
                       alt="Science Exchange"
                       class="twenty-percent-width min-width-250 margin-25">
              </a>
              <a href="https://www.beezwax.net" target="_blank">
                  <img src="{{ url_for('static', filename='img/beezwax-logo.png')}}"
                       alt="Beezwax"
                       class="twenty-percent-width min-width-250 margin-25">
              </a>
              <a href="http://sfpl.org/?pg=0200006301" target="_blank">
                  <img src="{{ url_for('static', filename='img/bridge-at-main.jpg') }}"
                       alt="The Bridge at Main: Learning resources, classes, and people who can help."
                       class="twenty-percent-width min-width-250 margin-25">
              </a>
              <a href="https://stripe.com/" target="_blank">
                  <img src="{{ url_for('static', filename='img/stripe.png') }}"
                       alt="Stripe"
                       class="twenty-percent-width min-width-250 margin-25">
              </a>
              <a href="https://github.com/gsong" target="_blank">
                <img src="{{ url_for('static', filename='img/George-Song.png') }}" alt="George Song" class="twenty-percent-width max-size-100px margin-25">
              </a>
              <a href="https://twitter.com/scott_triglia" target="_blank">
                <img src="{{ url_for('static', filename='img/Scott-Triglia.jpg') }}" alt="Scott Triglia" class="twenty-percent-width max-size-100px margin-25">
              </a>
              <a href="https://www.linkedin.com/in/vwfchan/" target="_blank">
                <img src="{{ url_for('static', filename='img/Vivien-Chan.jpg') }}" alt="Vivien Chan" class="twenty-percent-width max-size-100px margin-25">
              </a>
              <a href="https://twitter.com/avh4" target="_blank">
                <img src="{{ url_for('static', filename='img/Aaron-VonderHaar.jpg') }}" alt="Aaron VonderHaar" class="twenty-percent-width max-size-100px margin-25">
              </a>
              <a href="https://www.linkedin.com/in/ariannawillett/" target="_blank">
                <img src="{{ url_for('static', filename='img/Arianna-Willett.jpg') }}" alt="Arianna Willett" class="twenty-percent-width max-size-100px margin-25">
              </a>

            </div>
          </div>
        </div>
      </div>
{% endblock content %}