{% extends "base.html" %}

{% block title %}
  Techtonica: Bridging the Tech Gap
{% endblock title %}

{% block content %}
  <div class="main-content">
      <div class="main-header">
        <div class="main-header__text blue-background">
          <h1 class="main-header__header">#BridgeTheTechGap</h1>
          <p>We offer six months of full-time training with living stipends and laptops to Bay Area women and non-binary adults with low incomes, then place graduates with sponsor companies for full-time work (internships and contracting are fine). We're seeking sponsors now!</p>
          <h2><a href="{{ url_for('render_sponsor_page') }}" class="sponsor" id="orange-button" target="_blank">Become a sponsor!</a></h2>
        </div>
      </div>
      <div class="row row__center what-we-do" id="whatwedo">
        <div class="column">
          <h1 class="blue-h1">Our Apprentices</h1>
          <p class="justify">Is your company hiring engineers? Do you care about your social footprint and diversity? We are seeking sponsors for our apprentices, who make it through a rigorous, seven-step application process that includes multiple workshops, interviews, and a code challenge. By the time each cohort graduates and is ready for placement on your team, they will have done more than 1,000 hours of collaborative, project-based learning developed by industry professionals. To secure one of the apprentices for your team, please <a href="{{ url_for('render_sponsor_page') }}">check out more details here</a> and get in touch!
        </div>
        <div class="column">
          <a href="{{ url_for('render_sponsor_page') }}">
            <img src="{{ url_for('static', filename='img/apprentices-2018-min.jpg') }}" alt="2018 apprenticeship cohort" class="full-width-img">
          </a>
        </div>
      </div>
      <div class="row row__center blue-background why-why" id="why">
        <div class="column">
          <img src="{{ url_for('static', filename='img/Tenderloin.jpg') }}" alt="Street, sidewalks, and building in the Tenderloin neighborhood of San Francisco." class="full-width-img">
        </div>
        <div class="column">
          <h1>Why</h1>
          <p class="justify">The tech industry in the Bay Area is causing displacement and increasing income disparity. The industry also needs to build more diverse technical teams.</p>
          <p class="justify">We asked, "What if we could help tech companies build much-needed diverse technical teams by having them sponsor training for and hire underrepresented, underprivileged locals who need jobs the most?"</p>
        </div>
      </div>
      <div class="row row__baseline how-it-works" id="howitworks">
        <h1 class="blue-h1">How it Works</h1>
        <div class="row">
            <div class="column column-med centered">
              <img src="{{ url_for('static', filename='img/lightbulb.png') }}" alt="" aria-hidden="true">
              <h3>Vetting</h3>
              <p>Techtonica conducts free intro workshops with local organizations and labs.</p> <p>We invite the most resilient, independent, committed, positive, collaborative, curious, calm participants to apply to be full-time apprentices.</p>
            </div>
            <div class="column column-med centered">
              <img src="{{ url_for('static', filename='img/conversation.png') }}" alt="" aria-hidden="true">
              <h3>Sponsor Companies</h3>
              <p>Companies that have sponsored at the Advocate Level <a href="{{ url_for('render_sponsor_page') }}">cover the apprentices' pre-placement training</a> and provide mentors.</p>
              <p>They have a say in the curriculum and receive inclusion training in preparation for employing their top-rated apprentices at the end of the program.</p>
            </div>
            <div class="column column-med centered">
              <img src="{{ url_for('static', filename='img/chalkboard.jpg') }}" alt="" aria-hidden="true">
              <h3>Apprenticeship</h3>
              <p>Accepted apprentices receive living stipends, laptops, and more than 950 hours of full-time, project-based, collaborative training.</p>
              <p>Upon completion of the program, apprentices are placed with hiring partners.</p>
            </div>
        </div>
      </div>
      <div class="row row__center blue-background">
        <div class="column centered">
          <div style="width:995px; text-align:center;" ><iframe  src="https://www.eventbrite.com/calendar-widget?eid=48510814151" frameborder="0" height="601" width="601" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:601px; text-align:center;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/"></a></div></div>
        </div>
<!--         <div class="column column-med centered">
          
        </div>
        <div class="column column-med centered">
          
        </div> -->
      </div>
      <div class="row row__center our-supporters" id="supporters">
          <h1 class="blue-h1">Thank you for your support!</h1>
          <div class="row">
            <div class="column centered">
              <a href="http://sfpl.org/" target="_blank">
                <img src="{{ url_for('static', filename='img/sfpl-logo.jpg') }}"
                  alt="San Francisco Public Library logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="https://blog.rackspace.com/the-rackspace-startup-program" target="_blank">
                <img src="{{ url_for('static', filename='img/rackspace-startups-logo.png') }}"
                  alt="Rackspace Startups logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="https://www.stanthonysf.org/" target="_blank">
                <img src="{{ url_for('static', filename='img/st-anthonys.jpg') }}"
                  alt="St. Anthony Foundation logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="https://www.zendesk.com/" target="_blank">
                <img src="{{ url_for('static', filename='img/zendesk-logo-min.png') }}"
                  alt="Zendesk logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="https://www.python.org/psf/" target="_blank">
                <img src="{{ url_for('static', filename='img/python-software-foundation-logo.jpg') }}"
                  alt="Python Software Foundation logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="http://www.kaporcenter.org/" target="_blank">
                <img src="{{ url_for('static', filename='img/kapor-center-for-social-impact-logo.jpg') }}"
                  alt="Kapor Center for Social Impact logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="https://www.scienceexchange.com/" target="_blank">
                <img src="{{ url_for('static', filename='img/scienceexchange_logo.png') }}"
                  alt="Science Exchange logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="https://www.beezwax.net" target="_blank">
                <img src="{{ url_for('static', filename='img/beezwax-logo.png')}}"
                  alt="Beezwax logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="http://sfpl.org/?pg=0200006301" target="_blank">
                <img src="{{ url_for('static', filename='img/bridge-at-main.jpg') }}"
                  alt="The Bridge at Main: Learning resources, classes, and people who can help."
                  class="twenty-percent-width margin-25">
              </a>
              <a href="https://stripe.com/" target="_blank">
                <img src="{{ url_for('static', filename='img/stripe.png') }}"
                  alt="Stripe logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="https://pantheon.io/" target="_blank">
                  <img src="{{ url_for('static', filename='img/pantheon-logo-min.jpg') }}"
                  alt="Pantheon.io logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="https://redfin.com" target="_blank">
                <img src="{{ url_for('static', filename='img/redfin-logo.png') }}"
                  alt="Redfin logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="https://exygy.com/" target="_blank">
                <img src="{{ url_for('static', filename='img/exygy-logo-min.jpg') }}"
                  alt="Exygy logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="https://www.cloverhealth.com/" target="_blank">
                <img src="{{ url_for('static', filename='img/clover-health-logo-min.png') }}"
                  alt="Clover Health logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="https://worldwidewomen.co/" target="_blank">
                <img src="{{ url_for('static', filename='img/world-wide-women-min.png') }}"
                  alt="WorldWideWomen logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="https://www.moo.com/us/" target="_blank">
                <img src="{{ url_for('static', filename='img/moo-logo-min.png') }}"
                  alt="Moo logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="https://www.quantcast.com" target="_blank">
                <img src="{{ url_for('static', filename='img/quantcast-logo-min.png') }}"
                  alt="Quantcast logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="https://www.ancestry.com" target="_blank">
                <img src="{{ url_for('static', filename='img/ancestry-logo-min.png') }}"
                  alt="Ancestry logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="https://www.wikimedia.org/" target="_blank">
                <img src="{{ url_for('static', filename='img/wikimedia-foundation-logo-min.png') }}"
                  alt="Wikimedia Foundation logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="https://github.com/" target="_blank">
                <img src="{{ url_for('static', filename='img/github-logo-min.png') }}"
                  alt="GitHub logo"
                  class="twenty-percent-width margin-25">
              </a>
              <a href="https://www.hugeinc.com/" target="_blank">
                <img src="{{ url_for('static', filename='img/huge-logo-min.png') }}"
                  alt="Huge logo"
                  class="twenty-percent-width margin-25">
              </a>    
              <a href="https://mixpanel.com/" target="_blank">
                <img src="{{ url_for('static', filename='img/mixpanel-logo-min.png') }}"
                  alt="Mixpanel logo"
                  class="twenty-percent-width margin-25">
              </a>   
              <a href="https://www.rallyhealth.com/" target="_blank">
                <img src="{{ url_for('static', filename='img/rally-health-logo-min.png') }}"
                  alt="Rally Health logo"
                  class="twenty-percent-width margin-25">
              </a>
            </div>
          </div>
          <div class="row">       
            <div class="column centered">     
              <a href="https://github.com/gsong" target="_blank">
                <img src="{{ url_for('static', filename='img/George-Song.png') }}"
                  alt="George Song"
                  class="ten-percent-width margin-25">
              </a>            
              <a href="https://twitter.com/scott_triglia" target="_blank">
                <img src="{{ url_for('static', filename='img/Scott-Triglia.jpg') }}"
                alt="Scott Triglia"
                class="ten-percent-width margin-25">
              </a>
              <a href="https://www.linkedin.com/in/vwfchan/" target="_blank">
                <img src="{{ url_for('static', filename='img/Vivien-Chan.jpg') }}"
                  alt="Vivien Chan"
                  class="ten-percent-width margin-25">
              </a>
              <a href="https://twitter.com/avh4" target="_blank">
                <img src="{{ url_for('static', filename='img/Aaron-VonderHaar-min.jpg') }}"
                  alt="Aaron VonderHaar"
                  class="ten-percent-width margin-25">
              </a>
              <a href="https://www.linkedin.com/in/ariannawillett/" target="_blank">
                <img src="{{ url_for('static', filename='img/Arianna-Willett-min.jpg') }}"
                  alt="Arianna Willett"
                  class="ten-percent-width margin-25">
              </a>
              <a href="https://www.linkedin.com/in/bnakamura/" target="_blank">
                <img src="{{ url_for('static', filename='img/Beth-Nakamura-min.jpg') }}"
                  alt="Beth Nakamura"
                  class="ten-percent-width margin-25">
              </a>
              <a href="https://twitter.com/sharonw" target="_blank">
                <img src="{{ url_for('static', filename='img/Sharon-Wong-min.jpg') }}"
                  alt="Sharon Wong"
                  class="ten-percent-width margin-25">
              </a>
              <a href="https://twitter.com/internetross" target="_blank">
                <img src="{{ url_for('static', filename='img/Ross-Chapman-min.jpg') }}"
                  alt="Ross Chapman"
                  class="ten-percent-width margin-25">
              </a>
            </div>
          </div>
        </div>
        <div class="row row__center blue-background a-word-from-supporters" id="a-word">
          <h2 id="quotes">“[The participants] were so impressive. I was blown away. Any one of them would be a great asset.” -Michelle Krejci, Pantheon engineer</h2>
            </div>
      </div>
{% endblock content %}
