{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
Job Posting Form {% endblock title %} {% block content %}

<div class="row row__center about-us">
  <div class="column hidden-med">
    <form action="{{ url_for('send_posting') }}" method="POST" class="job-form" id="job-form">
      <div class="wrapper">
        <label for="firstname">First name:</label>
        <input type="text" id="firstname" name="firstname">
        <label for="lastname">Last name:</label>
        <input type="text" id="lastname" name="lastname">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <input type="submit" id="submit">
      </div>
    </form>
  </div>
  <div id="result">
  </div>
</div>

{% endblock content %}
