{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
Post A Job {% endblock title %} {% block extra_stylesheets %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/forms.css') }}"
/>
{% endblock %} {% block content %}
<!-- link to the Web SDK library -->
<script src="https://sandbox.web.squarecdn.com/v1/square.js"></script>
<script type="text/javascript" src="{{ PAYMENT_FORM_URL }}"></script>
<script type="application/javascript">
  window.applicationId = "{{ APPLICATION_ID }}";
  window.locationId = "{{ LOCATION_ID }}";
  window.currency = "{{ ACCOUNT_CURRENCY }}";
  window.country = "{{ ACCOUNT_COUNTRY }}";
  window.idempotencyKey = "{{ idempotencyKey }}";
</script>

<div id="payment-page">
  <h1>Post an Opportunity</h1>
  <p>
    Know of an opportunity with a company not ready to become a full hiring partner? 
    <br />
    Submit the opportunity here for $100 and we'll share with Techtonica grads (from 2018 onwards).
  </p>
  {% if not credentials %}
  <p><a href="mailto:info@techtonica.org">Contact us</a> to post your opportunity!</p>
  {% else %}
  <div class="column">
    <form class="payment-form" id="fast-checkout">
      <div class="wrapper">
        <h3>Opportunity Listing Form</h3>
        {% include "forms/partials/post_a_job_contact.html" %}
        {% include "forms/partials/post_a_job_details.html" %}
        {% include "forms/partials/post_a_job_payment.html" %}
      </div>
    </form>
  </div>
  {% endif %}
</div>
<script type="text/javascript" src="/static/js/sq-card-pay.js"></script>
<script type="text/javascript" src="/static/js/payment-flow.js"></script>
{% endblock content %}
