{% extends "base.html" %}

{% block title %}
  Techtonica: Bridging the Tech Gap — Mentoring
{% endblock title %}

{% block content %}
  <div class="row row__center about-us">
    <div class="column">
      <h1 class="blue-h1">Mentor an Apprentice</h1>

	  <p class="justify">Techtonica is a rigorous 6-month program during which our Apprentices will benefit from the experience, insight and support of someone who understands their desire to become software engineers and has successfully achieved that goal themselves. To improve our Apprentices’ probability of success, we pair them with a Mentor who can serve in the following roles:</p>
	  <ul>
		<li>Advisor – Mentors share their professional wisdom, give feedback on projects, and are available to be a sounding board for our Apprentices’ ideas.</li>
		<li>Role Model – A Mentor’s insight into their professional journey helps our Apprentices see their own path into a new career.</li>
		<li>Supporter – Learning to code can be a difficult and frustrating endeavor. It is incredibly important to have a Mentor who listens with a sympathetic ear, acknowledges disappointments and celebrates triumphs.</li>
	  </ul>

	  <h3>Benefits to Mentors</h3>

      <ul>
		<li>Techtonica Mentors get to have a direct impact on creating a more diverse, inclusive tech industry.</li>
		<li>Mentoring builds leadership skills in coaching, counseling, listening, and modeling.</li>
		<li>Mentors have the opportunity to connect not only with their Apprentices, but with Techtonica founders and board members, their fellow Mentors, as well as Techtonica partner companies.</li>
	  </ul>

	  <h3>Eligibility</h3>
	  <p class="justify">In order to best serve our Apprentices, mentors must be:</p>
	  <ul>
		  <li>18 years or older</li>
		  <li>Employed as a Software Engineer or in a closely related field</li>
		  <li>Live/work in the SF Bay Area</li>
	  </ul>

	  <h3>Roles and Expectations</h3>
	  <table class="mentor" cellpadding=0 cellspacing=0>
		<tr>
		  <td>Mentor</td>
		  <td>
		    <ul>
			  <li>Provide encouragement, professional advice, and technical guidance.</li>
		  	  <li>Stay accessible, committed and engaged with Apprentice.</li>
			  <li>Meet with Apprentice at least one hour per week for the duration of the program (6 months).</li>
			  <li>Respond to Apprentice communications within 24 hours.</li>
			  <li>Submit regular reports to program staff.</li>
			  <li>Participate in program assessments.</li>
			</ul>
		  </td>
	    </tr>
		<tr>
		  <td>Apprentice</td>
		  <td>
			<ul>
			  <li>Meet with their Mentor at least one hour per week for the duration of the program (6 months).</li>
			  <li>Stay accessible, committed and engaged with Mentor.</li>
			  <li>Participate in program assessments</li>
			</ul>
		  </td>
	    </tr>
		<tr>
		  <td>Techtonica</td>
		  <td>
			<ul>
			  <li>Recruit, select and assist in matching Mentors with Apprentices.</li>
			  <li>Provide support and resources to facilitate Apprentice/Mentor relationship.</li>
			</ul>
		  </td>
	    </tr>
  	  </table>

	  <h3>2018 Timeline</h3>
	  <table class="mentor" cellpadding=0 cellspacing=0>
		<tr>
		  <td>January 5 - February 7</td>
	  	  <td>Applications accepted</td>
	    </tr>
		<tr>
		  <td>January 5 - February 9</td>
		  <td>Video interviews with selected applicants</td>
	    </tr>
		<tr>
		  <td>Week of February 12</td>
		  <td>Orientation for selected applicants</td>
	    </tr>
		<tr>
		  <td>Week of February 19</td>
		  <td>Meet-and-greet event for selected applicants and Apprentices</td>
	    </tr>
		<tr>
		  <td>Week of February 26</td>
		  <td>Mentors and Apprentices matched</td>
	    </tr>
	  </table>

      <p class="justify">If this sounds like a commitment that you can make, please apply now!</p>
      <a href="http://bit.ly/2CWaI3D" class="sponsor" id="orange-button" target="_blank" >Apply to Become a Mentor</a>
    </div>
  </div>
{% endblock content %}
