{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
Mentoring {% endblock title %} {% block content %}
<div class="row row__center">
  <div class="column">
    <h1 class="blue-h1">Mentor a Program Participant</h1>
  </div>
  <div class="column">
    <a href="{{ url_for('render_sponsor_page') }}">
      <img
        src="{{ url_for('static', filename='img/mentor-programm.jpg') }}"
        alt="Two people with a Laptop."
        class="full-width-img"
      />
    </a>
  </div>
</div>
<div class="row row__center about-us">
  <div class="column">
    <p class="justify">
      Techtonica is a rigorous, six-month training program followed by job
      placement for women and non-binary adults with low incomes. Our
      program participants will benefit from the experience, insight, and
      support of someone who understands their desire to become software
      engineers and has successfully achieved that goal themselves. To improve
      our participants’ probability of success, we pair them with a mentor who
      can serve in the following roles:
    </p>
    <ul>
      <li>
        Advisor – Mentors volunteer their professional wisdom, give feedback on
        projects, and are available to be a sounding board for mentees’ ideas.
      </li>
      <li>
        Role Model – A mentor’s insight into their professional journey helps
        mentees see their own path into a new career.
      </li>
      <li>
        Supporter – Learning to code can be a difficult and frustrating
        endeavor. It is incredibly important to have a volunteer mentor who listens with a
        sympathetic ear, acknowledges disappointments, and celebrates triumphs.
      </li>
    </ul>
  </div>
</div>
<div class="row row__center blue-background">
  <div class="column">
    <h3>Benefits to Mentors</h3>

    <ul>
      <li>
        Techtonica mentors have a direct impact on creating a more diverse,
        inclusive tech industry.
      </li>
      <li>
        Mentoring builds leadership skills in coaching, counseling, listening,
        and modeling.
      </li>
      <li>
        Mentors have the opportunity to connect not only with their assigned
        mentees, but with other program participants, Techtonica staff and board
        members, fellow mentors, as well as other Techtonica supporters.
      </li>
    </ul>

    <h3>Eligibility</h3>
    <p class="justify">
      In order to best serve Techtonica mentees, mentors must be:
    </p>
    <ul>
      <li>18 years or older</li>
      <li>Employed as a software engineer or in a closely-related field</li>
      <li>In possession of a working laptop and wifi</li>
      <li>
        Familiar with and able to help with the tech stack that participants will be using (React and
        Node) or willing to familiarize themselves and help with it
      </li>
      <li>
        Able to attend most mentor events, including the matching and check-ins
      </li>
    </ul>
  </div>
  <div class="column">
    <a href="{{ url_for('render_sponsor_page') }}">
      <img
        src="{{ url_for('static', filename='img/whiteboarding-practice-min.jpg') }}"
        alt="Two people practicing whiteboarding."
        class="full-width-img"
      />
    </a>
    <a href="{{ url_for('render_sponsor_page') }}">
      <img
        src="{{ url_for('static', filename='img/mentor-programm1.jpg') }}"
        alt="Two people with a Laptop."
        class="full-width-img"
      />
    </a>
  </div>
</div>
<div class="row row__center">
  <div class="column">
    <h3>Roles and Expectations</h3>
    <table class="mentor" cellpadding="0" cellspacing="0">
      <tr>
        <td>Mentors</td>
        <td>
          <ul>
            <li>
              Volunteer your encouragement, professional advice, and technical
              guidance.
            </li>
            <li>Stay accessible, committed, and engaged with mentees.</li>
            <li>
              Outside of program hours (Monday through Friday from 8:30 to 5:30
              PM), meet with your mentee or the cohort via video calls at least two
              hours per week for the year of the program (the six months of the
              training followed by six months of placement or job search and
              community support).
            </li>
            <li>Respond to mentee communications within 24 hours.</li>
            <li>Submit regular reports to program staff.</li>
            <li>Participate in program assessments as asked.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Program Participants</td>
        <td>
          <ul>
            <li>
              Meet with their mentors at least two hours per week for the
              duration of the training (six months) and placement (six months).
            </li>
            <li>Stay accessible, committed, and engaged with mentors.</li>
            <li>Participate in program assessments.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Techtonica</td>
        <td>
          <ul>
            <li>Recruits, selects, and matches mentors with participants.</li>
            <li>
              Provides support and resources to facilitate participant/mentor
              relationship.
            </li>
          </ul>
        </td>
      </tr>
    </table>

    <h3>July 2023 Cohort Timeline</h3>
    <table class="mentor" cellpadding="0" cellspacing="0">
      <tr>
        <td>March 1st - April 29th</td>
        <td>Mentor applications open</td>
      </tr>
      <tr>
        <td>March 1st - April 29th</td>
        <td>Mentor interviews</td>
      </tr>
      <tr>
        <td>May 1st - May 10th</td>
        <td>Mentor acceptance letter</td>
      </tr>
      <tr>
        <td>May 31st</td>
        <td>Mentor and participant onboarding day</td>
      </tr>
      <tr>
        <td>June 2nd 2023</td>
        <td>Mentor and participant matching</td>
      </tr>
      <tr>
        <td>June 2023</td>
        <td>Support participants doing pre-work</td>
      </tr>
       <tr>
        <td>July 26th 2023</td>
        <td>First day H2 2023 cohort</td>
      </tr>
      <tr>
        <td>June - December 2023</td>
        <td>Support during Techtonica training</td>
      </tr>
      <tr>
        <td>January - June 2024</td>
        <td>Support during placement or job search</td>
      </tr>
    </table>
  </div>
</div>
<div class="column row row__center blue-background">
  <div class="column">
    <p class="justify">
      If this sounds like a commitment that you can make, please apply now!
    </p>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSf4Zap9U0k6iQvEBfPEFCYpWPfA0lLsd7nIVpICDZdc7A0ULQ/viewform"
      class="sponsor"
      id="orange-button"
      target="_blank"
      >Apply to mentor the July 2023 cohort</a
    >
  </div>
  <div class="column centered">
    <a href="{{ url_for('render_sponsor_page') }}">
      <img
        src="{{ url_for('static', filename='img/mentor-programm2.jpg') }}"
        alt="Mentor with Participant."
        width="400"
        height="250"
      />
    </a>
  </div>
</div>
{% endblock content %}
