{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap {%
endblock title %} {% block content %}
<div class="row row__center blue-background" id="news-title" style="padding: 0">
  <h1>In The News</h1>
</div>
<div class="column centered">
  <h2>News from Techtonica</h2>
  <!-- N.B. collapsible expects that button class collapsible live at the same depth as div class collapsible-content. -->
  <ul class="hidden-bullets">
    <li>
      <button class="collapsible">
      Upstart, AI Fintech Company Renews its Partnership with Techtonica
      </button>
      <div class="collapsible-content justify">
        <p class="press-release-summary">
          Upstart Continues its Support and adds to a Growing List of Companies working with the '22 Cohort
        </p>
        <p>
          Joining Techtonica’s successful sponsorship model for the 2022 cohort is Upstart, an AI lending platform. 
          Upstart will partner with Techtonica again to sponsor three cohort participants as they study full-stack engineering 
          in an intensive six-month program. The second 2022 cohort graduates in the winter and 
          three participants will then join Upstart on a six-month placement starting in January 2023. 
        </p>
        <p>
          “Upstart's mission is to provide fair access to credit, and it's equally as important 
          for us to provide fair access to jobs so that we can build the best product for our borrowers and lending partners. 
          We have partnered with Techtonica for multiple years now, and we truly believe in the work that 
          they are doing to bridge the tech gap for women and non-binary people.” - Kavita Patel, VP of Talent Acquisition at Upstart 
        </p>
        <p>
        Techtonica helps women and non-binary individuals with low incomes learn the engineering skills 
          needed to triple their income and thrive. In addition to their intensive course of software engineering, 
          participants are paired with a mentor who supports them throughout their job placement upon graduation. 
          Participants are exposed to interview workshops, resume feedback, and networking events with industry professionals. 
        </p>
        <p>
        “We’re thrilled to continue to have Upstart as a sponsor this year,” says Michelle Glauser, CEO, and co-founder of Techtonica. 
          “Our participants will have a fantastic opportunity to work closely with two 
          unique tech fields at Upstart—artificial intelligence and financial services.” 
        </p>
        <p>
        The second 2022 cohort began remotely in July with 18 participants. 
        To learn more about becoming a sponsor or to donate directly to Techtonica, 
        you can visit their website at https://techtonica.org/. 
        </p>
        <p class="press-release-bold">About Upstart</p>
        <p>
          Upstart (NASDAQ: UPST) is a leading AI lending platform partnering with banks to expand access to affordable credit. 
          By leveraging Upstart's AI platform, Upstart-powered banks can have higher approval rates and lower loss rates, 
          while simultaneously delivering the exceptional digital-first lending experience their customers demand. 
          More than two-thirds of Upstart loans are approved instantly and are fully automated. 
          Upstart was founded by ex-Googlers in 2012 and is based in San Mateo, California, and Columbus, Ohio.  
         </p>
      </div>
    </li>
    <li></li>
    <li>
      <button class="collapsible">
        MyVest Joins Techtonica Sponsors for 2021 year
      </button>
      <div class="collapsible-content justify">
        <p class="press-release-summary">
          The Enterprise Wealth Management Platform brings fintech opportunity to
          January Software Engineering Cohort
        </p>
        <p>
          Techtonica is pleased to announce a new partnership with MyVest, a
          leading provider of unified wealth management technology. The
          partnership acts as both sponsorship and work placement, funding a
          Techtonica participant to study full-stack engineering in an intensive
          six month program, followed by a six month contract with MyVest. The
          news comes after a particularly challenging year for many during the
          COVID-19 pandemic. The sudden closure of sponsored work spaces left
          program participants without stable internet or other basic
          necessities to complete their programs. Techtonica’s hallmark
          mentorships, resume workshops, and networking events were moved
          online. However, with increased support for participants while at
          home, the program saw its first successful online, remote graduation
          ceremony. “It’s been an intense year, and I feel like we’re ending it
          on a hopeful note,” said Michelle Glauser, Techtonica CEO. “We’re
          ready to welcome a new year and a new cohort. Partnering with MyVest
          helps us connect and grow our network of supporters in fintech.”
          Techtonica helps local low-income women and non-binary individuals
          learn the engineering skills needed to triple their income and thrive
          in the San Francisco Bay Area. In addition to their intensive course
          of study, participants are also paired with a mentor who supports them
          throughout their job placement upon graduation. Participants are
          exposed to interview workshops, resume feedback, and networking events
          with industry professionals. "We are so excited to join this program,”
          said MyVest VP of People & Culture Jennifer Hartmann. “Not only does
          Techtonica bridge the representation gap in tech through a focus on
          underrepresented women, but they also have a rigorous training program
          that develops high quality, resilient, diverse talent. It benefits us
          all." The 2021 cohort begins remotely in January and will have between
          10 and 15 participants. To learn more about becoming a sponsor or to
          donate directly to Techtonica, you can visit their website at
          https://techtonica.org/.
        </p>
        <p class="press-release-bold">About MyVest</p>
        <p>
          MyVest builds enterprise wealth management technology for the digital
          age. Driven by a vision for client-centric advice, MyVest empowers
          firms to deliver personalized portfolios at scale. A subsidiary of
          TIAA since 2016, MyVest is headquartered in San Francisco with offices
          in Austin and Philadelphia. Learn more at myvest.com.
        </p>
      </div>
    </li>
    <li></li>
    <li>
      <button class="collapsible">
        Rally Health Partners with Techtonica to Support Engineering Program
      </button>
      <div class="collapsible-content justify">
        <p class="press-release-summary">
          SAN FRANCISCO, November 22nd, 2019 -- Rally Health, a digital
          healthcare platform, has again sponsored two Techtonica participants
          for six months of intensive JavaScript training followed by placement.
          Rally Health joins a growing group of Bay Area companies dedicated to
          Techtonica’s mission of empowering local women and non-binary adults
          with low incomes through tech training and job placement. The
          partnership sponsors are crucial to the continuation of Techtonica’s
          program, providing the funds needed for one participant to complete
          their training before being matched for job placement with the
          company. “The opportunities in digital health are all about helping
          people and improving access to tools for care,” said Techtonica
          Founder & CEO, Michelle Glauser. “It’s exactly the type of work our
          participants will thrive in, and we’re thrilled to have Rally Health
          open that door to another of our graduates.” Techtonica’s full-time
          training for its participants ends in December and Rally will welcome
          two graduates for a six-month work placement afterward.
        </p>
        <p class="press-release-bold">About Rally Health</p>
        <p>
          Rally Health, Inc. is a consumer-centric digital health company that
          makes it easy for individuals to take charge of their health and
          collaborates with health plans, health care providers, and employers
          to engage consumers. The company’s flagship offering is Rally®, a
          leading digital health platform that delivers web and mobile solutions
          to helgmp people manage their employee benefits, health and
          well-being, and health care needs. Nearly 55 million consumers have
          access to the Rally platform through more than 200,000 employers, and
          health plans, including UnitedHealthcare, BlueCross BlueShield of
          South Carolina, and Health Alliance. With seven offices across the
          U.S., Rally Health has been working since 2010 to transform the
          consumer health industry. Rally Health is part of the Optum business
          of UnitedHealth Group. For more information, please visit
          www.RallyHealth.com
        </p>
      </div>
    </li>
    <li></li>
    <li>
      <button class="collapsible">
        Indeed Continues its Support of Techtonica’s Software Engineering
        Program
      </button>
      <div class="collapsible-content justify">
        <p class="press-release-summary">
          The leading job site commits to another Advocate-Level sponsorship of
          the organization's latest cohort
        </p>
        <p>
          SAN FRANCISCO, February 13th, 2020--Techtonica announced today that
          Indeed, the world’s number one job site, is returning as an official
          sponsor of Bay Area nonprofit, Techtonica. Indeed leads a growing
          group of Bay Area companies dedicated to Techtonica’s mission of
          empowering local women and non-binary adults with low incomes through
          tech training and job placement.
        </p>
        <p>
          “Indeed has become an integral sponsor for Techtonica, providing
          access to mentors, resources, and office space in San Francisco,.”
          said Techtonica Founder & CEO, Michelle Glauser. “We’re thrilled to
          have their continued support for our participants.”
        </p>
        <p>
          “Indeed is excited to continue to work with Techtonica and their
          latest cohort,” said Doug Gray, SVP of Engineering at Indeed. “We look
          forward to mentoring this new group as they embark on their journey
          into the technology industry.”
        </p>
        <p>
          As with the Techtonica cohort Indeed previously sponsored, a portion
          of the graduates will be offered employment at the end of their six
          months of full-time training.
        </p>
        <p class="press-release-bold">About Indeed</p>
        <p>
          More people find jobs on Indeed than anywhere else. Indeed is the #1
          job site in the world1 and allows job seekers to search millions of
          jobs on the web or mobile in over 60 countries and 28 languages. More
          than 250 million people each month search for jobs, post resumes, and
          research companies on Indeed,2 and Indeed delivers 3X more hires than
          any other job site.3 For more information, visit indeed.com.
        </p>

        <ol>
          <li>ComScore, March 2019</li>
          <li>Google Analytics, Unique Visitors, September 2018</li>
          <li>SilkRoad Technology Source of Hire Report, 2018</li>
        </ol>
      </div>
    </li>
    <li>
      <button class="collapsible">
        Blend Sponsors Techtonica’s 2019 Software Engineering Program
      </button>
      <div class="collapsible-content justify">
        <p class="press-release-summary">
          Blend Partners with Techtonica to Support Software Engineering Program
        </p>
        <p>
          SAN FRANCISCO, November 12th, 2019--Techtonica is pleased to announce
          that
          <a href="https://blend.com/" target="_blank" rel="noopener noreferrer"
            >Blend</a
          >, a digital lending platform, has sponsored two of Techtoncia’s
          participants for six months of intensive JavaScript training followed
          by placement. This is the second cohort Techtonica has run for 2019,
          with the first cohort having graduated and been placed with companies
          in June.
        </p>
        <p>
          Blend joins a growing group of Bay Area companies dedicated to
          Techtonica’s mission of empowering local women and non-binary adults
          with low incomes through tech training and job placement. The
          partnership sponsors are crucial to the continuation of Techtonica’s
          program, providing the funds needed for one participant to complete
          their training before being matched for job placement with the
          company.
        </p>
        <p>
          “Blend was a natural fit for our partner-level sponsorships as both
          sides are dedicated to improving accessibility to needed resources,
          whether that’s financial or technological education,” said Techtonica
          Founder & CEO, Michelle Glauser. “We’re excited about the
          opportunities ahead for the partcipant that gets matched with Blend,
          and we’re beyond thrilled to have them on board with us at
          Techtonica.”
        </p>
        <p>
          “Our aspiration is to be the equitable employer of the future, and we
          recognize that we must invest in the development of future talent in
          order to achieve that goal,” said Ulysses Smith, Diversity, Inclusion,
          and Belonging Leader at Blend. “We also have community investment and
          social impact as a core pillar of our diversity, inclusion and
          belonging strategy. We invest in the local communities where we are
          present and use our purchasing power to provide economic stability and
          opportunity. Techtonica is a partner that greatly supports both of
          these elements, and we are proud to partner with an organization that
          is leading the charge for equity for local women and nonbinary folks.”
        </p>
        <p>
          Techtonica’s full-time training ends in December and Blend will
          welcome two graduates for a six-month work placement afterward.
        </p>
        <p class="press-release-bold">About Blend</p>
        <p>
          Blend makes the process of getting a loan simpler, faster, and safer.
          With its Digital Lending Platform, Blend helps financial institutions
          including Wells Fargo and U.S. Bank increase productivity and deliver
          exceptional customer experiences. The company regularly processes over
          $2 billion in mortgages and consumer loans daily, helping millions of
          consumers get into homes and gain access to the capital they need to
          lead better lives. To learn more, visit blend.com.
        </p>
      </div>
    </li>
    <li>
      <button class="collapsible">
        Leading Job Site Sponsors Techtonica’s 2019 Software Engineering Program
      </button>
      <div class="collapsible-content justify">
        <p class="press-release-summary">
          Indeed becomes Techtonica’s Advocate-level sponsor for its latest
          cohort
        </p>
        <p>
          SAN FRANCISCO, CA March 13th, 2019--Techtonica announced today that
          <a
            href="https://www.indeed.com"
            target="_blank"
            rel="noopener noreferrer"
            >Indeed</a
          >, the world’s number one job site, is an official sponsor of Bay Area
          nonprofit, Techtonica. Indeed joins a growing group of Bay Area
          companies dedicated to Techtonica’s mission of empowering local women
          and non-binary adults with low incomes through tech training and job
          placement.
        </p>
        <p>
          “Indeed is sponsoring five of the participants of our latest cohort,
          providing the group with resources, including access to mentors,
          on-site resources, and desk space in the company’s San Francisco
          office, for the duration of their training,” said Techtonica Founder &
          CEO, Michelle Glauser.
        </p>
        <p>
          "Indeed is committed to increasing workplace inclusion, not only as an
          employer but as a global company that serves a diverse group of job
          seekers around the world,” said Doug Gray, SVP of Engineering at
          Indeed. “While we recognize there is not one solution, we believe
          partnering with organizations that are focused on creating a diverse
          pipeline of talent, like Techtonica, is one of the ways we can support
          the development of more inclusive workplaces.”
        </p>
        <p>
          Upon completion of Techtonica’s six months of full-time training, five
          program graduates will be offered employment at Indeed.
        </p>
        <p class="press-release-bold">About Indeed</p>
        <p>
          Indeed is the #1 job site in the world with over 250 million unique
          visitors every month (ComScore Total Visits, March 2018 and Google
          Analytics, Unique Visitors, September 2018). Indeed strives to put job
          seekers first, giving them free access to search for jobs, post
          resumes, and research companies. Every day, we connect millions of
          people to new opportunities.
        </p>
      </div>
    </li>
    <li>
      <button class="collapsible">
        Techtonica announces Quantcast as latest supporter
      </button>
      <div class="collapsible-content justify">
        <p class="press-release-summary">
          Quantcast becomes Techtonica’s newest advocate-level sponsor for 2019.
        </p>
        <p>
          SAN FRANCISCO, CA March 6th, 2019--<a
            href="https://www.quantcast.com"
            target="_blank"
            rel="noopener noreferrer"
            >Quantcast</a
          >
          has become a sponsor of a Bay Area nonprofit, Techtonica. Quantcast
          joins a growing group of Bay Area companies dedicated to Techtonica’s
          mission of empowering local women and non-binary adults with low
          incomes through tech training and job placement.
        </p>
        <p>
          “We are thrilled to have Quantcast join us as an advocate sponsor,”
          said Techtonica Founder & CEO, Michelle Glauser. “They’ve hosted our
          events before and this is the next step of support.”
        </p>
        <p>
          With a mission to build the audience platform to radically simplify
          advertising on the open internet, Quantcast applies machine learning
          technology to its unique data to help publishers and advertisers more
          effectively engage audiences online.
        </p>
        <p>
          <a
            href="https://www.linkedin.com/in/sandramcdevitt/"
            target="_blank"
            rel="noopener noreferrer"
            >Sandra McDevitt</a
          >, Chief People Officer at Quantcast, commented, “Quantcast is
          committed to creating an inclusive and diverse environment where
          everyone can confidently be their authentic self. Central to that is
          ensuring we’re bringing in people from all sorts of backgrounds. The
          work Michelle and the team at Techtonica are doing aligns very closely
          with our values as our organization, and we’re delighted to support
          this important initiative.”
        </p>
        <p>
          Techtonica’s six months of full-time training for its participants
          ends in June and one lucky individual will start working at Quantcast
          thereafter.
        </p>
      </div>
    </li>
    <li>
      <button class="collapsible">
        AppDynamics becomes sponsor of Techtonica
      </button>
      <div class="collapsible-content justify">
        <p class="press-release-summary">
          AppDynamics becomes Techtonica’s newest advocate-level sponsor for the
          2019 cohort.
        </p>
        <p>
          SAN FRANCISCO, CA Feb. 25, 2019--<a
            href="https://www.appdynamics.com"
            target="_blank"
            rel="noopener noreferrer"
            >AppDynamics</a
          >
          joins a growing group of Bay Area companies dedicated to Techtonica’s
          mission of empowering local women and non-binary adults with low
          incomes through tech training and job placement.
        </p>
        <p>
          “We are so excited to have AppDynamics join us as an advocate sponsor
          for our first 2019 cohort of software engineers,” said Techtonica
          Founder & CEO, Michelle Glauser. “Their work in application
          performance management provides a unique opportunity for our
          participants.”
        </p>
        <p>
          “We are looking forward to mentoring a great group of participants and
          sharing our experiences in the software industry with them,” said
          Albert Chang, Sr. Engineering Manager.
        </p>
        <p>
          Techtonica’s six months of full-time technical training ends in June
          2019, at which time a graduate of the program will begin working at
          AppDynamics.
        </p>
        <p class="press-release-bold">About AppDynamics</p>
        <p>
          AppDynamics is the Application Intelligence company. With AppDynamics,
          enterprises have real-time insights into application performance, user
          performance and business performance so they can move faster in an
          increasingly sophisticated, software-driven world. AppDynamics’
          integrated suite of applications is built on its innovative,
          enterprise-grade App iQ Platform that enables its customers to make
          faster decisions that enhance customer engagement and improve
          operational and business performance. AppDynamics is uniquely
          positioned to enable enterprises to accelerate their digital
          transformations by actively monitoring, analyzing and optimizing
          complex application environments at scale.
        </p>
      </div>
    </li>
    <li>
      <button class="collapsible">
        Techtonica announces sponsorship by SurveyMonkey
      </button>
      <div class="collapsible-content justify">
        <p class="press-release-summary">
          SurveyMonkey becomes Techtonica’s newest advocate-level sponsor for
          the 2019 software engineering program.
        </p>
        <p>
          SAN FRANCISCO, CA Feb. 20, 2019--Techtonica happily announces that
          <a
            href="https://www.surveymonkey.com"
            target="_blank"
            rel="noopener noreferrer"
            >SurveyMonkey</a
          >
          has become a sponsor. SurveyMonkey will be joining a growing group of
          Bay Area companies dedicated to Techtonica’s mission of empowering
          local women and non-binary adults with low incomes through tech
          training and job placement.
        </p>
        <p>
          “It is fantastic to have SurveyMonkey become an advocate sponsor for
          our participants,” said Techtonica Founder & CEO, Michelle Glauser.
          “Our advocate sponsors provide the support needed for us to offer six
          months of full-time training with living stipends and laptops to
          participants, and at the end of the six months, sponsors have new
          employees who can add their unique perspectives—as Bay Area women and
          non-binary adults with low-income backgrounds—to the team.”
        </p>
        <p>
          “We are focused on diversity and inclusion as a company and as an
          engineering team, which means building a diverse workforce, and
          creating an inclusive environment where every person feels comfortable
          and empowered,” said Robin Ducot, SurveyMonkey CTO. “Techtonica’s
          program aligns perfectly with our values, and we are thrilled to
          partner with them in helping underrepresented, underprivileged
          individuals get the job skills and support they need to succeed in
          software engineering.”
        </p>
        <p>
          Techtonica’s six months of full-time training ends in June and one
          lucky individual will start working at SurveyMonkey thereafter.
        </p>
      </div>
    </li>
    <li>
      <button class="collapsible">
        Pantheon announces continued support for Techtonica
      </button>
      <div class="collapsible-content justify">
        <p class="press-release-summary">
          Pantheon once again becomes a Techtonica advocate-level sponsor, this
          time for the 2019 cohort.
        </p>
        <p>
          SAN FRANCISCO, CA Feb. 14, 2019--<a href="https://pantheon.io"
            >Pantheon</a
          >, Techtonica’s first-ever advocate-level hiring sponsor has returned
          for the 2019 year to sponsor another class. Pantheon leads a growing
          group of Bay Area companies dedicated to Techtonica’s mission of
          empowering local women and non-binary adults with low incomes through
          tech training and job placement.
        </p>
        <p>
          “We are thrilled to have Pantheon on board again,” said Techtonica
          Founder & CEO, Michelle Glauser. “They were early believers in our
          mission to bridge the tech gap and we’re looking forward to seeing
          what new opportunities we can create together. Our first graduate
          placed with Pantheon has truly thrived, so there’s great potential in
          our continued partnership.”
        </p>
        <p>
          “The Bay Area often brags of innovation but it’s the Techtonica
          program that delivers,” said Pantheon’s Service Engineer Tech Lead,
          Michelle Krejci. “We plan to continue to grow our team of passionate,
          creative, collaborative engineers with the graduates of Techtonica. We
          are delighted to see so many tech companies that we admire lining up
          now as well.”
        </p>
        <p>
          Techtonica’s six months of full-time training ends in June of this
          year and one lucky individual will start a three-month job placement
          at Pantheon thereafter.
        </p>
        <p class="press-release-bold">About Pantheon</p>
        <p>
          Pantheon is a website operations platform for Drupal and WordPress,
          running more than 200,000 sites in the cloud and serving over 10
          billion pageviews a month. Pantheon's multitenant, container-based
          platform enables web teams to manage all of their websites from a
          single dashboard. Our secret sauce? Our passionate, creative,
          collaborative team. Learn more at
          <a href="https://pantheon.io">pantheon.io</a>.
        </p>
      </div>
    </li>
    <li>
      <button class="collapsible">
        Autonomic Partners with Techtonica to Help Women and Non-Binary Adults
        Embark on Silicon Valley Careers
      </button>
      <div class="collapsible-content justify">
        <p class="press-release-summary">
          Partnership supports a software engineering program where Techtonica
          graduates intern with Autonomic’s engineering department and help
          create the future of mobility.
        </p>
        <p>
          SAN FRANCISCO, Calif. January 31, 2019 --- Autonomic, creators of the
          Transportation Mobility Cloud (TMC), the first open, cloud-based
          platform for connected vehicles, announce its sponsorship of
          Techtonica’s software engineering program. Techtonica, a non-profit
          organization focused on bridging Silicon Valley’s large gap in
          workforce diversity, has created a software engineering program that
          strives to bridge this gap by assisting women and non-binary adults
          with low incomes to break into the high-tech workforce via
          skill-building boot camps, job placement, and real-world mentorship.
        </p>
        <p>
          Through its software engineering program, Techtonica takes aim at
          structural and social obstacles to obtaining and succeeding in Silicon
          Valley careers of women and non-binary adults of low-income with a
          six-month bootcamp that extends into job placement and ongoing
          mentorship. Techtonica participants are chosen from an applicant pool
          which undergoes a rigorous application process that includes HTML/CSS
          workshops, a JavaScript workshop, a code challenge, a long
          application, pairing, and interviews by staff and board members.
          Underscoring the demand for programs such as this, Techtonica accepts
          approximately 8% of its applicants to each of its software engineering
          cohorts. Successful applicants receive living stipends, laptops, and
          more than 950 hours of full-time, project-based, collaborative
          training on HTML, CSS, and JavaScript.
        </p>
        <p>
          “It is absolutely essential that traditionally marginalized groups
          have direct access to job-placement programs and mentorship if we want
          to change things,” explained Techtonica Founder & CEO, Michelle
          Glauser. “Autonomic clearly understands this and, since their
          engineering team is working on some of the most interesting challenges
          in transportation today, we’re thrilled to help them move mobility
          forward with our graduates.”
        </p>
        <p>
          This summer, a graduate from Techtonica’s software engineering program
          will join Autonomic’s engineering team in Palo Alto and have the
          opportunity to contribute directly to the TMC platform. The TMC
          connects the disparate elements of the mobility ecosystem -- including
          connected vehicles, mass transit, city infrastructure, and service
          providers -- to orchestrate a safer, more efficient, and sustainable
          transportation network. The brand-agnostic platform is the first to
          unite the different parties involved in creating next-generation
          transportation services with the goal of transforming how people move
          around cities.
        </p>
        <p>
          “Techtonica has created an effective and laudable program to help
          those who are often overlooked in the workforce, and especially in the
          tech industry,” remarked Gavin Sherry, CEO of Autonomic. “We are proud
          to be able to support their efforts and are pleased to welcome their
          graduates to Autonomic.”
        </p>
        <p>
          The news follows an eventful 2018 for Autonomic. Beginning in February
          2018, with their acquisition by Ford Smart Mobility, LLC, Autonomic
          announced a series of partnerships across the transportation
          ecosystem, including the provision of routing and mapping services for
          any vehicle connected to the TMC via rideOS integration, and the
          planned ability for fleet managers to connect their vehicles anywhere
          in the world via low-cost satellites via Swarm Technologies. Autonomic
          also expanded globally by partnering with Alibaba Cloud to bring TMC’s
          benefits to the Chinese market.
        </p>
        <p class="press-release-bold">About Autonomic</p>
        <p>
          Autonomic is the first open cloud platform for connected vehicles,
          powering the automotive digital ecosystem. As the only company to
          create the world’s foremost transportation and mobility platform for
          connected vehicles -- called the Transportation Mobility Cloud --
          Autonomic gives car makers and developers the infrastructure to build
          customer experiences for connected vehicles.
        </p>
        <p>
          Founded in 2016, the Autonomic team hails from companies like Xtreme
          Labs - acquired by Pivotal - and Amazon. Together, they architected
          large-scale cloud computing platforms and built distribution databases
          for well-known consumer mobile apps such as Tinder and Facebook. The
          company is set to usher in a new era of connected vehicles and
          transform how people move around cities. To learn more about
          Autonomic, visit
          <a
            href="https://autonomic.ai"
            target="_blank"
            rel="noopener noreferrer"
            >autonomic.ai</a
          >.
        </p>
        <p class="press-release-bold">About Techtonica</p>
        <p>
          Founded in 2016 by Michelle Glauser, Techtonica is a software
          engineering program based in San Francisco that partners with tech
          companies to provide free, intensive tech training and job placement
          specifically for Bay Area women and non-binary adults who have low
          incomes. Learn more at techtonica.org.
        </p>
      </div>
    </li>
    <li>
      <button class="collapsible">
        Agari announces support for Techtonica
      </button>
      <div class="collapsible-content justify">
        <p class="press-release-summary">
          Agari becomes Techtonica’s newest advocate-level sponsor for the 2019
          software engineering program.
        </p>
        <p>
          SAN FRANCISCO, CA Jan. 15th, 2019---Agari is happy to announce they
          are becoming a sponsor of Bay Area nonprofit, Techtonica. Agari joins
          a growing group of Bay Area companies dedicated to Techtonica’s
          mission of empowering local women and non-binary adults with low
          incomes through tech training and job placement.
        </p>
        <p>
          “We are so excited to have Agari join us as an advocate sponsor for
          our next cohort that will be starting in January,” said Techtonica
          Founder & CEO, Michelle Glauser. “Agari’s work in cybersecurity and
          email protection provides a unique opportunity for our future
          participants.”
        </p>
        <p>
          “We believe that optimizing our hiring process to find engineers who
          enhance our community over solely looking for ‘rock star’ individuals
          leads to a better outcome and a more diverse technology workforce,”
          said Chris Haag, Senior Director of Engineering at Agari. “We're
          supporting Techtonica's mission to provide training and support to
          women and non-binary adults with low incomes and look forward to
          supporting the 2019 cohort through their classes and internship.”
        </p>
        <p>
          Techtonica’s six months of full-time technical training ends in June
          2019, at which time a graduate of the program will begin working at
          Agari.
        </p>
        <p class="press-release-bold">About Techtonica</p>
        <p>
          Founded in 2016 by Michelle Glauser, Techtonica is a software
          engineering program based in San Francisco that partners with tech
          companies to provide free, intensive tech training and job placement
          specifically for Bay Area women and non-binary adults who have low
          incomes. Learn more at
          <a
            href="https://techtonica.org/"
            target="_blank"
            rel="noopener noreferrer"
            >techtonica.org</a
          >.
        </p>
        <p class="press-release-bold">About Agari</p>
        <p>
          Agari is the only cloud-native solution that uses predictive AI to
          stop advanced email attacks. Winner of Best Email Security Solution by
          SC Magazine in 2018, the Agari Email Trust Platform™ prevents
          ransomware, ATO, phishing, BEC and other identity deception attacks,
          restoring trust to digital channels for businesses, governments, and
          consumers worldwide. Learn more at
          <a
            href="https://www.agari.com"
            target="_blank"
            rel="noopener noreferrer"
            >www.agari.com</a
          >.
        </p>
        <p>
          <a
            href="https://www.agari.com"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              src="{{ url_for('static', filename='img/agari-logo-min.png') }}"
              alt="Agari logo"
              class="resize-200px"
          /></a>
        </p>
        <p>Media Contact:</p>
        <p>Clinton Karr</p>
        <p>
          <a href="mailto:agari@summitstrategygroup.net"
            >agari@summitstrategygroup.net</a
          >
        </p>
        <p><a href="tel:415-993-1010">(415) 993-1010</a></p>
      </div>
    </li>
    <li>
      <button class="collapsible">
        Kintone announces support for Techtonica
      </button>
      <div class="collapsible-content justify">
        <p class="press-release-summary">
          Kintone becomes Techtonica’s newest advocate-level sponsor for the
          2019 software engineering program.
        </p>
        <p>
          SAN FRANCISCO, CA Dec. 17, 2018---Kintone proudly announces becoming a
          sponsor of Bay Area nonprofit, Techtonica. Kintone will be joining a
          growing group of Bay Area companies dedicated to Techtonica’s mission
          of empowering local women and non-binary adults with low incomes
          through tech training and job placement.
        </p>
        <p>
          “We are thrilled to have Kintone join us as an advocate sponsor for
          our next cohort that will be starting in January,” said Techtonica
          Founder & CEO, Michelle Glauser.
        </p>
        <p>
          “We’re thrilled to support Techtonica,” said Kintone CEO Dave Landa.
          “As a cloud-based database platform company on a mission to make
          teamwork better globally, this is an excellent opportunity to affirm
          our commitment to diversity and inclusion of underserved communities
          in the tech industry.”
        </p>
        <p>
          Techtonica’s six months of full-time training ends in June and one
          lucky individual will start working at Kintone thereafter.
        </p>
        <p class="press-release-bold">About Techtonica</p>
        <p>
          Founded in 2016 by Michelle Glauser, Techtonica is a software
          engineering program based in San Francisco that partners with tech
          companies to provide free, intensive tech training and job placement
          specifically for Bay Area women and non-binary adults who have low
          incomes. Learn more at
          <a
            href="https://techtonica.org/"
            target="_blank"
            rel="noopener noreferrer"
            >techtonica.org</a
          >.
        </p>
        <p class="press-release-bold">About Kintone</p>
        <p>
          San Francisco-based Kintone is making teamwork better with its no-code
          application platform that provides organizations with a customizable
          workspace that integrates multiple data sources for deeper insight
          into business processes. Kintone eliminates the cost and maintenance
          requirements of traditional off-the-shelf applications while
          dramatically increasing team and workflow efficiency. More than 10,000
          companies have built, deployed and use over 500,000 applications on
          Kintone. Kintone is provided by Cybozu Inc, a Tokyo-based public
          company founded in 1997. Both Kintone and Cybozu are designated as
          great workplaces by Great Place to Work, a global authority on high
          performing workplace cultures. For more information, please visit
          <a
            href="https://www.kintone.com/"
            target="_blank"
            rel="noopener noreferrer"
            >https://www.kintone.com/</a
          >
        </p>
        <p>
          <a
            href="https://www.kintone.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              src="{{ url_for('static', filename='img/kintone-logo-min.png') }}"
              alt="Kintone logo"
              class="resize-200px"
          /></a>
        </p>
      </div>
    </li>
  </ul>
</div>
<div class="column centered blue-background">
  <h2 class="white-text">In other media</h2>
  <ul class="hidden-bullets">
    <li>
      <p>
        <a
          href="https://community.codenewbie.org/codenewbie/codenewbie-season-22-episode-2-building-the-bridge-across-the-tech-gap-2faj"
          target="_blank"
          rel="noopener noreferrer"
          >CodeNewbie Season 22 Episode 2! Building the bridge across the tech gap</a
        >
      </p>
      <p>Greater Than Code, June 2020</p>
    </li>
    <li>
      <p>
        <a
          href="https://www.greaterthancode.com/adaptive-capacity-and-mutual-aid"
          target="_blank"
          rel="noopener noreferrer"
          >Podcast: Adaptive Capacity and Mutual Aid with Michelle Glauser</a
        >
      </p>
      <p>Greater Than Code, June 2020</p>
    </li>
    <li>
      <p>
        <a
          href="https://www.bizjournals.com/sanfrancisco/news/2020/02/13/empowering-those-most-a-risk-with-free-technology.html"
          target="_blank"
          rel="noopener noreferrer"
          >Empowering those most at-risk with free technology training</a
        >
      </p>
      <p>Business Times, February 2020</p>
    </li>
    <li>
      <p>
        <a
          href="https://elpha.com/posts/sh5y7e4d/bridging-the-tech-diversity-and-opportunity-gap-michelle-glauser-founder-of-techtonica"
          target="_blank"
          rel="noopener noreferrer"
          >Bridging the tech diversity and opportunity gap</a
        >
      </p>
      <p>Elpha, December 2019</p>
    </li>
    <li>
      <p>
        <a
          href="https://www.forbes.com/sites/the74/2019/02/15/whats-keeping-girls-from-translating-soft-skills-superiority-into-stem-field-success/#23035051d67b"
          target="_blank"
          rel="noopener noreferrer"
          >What's Keeping Girls From Translating 'Soft Skills' Superiority Into
          STEM Field Success?</a
        >
      </p>
      <p>Forbes, February 2019</p>
    </li>
    <li>
      <p>
        <a
          href="https://thebolditalic.com/diversity-in-tech-remains-embarrassingly-stagnant-these-nonprofits-could-help-1943b69cdb9b"
          target="_blank"
          rel="noopener noreferrer"
          >Diversity in Tech Remains Embarrassingly Stagnant — These Groups
          Could Help</a
        >
      </p>
      <p>The Bold Italic, October 2018</p>
    </li>
    <li>
      <p>
        <a
          href="https://theartofsimple.net/podcast/146-2/"
          target="_blank"
          rel="noopener noreferrer"
          >Podcast: A Diversity in Tech Champion</a
        >
      </p>
      <p>The Art of Simple, September 2018</p>
    </li>
    <li>
      <p>
        <a
          href="http://www.upworthy.com/how-do-we-get-more-diversity-in-tech-companies-easy-pay-for-it"
          target="_blank"
          rel="noopener noreferrer"
          >How do we get more diversity in tech companies? Easy: Pay for it.</a
        >
      </p>
      <p>Upworthy, August 2017</p>
    </li>
    <li>
      <p>
        <a
          href="https://www.facebook.com/Upworthy/videos/1878354758872040/"
          target="_blank"
          rel="noopener noreferrer"
          >Tech companies have a diversity problem. This woman raised her hand
          to help solve it.</a
        >
      </p>
      <p>Upworthy, July 2017</p>
    </li>
    <li>
      <p>
        <a
          href="http://www.yesmagazine.org/peace-justice/how-low-income-mothers-are-breaking-into-the-tech-industry-20170512"
          target="_blank"
          rel="noopener noreferrer"
          >“How Low-Income Mothers Are Breaking Into the Tech Industry”</a
        >
      </p>
      <p>yes! Magazine, May 2017</p>
    </li>
  </ul>
  <div class="row row__center blue-background">
    <a
      href="https://www.dropbox.com/sh/e3x5gf8e4lc07u5/AAAIVwyfnD0PvxEt93XzBz1fa?dl=0"
      class="contact-us"
      id="orange-button"
      target="_blank"
      rel="noopener noreferrer"
      >Logos for press</a
    >
    {% include 'contactbutton.html' %}
  </div>
</div>

<div class="row">
  <div class="column">
    <div><a href="https://twitter.com/TechtonicaOrg">Twitter Feed</a></div>
    <a
      class="twitter-timeline"
      href="https://twitter.com/TechtonicaOrg?ref_src=twsrc%5Etfw"
      >Tweets by TechtonicaOrg</a
    >
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>
  </div>
  <div class="column">
    <a href="https://medium.com/techtonica">Medium Feed</a>

    <div id="medium-widget"></div>
    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
    <script>
      MediumWidget.Init({
        renderTo: "#medium-widget",
        params: {
          resource: "https://medium.com/techtonica",
          postsPerLine: 1,
          limit: 50,
          picture: "small",
          fields: ["description", "author", "claps", "publishAt"],
          ratio: "landscape",
        },
      });
    </script>
  </div>
</div>

{% endblock content %}
