{% extends "base.html" %}

{% block title %}
	Techtonica: Bridging the Tech Gap
{% endblock title %}

{% block content %}
<div class="row row__center blue-background" id="news-title" style="padding:0;">
	<h1>In The News</h1>
</div>
<div class="row row__baseline">
	<h2>News from Techtonica</h2>
	<div class="column justify">
		<button class="collapsible">Techtonica Lorems the Ipsum</button>
		<div class="collapsible-content">
			<p>Techtonica is pleased to announce that dolor sit amet, consectetur adipiscing elit. Cras consequat molestie mi et suscipit. Suspendisse non massa nec mauris porta tempus quis in nisl. Nullam ut odio sodales, faucibus dolor vitae, placerat lectus. Aenean turpis ex, rutrum at mi quis, rhoncus tincidunt diam. Nam ut lectus egestas, rhoncus augue vitae, varius orci. Vivamus tincidunt semper iaculis. Praesent nec massa sed sapien posuere condimentum.</p>
		</div>
		<button class="collapsible">Techtonica welcomes new sponsor Bob Ross</button>
		<div class="collapsible-content">
			<p>A big strong tree needs big strong roots. Even trees need a friend. We all need friends. Everyone is going to see things differently - and that's the way it should be.</p>
			<p>You don't want to kill all your dark areas they are very important. Let's make some happy little clouds in our world. We'll throw some happy little limbs on this tree.</p>
		</div>
	</div>
</div>
<div class="column centered blue-background">
	<h2 class="white-text">In other media</h2>
	<p><a href="http://www.upworthy.com/how-do-we-get-more-diversity-in-tech-companies-easy-pay-for-it" target="_blank">How do we get more diversity in tech companies? Easy: Pay for it.</a></p>
	<p>Upworthy, August 2017</p>
	<p><a href="https://www.facebook.com/Upworthy/videos/1878354758872040/" target="_blank">Tech companies have a diversity problem. This woman raised her hand to help solve it.</a></p>
	<p>Upworthy, July 2017</p>
	<p><a href="http://www.yesmagazine.org/peace-justice/how-low-income-mothers-are-breaking-into-the-tech-industry-20170512" target="_blank">“How Low-Income Mothers Are Breaking Into the Tech Industry”</a></p>
	<p>yes! Magazine, May 2017</p>
	<div class="row row__center blue-background">
		<a href="https://www.dropbox.com/sh/e3x5gf8e4lc07u5/AAAIVwyfnD0PvxEt93XzBz1fa?dl=0" class="contact-us" id="orange-button" target="_blank">Logos for press</a>
		{% include 'contactbutton.html' %}
	</div>
</div>
{% endblock content %}
