{% extends "base.html" %}

{% block title %}
  Techtonica: Bridging the Tech Gap — Careers
{% endblock title %}

{% block content %}
  <div class="row row__center about-us">
    <div class="column hidden-med">
      <img src="{{ url_for('static', filename='img/make-a-difference-instructor.jpg') }}"
           alt="A mentor works with a participant at a laptop." 
           class="fixed-img" style="width:38%;">
    </div>
    <div class="column">
      <h1 class="blue-h1">Openings</h1>
      <p class="justify">Techtonica is a new nonprofit that offers women and non-binary, feminine-adjacent adults with low incomes free tech training, along with living and childcare stipends, then places them in positions at sponsoring companies that are ready to support more diverse teams. You can <a href="https://medium.com/@michelleglauser/techtonica-how-to-diversify-tech-and-help-neighbors-in-need-837d5f0b40bc">read more here</a>.</p>
      <p>Make an Impact as Our:</p>
      <p class="justify">
        <a href="{{ url_for('render_facilitator_page') }}" class="nav-link"><h3>Apprenticeship Program Facilitator</h3></a>
      </p>
      <p class="justify">
        <a href="{{ url_for('render_businessdev_page') }}" class="nav-link"><h3>Business Development Representative</h3></a>
      </p>
      <p class="justify">
        <a href="{{ url_for('render_board_page') }}" class="nav-link"><h3>Board Member</h3></a>
      </p>
      <div>
        <a href="mailto:info@badmail.techtonica.org?Subject=Techtonica%20Contact%20Us" class="contact" target="_blank" ><img src="{{ url_for('static', filename='img/contact-us.jpg') }}" class="contact" alt="Contact us at info@techtonica.org"></a>
      </div>
    </div>
  </div>
{% endblock content %}
