{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
Participant Assessment {% endblock title %} {% block content %}

<section class="participant-assessment-page">
  <h1>Techtonica Participant Assessment of Handbook, Agreement, & Code of Conduct</h1>
  <form action="#" method="POST" class="participant-assessment-form" id="participant_assessment">
    <fieldset>
      <legend>Program Structure, General Responsibilities, & Participation Expectations</legend>

      <div id="radio-wrapper" role="radiogroup">
        <label for="program-duration">What is the expected duration of the Techtonica training program?
        </label>
        <br />
        <input
          type="radio"
          id="program-duration-a"
          name="program-duration"
          value="A"
          required
        />
        <label for="program-duration-a">A. Exactly 5 months, no exceptions.</label>
        <br />
        <input
          type="radio"
          id="program-duration-b"
          name="program-duration"
          value="B"
          required
        />
        <label for="program-duration-b">B. Up to 5 months, but may be shortened with at least two weeks' notice if funding is insufficient.</label>
        <br />
        <input
          type="radio"
          id="program-duration-c"
          name="program-duration"
          value="C"
          required
        />
        <label for="program-duration-c">C. 6 months, including a mandatory job search period.</label>
        <br />
        <input
          type="radio"
          id="program-duration-d"
          name="program-duration"
          value="D"
          required
        />
        <label for="program-duration-d">D. It varies based on individual participant progress.</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="no-employee-benefits">Which of the following is NOT an employee benefit provided by the Organization to Participants during the Program?
        </label>
        <br />
        <input
          type="radio"
          id="no-employee-benefits-a"
          name="no-employee-benefits"
          value="A"
          required
        />
        <label for="no-employee-benefits-a">A. Health insurance.</label>
        <br />
        <input
          type="radio"
          id="no-employee-benefits-b"
          name="no-employee-benefits"
          value="B"
          required
        />
        <label for="no-employee-benefits-b">B. Vacation or sick pay.</label>
        <br />
        <input
          type="radio"
          id="no-employee-benefits-c"
          name="no-employee-benefits"
          value="C"
          required
        />
        <label for="no-employee-benefits-c">C. Retirement plans.</label>
        <br />
        <input
          type="radio"
          id="no-employee-benefits-d"
          name="no-employee-benefits"
          value="D"
          required
        />
        <label for="no-employee-benefits-d">D. None of the above; Participants are not employed by the Organization.</label>
        <br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="participant-expectations">As a Participant, which of the following are you expected to do? (Select all that apply)
        </label>
        <br />
        <input
          type="checkbox"
          id="participant-expectations-a"
          name="participant-expectations"
          value="A"
          required
        />
        <label for="participant-expectations-a">A. Attend and actively participate in scheduled Program hours.</label>
        <br />
        <input
          type="checkbox"
          id="participant-expectations-b"
          name="participant-expectations"
          value="B"
          required
        />
        <label for="participant-expectations-b">B. Meet with mentors once per week.</label>
        <br />
        <input
          type="checkbox"
          id="participant-expectations-c"
          name="participant-expectations"
          value="C"
          required
        />
        <label for="participant-expectations-c">C. Complete assignments and projects by stated deadlines.</label>
        <br />
        <input
          type="checkbox"
          id="participant-expectations-d"
          name="participant-expectations"
          value="D"
          required
        />
        <label for="participant-expectations-d">D. Attend at least one networking event each month of the Program and the following three months.</label>
        <br />
        <input
          type="checkbox"
          id="participant-expectations-e"
          name="participant-expectations"
          value="E"
          required
        />
        <label for="participant-expectations-d">E. All of the above.</label>
        <br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="written-communication">What is the expectation regarding sharing private assessment information with other Participants after the Program?
        </label>
        <br />
        <input
          type="radio"
          id="sharing-assessment-info-a"
          name="sharing-assessment-info"
          value="A"
          required
        />
        <label for="sharing-assessment-info-a">A. It is encouraged for collaborative learning.</label>
        <br />
        <input
          type="radio"
          id="sharing-assessment-info-b"
          name="sharing-assessment-info"
          value="B"
          required
        />
        <label for="sharing-assessment-info-b">B. It is allowed only with explicit permission from the Organization.</label>
        <br />
        <input
          type="radio"
          id="sharing-assessment-info-c"
          name="sharing-assessment-info"
          value="C"
          required
        />
        <label for="sharing-assessment-info-c">C. Participants agree never to share private assessment information.</label>
        <br />
        <input
          type="radio"
          id="sharing-assessment-info-d"
          name="sharing-assessment-info"
          value="D"
          required
        />
        <label for="sharing-assessment-info-d">D. It is only allowed if both parties agree.</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="primary-participant-responsibility">According to the handbook, what is a primary responsibility of every participant?
        </label>
        <br />
        <input
          type="radio"
          id="primary-participant-responsibility-a"
          name="primary-participant-responsibility"
          value="A"
          required
        />
        <label for="primary-participant-responsibility-a">A. To only focus on technical skills.</label>
        <br />
        <input
          type="radio"
          id="primary-participant-responsibility-b"
          name="primary-participant-responsibility"
          value="B"
          required
        />
        <label for="primary-participant-responsibility-b">B. To be aware of and abide by existing policies and rules.</label>
        <br />
        <input
          type="radio"
          id="primary-participant-responsibility-c"
          name="primary-participant-responsibility"
          value="C"
          required
        />
        <label for="primary-participant-responsibility-c">C. To always work independently without seeking help.</label>
        <br />
        <input
          type="radio"
          id="primary-participant-responsibility-d"
          name="primary-participant-responsibility"
          value="D"
          required
        />
        <label for="primary-participant-responsibility-d">D. To ensure all program plans remain unchanged.</label>
        <br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="strengthen-participant-characteristics">Which of the following characteristics are participants encouraged to strengthen during the program? (Select all that apply)
        </label>
        <br />
        <input
          type="checkbox"
          id="strengthen-participant-characteristics-a"
          name="strengthen-participant-characteristics"
          value="A"
          required
        />
        <label for="strengthen-participant-characteristics-a">A. Resilience.</label>
        <br />
        <input
          type="checkbox"
          id="strengthen-participant-characteristics-b"
          name="strengthen-participant-characteristics"
          value="B"
          required
        />
        <label for="strengthen-participant-characteristics-b">B. Autonomy.</label>
        <br />
        <input
          type="checkbox"
          id="strengthen-participant-characteristics-c"
          name="strengthen-participant-characteristics"
          value="C"
          required
        />
        <label for="strengthen-participant-characteristics-c">C. Stress Management.</label>
        <br />
        <input
          type="checkbox"
          id="strengthen-participant-characteristics-d"
          name="strengthen-participant-characteristics"
          value="D"
          required
        />
        <label for="strengthen-participant-characteristics-d">D. Growth Mindset.</label>
        <br />
        <input
          type="checkbox"
          id="strengthen-participant-characteristics-e"
          name="strengthen-participant-characteristics"
          value="E"
          required
        />
        <label for="strengthen-participant-characteristics-d">E. All of the above.</label>
        <br />
      </div>
    
      <div id="radio-wrapper" role="radiogroup">
        <label for="error-help">When asking for help with an error, what information should you be ready to describe?
        </label>
        <br />
        <input
          type="radio"
          id="error-help-a"
          name="error-help"
          value="A"
          required
        />
        <label for="error-help-a">A. Only the error message you are getting.</label>
        <br />
        <input
          type="radio"
          id="error-help-b"
          name="error-help"
          value="B"
          required
        />
        <label for="error-help-b">B. What errors you're getting and what you've already tried to solve them.</label>
        <br />
        <input
          type="radio"
          id="error-help-c"
          name="error-help"
          value="C"
          required
        />
        <label for="error-help-c">C. The solution you think is correct.</label>
        <br />
        <input
          type="radio"
          id="error-help-d"
          name="error-help"
          value="D"
          required
        />
        <label for="error-help-d">D. The name of the person you expect to help you.</label>
        <br />
      </div>
    
      <div id="radio-wrapper" role="radiogroup">
        <label for="navigating-distractions">What is the expectation regarding distractions during program time?
        </label>
        <br />
        <input
          type="radio"
          id="navigating-distractions-a"
          name="navigating-distractions"
          value="A"
          required
        />
        <label for="navigating-distractions-a">A. They are allowed during breaks.</label>
        <br />
        <input
          type="radio"
          id="navigating-distractions-b"
          name="navigating-distractions"
          value="B"
          required
        />
        <label for="navigating-distractions-b">B. Participants should eliminate distractions and stay focused on learning.</label>
        <br />
        <input
          type="radio"
          id="navigating-distractions-c"
          name="navigating-distractions"
          value="C"
          required
        />
        <label for="navigating-distractions-c">C. Distractions are acceptable if they relate to personal growth..</label>
        <br />
        <input
          type="radio"
          id="navigating-distractions-d"
          name="navigating-distractions"
          value="D"
          required
        />
        <label for="navigating-distractions-d">D. They are only an issue during group activities.</label>
        <br />
      </div>
    </fieldset>


    <fieldset>
      <legend>Communication & Professionalism</legend>

      <div id="radio-wrapper" role="radiogroup">
        <label for="receiving-feedback">When receiving feedback, what is a recommended action?
        </label>
        <br />
        <input
          type="radio"
          id="receiving-feedback-a"
          name="receiving-feedback"
          value="A"
          required
        />
        <label for="receiving-feedback-a">A. Immediately explain your intentions.</label>
        <br />
        <input
          type="radio"
          id="receiving-feedback-b"
          name="receiving-feedback"
          value="B"
          required
        />
        <label for="receiving-feedback-b">B. Actively listen, summarize feedback to check understanding, and thank the person.</label>
        <br />
        <input
          type="radio"
          id="receiving-feedback-c"
          name="receiving-feedback"
          value="C"
          required
        />
        <label for="receiving-feedback-c">C. Take it personally to understand its full impact.</label>
        <br />
        <input
          type="radio"
          id="receiving-feedback-d"
          name="receiving-feedback"
          value="D"
          required
        />
        <label for="receiving-feedback-d">D. Ignore it if you disagree with it.</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="giving-feedback">Which of the following is an acceptable way to give Techtonica feedback? (Select all that apply)
        </label>
        <br />
        <input
          type="checkbox"
          id="giving-feedback-a"
          name="giving-feedback"
          value="A"
          required
        />
        <label for="giving-feedback-a">A. Weekly survey for feedback.</label>
        <br />
        <input
          type="checkbox"
          id="giving-feedback-b"
          name="giving-feedback"
          value="B"
          required
        />
        <label for="giving-feedback-b">B. Staff reviews.</label>
        <br />
        <input
          type="checkbox"
          id="giving-feedback-c"
          name="giving-feedback"
          value="C"
          required
        />
        <label for="giving-feedback-c">C. Peer reviews.</label>
        <br />
        <input
          type="checkbox"
          id="giving-feedback-d"
          name="giving-feedback"
          value="D"
          required
        />
        <label for="giving-feedback-d">D. Anonymous feedback form as a last resort.</label>
        <br />
        <input
          type="checkbox"
          id="giving-feedback-e"
          name="giving-feedback"
          value="E"
          required
        />
        <label for="giving-feedback-d">E. All of the above.</label>
        <br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="camera-expectations">For virtual events and meetings, what is an expectation regarding your camera and focus?
        </label>
        <br />
        <input
          type="radio"
          id="camera-expectations-a"
          name="camera-expectations"
          value="A"
          required
        />
        <label for="camera-expectations-a">A. Keep your camera off to save bandwidth.</label>
        <br />
        <input
          type="radio"
          id="camera-expectations-b"
          name="camera-expectations"
          value="B"
          required
        />
        <label for="camera-expectations-b">B. Keep your camera on and show you are focused on the speaker (no texting, eating).</label>
        <br />
        <input
          type="radio"
          id="camera-expectations-c"
          name="camera-expectations"
          value="C"
          required
        />
        <label for="camera-expectations-c">C. You can text as long as you are still listening.</label>
        <br />
        <input
          type="radio"
          id="camera-expectations-d"
          name="camera-expectations"
          value="D"
          required
        />
        <label for="camera-expectations-d">D. Eating is allowed if your microphone is muted.</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="written-communication">Where should all written Techtonica-related communication primarily take place?
        </label>
        <br />
        <input
          type="radio"
          id="written-communication-a"
          name="written-communication"
          value="A"
          required
        />
        <label for="written-communication-a">A. Personal email accounts.</label>
        <br />
        <input
          type="radio"
          id="written-communication-b"
          name="written-communication"
          value="B"
          required
        />
        <label for="written-communication-b">B. Official Techtonica Slack, official Techtonica docs, Techtonica platforms, or via email.</label>
        <br />
        <input
          type="radio"
          id="written-communication-c"
          name="written-communication"
          value="C"
          required
        />
        <label for="written-communication-c">C. Social media direct messages.</label>
        <br />
        <input
          type="radio"
          id="written-communication-d"
          name="written-communication"
          value="D"
          required
        />
        <label for="written-communication-d">D. Any platform convenient for the participant.</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="tech-question-format">When asking a question in the #tech-help Slack channel, what is the recommended format?
        </label>
        <br />
        <input
          type="radio"
          id="tech-question-format-a"
          name="tech-question-format"
          value="A"
          required
        />
        <label for="tech-question-format-a">A. "Can I ask a question?"</label>
        <br />
        <input
          type="radio"
          id="tech-question-format-b"
          name="tech-question-format"
          value="B"
          required
        />
        <label for="tech-question-format-b">B. Just post your code and error message.</label>
        <br />
        <input
          type="radio"
          id="tech-question-format-c"
          name="tech-question-format"
          value="C"
          required
        />
        <label for="tech-question-format-c">C. Thoughtfully write out the question including tech stack, goal, what you've tried, errors, and a link to code.</label>
        <br />
        <input
          type="radio"
          id="tech-question-format-d"
          name="tech-question-format"
          value="D"
          required
        />
        <label for="tech-question-format-d">D. Send a private message to a staff member.</label>
        <br />
      </div>
    </fieldset>
      <!-- <div>
        <button
          type="button"
          class="save-btn"
          onclick="saveBtnValidation()"
        >
          Save
        </button>
      </div> -->
  </form>
</section>

<script type="text/javascript" src="/static/js/form.js"></script>
{% endblock content %}
