{% extends "base.html" %}

{% block title %}
  Techtonica: Bridging the Tech Gap — Careers
{% endblock title %}

{% block content %}
  <div class="row row__center about-us">
    <div class="column hidden-med">
      <img src="{{ url_for('static', filename='img/make-a-difference-instructor.jpg') }}"
           alt="A mentor works with a participant at a laptop." 
           class="fixed-img" style="width:38%;">
    </div>
    <div class="column">
      <h1 class="blue-h1">Openings</h1>
      <p class="justify">Techtonica is a nonprofit that offers Bay Area women and non-binary adults with low incomes free tech training, along with living and childcare stipends, then places them in positions at sponsoring companies that are ready to support more diverse teams.</p>

      <h3>Make an Impact as Our Partnership Development Manager!</h3>

      <p class="justify">Techtonica offers a life-changing learning experience to participants. We care deeply about helping our apprentices become high-quality software engineers.</p>

      <p class="justify">We are seeking a committed individual to secure sponsors and manage those partnerships for Techtonica’s apprenticeship program so we can help more women and non-binary adults with low incomes learn tech skills and work in the tech industry.</p>

      <p class="justify">The ideal candidate will be extremely passionate about the cause and the position and have the ability to quickly create and maintain positive and helpful partnerships. Techtonica is growing quickly, so we hope to find someone who can stick around and really grow the program with us.</p>

      <p class="justify">Responsibilities:
      <ul>
        <li>Work no more than 40 hours per week</li>
        <li>Coordinate on strategy (the program’s selling points) and progress</li>
        <li>Quickly and independently create, drive, and manage the sponsor pipeline through the sales cycle</li>
        <li>Reach out and follow up with new and existing potential organizations to donate, sponsor, hire, and generally be involved with the program</li>
        <li>Track sponsor outreach and tasks</li>
        <li>Represent Techtonica at events</li>
      </ul>
      </p>

      <p class="justify">What we're looking for:
        <ul>
          <li>Proven experience in building strong relationships with other companies and organizations</li>
          <li>Friendly and energetic personality</li>
          <li>Great at negotiating, opportunity-spotting, and being adaptable</li>
          <li>Familiarity with pipeline tools and managing multiple clients</li>
          <li>Ability to juggle multiple tasks and manage multiple priorities at the same time without mixing them up</li>
          <li>Proficiency in English, spreadsheets, LinkedIn, and Google tools</li>
          <li>Contagious dedication to social justice</li>
          <li>Ability to take focused responsibility for deliverables and deliver</li>
        </ul>
      </p>
      {% include 'contactbutton.html' %}
    </div>
  </div>
{% endblock content %}
