{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
Participant Assessment {% endblock title %} {% block content %}


<!-- <section class="row row__center blue-background" style="padding: 0">
  <h1 class="large-white-text">Assessment Details</h1>
</section>
<section class="row row__center">
  <div class="column">
    <h2>The Program</h2>
    <p class="justify">
      Techtonica’s full-time, virtual software engineering training program
      provides the opportunity seeking economic empowerment to learn technical
      skills in a safe, inclusive space and start their first jobs in tech. We
      select participants who are independent but good at collaborating,
      motivated to succeed, committed to learning to code, flexible, curious,
      open-minded, and excited for long-term careers in the field, have a good
      attitude and a growth mindset, can calmly manage extended periods of
      frustration (troubleshooting is something you'll face forever in tech!),
      and want to pay it forward.
      <br />
      <br />
      We aim to empower those most underrepresented in tech and to help tech
      become more diverse and inclusive. To that end, we have been very
      intentional about creating a safe community, building a network, and
      providing personalized support, which means open communication is
      absolutely necessary. If a special situation comes up, we need you to let
      us know so we can sympathize and brainstorm solutions with you. We've had
      participants lose housing, have their laptop stolen, become pregnant, face
      abuse, and more, and if we don't know about it, we can't help.
      <br />
      88% of our graduates so far are BIPOC, 21% have a disability, 21% are
      parents, 10% identify outside the gender binary, and 1% are veterans. Our
      cohorts have had between 8 and 18 participants so far, and income increase
      is usually 3-5x. The participant-to-technical-program-staff-member ratio
      has historically been between 5:1 and 9:1. We appreciate an average of 98
      hours of volunteer support per participant.
    </p>
    <h2>Pre-Req and Form Deadline</h2>
    <p><strong>Completion of a JavaScript Pre-Req Course</strong></p>
    <p>
      Log in to
      <a
        href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/"
        target="_blank"
        >freeCodeCamp</a
      >
      and expand the "Legacy JavaScript Algorithms and Data Structures
      Certification" section on the /learn page. Complete the first 113 lessons
      about Legacy JavaScript. This should take 4-12 hours. Be ready to upload a
      screenshot of the completed course checklist in the application form.
    </p>

    <p><strong>Form Deadline</strong></p>
    <p>
      Applications are open twice a year: January to June (H1) and July to
      December (H2). The deadlines for both application forms are at noon
      Pacific Time; H1 in September and H2 in March.
    </p>
    <h2>Eligibility</h2>
    <p>You are eligible to apply for Techtonica’s full-time program if you:</p>
    <ul>
      <li>
        are a woman (cis OR trans) or non-binary adult. We especially encourage
        Latinx, Black, and non-binary folks to apply.
      </li>
      <li>
        are digitally literate, meaning you are very familiar and good with
        computers and the internet, can type 50+ WPM with 80%+ accuracy, and you
        know how to use a mouse/trackpad, browsers, and email
      </li>
      <li>at the very least graduated from high school or received your GED</li>
      <li>
        completed the JavaScript pre-req (see the Application Process section
        below)
      </li>
      <li>can commit to always being present and on time and prepared</li>
      <li>are willing to be part of the program during Pacific Time hours</li>
      <li>
        are dedicated to building a long-term career in tech and contributing to
        a diverse, inclusive, equitable tech environment
      </li>
      <li>
        have housing that will be stable for the entirety of the six months of
        full-time training and the following six months
      </li>
      <li>are willing to live in the U.S. if required by placement company</li>
      <li>have a U.S. bank account</li>
      <li>
        have the proof that you are legally employable in the United States at
        the time of application (we can't help with visas)
      </li>
      <li>
        agree to work at an assigned partner company if we match you upon
        successful completion of six months of training
      </li>
      <li>
        are willing to appear in Techtonica's media and pitch yourself to
        Techtonica's partners
      </li>
      <li>
        have not attended a full-time coding bootcamp, completed a C.S. degree,
        or worked as a software engineer in the last six years
      </li>
      <li>can have high-speed internet set up by the start of the program</li>
      <li>
        agree to abide by Techtonica's Code of Conduct, Participant Handbook,
        and Participant Agreement
      </li>
      <li>haven't already applied three times</li>
      <li>
        (for white applicants) are willing to do personal anti-racism work
      </li>
      <li>
        have attended at least one of the study night groups for the application
        process
      </li>
    </ul>
    <h2>Application Process</h2>
    <p>
      For the January ("H1") cohort, the application forms open, emails to
      interested folks go out, and forms close again around October. For the
      July to December ("H2") cohort, the application forms open, emails to
      interested folks go out, and forms close again around March. For the 2025
      H1 cohort, applications open in September and close in October. The
      application process continues for about four to five weeks after
      applications close, with candidates eliminated at each step of the
      process.
    </p>
    <h2>What We Look For</h2>
    <p>
      This program is very competitive; we select and graduate participants who
      continuously prove that they are:
    </p>
    <ul>
      <li>self-motivated</li>
      <li>resilient</li>
      <li>logical</li>
      <li>humble</li>
      <li>respectful</li>
      <li>independent</li>
      <li>open-minded</li>
      <li>flexible</li>
      <li>persistent</li>
      <li>optimistic</li>
      <li>punctual</li>
      <li>committed</li>
      <li>responsive to feedback</li>
      <li>willing to ask questions</li>
      <li>able to set and reach goals</li>
      <li>able to deal with stress well</li>
      <li>inclusive and able and willing to work with anyone</li>
      <li>proud of owning their learning</li>
      <li>always curious and ready to learn and improve</li>
      <li>transparent and compassionate communicators</li>
      <li>hard-working and ready to make sacrifices</li>
      <li>dedicated to seeing things through to the end</li>
    </ul>
    <h2>How to Prepare</h2>
    <ol>
      <li>
        Learn as much JavaScript ahead of time as possible—freeCodeCamp and
        Codecademy are great for this.
      </li>
      <li>Attend coding meetups or our study groups.</li>
      <li>Develop your typing and Mac keyboard shortcut skills.</li>
      <li>
        Learn about different tech companies and long-term pathways in tech to
        start formulating an idea of your career goals.
      </li>
      <li>Practice learning and applying concepts quickly.</li>
      <li>
        Practice talking out loud about your thought process and collaborating
        with others.
      </li>
      <li>
        Practice your English Proficiency Levels. Here is a guide to understand
        your English Proficiency Levels
      </li>
      <li>
        If you need a reasonable accommodation for any part of our process, and
        including ADHD, we encourage open communication around what works best
        for you.
      </li>
    </ol>
    <h2>Acceptance & Onboarding</h2>
    <ol>
      <li>Assess financial need with Techtonica staff member</li>
      <li>Review official docs and return signed agreement</li>
      <li>
        Attend Onboarding Day, which typically occurs about five weeks before
        the program starts.
      </li>
      <li>Join weekly pre-start study groups</li>
      <li>Complete pre-start assignments (about 10-20 hours per week)</li>
      <li>
        Hit the ground running on day 1, usually in mid-January or mid-July!
      </li>
    </ol>
    <button
      type="button"
      class="continue-to-app-btn"
      onclick="window.location.href='/app-form'"
    >
      Continue to Application
    </button>
  </div>
</section> -->



<section class="participant-agreement-page">
  <h1>Techtonica Participant Assessment of Handbook, Agreement, & Code of Conduct</h1>
  <form action="#" method="POST" class="participant-assessment">
    <fieldset>
      <legend>Program Structure, General Responsibilities, & Participation Expectations</legend>


<!--

Which of the following is NOT an employee benefit provided by the Organization to Participants during the Program?
[required]
A. Health insurance
B. Vacation or sick pay
C. Retirement plans
D. None of the above; Participants are not employed by the Organization.      

-->


      <div id="radio-wrapper" role="radiogroup">
        <label for="program-duration"
          >What is the expected duration of the Techtonica training program?
        </label>
        <br />
        <input
          type="radio"
          id="program-duration-a"
          name="program-duration"
          value="A"
          required
        />
        <label for="program-duration-a">A. Exactly 5 months, no exceptions.</label>
        <input
          type="radio"
          id="program-duration-b"
          name="program-duration"
          value="B"
          required
        />
        <label for="program-duration-b">B. Up to 5 months, but may be shortened with at least two weeks' notice if funding is insufficient.</label><br />
        <input
          type="radio"
          id="program-duration-c"
          name="program-duration"
          value="C"
          required
        />
        <label for="program-duration-c">C. 6 months, including a mandatory job search period.</label>
        <input
          type="radio"
          id="program-duration-d"
          name="program-duration"
          value="D"
          required
        />
        <label for="program-duration-d">D. It varies based on individual participant progress.</label><br />
      </div>
<!-- 
      <div id="radio-wrapper" role="radiogroup">
        <label for="media-release"
          >Do you agree to the following media release? Photographs, pictures,
          writing, assignments, recordings, likenesses, slides, movies, video,
          or other media coverage of my activities created or performed by me
          may be made in connection with my participation in Techtonica’s
          programs without compensation from Techtonica/Social Good Fund,
          activity-specific staff, its auxiliary organizations and partners, and
          the officers, directors, employees, and agents of each of them. I also
          consent for the company to take, use, reuse, publish and republish any
          and all media coverage depicting the same (including compilations or
          other derivative works) both during and after involvement with the
          organization for any legal purpose and release Techtonica/Social Good
          Fund from all liability in connection with such activities. </label
        ><br />
        <input
          type="radio"
          id="media-release-yes"
          name="media-release"
          value="Yes"
          required
        />
        <label for="media-release-yes">Yes</label>
        <input
          type="radio"
          id="media-release-no"
          name="media-release"
          value="No"
          required
        />
        <label for="media-release-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="sharing-personal-journey"
          >Do you agree to share your personal story/journey into tech as
          requested at Techtonica events and in Techtonica media? </label
        ><br />
        <input
          type="radio"
          id="sharing-personal-journey-yes"
          name="sharing-personal-journey"
          value="Yes"
          required
        />
        <label for="sharing-personal-journey-yes">Yes</label>
        <input
          type="radio"
          id="sharing-personal-journey-no"
          name="sharing-personal-journey"
          value="No"
          required
        />
        <label for="sharing-personal-journey-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="commit-to-conduct"
          >Do you commit to abiding by Techtonica's Code of Conduct
          <a href="https://techtonica.org/conduct/" target="_blank"
            >(https://techtonica.org/conduct/)</a
          >, Program Handbook, and Participant Agreement? </label
        ><br />
        <input
          type="radio"
          id="commit-to-conduct-yes"
          name="commit-to-conduct"
          value="Yes"
          required
        />
        <label for="commit-to-conduct-yes">Yes</label>
        <input
          type="radio"
          id="commit-to-conduct-no"
          name="commit-to-conduct"
          value="No"
          required
        />
        <label for="commit-to-conduct-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="commit-to-work-with-others"
          >Do you commit to working with the people assigned to work with you,
          whether volunteer, staff, fellow participants, or someone else? </label
        ><br />
        <input
          type="radio"
          id="commit-to-work-with-others-yes"
          name="commit-to-work-with-others"
          value="Yes"
          required
        />
        <label for="commit-to-work-with-others-yes">Yes</label>
        <input
          type="radio"
          id="commit-to-work-with-others-no"
          name="commit-to-work-with-others"
          value="No"
          required
        />
        <label for="commit-to-work-with-others-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="commit-to-program-schedule"
          >Do you commit to always being present at, on time to, and prepared
          for the program, which is conducted from 8 AM - 5 PM Pacific Time
          Monday through Friday, as well as other Techtonica-required events
          that may happen outside these hours? </label
        ><br />
        <input
          type="radio"
          id="commit-to-program-schedule-yes"
          name="commit-to-program-schedule"
          value="Yes"
          required
        />
        <label for="commit-to-program-schedule-yes">Yes</label>
        <input
          type="radio"
          id="commit-to-program-schedule-no"
          name="commit-to-program-schedule"
          value="No"
          required
        />
        <label for="commit-to-program-schedule-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="commit-to-placement"
          >Do you commit to working with whichever company we might place you
          with? </label
        ><br />
        <input
          type="radio"
          id="commit-to-placement-yes"
          name="commit-to-placement"
          value="Yes"
          required
        />
        <label for="commit-to-placement-yes">Yes</label>
        <input
          type="radio"
          id="commit-to-placement-no"
          name="commit-to-placement"
          value="No"
          required
        />
        <label for="commit-to-placement-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="willing-to-relocate"
          >Would you be willing to move to a new city to be placed in a job?
        </label>
        <div class="learn-more-wrapper">
          <button class="learn-more-title" type="button" aria-expanded="false">
            Learn More
            <span class="toggle-icon">
              <span class="toggle-icon-plus">+</span>
              <span class="toggle-icon-minus">-</span>
            </span>
          </button>
          <p class="learn-more-content" tabindex="0">
            While this is not currently a requirement, it may be a requirement
            again in the near future, and it increases your chances of securing
            a job.
          </p>
        </div>
        <br />
        <input
          type="radio"
          id="willing-to-relocate-yes"
          name="willing-to-relocate"
          value="Yes"
          required
        />
        <label for="willing-to-relocate-yes">Yes</label>
        <input
          type="radio"
          id="willing-to-relocate-no"
          name="willing-to-relocate"
          value="No"
          required
        />
        <label for="willing-to-relocate-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="aware-no-guaranteed-placement"
          >Are you fully aware that placements are not guaranteed by Techtonica
          and you may need to start a job search after graduation? </label
        ><br />
        <input
          type="radio"
          id="aware-no-guaranteed-placement-yes"
          name="aware-no-guaranteed-placement"
          value="Yes"
          required
        />
        <label for="aware-no-guaranteed-placement-yes">Yes, I'm aware</label>
        <input
          type="radio"
          id="aware-no-guaranteed-placement-no"
          name="aware-no-guaranteed-placement"
          value="No"
          required
        />
        <label for="aware-no-guaranteed-placement-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="aware-of-tuition-cost"
          >Are you aware that Techtonica’s tuition costs $18,000 and that
          tuition and stipend scholarships are available? </label
        ><br />
        <input
          type="radio"
          name="aware-of-tuition-cost"
          id="aware-of-tuition-cost-yes"
          value="Yes"
          required
        />
        <label for="aware-of-tuition-cost-yes">Yes</label>
        <input
          type="radio"
          id="aware-of-tuition-cost-no"
          name="aware-of-tuition-cost"
          value="No"
          required
        />
        <label for="aware-of-tuition-cost-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="interested-in-scholarships"
          >Did you want to apply for tuition and stipend scholarships? </label
        ><br />
        <input
          type="radio"
          name="interested-in-scholarships"
          id="interested-in-scholarships-yes"
          value="Yes"
          required
        />
        <label for="interested-in-scholarships-yes">Yes</label>
        <input
          type="radio"
          id="interested-in-scholarships-no"
          name="interested-in-scholarships"
          value="No"
          required
        />
        <label for="interested-in-scholarships-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="promote-techtonica"
          >Could you please spread the word about Techtonica to friends, family,
          and people in your area? </label
        ><br />
        <input
          type="radio"
          name="promote-techtonica"
          id="promote-techtonica-yes"
          value="Yes"
          required
        />
        <label for="promote-techtonica-yes">Yes</label>
        <input
          type="radio"
          id="promote-techtonica-no"
          name="promote-techtonica"
          value="No"
          required
        />
        <label for="promote-techtonica-no">No</label><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="commit-to-two-JS-study-groups"
          >For the next step in the application process, you'll need to join TWO
          of our digital literacy testing and JavaScript events on different
          days (if we decide to move forward with your application, we'll send
          you details based on availability and times selected). Please confirm
          you will make it to two of the provided dates or forfeit your
          application. </label
        ><br />
        <input
          type="checkbox"
          name="commit-to-two-JS-study-groups"
          id="commit-to-two-JS-study-groups-yes"
          value="Yes"
          required
        />
        <label for="commit-to-two-JS-study-groups-yes">Yes, I confirm</label
        ><br />
      </div>

      <div id="radio-wrapper" role="radiogroup">
        <label for="completed-form-truthfully">
          Do you confirm you've filled out this form truthfully?
        </label>
        <br />
        <input
          type="checkbox"
          name="completed-form-truthfully"
          id="completed-form-truthfully-yes"
          value="Yes"
          required
        />
        <label> Yes, I confirm </label>
      </div>  -->

        <button
          type="button"
          class="save-btn"
          onclick="window.location.href='/thankyou'"
        >
          Save
        </button>
      </div>
    </fieldset>

    <fieldset>
      <legend>Testing 123 1 2 3</legend>
    </fieldset>
    <div>
      <button
        type="button"
        class="save-btn"
        onclick="window.location.href='/'"
      >
        Save
      </button>
    </div>
  </form>
</section>

<!-- <script type="text/javascript" src="/static/js/sq-card-pay.js"></script> -->
<!-- <script type="text/javascript" src="/static/js/payment-flow.js"></script> -->
{% endblock content %}
