{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
Post A Job {% endblock title %} {% block content %}
<!-- link to the Web SDK library -->
<script src="https://sandbox.web.squarecdn.com/v1/square.js"></script>
<script type="text/javascript" src='{{ PAYMENT_FORM_URL }}'></script>
<script type="application/javascript">
  window.applicationId = "{{ APPLICATION_ID }}";
  window.locationId = "{{ LOCATION_ID }}";
  window.currency = "{{ ACCOUNT_CURRENCY }}";
  window.country = "{{ ACCOUNT_COUNTRY }}";
  window.idempotencyKey = "{{ idempotencyKey }}";
</script>

<div class="row row__center about-us blue-background">
    <h1>
      Post A Job
    </h1>
    <p>
      Have a job opening but your company isn’t ready to become a hiring partner? <br>
      Submit the job for $100 and we’ll share with our graduates who have 0-5 years of experience.
    </p>
  <div class="column hidden-med">
    <form class="payment-form" id="fast-checkout">
      <div class="wrapper">
        <h3>Contact Info</h3>
        <div id="details-wrapper" class="details-wrapper">
          <label for="firstname">First name:</label>
          <input type="text" id="firstname" name="firstname">
          <label for="lastname">Last name:</label>
          <input type="text" id="lastname" name="lastname">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email">
          <label for="details">Details:</label>
          <textarea id="details" name="details">Share your job details here...</textarea>
        </div>
        <!-- <div id="ach-wrapper">
          <label for="ach-account-holder-name">Full Name</label>
          <input
            id="ach-account-holder-name"
            type="text"
            placeholder="Jane Doe"
            name="ach-account-holder-name"
            autocomplete="name"
          />
          <span id="ach-message"></span>
          <button id="ach-button" type="button">
            Pay with Bank Account
          </button>
          <div class="border">
            <span>OR</span>
          </div>
        </div> -->
        <h3>Payment Info</h3>
        <div id="card-container"></div>
        <button id="card-button" type="button">
          Pay with Card
        </button>
        <span id="payment-flow-message">
      </div>
    </form>
  </div>
</div>
<script type="text/javascript" src="/static/js/sq-card-pay.js"></script>
<script type="text/javascript" src="/static/js/payment-flow.js"></script>
{% endblock content %}
