{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
Privacy Policy {% endblock title %} {% block content %}
<div class="main-content">
  <div class="main-header">
    <div class="main-header__text blue-background">
      <h1>Privacy Policy</h1>
    </div>
  </div>
  <div class="row row__center long-form-conduct" id="longformconduct">
    <div class="column">
      <h3>Summary</h3>
      <p>
        This policy explains how we collect and treat any information you give
        us. You won’t find any complicated legal terms or long passages of
        unreadable text. We’ve no desire to trick you into agreeing to something
        you might later regret.
      </p>

      <p class="justify">Our policy includes:</p>
      <ul>
        <li>Why we value your privacy</li>
        <li>How we collect information</li>
        <li>What information we hold</li>
        <li>Where we store your information</li>
        <li>What we use your information for</li>
        <li>Who’s responsible for your information at our company</li>
        <li>Who has access to information about you</li>
        <li>The steps we take to keep your information private</li>
        <li>How to complain</li>
        <li>Changes to the policy</li>
        <li>Why we value your privacy</li>
      </ul>
      <p>
        We value your privacy as much as we do our own, so we’re committed to
        keeping your personal and business information safe. We ask for only the
        bare minimum from our users. We won’t use your personal information for
        any reason other than why you gave it, and we won’t give anyone access
        to it unless we’re forced to by law.
      </p>

      <h3>How we collect information</h3>
      <ul>
        <li>
          We can ask for contact information including your name, email address,
          and phone number, on our website so that we can reply to your enquiry.
        </li>
        <li>
          Our website doesn’t use cookies or scripts that were designed to track
          the websites you visit. We use Google Analytics and don’t use native
          social media ‘like’ or ‘sharing’ buttons which also build profiles of
          your internet activity.
        </li>
        <li>
          We collect your email address when you sign up for one of our
          newsletters.
        </li>
        <li>
          We ask for your account and contact information when you hire someone
          or buy something from us.
        </li>
        <li>
          Occasionally, we might receive your contact information from one of
          our partners. If we do, we protect it in exactly the same way as if
          you give it to us directly.
        </li>
      </ul>

      <h3>What information we hold</h3>
      <ul>
        <li>
          When you contact us by email or through our website, we collect
          whichever information you’ve typed—usually your name, email address,
          phone number, a social media username, and the company you work for.
        </li>
        <li>
          If you sign up for a newsletter, we only collect the information you
          entered into the form.
        </li>
        <li>
          If you do business with us, we also collect your business name and
          bank details and keep records of the invoices we send you and the
          payments you make.
        </li>
        <li>
          All credit card donations are processed by WeDidIt, our donation
          platform and we never have access to your credit card information.
        </li>
      </ul>

      <h3>Additional items</h3>
      <ul>
        <li>
          When you contact us by email or through our website, we store your
          information in HubSpot, Mailchimp, and Google Contacts. If you sign up
          for a newsletter, sign up as a volunteer, donate, or do business with
          us in some way, we store your email address in a private Google
          Spreadsheet and Eventbrite.
        </li>
        <li>
          We occasionally use your contact information to send you details of
          our products and services. When we do, you have the option to
          unsubscribe from these communications and we won’t send them to you
          again. We might also contact you about our products and services, but
          if you tell us not to, we won’t get in touch again. We will use your
          information to send you invoices, statements, or reminders.
        </li>
        <li>
          You can contact Techtonica by email at info at techtonica . org if you
          have any concerns about the information we store.
        </li>
        <li>
          When we store information in our own systems, only the people who need
          it have access. Our admins have access to everything you’ve provided,
          but individuals have access to only what they need.
        </li>
        <li>
          Where we store your information in third-party services, we restrict
          access only to people who need it. We store passwords in LastPass, an
          encrypted password manager, use a different, randomly generated
          password for each service, and do not use the same password twice.
        </li>
        <li>
          The computers we use are all encrypted and protected by a passcode.
        </li>
      </ul>

      <p>How to complain</p>
      <ul>
        <li>
          We take complaints seriously. If you have any reason to complain about
          the ways we handle your privacy, please contact us by email at info at
          techtonica . org. If you’re the letter-writing type, send your
          envelope to Techtonica 340 S Lemon Ave. #5473, Walnut, CA 91789.
        </li>
      </ul>

      <p>
        If we change the contents of this policy, those changes will become
        effective the moment we publish them on our website.
      </p>
      <p>
        Source:
        <a href="https://stuffandnonsense.co.uk/projects/protection-racket">
          https://stuffandnonsense.co.uk/projects/protection-racket
        </a>
      </p>
    </div>
  </div>
  {% endblock content %}
</div>
