{% extends "base.html" %} {% block title %} Techtonica Programs {%
endblock title %} {% block content %}

<div class="main-content"></div>
<!-- <div class="row row__center blue-background" style="padding: 0">
  <h2 class="large-white-text">Techtonica Programs</h2>
</div> -->
<div class="row row__center">
    <div class="column">
    <h1 class="blue-h1">Our Programs at a Glance</h1>
    <ol>
      <li>
        <a href="{{ url_for('render_web_dev_foundation_program_page') }}">
          Part-Time Web Dev Foundation Program
        </a>
         (Fundamental Technical Training)
      </li>
      <li>
        <a href="{{ url_for('render_swe_program_page') }}">
          Part-Time Software Engineering Program
        </a>
         (Project-Based Full Stack Accelerator)
      <li>
        Seeker Program (Job Search Support for Graduates of Part-Time Software Engineering Program)
      </li>
      <li>
        <a href="{{ url_for('render_consulting_page') }}"
          >Techtonica Consulting
        </a>
        (Real-World Experience for Graduates of Part-Time Web Dev Foundation Program)
      </li>
    </ol>
  </div>
<!-- TO-DO: add interest form -->
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSfUdyIAfcU5KSqtYH5J5iPRgu-yycHdebnUKygQLEv-m7oVMw/viewform"
  class="sponsor" id="orange-button" target="_blank" rel="noopener noreferrer">Fill out our interest form to be notified about our next cohort!
  </a>
  <div class="column">
    <p>
      <!-- Techtonica Consulting will be your partner in software engineering
      solutions, freeing your internal team members to be more productive in the
      areas most vital to the business while giving underrepresented software
      engineers the chance to demonstrate their skills by creating innovative
      products, testing software, streamlining core business operations, and
      enhancing efficiency with the guidance of senior engineers at Techtonica.
      If you or someone you know has a specific software development project
      that requires assistance or support, Techtonica's team of skilled
      graduates and senior engineers stands ready to deliver innovative and
      effective solutions. -->
    </p>
    <img
      id="consulting-hero"
      src="{{ url_for('static', filename='img/Horizontal-Partnerships-Manager-with-Participants-min.jpeg') }}"
    />
    <p>
      <!-- We work with clients of any size, from Fortune 500 companies to
      community-driven, open-source projects. Our engagement rates may be as low
      as $5000, depending on required deliverables and length of time. Your
      support for the Techtonica Consulting program enriches the journey and
      development of our participants, propelling them towards their next
      milestones by equipping them with invaluable real-world technical
      experience as part of their software engineering journey. -->
    </p>
    <p>
      <!-- Participating in a Techtonica Consulting project can help streamline your
      team's workload and increase overall productivity. Techtonica Consulting
      allows you to leverage junior software engineers supervised by experienced
      senior personnel at Techtonica, effectively outsourcing specific projects
      or tasks. This delegation reduces the burden on your existing staff,
      enabling them to focus on high-priority tasks while providing valuable
      real-world experience to Techtonica graduates. -->
    </p>
    <p>
      <!-- Techtonica consultants are Techtonica graduates who have successfully
      completed our full-time, project-based, open-source software engineering
      training curriculum, followed by varying amounts of professional software
      engineering experience. However, a lot of organizations don't currently
      have the capacity to support entry-level talent. To continue helping those
      organizations meet their software development needs while prioritizing
      learning opportunities for participants who are finishing our program, new
      Techtonica graduates from diverse backgrounds work on real software
      projects alongside our senior software engineers. Techtonica consultants
      gain real-world software engineering consulting experience, including
      scoping projects, talking to clients, meeting deliverables, holding
      retrospectives, reviewing PRs, and more. -->
    </p>
    <p>
      <!-- Techtonica holds weekly check-ins with consultants involved in client
      projects. Consultants also have opportunities to pair or ask for advice in
      regular office hours, a weekly team meeting for each project, and a weekly
      review for all consultants. Senior software engineers review PRs and hold
      retrospectives with involved consultants. Our team also meets with yours
      to sync as needed, and shares regular updates about progress. -->
    </p>
    <p>
      <!-- All Techtonica graduates have extensive project-based experience with the
      PERN stack (Postgres, Express, React, and Node). Graduates may also have
      experience in a wide variety of other technologies, and current
      consultants have used Java, Python, JavaScript, HTML, CSS, SQL, C#, Go,
      Ruby, and assorted APIs on past projects. Because this is an educational
      experience, we're also very open to learning new technologies to support
      your tech stack. -->
    </p>
    Some projects that would be most fitting for Techtonica Consulting include:
    <!-- ..... -->
    <h2>How It Works</h2>
    <!-- TO-DO: columns here containing descriptions and buttons for programs -->
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSdNrE6qtdhND2eN3e4PbRfxa4ro1EKiQ3zYkKhYVxtbRXSsGg/viewform?usp=sf_link"
      class="orange-button"
      target="_blank"
      rel="noopener noreferrer"
    >
      Discuss consulting
    </a>
  </div>
</div>
{% endblock content %}
