{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<h1>Register</h1>
<form method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Register</button>
</form>

<p>Already have an account?
    <a href="{{ url_for('sign_in') }}">Sign in here</a>
</p>

{% endblock %}