{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
Careers {% endblock title %} {% block content %}
<div class="row row__center about-us">
  <div class="column hidden-med">
    <img
      src="{{ url_for('static', filename='img/make-a-difference-instructor.jpg') }}"
      alt="A mentor works with a participant at a laptop."
      class="fixed-img"
      style="width: 38%"
    />
  </div>
  <div class="column">
    <h1 class="blue-h1"><a href="{{ url_for('render_openings_page') }}" 
      title="Openings">Openings</a></h1>
    <p class="justify">
      Techtonica is a nonprofit (through fiscal sponsor Social Good Fund) that
      offers women and non-binary adults with low incomes free tech training,
      along with living and childcare stipends, then places them in positions at
      sponsoring companies.
    </p>
    <h3>Make an Impact as Our Software Engineering Apprenticeship Manager</h3>

    <p class="justify">
      Techtonica offers a life-changing learning experience to participants. We
      care deeply about helping the participants of our software engineering
      program become excellent software engineers with successful careers in
      tech.
    </p>

    <p class="justify">
      We are looking for a committed, technical individual to start immediately
      as a Software Engineering Apprenticeship Manager (SEAM) for our full-time
      software engineering program (the next cohort will start virtually in
      January). The SEAM will be responsible for preparing and implementing a
      training plan in line with current software standards. The SEAM will also
      provide technical guidance, knowledge, and leadership to participants
      while helping them develop their personal and professional skills.
    </p>

    <p class="justify">
      <b
        ><i
          >Our participants are Bay Area women and non-binary adults and most of
          them are people of color. We are seeking an individual who can relate
          to the target audience on as many levels as possible.</i
        ></b
      >
    </p>

    <p class="justify">
      The ideal candidate will be passionate about software engineering, the
      cause, and the position, and have the ability to create a relationship of
      mutual trust and leadership. They will know how to manage a group
      confidently and make learning an effective and meaningful process that
      truly prepares participants for the workplace.
    </p>

    <p class="justify">
      This role's compensation will start between $60K and $130K annually
      (depending on experience and location), with the opportunity for review
      after six months. We can provide benefits, but we cannot provide visa
      sponsorship at this time.
    </p>

    <p class="justify">Responsibilities:</p>
    <ul>
      <li>
        Be present Monday-Friday 8:15am-5:15pm Pacific Time (with an hour-long
        lunch hour), and as needed for Techtonica events during the evenings and
        weekends
      </li>
      <li>
        Manage volunteers, mentors, and participants of the software engineering
        program (with regular check-ins)
      </li>
      <li>
        Be the on-site software engineering expert—this means you'll present,
        explain, and answer questions about software engineering, pair, develop,
        and debug with participants
      </li>
      <li>
        Create efficient processes and create, conduct, and assess assessments
      </li>
      <li>
        Continually improve training content (instruction, notes, summaries,
        assignments, schedules, etc.) that is up-to-date with software
        engineering best practices
      </li>
      <li>
        Provide hands-on, project-based learning that builds portfolios for
        participants and fills sponsors' needs
      </li>
      <li>Collaborate with the CEO on the program vision</li>
      <li>Oversee the program application process</li>
      <li>Manage other program staff as assigned</li>
    </ul>

    <p class="justify">What we're looking for:</p>
    <ul>
      <li>
        A minimum of two years of software engineering experience in the last
        four years
      </li>
      <li>
        Excellence at teaching software engineering concepts and managing and
        motivating people
      </li>
      <li>
        The ability to quickly familiarize yourself with Techtonica’s vision and
        all people involved (staff, participants, board members, volunteers,
        etc.)
      </li>
      <li>Excellent communication and interpersonal skills</li>
      <li>Strong moral values and discipline</li>
      <li>Organization, commitment, and adaptability</li>
      <li>Putting personal biases aside as needed</li>
      <li>
        Understanding of socioeconomic experiences that our participants have
        faced
      </li>
      <li>
        Being passionate and informed about social justice and
        diversity-and-inclusion-in-tech issues
      </li>
      <li>
        High energy with no hesitation about constantly interacting with people
      </li>
      <li>
        Ability to handle many different projects and tasks simultaneously and
        independently
      </li>
      <li>
        Commitment to filling the role at Techtonica for at least an entire
        cohort, which is six months
      </li>
    </ul>

    <p class="justify">
      See
      <a href="https://github.com/Techtonica/curriculum/blob/master/README.md"
        >some of the subjects we cover here</a
      >.
    </p>
    <p>
      The interview process involves an interview (online or in-person),
      contributing to the curriculum, pairing, and meeting board members. Please
      send your resume or a link to your LinkedIn profile and a link to your
      GitHub profile to info@techtonica.org if this role sounds like a good fit
      for you.
    </p>
    {% include 'contactbutton.html' %}
    <p></p>
    <br />
  </div>
</div>
<img
  height="1"
  width="1"
  style="display: none"
  alt=""
  src="https://px.ads.linkedin.com/collect/?pid=1694756&conversionId=1681988&fmt=gif"
/>
{% endblock content %}
