{% extends "base.html" %}

{% block title %}
	Techtonica: Bridging the Tech Gap
{% endblock title %}

{% block content %}
<div style="margin-top:10%;text-align:center;">
	<iframe src="https://www.youtube.com/embed/1fJwuUK6xY4?ecver=2" width="640" height="360" frameborder="0" allowfullscreen></iframe>
</div>
<div class="row">
	<div class="row">
	<h2>Become an Advocate Sponsor now!</h2>
	</div>
	<div class="row">
		<a href="https://medium.com/techtonica/apprentice-story-ashley-2d47f32a82dd"><img src="{{ url_for('static', filename='img/Ashley-min.jpg') }}"
	    	alt="apprentice photo" style="height:113px;"></a>
		<a href="https://medium.com/techtonica/apprentice-story-lian-6bd49765c967"><img src="{{ url_for('static', filename='img/Lian-min.jpg') }}"
	    	alt="apprentice photo"  style="height:113px;"></a>
		<a href="https://medium.com/techtonica/apprentice-story-mary-52c06cd89bbd"><img src="{{ url_for('static', filename='img/Mary-min.jpg') }}"
	    	alt="apprentice photo"  style="height:113px;">
		<a href="https://medium.com/techtonica/apprentice-story-michelle-20e3d253ff0f"><img src="{{ url_for('static', filename='img/Michelle-min.jpg') }}"
	    	alt="apprentice photo"  style="height:113px;"></a>
		<a href=""><img src="{{ url_for('static', filename='img/Soona-min.jpg') }}"
	    	alt="apprentice photo"  style="height:113px;"></a>
		<a href="https://medium.com/techtonica/apprentice-story-stephanie-251611be0273"><img src="{{ url_for('static', filename='img/Stephanie-min.jpg') }}"
	    	alt="apprentice photo"  style="height:113px;"></a>
		<a href="https://medium.com/techtonica/apprentice-story-talea-1da2a8ae3520"><img src="{{ url_for('static', filename='img/TaLea-min.jpg') }}"
	    	alt="apprentice photo"  style="height:113px;"></a>
		<a href=""><img src="{{ url_for('static', filename='img/Vivian-min.jpg') }}"
	    	alt="apprentice photo"  style="height:113px;"></a>
    	<a href="https://medium.com/techtonica/apprentice-story-zaire-98372ada24f7"><img src="{{ url_for('static', filename='img/Zaire-min.jpg') }}"
	    	alt="apprentice photo"  style="height:113px;"></a>
    	<a href="https://medium.com/techtonica/apprentice-story-zhenzhen-ee022cb010a3"><img src="{{ url_for('static', filename='img/Zhenzhen-min.jpg') }}"
	    	alt="apprentice photo"  style="height:113px;"></a>
		<p class="sponsor-p justify" style="text-align:justify"><b>Why should you become a Techtonica sponsor?</b> By supporting Techtonica's apprentices, you're empowering local women or non-binary adults in need with employable tech skills. You’ll also build diversity in tech, gain new perspectives, receive a tax exemption, and lift the local community. There are many other benefits, too! Check them out below and feel free to share <a href="https://www.dropbox.com/s/98o7jv6hkcpslmu/Sponsoring%20and%20Hiring%20with%20Techtonica%20Info%20Sheet.pdf?dl=0">our sponsor info sheet</a>.</p>
	</div>
	<img src="{{ url_for('static', filename='img/sponsor-benefits.png') }}"
	    alt="Chart of 2017 sponsorship levels—advocate, ally, supporter"
	    class="sponsorship-levels-img">
	<h2><a href="mailto:info@badmail.techtonica.org?Subject=Techtonica%20Contact%20Us" class="contact" target="_blank" alt="Contact us at info@techtonica.org">Discuss sponsoring</a></h2>
	<h2><a href="{{ url_for('render_donate_page') }}" class="sponsor">Just donate</a></h2>
</div>
{% endblock content %}
