{% extends "base.html" %}

{% block title %}
	Techtonica: Bridging the Tech Gap
{% endblock title %}

{% block content %}
<div class="main-content">
    <div class="apprentice-header">
    	<img id="apprentice-hero" src="{{ url_for('static', filename='img/apprentices-long-min.jpg') }}">
    </div>
    <div class="row row__center blue-background">
    	<h2 class="large-white-text">Sponsor today to help #BridgeTheTechGap!</h2>
    </div>
    <div class="row row__center">
        <div class="column">
          <p class="justify">By sponsoring, you're empowering local women and non-binary adults in need with employable tech skills. You’ll also build diversity in tech, gain new perspectives, receive a tax exemption, and lift the local community.</p>
          <p class="justify">Make a positive social impact while filling your technical talent needs.</p>
	  <p class="justify"><a href="#">Download our info sheet</a></p>
	  <h2><a href="{{ url_for('render_sponsor_page') }}" class="sponsor" id="orange-button" target="_blank">Contact us about sponsoring</a></h2>
        </div>
        <div class="column">
          <a href="">
            <img src="{{ url_for('static', filename='img/sponsor-benefits.png') }}" alt="Sponsor benefits chart" class="full-width-img">
          </a>
    	</div>
    </div>
    <div class="row row__center blue-background">
<!--         <div class="column">
          <img src="{{ url_for('static', filename='img/Tenderloin.jpg') }}" alt="Street, sidewalks, and building in the Tenderloin neighborhood of San Francisco." class="full-width-img">
        </div> -->
        <div class="column">
          <p class="justify">We have a rigorous application process that includes HTML/CSS workshops, a JavaScript workshop, a code challenge, a long application, pairing, and interviews by staff as well as board members. Our acceptance rate is 8%.</p>
          <p class="justify">Developed by industry professionals, our six-month, sponsor-approved, open-source training covers full-stack JavaScript using hands-on projects.</p>
        </div>
    </div>
    <div class="row row__center">
	<div class="column">
	    <a href="https://github.com/Techtonica/curriculum">
	        <img src="{{ url_for('static', filename='img/technical-topics.png') }}" />
	    </a>
	</div>
	<div class="column">
	    <a href="">
	    	<img src="{{ url_for('static', filename='img/1000-hours.png') }}" />
	    </a>
        <a href="">Watch demos and placements here</a>
	</div>
    </div>		
</div>
{% endblock content %}
