<meta property="og:image"
  content="{{ url_for('static', filename='img/Partnerships-Manager-with-Participants-min.png') }}"/>
<link rel="preload" href="{{ url_for('static', 
  filename='img/Partnerships-Manager-with-Participants-min.png') }}" as="image"/>
{% extends "base.html" %} 
{% block title %} Techtonica: Bridging the Tech Gap — Careers {% endblock title %} 
{% block content %}
  <div class="row row__center about-us">
    <div class="column hidden-med">
      <img
        src="{{ url_for('static', filename='img/Partnerships-Manager-with-Participants-min.png') }}"
        alt="Four BIPOC smile in a Zoom video call."
        class="fixed-img"
        style="width: 38%"
      />
    </div>
    <div class="column">
      <h1 class="blue-h1"><a href="{{ url_for('render_openings_page') }}" title="Openings">Openings</a></h1>
      <p class="justify">
        Techtonica is a fiscally-sponsored nonprofit that offers U.S. women and non-binary adults seeking 
        economic empowerment software engineering training with need-based, sliding-scale, subsidized 
        tuition and stipend scholarships, then places them in positions at sponsoring companies 
        that are ready to support more diverse teams or supports them during the job search. 
      </p>

      <h3>Make an Impact as Our Sponsorships Lead!</h3>

      <p class="justify">
        Because of the many layoffs and hiring freezes in the software industry over 
        the last few years, Techtonica struggled to maintain enough funding via our 
        original hiring partnerships model alone. We diversified our revenue streams 
        to include consulting and tuition and are now urgently seeking an amazing, focused
        go-getter to secure significant, reputable funding (mostly through B2B sales 
        or sponsorships) for the organization within six months. 
      </p>
      <p class="justify">Responsibilities include:</p>
      <ul>
        <li>
          Efficiently and independently identifying, assessing, seeking, and securing funding 
          from new and existing sources in the form of corporate sponsorships, hiring partnerships, 
          foundational grants, consulting work, individual donations, etc.
        </li>
        <li>
          Timely communication with sponsors, partners, customers, and team members
        </li>
        <li>
          Meticulously managing and tracking potential, existing, and past partnerships as you go
        </li>
        <li>Improving Techtonica's marketing efforts (flyers, ads, videos, PR, slides, website, 
          newsletters, social media, Google Analytics) and partnership processes</li>
        <li>Conspicuously representing Techtonica at many external events</li>
      </ul>
      <p class="justify">
        This is a temporary, remote position in the U.S. with mostly Pacific Time business hours. 
        The term of the role is six months full-time for someone who can really throw themselves 
        into the work, with the potential for longer-term employment if fundraising goals are quickly 
        and efficiently reached. No visa sponsorship is possible. 
      </p>

      <p class="justify">This role is a fantastic fit for you if you:</p>
      <ul>
        <li>
          Formulate, take responsibility for, and deliver SMART business development deliverables 
          with ambitious deadlines.
        </li>
        <li>Work very quickly and independently.</li>
        <li>Have impressive competence with software tools, including macOS, Gmail, Google Calendar, 
          LinkedIn, pipeline tools and CRMs (HubSpot), Zoom, social media, Dropbox, Slack, Google 
          Analytics, and Google Workspace tools.</li>
        <li>Are proficient in spoken and written English.</li>
        <li>Respond to emails and Slack messages promptly during business hours.</li>
        <li>Communicate concisely and openly about the most important aspects. You give quick, 
          straightforward, considerate answers to questions.
        </li>
        <li>Pay attention to details and take feedback well from the get-go. 
          You never get a pronoun, spelling, or guideline wrong more than once.</li>
        <li>
          Take responsibility for misses and unhesitatingly share and implement plans to improve.
        </li>
        <li>Document, improve, and automate as you go.</li>
        <li>Recognize that being on a small team means taking on many roles independently and 
          not dawdling.</li>
        <li>Do what you say you’re going to do and share updates straight away.</li>
        <li>Love meeting new people, know a lot of people at higher levels in the software 
          industry, and know how to gain executive buy-in.</li>
        <li>Are passionate about social justice and can relate to the people Techtonica serves on 
          multiple levels: 88% of our graduates so far are BIPOC, 21% have a disability, 21% are 
          parents, 10% identify outside the gender binary, 1% are veterans, and all of them are 
          women or non-binary adults seeking economic empowerment.</li>
        <li>Have proven experience in swiftly obtaining the green light for initiatives that require
          large budgets.</li>
        <li>Are friendly, confident, and have an enthusiastic, decisive, make-it-happen-now personality.</li>
        <li>Have no qualms about repeatedly reaching out to people and making asks, and when you hear a no, 
          you immediately make a different request.</li>
        <li>Can skillfully negotiate sponsorships and close deals on the spot.</li>
        <li>Notice potential partnership and revenue opportunities everywhere and know which ones to prioritize, which ones to hand to others, 
          and which ones to decline.</li>
        <li>Efficiently and proactively manage many tasks and contacts simultaneously.</li>
        <li>Live near a tech hub, attend a lot of tech events, and can arrange for donated 
          admittance to many paid events.</li>
      </ul>
      <p class="justify">Benefits:</p>
      <ul>
        <li>
          $37-$40 base pay per hour, depending on experience and location, 
          plus performance-based bonuses up to 30% of pay
        </li>
        <li>48 hours of personal leave upfront and a monthly accrual of 9.33 hours</li>
        <li>100% health insurance that starts the first day of the month after joining</li>
        <li>A Techtonica MacBook to use for work, if needed</li>
      </ul>
      <p class="justify">
        If this role sounds like a fantastic fit for you, please email the following to info AT techtonica 
        DOT org:</p>
      <ol>
        <li>A link to your LinkedIn profile</li>
        <li>A sentence about why Techtonica's mission excites you</li>
        <li>An example of a recent initiative you obtained approval for, how big the budget was, and how 
          long it took to secure said approval.</li>
        <li>An outreach email you would send to try to schedule a call with a potential sponsor</li>
        <li>The names and email addresses of two past coworkers or managers who really challenged you (for references)</li>
      </ol>
      <p class="justify"> 
        If we agree you could be a fantastic fit for this very-focused role, we'll respond. Applicants 
        who don't follow these instructions will not receive responses. Selected applicants will 
        interview with staff and board members via video call and pitch Techtonica, and references will be consulted.
      </p>
    </div>
  </div>
{% endblock content %}
