{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
Careers {% endblock title %} {% block content %}
<div class="row row__center about-us">
  <div class="column hidden-med">
    <img
      src="{{ url_for('static', filename='img/2022-H2-Cohort-and-Staff-Zoom-2022-12-19-min.png') }}"
      alt="A mentor works with a participant at a laptop."
      class="fixed-img"
      style="width: 38%"
    />
  </div>
  <div class="column">
    <h1 class="blue-h1"><a href="{{ url_for('render_openings_page') }}" 
      title="Openings">Openings</a></h1>
    <p class="justify">
      Techtonica is a nonprofit (through fiscal sponsor Social Good Fund) that
      offers women and non-binary adults seeking economic empowerment free tech training,
      along with living and childcare stipends, then places them in positions at
      sponsoring companies.
    </p>
    <h3>Make an Impact as Our Software Training Engineering Manager (Remote U.S.)</h3>

    <p class="justify">
      Techtonica offers a life-changing learning experience to participants. We
      care deeply about helping the participants of our software engineering
      program become excellent software engineers with successful careers in
      tech.
    </p>

    <p class="justify">
      We are looking for a committed, technical individual to start immediately
      as a Software Training Engineering Manager (STEM) for our full-time
      software engineering program. The STEM will be responsible for preparing and implementing a
      training plan in line with current software standards. The STEM will also
      provide technical guidance, knowledge, and leadership to participants
      while helping them develop their personal and professional skills.
    </p>

    <p class="justify">
      <b><i>Our participants are U.S. women and non-binary adults and 85%+ are BIPOC. We are 
          especially seeking an individual who can relate to the target audience on as many 
          levels as possible.</i></b>
    </p>
    <p class="justify">
        <a href="{{ url_for('render_team_page') }}">The Techtonica team</a> you would join 
        is made up of just a few proactive people who are passionate about the cause, 
        and supportive of one another and community members. We care deeply about helping 
        our participants succeed and are always making improvements to our services. 
    </p>

    <p class="justify">
      The ideal candidate will be passionate about software engineering, the
      cause, and the position, and have the ability to create a relationship of
      mutual trust and leadership. They will know how to manage a group
      confidently and make learning an effective and meaningful process that
      truly prepares participants for the workplace.
    </p>

    <p class="justify">
      This role is full-time and remote in the U.S. Unfortunately we are unable to offer 
      visa sponsorship. Compensation will start between $65K and $135K annually
      (depending on experience and location), with the opportunity for review
      after six months. Our benefits include 48 hours of personal leave upfront, with 
      an accrual of 9.33 hours every month and a maximum of 200 hours, and 100% health
      insurance that starts the first day of the month after joining.
    </p>

    <p class="justify">Responsibilities:</p>
    <ul>
      <li>
        Be online Monday-Friday 8:00am-5:00pm Pacific Time (with lunch in the middle), 
        and as needed for Techtonica events during occasional evenings and weekends
      </li>
      <li>
        Manage the software engineering program, as well as the program's participants (10-20),
        and program-related staff
      </li>
      <li>
        Be the software engineering expert—this means you'll present,
        explain, and answer questions about software engineering, pair, develop,
        and debug with participants
      </li>
      <li>
        Create efficient processes, conduct program matters, and assess projects and participant progress
      </li>
      <li>
        Continually improve the program (learning, notes, summaries,
        assignments, schedules, etc.) in a way that is up-to-date with software
        engineering best practices
      </li>
      <li>
        Provide hands-on, project-based learning that builds portfolios for
        participants and fills sponsors' needs
      </li>
      <li>Collaborate and openly communicate with other team and community members</li>
      <li>Oversee the program application process</li>
    </ul>

    <p class="justify">What we're looking for:</p>
    <ul>
      <li>
        Experience being an empathetic, proactive leader
      </li>
      <li>
        A minimum of three years of software engineering experience in the last
        five years
      </li>
      <li>
        Excellence at explaining software engineering concepts and managing and
        motivating people
      </li>
      <li>
        The ability to quickly familiarize yourself with Techtonica’s vision and
        all people involved (staff, participants, board members, volunteers,
        etc.)
      </li>
      <li>Excellent communication and interpersonal skills</li>
      <li>Strong moral values and discipline</li>
      <li>Organization, commitment, and adaptability</li>
      <li>Putting personal biases aside as needed</li>
      <li>
        Understanding of socioeconomic experiences that our participants have
        faced
      </li>
      <li>
        Being passionate and informed about social justice and
        diversity-and-inclusion-in-tech issues
      </li>
      <li>
        High energy with no hesitation about constantly interacting with people
      </li>
      <li>
        Ability to handle many different projects and tasks simultaneously and
        independently
      </li>
      <li>
        Commitment to filling the role at Techtonica for at least an entire
        cohort, which is six months
      </li>
    </ul>

    <p class="justify">
      See
      <a href="https://github.com/Techtonica/curriculum/tree/main"
        >our open-source curriculum here</a
      >.
    </p>
    <p class="justify">
      The interview process involves video call interviews, reference checks, 
      curriculum brainstorming, example explanation of technical topics, pairing, 
      and meeting board members. 
    </p>
    <p class="justify">
      If this role sounds like a fantastic fit for you, please apply by
      emailing info AT techtonica DOT org: 1. a link to your LinkedIn profile, 2. a sentence 
      about why Techtonica's mission excites you, and 3. a link to your GitHub profile or other
      technical or tech community-related work you've done recently. If we feel you could be a 
      good fit as well, we'll respond. Applications that don't follow these instructions may not
      receive responses.
    </p>
    <p></p>
    <br />
  </div>
</div>
<img
  height="1"
  width="1"
  style="display: none"
  alt=""
  src="https://px.ads.linkedin.com/collect/?pid=1694756&conversionId=1681988&fmt=gif"
/>
{% endblock content %}
