{% extends "base.html" %}

{% block title %}
  Techtonica: Bridging the Tech Gap — Careers
{% endblock title %}

{% block content %}
  <div class="row row__center about-us">
    <div class="column hidden-med">
      <img src="{{ url_for('static', filename='img/make-a-difference-instructor.jpg') }}"
           alt="A mentor works with a participant at a laptop." 
           class="fixed-img" style="width:38%;">
    </div>
    <div class="column">
      <h1 class="blue-h1">Openings</h1>
      <p class="justify">Techtonica is a nonprofit that offers women and non-binary, feminine-adjacent adults with low incomes free tech training, along with living and childcare stipends, then places them in positions at sponsoring companies that are ready to support more diverse teams. You can <a href="https://medium.com/@michelleglauser/techtonica-how-to-diversify-tech-and-help-neighbors-in-need-837d5f0b40bc">read more here</a>.</p>
      <h3>Make an Impact as Our Technical Apprenticeship Program Manager</h3>

      <p class="justify">Techtonica offers a life-changing learning experience to participants. We care deeply about helping our apprentices become high-quality developers.</p>

      <p class="justify">We are looking for a committed, technical individual to start immediately as a Technical Apprenticeship Program Manager (TAPM) for our six-month apprenticeship program in San Francisco (the next cohort will start in January). The TAPM will be responsible for preparing and implementing a training plan in line with current software standards. The TAPM will also provide guidance and knowledge to apprentices while helping them develop their personal and professional skills.</p>

      <p class="justify"><b><i>Our participants are Bay Area women and non-binary adults and most of them are people of color. We are seeking an individual who can relate to the target audience on as many levels as possible.</i></b></p>

      <p class="justify">The ideal candidate will be passionate about the cause and the position and have the ability to create a relationship of mutual trust. They will know how to manage a group and make learning an effective and meaningful process that truly prepares participants for the workplace.</p>

      <p class="justify">This role's compensation will start between $80K and $130K annually (depending on experience), with the opportunity for review after six months. We can provide benefits, but we cannot provide visa sponsorship at this time.</p>

      <p class="justify">Responsibilities:
      <ul>
        <li>Be generally present Monday-Friday 9am-5:30pm, and as needed for Techtonica events during the evenings and weekends</li>
        <li>Manage apprentices, volunteers, and mentors</li>
        <li>Continually improve training content (instruction, notes, summaries, assignments, schedules, etc.) that is up-to-date with full-stack JavaScript best practices and manage distribution</li>
        <li>Provide hands-on, project-based learning that builds portfolios for participants and fills sponsors' needs</li>
        <li>Collaborate with the CEO on the program vision</li>
        <li>Be involved in the apprenticeship application process</li>
      </ul>
      </p>

      <p class="justify">What we're looking for:
        <ul>
          <li>A minimum of two years of full-stack web development experience</li>
          <li>Proven experience and ability as a mentor and instructor</li>
          <li>The ability to quickly familiarize yourself with Techtonica’s vision and all people involved (staff, participants, board members, volunteers, etc.)</li>
          <li>Excellent communication and interpersonal skills</li>
          <li>Strong moral values and discipline</li>
          <li>Organization, commitment, and adaptability</li>
          <li>Putting personal biases aside as needed</li>
          <li>Understanding of socioeconomic experiences that our apprentices have faced</li>
          <li>Being passionate and informed about social justice and diversity-and-inclusion-in-tech issues</li>
          <li>An extrovert who is respectful of introverts’ needs</li>
          <li>Ability to handle many different projects and tasks simultaneously and independently</li>
          <li>Commitment to being at Techtonica long-term (at the minimum for an entire cohort, which is six months)</li> 
        </ul>
      </p>

      <p class="justify">
        See <a href="https://github.com/Techtonica/curriculum/blob/master/README.md">some of the subjects we cover here</a>.
      </p>
      <p>The interview process involves an interview (online or in-person), writing a lesson plan, pairing, and meeting board members. Please send a link to your LinkedIn profile, other personal page, or resume to info@techtonica.org if this role sounds like a good fit for you.</p>
      {% include 'contactbutton.html' %}
      <p></p></br>
      <p class="justify">Share this job via social media: <a href="https://twitter.com/TechtonicaOrg/status/1070239019223736320">Twitter</a>, <a href="https://www.facebook.com/Techtonica/photos/a.271768456523818/726457497721576/">Facebook</a>, <a href="https://www.linkedin.com/feed/update/urn:li:activity:6476004710842273792/">LinkedIn</a>, <a href="https://www.instagram.com/p/Bq_-Nw_gytq/">Instagram</a></p></br>
    </div>
  </div>
{% endblock content %}
