{% extends "base.html" %}

{% block title %}
  Techtonica: Bridging the Tech Gap — About Us
{% endblock title %}

{% block content %}

<!--section for michelle and erin-->
  <div class="row row__center blue-background">
    <div class = "column centered">
      <img src="{{ url_for('static', filename='img/Michelle-Glauser-min.jpg') }}" 
           alt="Michelle Glauser"
           class="resize-400px">
    </div>
    <div class="column centered">
      <h2><a href="https://linkedin.com/in/michelleglauser" target="_blank">Michelle Glauser, Founder and CEO</a></h2>
      <p class="justify">Since becoming a software engineer in 2012, she's worked for a better, more diverse software industry by organizing support groups, meetups, workshops, and the #ILookLikeAnEngineer ad campaign. Michelle's experience working in tech and volunteering in the community in San Francisco revealed two glaring issues: lack of diversity on tech teams and high income disparity. Techtonica is her vision to help tech companies and people who need more opportunities thrive together.</p>
    </div>
    </div>
<div class="row row__center blue-background">
    <div class = "column centered">
      <img src="{{ url_for('static', filename='img/Karla-Sandoval-min.jpg') }}" 
           alt="Karla Sandoval"
           class="resize-400px">
    </div>
    <div class="column centered">
      <h2><a href="https://www.linkedin.com/in/karlasandoval/" target="_blank">Karla Sandoval, Apprenticeship Program Facilitator</a></h2>
      <p class="justify">Karla Sandoval is Techtonica's Apprenticeship Program Facilitator and a Bay Area resident who grew up in a working-class family. She earned her BA Cultural Anthropology from UCSC in Santa Cruz. Feeling empowered to make a career switch, she graduated from Tradecraft and the Rails Girls Summer of Code software engineering fellowship. Karla has worked as a web developer in Germany and in the Bay Area. For the last two years she's facilitated Algorithm and Interview Prep Nights and co-hosted Ruby Tuesday. She's actively involved in tech inclusion movements like Techqueria and RailsBridge.</p>
    </div> 
</div>



<!--section for board members-->
  <div class="row row__center board-members" id="boardmembers">  
    <h1 class="blue-h1">Board Members</h1>
    <div class="row">
      <div class="column centered">
        <img src="{{ url_for('static', filename='img/Alison-Boden-min.jpg') }}"
         alt="Alison Boden"
         class="resize-200px">
        <footer><a href="https://www.linkedin.com/in/alisonboden/" target="_blank">Alison Boden</a></footer>
        <p>Alison Boden is a technology executive with over 10 years of experience in software engineering and product development. As the VP of Technology at CNE Media, she leads a diverse team building robust, scalable web applications used by millions of people. Alison is a passionate advocate for improving access to technology education in underserved communities.</p>
      </div>
      <div class="column centered">
        <img src="{{ url_for('static', filename='img/Ariana-Hellebuyck-min.jpg') }}"
          alt="Ariana Hellebuyck"
          class="resize-200px">
        <footer><a href="https://www.linkedin.com/in/arianahellebuyck/"" target="_blank">Ariana Hellebuyck</a></footer>
        <p>Ariana is a marketing executive with over 10 years of experience of driving brand and marketing strategy. With a background in personal finance and online education, Ariana has a unique understanding of how access to education can lead to better outcomes for the individual, their family and the community. She served as VP of Brand Marketing for the largest online University, University of Phoenix. Today at NerdWallet, Ariana is ensuring that all consumers have the tools, education and resources to make personal financial decisions with confidence. </p>
      </div>
      <div class="column centered">
        <img src="{{ url_for('static', filename='img/Claire-Vo-min.jpg') }}"
          alt="Claire Vo"
          class="resize-200px">
        <footer><a href="https://www.linkedin.com/in/clairevo/" target="_blank">Claire Vo</a></footer>
        <p>Claire is the Senior Director of Product at Optimizely. Previously, she was the CEO and co-founder of Experiment Engine, a platform for teams to manage and scale their testing programs, which was acquired by Optimizely in 2017.  Prior to founding Experiment Engine, Claire led Product Management & User Experience teams at several eCommerce and technology companies, most recently Electronic Arts. Recently relocated to San Francisco from Austin, Texas, she is a University of Texas graduate and passionate advocate for women in technology.</p>
      </div>
    </div>


    <div class="row">
      <div class="column centered">
        <img src="{{ url_for('static', filename='img/Kimberly-Munoz-min.jpg') }}"
          alt="Kimberly Munoz"
          class="resize-200px">         
        <footer><a href="https://www.linkedin.com/in/kimberlymunoz/" target="_blank">Kimberly Muñoz</a></footer>
        <p>Kimberly Munoz is a web developer and community event organizer. For the past five years, she has facilitated events for women and non-binary makers, Latinx tech workers, college alumni and progressive community organizers in addition to working as a developer for startups, non-profits and political campaigns. She is currently a developer at Slack and lives in Oakland with her husband and dogs. </p>
      </div>
      <div class="column centered">
          <img src="{{ url_for('static', filename='img/Nicole-Tiefensee-min.jpg') }}"
           alt="Nicole Tiefensee"
           class="resize-200px">
          <footer><a href="https://www.linkedin.com/in/ntiefensee/" target="_blank">Nicole Tiefensee</a></footer>
          <p>Nicole Tiefensee is a project manager with over 10 years of experience in the tech industry. She’s a keen advocate of Agile and Lean principles and has coached development teams in both start-ups and big corporations. Nicole grew up in Germany where she acquired a degree in Media and Computer Science. She’s passionate about sharing her experience and knowledge to create a more diverse tech industry and enable other woman to succeed.
          </p>
      </div>
      <div class="column centered">
        <img src="{{ url_for('static', filename='img/Sumayyah-Emeh-Edu-min.jpg') }}" 
         alt="Sumayyah Emeh-Edu"
         class="resize-200px">
        <footer><a href="https://www.linkedin.com/in/sumayyahee/" target="_blank">Sumayyah Emeh-Edu</a></footer>
        <p>Sumayyah Emeh-Edu is a Diversity and Inclusion Strategist that resides in the San Francisco Bay Area. She has over 15 years professional experience leading various initiatives within higher education and corporate sectors; focused primarily on diversity, career and professional development.  In that time, she has successfully organized Tech Inclusion SF 15, Ability in Tech, the Better Man Conference, as well as managed learning programs with clients such as Oracle, Kaiser Permanente, PG&E, Asana, and Aetna.</p>
      </div>
    </div>
    <div class="row">
      <!-- Third row of board members here. -->
    </div>
     

  </div>





<!--section for original picture and paragraph-->
  <div class="row row__center techtonica-squad" id="techtonicasquad">
    <div class="column hidden-med">
      <img src="{{ url_for('static', filename='img/april-workshop-group-min.jpg') }}"
           alt="Fifteen participants, mostly women, gathered after a workshop."
           class="full-width-img">
    </div>
    <div class="column">
      <p class="justify">The Techtonica Squad includes software engineers, community volunteers and leaders, non-profit and startup founders, teachers, curriculum development specialists, venture capitalists, and social impact strategists.</p>
      <p class="justify">Please check out <a href="{{ url_for('render_faqs_page') }}">our FAQs</a> for more information.</p>
      <a href="mailto:info@badmail.techtonica.org?Subject=Techtonica%20Contact%20Us" class="contact" target="_blank" ><img src="{{ url_for('static', filename='img/contact-us.jpg') }}" class="contact" alt="Contact us at info@techtonica.org"></a>
    </div>
    </div>

  </div>



{% endblock content %}
