{% extends "base.html" %}

{% block title %}
  Techtonica: Bridging the Tech Gap — About Us
{% endblock title %}

{% block content %}

<!--section for staff-->
  <div class="row row__center blue-background">
    <div class="column centered">
      <h2><a href="https://linkedin.com/in/michelleglauser" target="_blank">Michelle Glauser, Founder and CEO</a></h2>
      <p class="justify">Since becoming a software engineer in 2012, she's worked for a better, more diverse software industry by organizing support groups, meetups, workshops, and the #ILookLikeAnEngineer ad campaign. Michelle's experience working in tech and volunteering in the community in San Francisco revealed two glaring issues: lack of diversity on tech teams and high income disparity. Techtonica is her vision to help tech companies and people who need more opportunities thrive together.</p>
    </div>
    <div class = "column centered">
      <img src="{{ url_for('static', filename='img/Michelle-Glauser-min.jpg') }}"
           alt="Michelle Glauser"
           class="resize-400px">
    </div>
  </div>
  <div class="row row__center blue-background">
    <div class = "column centered">
      <img src="{{ url_for('static', filename='img/Judy-Tuan-min.jpg') }}"
           alt="Judy Tuan"
           class="resize-400px">
    </div>
    <div class="column centered">
      <h2><a href="https://www.linkedin.com/in/judytuna/" target="_blank">Judy Tuan, Technical Apprenticeship Program Manager</a></h2>
      <p class="justify">Judy Tuan became a software engineer through an apprenticeship at Blazing Cloud with the founder of RailsBridge. She has since worked as a software engineer and engineering manager at Indiegogo. During the last eight years, she has helped people join tech through her work with Learners Guild, RailsBridge, and Women Who Code. She currently volunteers with <a href="https://techworkerscoalition.org/" target="_blank">the Tech Workers Coalition</a>, which is a group building workers’ power.</p>
    </div>
  </div>

<!--section for board members-->
  <div class="row row__center board-members" id="boardmembers">
    <h1 class="blue-h1">Board Members</h1>
    <div class="row">
      <div class="column centered">
        <img src="{{ url_for('static', filename='img/Leah-Alpert-min.png') }}"
          alt="Leah Alpert"
          class="resize-200px">
        <footer><a href="https://www.linkedin.com/in/leah-alpert-640b17b0" target="_blank">Leah Alpert</a></footer>
        <p>Leah Alpert is a software engineering manager at Collective Health where she works on reinventing the way people interact with their health benefits. Leah is passionate about increasing the representation of women and underrepresented minorities in software engineering roles. After graduating from MIT with a degree in computer science, Leah spent the summer teaching computer science in Ghana before returning to San Francisco to work as a software engineer at Khan Academy. At Khan Academy, she built tools to help teachers and parents improve student outcomes. Now, at Collective Health, she leads engineering teams and runs the tech diversity team with the goal creating a more diverse and inclusive tech environment.</p>
      </div>
      <div class="column centered">
        <img src="{{ url_for('static', filename='img/Michelle-Grover-min.jpg') }}"
          alt="Michelle Grover"
          class="resize-200px">
        <footer><a href="https://www.linkedin.com/in/michelle-grover-24b835149/" target="_blank">Michelle Grover</a></footer>
        <p>Michelle started in technology in 1995 as a Systems Support Engineer by accident.  She was originally in college for Physics and Structural Engineering but during the summer took on temporary work as the receptionist at AirTouch Paging (which became Verizon).  At the end of her 90 days as a temp, Michelle was offered a permanent position as a Systems Support Engineer.  She started with TripIt in October 2014 and was responsible for the Tripit R&D Team which includes mobile, platform and our datamapper (itinerary parser) team and the Concur Mobile Teams in Bellevue, Prague and Rot.  Michelle has been married for 23 years and has a 12 year old son.  In her spare time she volunteers at several organizations that focus on getting more women and girls interested in Software Development.</p>
      </div>
    </div>

    <div class="row">
      <div class="column centered">
        <img src="{{ url_for('static', filename='img/Nicole-Tiefensee-min.jpg') }}"
         alt="Nicole Tiefensee"
         class="resize-200px">
	     <footer><a href="https://www.linkedin.com/in/ntiefensee/" target="_blank">Nicole Tiefensee</a></footer>
	     <p>Nicole Tiefensee is a project manager with over 10 years of experience in the tech industry. She’s a keen advocate of Agile and Lean principles and has coached development teams in both start-ups and big corporations. Nicole grew up in Germany where she acquired a degree in Media and Computer Science. She’s passionate about sharing her experience and knowledge to create a more diverse tech industry and enable other woman to succeed.</p>
      </div>
      <div class="column centered">
        <img src="{{ url_for('static', filename='img/Sumayyah-Emeh-Edu-min.jpg') }}"
         alt="Sumayyah Emeh-Edu"
         class="resize-200px">
        <footer><a href="https://www.linkedin.com/in/sumayyahee/" target="_blank">Sumayyah Emeh-Edu</a></footer>
        <p>Sumayyah Emeh-Edu is a Diversity and Inclusion Strategist that resides in the San Francisco Bay Area. She has over 15 years professional experience leading various initiatives within higher education and corporate sectors; focused primarily on diversity, career and professional development.  In that time, she has successfully organized Tech Inclusion SF 15, Ability in Tech, the Better Man Conference, as well as managed learning programs with clients such as Oracle, Kaiser Permanente, PG&E, Asana, and Aetna.</p>
      </div>
    </div>
    <div class="row">
      <div class="column centered">
        <img src="{{ url_for('static', filename='img/Suneet-Deol-min.jpg') }}"
         alt="Suneet Deol"
         class="resize-200px">
        <footer><a href="https://www.linkedin.com/in/suneetdeol/" target="_blank">Suneet Deol</a></footer>
        <p>Suneet Deol is a Senior Technical Program Manager at Box. Previously, she managed product ops and programs at SanDisk, a Western Digital brand, and worked as a Sales Engineer at Cal Sensors. At work, Suneet merges her technical and operations background to manage efficient and productive programs. Off the clock, she enjoys helping women find STEM careers, traveling, and healthy doses of Netflix and chocolate. Suneet holds a BS in Engineering from UC Davis and an MBA from USC’s Marshall School of Business.</p>
      </div>
    </div>
  </div>

<!--section for original picture and paragraph-->
  <div class="row row__center techtonica-squad" id="techtonicasquad">
    <div class="column hidden-med">
      <img src="{{ url_for('static', filename='img/april-workshop-group-min.jpg') }}"
           alt="Fifteen participants, mostly women, gathered after a workshop."
           class="full-width-img">
    </div>
    <div class="column">
      <p class="justify">The Techtonica Squad includes software engineers, community volunteers and leaders, non-profit and startup founders, teachers, curriculum development specialists, venture capitalists, and social impact strategists.</p>
      <p class="justify">Please check out <a href="{{ url_for('render_faqs_page') }}">our FAQs</a> for more information.</p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScjCF6_xzIn-Uht3MDOr1__3YpIYDCTzx80cIE0KVCsPqcYKQ/viewform?usp=sf_link" class="contact-us" id="orange-button" target="_blank">Contact us</a>
    </div>
    </div>

  </div>

{% endblock content %}
