{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap —
About Us {% endblock title %} {% block content %}

<!--section for staff-->
<div class="row row__center blue-background">
  <div class="column centered">
    <h1>Staff</h1>
  </div>
  <div class="row row__center blue-background staff-team">
    <div class="column centered">
      <img
        src="{{ url_for('static', filename='img/Brienna-Klassen-min.png') }}"
        alt="Brienna Klassen"
        class="resize-200px"
      />
      <footer>
        <a
          href="https://www.linkedin.com/in/briennaklassen/"
          target="_blank"
          rel="noopener noreferrer"
          >Brienna Klassen (she/her/they/them), <br/>Technical Assistant</a>
      </footer>
      <p class="justify">
        A Techtonica alumni, Brienna graduated from the 2021-H1 cohort and
        kicked off her career as a software developer for Stack Overflow.
        Prior to her time as a participant at Techtonica, Brienna was working
        numerous odd jobs to make ends meet while studying graphic design and
        computer science at City College of San Francisco. Knowing from
        firsthand experience what a difference it can make to have alternative
        and more supportive paths for career development, she is proud to
        return to the program; only this time, she’s taken on the role of
        Technical Program Manager. Outside of the career, Brie enjoys painting
        and a wide array of other geeky hobbies.
      </p>
    </div>
    <div class="column centered">
      <img
        src="{{ url_for('static', filename='img/Daaimah-Tibrey-min.png') }}"
        alt="Daaimah Tibrey"
        class="resize-200px"
      />
      <footer>
        <a
          href="https://www.linkedin.com/in/daaimah123/"
          target="_blank"
          rel="noopener noreferrer"
          >Daaimah Tibrey (she/her), <br/>
          Software Training Engineering Manager (STEM)
        </a>
      </footer>
      <p class="justify">
        As a queer, black, disabled, primary caregiver, Daaimah faced many barriers 
        simply entering the tech industry and when getting into her first technical role; 
        she discovered it was a whole new beast compared to her past work in the grassroots 
        nonprofit world: writing grants, managing programs, supporting equity and inclusion 
        through public policy education, and advising persons with disabilities on careers. 
        Following completion of the Techtonica program in 2019, she worked at SurveyMonkey 
        as a software engineer, tech lead at Hack The Hood, and technical career counselor 
        with Code Tenderloin. Wanting to pay it forward, Daaimah volunteered as a graduate 
        board member and mentor program manager at Techtonica until she was hired as the 
        Software Training Engineering Manager at Techtonica, where she now utilizes the 
        skill sets in her arsenal to advocate for mindful accommodations, training access, 
        and new pathways to entry for underrepresented intersectionalities in the tech 
        space. She grew up and still resides in the Bay Area. For kicks, she enjoys hitting 
        the trails with her two children and two dogs, as well as learning about science 
        and anthropology.
      </p>
    </div>
  </div>

  <div class="row row__center blue-background staff-team">
    <div class="column centered">
       <img
          src="{{ url_for('static', filename='img/Joy-Sau-min.png') }}"
          alt="Joy Sau"
          class="resize-200px"
        />
      <footer>
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer"
          >Joy Sau (she/her), <br/>
          Administrative Assistant
        </a>
      </footer>
      <p class="justify">
        Joy has a background in project management and health. She is passionate 
        about mental health and general well–being, and believes everyone deserves 
        a chance to showcase their skills and talents. Having worked with different 
        nonprofits, Joy has enjoyed helping processes flow smoothly by conducting 
        research, writing reports and summaries, collaborating remotely, providing 
        customer care, and doing other project-related tasks. Working with Techtonica 
        has given her a platform to make many lives better.
      </p>
    </div>
    <div class="column centered">
      <img
        src="{{ url_for('static', filename='img/maggie-fero-min.jpeg') }}"
        alt="Margaret Fero, a white nonbinary person with their hair up, smiles at the camera in high-contrast lipstick"
        class="resize-200px"
      />
      <footer>
        <a
          href="https://www.linkedin.com/in/margaretfero/"
          target="_blank"
          rel="noopener noreferrer"
          >Margaret Fero (they/them), <br/>Sponsorships Lead</a>
      </footer>
      <p class="justify">
        Margaret Fero is an interdisciplinary hacker with professional experience in 
        education, technical writing, software development, and information security.
        They are excited to apply their background to share Techtonica's mission with 
        companies and individuals who share our desire to economically empower people 
        whose perspectives may otherwise not be represented in key conversations about
        technology. In their spare time, Margaret enjoys basking in the many useful 
        services of local libraries.
      </p>
    </div>
  </div>
    <div class="row row__center blue-background staff-team">
    <div class="column centered">
      <img
        src="{{ url_for('static', filename='img/Michelle-Glauser-min.jpg') }}"
        alt="Michelle Glauser"
        class="resize-200px"
      />
      <footer>
        <a
          href="https://linkedin.com/in/michelleglauser"
          target="_blank"
          rel="noopener noreferrer"
          >Michelle Glauser (she/her), <br/>Founder and CEO</a
        >
      </footer>
      <p class="justify">
        The need for more diversity, inclusion, and equity in tech and the 
        empowerment experienced becoming a software engineer inspired Michelle
        to organize support groups, meetups like PyLadies SF (the world's largest 
        chapter of women who code in Python), workshops, the #ILookLikeAnEngineer 
        ad campaign, and Techtonica. Michelle has also worked as a developer 
        advocate. She loves biking, reading, making and eating cookies, and 
        going on walks with her fluffy dog.
      </p>
    </div> 
</div>

<!--section for board members-->
<div class="row row__center board-members" id="boardmembers">
  <h1 class="blue-h1">Board Members</h1>
  <div class="row">
    <div class="column centered">
      <img
        src="{{ url_for('static', filename='img/Alexandria-Spiva-min.jpg') }}"
        alt="Alexandria Spiva"
        class="resize-200px"
      />
      <footer>
        <a href="https://www.linkedin.com/in/alexandria-spiva"
          target="_blank" rel="noopener noreferrer">Alexandria Spiva (she/her)</a>
      </footer>
      <p>
        Alexandria has worked in tech for 13 years — at Yahoo, Facebook,
        LinkedIn, Airbnb, The Chan Zuckerberg Initiative, and currently Lyft.
        Alexandria has carried roles of Recruiter + D&I thought leader to
        elevate programs and partnerships, along with re-designing approaches to
        hiring. Beyond her day-to-day, she does her knowledge-sharing through
        think tank sessions with various nonprofits and panels such as Black
        Girls Code, Grace Hopper Conference, and Expat Women. She is passionate
        about diversity engagement and community building.
      </p>
    </div>
    <div class="column centered">
      <img
        src="{{ url_for('static', filename='img/Annie-Tsai-min.jpg') }}"
        alt="Annie Tsai"
        class="resize-200px"
      />
      <footer>
        <a
          href="https://www.linkedin.com/in/meannietsai/"
          target="_blank"
          rel="noopener noreferrer"
          >Annie Tsai (she/her)</a
        >
      </footer>
      <p>
        Annie Tsai is the Chief Operating Officer at Interact, a SaaS marketing
        software company, and part-time Venture Partner at The House Fund. A
        graduate of the University of California at Berkeley (2001 — Go Bears!),
        Annie has 20+ years in building, growing, and leading a variety of
        functions across the non-technology side of the house at software
        companies in the US, EMEA, and APAC. Annie's passions include lifting up
        working mothers, ensuring the products are built by people who look like
        their customers, investing in improving public education, and ensuring
        every child has a safe place to sleep at night. She lives in the Bay
        Area with her husband, two children, and pup.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="column centered">
      <img
        src="{{ url_for('static', filename='img/Krys-Flores-min.png') }}"
        alt="Krys Flores"
        class="resize-200px"
      />
      <footer>
        <a
          href="https://www.linkedin.com/in/krystalflores/"
          target="_blank"
          rel="noopener noreferrer"
          >Krys Flores (she/her)</a
        >
      </footer>
      <p>
        Krys is a Staff Software Engineer at Carta, an ownership and equity management platform. 
        She is committed to increasing the number of female and Latinx
        computer programmers. Krys does this by giving technical talks and
        volunteering. In her talks, she seeks to give a face to those who are
        not usually represented amongst conference speakers. She believes the
        more you see, the more there will be. Krys is also a huge advocate of
        equal opportunities in the workforce, especially equal pay. In 2019 she
        was featured in the #NothingLess Micro Documentary by Hired. In 2018,
        she gave the talk “Applying Sheryl Sandberg’s Lean In principles in
        technology” as part of the Visionary Voices program. Learn more at her website: 
        <a href="https://krysflores.com/" target="_blank" rel="noopener noreferrer"> www.krysflores.com </a>
    </div>
    <div class="column centered">
      <img
        src="{{ url_for('static', filename='img/Marisabel-Agosto-min.jpg') }}"
        alt="Marisabel Agosto"
        class="resize-200px"
      />
      <footer>
        <a
          href="https://www.linkedin.com/in/marisabelagosto/"
          target="_blank"
          rel="noopener noreferrer"
          >Marisabel Agosto (she/her)</a
        >
      </footer>
      <p>
        Marisabel currently serves as the Director of Tech & API Partnerships at Carta, 
        a leading SaaS provider of cap table software. She has over 10 years of experience 
        working in tech in the Bay Area, holding positions at the intersection of growth, 
        marketing, and product. She has been trained to think critically and creatively 
        across diverse teams to bring innovative solutions to the market and understands 
        the need for diversity not only for a company’s culture but also for its long-term 
        success. Having experienced IPOs and acquisitions firsthand, she recognizes the 
        life-changing opportunities that come with working in the tech industry and is 
        passionate about growing the female and Latinx representation in this space. She 
        currently resides in the Bay Area, with her husband, daughter, and pup.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="column centered">
      <img
        src="{{ url_for('static', filename='img/Monikka-Delazerda-min.jpg') }}"
        alt="Monikka de la Zerda"
        class="resize-200px"
      />
      <footer>
        <a
          href="https://www.linkedin.com/in/mdelazerda/"
          target="_blank"
          rel="noopener noreferrer"
          >Monikka de la Zerda (she/her)</a
        >
      </footer>
      <p>
        Monikka has 20 years of software experience and spent most of her career
        in clean, renewable energy projects. Her past positions include
        engineering at Stem, Apple, and as VP of Software for UniGen Resources.
        In her time at UniGen, the California Energy Commission funded them to
        prototype an analytics-based control system to increase renewable
        integration, which they successfully completed and demonstrated for the
        Department of Energy. Monikka co-founded her own company, Astrus, a
        platform for building 3D virtual spaces for artists and communities. She
        has worked with numerous D&I tech non-profits throughout the years
        supporting underrepresented groups in tech through mentorship and
        education.
      </p>
    </div>
    <div class="column centered">
      <img
        src="{{ url_for('static', filename='img/Sheila-Jambekar-min.png') }}"
        alt="Sheila Jambekar"
        class="resize-200px"
      />
      <footer>
        <a
          href="https://www.linkedin.com/in/sheilajambekar/"
          target="_blank"
          rel="noopener noreferrer"
          >Sheila Jambekar (she/her)</a
        >
      </footer>
      <p>
        Sheila is an experienced product and privacy attorney working at the
        intersection of privacy, law, and technology. Though her current focus
        as Chief Privacy Officer at Plaid is on privacy and data ethics, her
        experience at Twilio Inc. and Zynga Inc. has allowed her to develop as a
        utility player, at various points overseeing and building teams to
        manage product counseling, litigation, public policy, compliance,
        regulatory, and law enforcement response functions. Sheila is passionate
        about fostering a tech industry that is inclusive and making sure the
        opportunities it affords are open to people of diverse backgrounds. In
        her spare time, she enjoys spending time with her family, cross-country
        skiing, and hiking with her pup in the mountains.
      </p>
    </div>
  </div>
</div>

<!--section for original picture and paragraph-->
<div
  class="row row__center techtonica-squad blue-background"
  id="techtonicasquad"
>
  <div class="column hidden-med">
    <img
      src="{{ url_for('static', filename='img/april-workshop-group-min.jpg') }}"
      alt="Fifteen participants, mostly women, gathered after a workshop."
      class="full-width-img"
    />
  </div>
  <div class="column blue-background">
    <p class="justify">
      The Techtonica Squad includes software engineers, community volunteers and
      leaders, non-profit and startup founders, teachers, curriculum development
      specialists, venture capitalists, and social impact strategists.
    </p>
    <p class="justify">
      Apply for
      <a href="{{ url_for('render_openings_page') }}">open roles</a> or to be
      <a
        href="http://bit.ly/volunteer-with-Techtonica"
        class="hover-link"
        target="_blank"
        rel="noopener noreferrer"
        >a volunteer</a>
      or <a href="{{ url_for('render_mentor_page') }}">mentor</a>. Through the
      following form you may also request a speaker.
    </p>
    <p class="justify">
      We receive a lot of messages and cannot always get to all of them. We do 
      not usually respond to questions that are answered on the website, so make 
      sure you've looked through the website thoroughly before reaching out. Thanks!
    </p>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLScjCF6_xzIn-Uht3MDOr1__3YpIYDCTzx80cIE0KVCsPqcYKQ/viewform?usp=sf_link"
      class="contact-us"
      id="orange-button"
      target="_blank"
      rel="noopener noreferrer"
      >Contact us</a
    >
  </div>
</div>
{% endblock content %}
