{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap {%
endblock title %} {% block content %}
<div class="main-content">
  <div class="row row__baseline blue-background">
    <h1>Testimonials</h1>
    <div class="row row__center blue-background">
      <h3>Share what you love about Techtonica and mention us for the chance to be featured!</h3>
    </div>
  </div>

  <div class="row row__center our-supporters" id="supporters">
    <div class="row">
      <div class="column centered">
        <a href=target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/Participant-Testimonial-1-min.png') }}"
            alt="Blue square icon with dark blue quotations that says "Really appreciate the amazing work Techtonica does. I truly respect how everyone at Techtonica "walks the talk" about creating change. I am spreading the word all the time, hopefully, it catches on and spreads like wildfire!""
            class="twenty-percent-width margin-25"/>
        </a>
        <a href="" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/Participant-Testimonial-2-min.png') }}"
            alt="Blue square icon with dark blue quotations that says " You're gifted with so many opportunities and space to just learn and explore, to grow and thrive. You choose how you learn but you also don't learn alone, you get to collaborate with peers, with various mentors, with industry volunteers (ie Twitter), and so much more.""
            class="twenty-percent-width margin-25"/>
        </a>
        <a href="" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/Participant-Testimonial-3-min.png') }}"
            alt="Blue square icon with dark blue quotatations that says"This program and what you all do is amazing, the reality is very few organizations are stepping up to actually help women and BIPOC break into tech, so thank you for being trailblazers in that respect. Please know that you are appreciated and that you have my gratitude for being understanding and patient with my journey.""
            class="twenty-percent-width margin-25"/>
        </a>
        <a href="" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/Participant-Testimonial-4-min.png') }}"
            alt="Blue square icon with dark blue quotations that says"I am so happy I found Techtonica at the time I did during the pandemic. It was so important that I had a learning community that was supportive and that was willing to help each other as Techtonica is open for anyone who identifies as a woman or non-binary.""
            class="twenty-percent-width margin-25"/>
        </a>
           </a>
        <a href="" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/Participant-Testimonial-5-min.png') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
         </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="Blue square icon with dark blue quotations that says"I am amazed at all that I've learned throughout this entire program. I've built my confidence and achieved something that was only a dream of mine 5 months prior. Reflecting on that always leaves me in disbelief. I'm so thankful for Techtonica. [Staff members] and all my cohort-mates have made this process one of the most invaluable experiences of my life. <3""
            class="twenty-percent-width margin-25"/>
        </a>
       </a>
        <a href="" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/Participant-Testimonial-6-min.png') }}"
            alt="Blue square icon with dark blue quotations that says "What I took for a gamble was actually one of the best decisions I've ever made.""
            class="twenty-percent-width margin-25"/>
        </a>
     </a>
        <a href="https://www.glassdoor.com/Reviews/Techtonica-Reviews-E3738870.htm" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/Glassdoor-Testimonial-1-min.png') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://www.glassdoor.com/Reviews/Techtonica-Reviews-E3738870.htm" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://www.glassdoor.com/Reviews/Techtonica-Reviews-E3738870.htm" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://www.glassdoor.com/Reviews/Techtonica-Reviews-E3738870.htm"_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/Glassdoor-Testimonial-2-min.png') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://www.glassdoor.com/Reviews/Techtonica-Reviews-E3738870.htm" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/Glassdoor-Testimonial-3-min.png') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://www.glassdoor.com/Reviews/Techtonica-Reviews-E3738870.htm" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/Glassdoor-Testimonial-4-min.png') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/Glassdoor-Testimonial-5-min.png') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/Glassdoor-Testimonial-6-min.png') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>
   </a>
        <a href="https://LINK HERE" target="_blank" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/MINIMIZED SQUARE SCREENSHOT OF POST, COMMENT, ETC.') }}"
            alt="DESCRIPTION OF THE IMAGE INCLUDING TEXT"
            class="twenty-percent-width margin-25"/>
        </a>

      </div>
    </div>
  </div>
<!--   <div
    class="row row__center blue-background a-word-from-supporters"
    id="a-word"
  >
    <h2 id="quotes">
      “The {participants} are so impressive—any one of them would be a great
      asset. The Bay Area often brags of innovation but it’s Techtonica that
      delivers.” -Michelle Krejci, Service Engineer Tech Lead at Pantheon
    </h2>
  </div> -->
</div>
{% endblock content %}
