{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap {%
endblock title %} {% block content %}
<div class="main-content">
  <div class="row row__baseline blue-background">
    <h1>Testimonials</h1>
    <div class="row row__center blue-background">
      <h3>
        Share what you love about Techtonica and mention us for the chance to be
        featured!
      </h3>
    </div>
  </div>

  <div class="row row__center our-supporters" id="supporters">
    <div class="row">
      <div class="column centered">
        <div class="top-testimonials">
          <div class="testimonial-post top1">
            <div class="post-content">
              <p class="testimonial-text">
                "My cohort members have become friends and constant inspiration
                – they're passionate, creative, and endlessly supportive.
                They've encouraged me to push myself and grow in ways I hadn't
                expected. Michelle Glauser, our program Founder and CEO, is warm
                and attentive, and her focus on constructive feedback is
                something I know will have a lasting impact on me."
                <br />
                <br />
                – Techtonica Graduate, Xiahui Zhang, on
                <a href="https://www.linkedin.com/in/xiahui-zhang/">LinkedIn</a>
              </p>
            </div>
          </div>

          <div class="testimonial-post top2">
            <div class="post-content">
              <p class="testimonial-text">
                "For those of you who don't know, Techtonica is a software
                engineering program that helps women and non-binary adults
                overcome barriers into the tech industry! After many rounds of
                interviews, evaluations, and 5 months of intensive technical
                training, I'm excited to say that I am a Full Stack Software
                Engineer specializing in the PERN stack! To kick off the week of
                graduation, I just wanted to make a super special shoutout to
                the Techtonica staff!"
                <br />
                <br />
                – Techtonica Graduate, Abbie Huynh, on
                <a href="https://www.linkedin.com/in/abbie-huynh/">LinkedIn</a>
              </p>
            </div>
          </div>
        </div>

        <a href="#" rel="noopener noreferrer">
          <img
            src="{{ url_for('static', filename='img/testimonials/Destinee-2023-min.png') }}"
            alt="Testimonial by Destinee thanking Techtonica, mentors, and cohort. Proud to achieve her dream of becoming a software engineer."
            class="forty-percent-width margin-1-percent"
          />
        </a>

        <a
          href="https://www.switchup.org/bootcamps/techtonica#reviews"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/Switchup-Rachel-Greenwood-2023-min.png') }}"
            alt="5-star rating by Rachel Greenwood praising Techtonica as life-changing. Supportive staff made learning to code possible."
            class="forty-percent-width margin-1-percent"
          />
        </a>

        <a
          href="https://www.linkedin.com/posts/almabntz_bridgethetechgap-activity-7003408574815076352-EwO5?utm_source=share&utm_medium=member_desktop"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/LinkedIn-Alma-Building-Up-2022-min.png') }}"
            alt="Alma Benitez: 'It costs $0 to build someone up!' Quoting Michelle Glauser highlighting Techtonica grads and their projects."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="http://www.glassdoor.com/Reviews/Employee-Review-Techtonica-RVW73117352.htm"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/Glassdoor-Employee-2023-min.png') }}"
            alt="5-star Glassdoor review by a former employee. Techtonica is flexible, supportive, and has a healthy work/life balance."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="http://www.glassdoor.com/Reviews/Employee-Review-Techtonica-RVW71482255.htm"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/Glassdoor-Like-Minded-2022-min.png') }}"
            alt="Glassdoor review says Techtonica is a supportive environment, focusing on coding, industry challenges, and alumni support."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.linkedin.com/posts/joslyn-briseno_bridgethetechgap-playstation-techtonica-activity-7022270651931496448-gSPS"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/LinkedIn-Joslyn-Sony-2023-min.png') }}"
            alt="Post from Joslyn Briseno thanking Techtonica and mentors and starting as a Software Development Engineer at Sony PlayStation."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.linkedin.com/posts/diana-olivas_merakiswag-cisco-meraki-activity-7024479234895085568-y0XZ"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/LinkedIn-Diana-Meraki-2023-min.png') }}"
            alt="LinkedIn post by Diana Olivas after the first week at Cisco Meraki, thanks to Techtonica."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://careerkarma.com/schools/techtonica/"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/CareerKarma-Janice-2022-min.png') }}"
            alt="Review by Janice Montecillo noting that Techtonica is supportive and tuition-free with a great curriculum and internships."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.linkedin.com/posts/harneet123_merakimagic-activity-7009223355681705985-p018"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/LinkedIn-Harneet-Meraki-2023-min.png') }}"
            alt="LinkedIn post by Harneet Kaur thanking Techtonica and her supporters, she joined Cisco Meraki as a Software Engineer Co-Op."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.switchup.org/bootcamps/techtonica"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/SwitchUp-Greatest-2022-min.png') }}"
            alt="5-star SwitchUp review praising Techtonica as life-changing with a non-traditional curriculum, great staff, and job support."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.linkedin.com/posts/angelsanchezbazan_softwareengineer-growthmindset-techbusiness-activity-7021293387496529920-RJSo"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/LinkedIn-Angel-Sony-2023-min.png') }}"
            alt="LinkedIn post by Angel Sanchez, who is excited about their internship at Sony PlayStation, thanks to Techtonica."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.coursereport.com/schools/techtonica?shared_review=42335#reviews"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/CourseReport-Natalie-2022-min.png') }}"
            alt="5-star review on CourseReport praising Techtonica's non-traditional learning and support from mentors, volunteers, and staff."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://twitter.com/ruthie_irvin/status/1621590522467958786"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/Twitter-Ruthie-Tattoo-2023-min.png') }}"
            alt="Twitter post by Ruthie Irvin expressing their love for Techtonica with a tattoo of themselves doing the program on their arm."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.linkedin.com/posts/kimberly-dang_bridgingthegap-bridgethegap-playstation-activity-7022280437897064449-SZim"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/LinkedIn-Kimberly-Sony-2023-min.png') }}"
            alt="Kimberly Dang's LinkedIn post sharing gratitude for Techtonica mentors as she joins Sony PlayStation as a Software Engineer."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.linkedin.com/posts/sophiapung_the-cohort-dressed-up-for-halloween-grateful-activity-6992965867777011712-YcJe"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/LinkedIn-Sophia-Halloween-2022-min.png') }}"
            alt="Sophia Pung's LinkedIn post showing a Halloween-themed cohort in a Zoom meeting, expressing gratitude for the group's energy."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.coursereport.com/schools/techtonica?shared_review=50782#reviews"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/CourseReport-Michaela-2022-min.png') }}"
            alt="Michaela Parry’s 5-star review praising Techtonica’s staff and work-life balance, contributing to her new position at Sony."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.linkedin.com/posts/activity-7021510363389075456-erkt"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/LinkedIn-Melissa-Sony-2023-min.png') }}"
            alt="Melissa Natividad's LinkedIn post showing gratitude to Techtonica for preparing her for her first week at Sony Playstation."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.switchup.org/bootcamps/techtonica"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/SwitchUp-Ruthie-2022-min.png') }}"
            alt="Ruthie Irvin's 5-star SwitchUp review expressing gratitude for the invaluable skillset gained through the Techtonica program."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.linkedin.com/posts/lsanc0043_merakiswag-merakimagic-womenintech-activity-7023100016432988161-11OM"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/LinkedIn-Linda-Meraki-2023-min.png') }}"
            alt="Linda Sanchez's LinkedIn post about her first day at Cisco Meraki, expressing gratitude for the warm welcome and support."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="http://www.glassdoor.com/Reviews/Employee-Review-Techtonica-RVW71981092.htm"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/Glassdoor-SWE-Opportunity-2022-min.png') }}"
            alt="5-star Glassdoor review of Techtonica, highlighting training, mentorship, job placement, stipend, and a great environment."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.linkedin.com/posts/almabntz_bridgethegap-activity-6989376318526144512---rd"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/LinkedIn-Alma-Mentors-2022-min.png') }}"
            alt="Alma Benitez’s LinkedIn post expressing gratitude for the mentors who shaped her progress as a Techtonica graduate."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.coursereport.com/schools/techtonica?shared_review=53976#reviews"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/CourseReport-Supriya-2022-min.png') }}"
            alt="Supriya’s 5-star review praises Techtonica's staff, mentors, and career transition help. Very grateful for an internship."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="http://www.glassdoor.com/Reviews/Employee-Review-Techtonica-RVW71981471.htm"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/Glassdoor-Welcoming-2022-min.png') }}"
            alt="Review stating Techtonica offers a welcoming environment, mentorship, stipends, and full-stack training for career success."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.linkedin.com/posts/activity-7021936607410708480-K1LB"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/LinkedIn-Xochitl-Sony-2023-min.png') }}"
            alt="LinkedIn post by Xochitl Cruz about joining Sony PlayStation as an apprentice, expressing gratitude for Techtonica's mentors."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.linkedin.com/posts/joslyn-briseno_techtonica-bridgethegap-softwareengineer-activity-6971659049700380672-PxxK"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/LinkedIn-Joslyn-Day-Lead-2022-min.png') }}"
            alt="LinkedIn post by Joslyn Briseno about running meetings as Day Lead at Techtonica and is grateful for a collaborative program."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.switchup.org/bootcamps/techtonica"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/SwitchUp-Anon-2022-min.png') }}"
            alt="SwitchUp review praising Techtonica for being a free, inclusive 6-month bootcamp with mentorship, internship, and support."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.linkedin.com/posts/almabntz_one-of-best-things-about-techtonica-is-its-activity-6968657895819255808-AA3t"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/LinkedIn-Alma-Volunteers-2022-min.png') }}"
            alt="LinkedIn post by Alma Benitez sharing gratitude for Techtonica volunteers like Craig Dennis who made learning about APIs fun."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="http://www.glassdoor.com/Reviews/Employee-Review-Techtonica-RVW72001072.htm"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/Glassdoor-Amazing-2022-min.png') }}"
            alt="5-star Glassdoor review for Techtonica offering full-stack training, stipends, laptops, and internships."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.linkedin.com/posts/janicemontecillo_techtonica-bridgethetechgap-playstation-activity-7025923095148326912-uM4y"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/LinkedIn-Janice-Sony-2023-min.png') }}"
            alt="LinkedIn post by Janice Montecillo on starting as an apprentice at Sony PlayStation, very grateful for Techtonica."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="http://www.glassdoor.com/Reviews/Employee-Review-Techtonica-RVW71980185.htm"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/Glassdoor-Texas-2022-min.png') }}"
            alt="5-star Glassdoor rating of Techtonica as a great opportunity to break into tech."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.coursereport.com/schools/techtonica?shared_review=47889#reviews"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/CourseReport-Zelma-2022-min.png') }}"
            alt="5-star CourseReport review by Zelma Sedano noting Techtonica's immersive full-stack training and building leadership skills."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.linkedin.com/posts/mia-dixon143_softwareengineer-blackexcellence-activity-7016529659458699264-7KLv"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/LinkedIn-Mia-Indeed-2023-min.png') }}"
            alt="LinkedIn post by Mia Dixon about starting a software engineering internship at Indeed, thanks to Techtonica."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.linkedin.com/posts/almabn"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/LinkedIn-Alma-12th-Week-2022-min.png') }}"
            alt="LinkedIn post by Alma Benitez halfway through Techtonica bootcamp, starting from a simple game to building full-stack apps."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://careerkarma.com/schools/techtonica/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/CareerKarma-Joslyn-2022-min.png') }}"
            alt="CareerKarma review highlights the program offering technical skills, mentorship, and community for women and non-binary folks."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://https://www.linkedin.com/posts/almabntz_softwareengineering-tech-growthmindset-activity-7020810560153808896-739i?utm_source=share&utm_medium=member_desktop"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/LinkedIn-Alma-Sony-2023-min.png') }}"
            alt="LinkedIn post by Alma Benitez sharing new role as an apprentice at Sony PlayStation, grateful to Techtonica for support."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.linkedin.com/feed/update/urn:li:activity:6969119677792874497/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/LinkedIn-Ruthie-Gather-2022-min.png') }}"
            alt="LinkedIn post by Ruthie Irvin reflecting on a tough moment and Techtonica's support, building resiliency with their cohort."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="http://www.glassdoor.com/Reviews/Employee-Review-Techtonica-RVW71987934.htm"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/Glassdoor-Florida-2022-min.png') }}"
            alt="5-star Glassdoor review on Techtonica's life-changing remote learning, stipend, laptop, and strong support for students."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.switchup.org/bootcamps/techtonica"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/testimonials/SwitchUp-Harneet-2022-min.png') }}"
            alt="SwitchUp review by Harneet Kaur praises Techtonica's caring staff, regular feedback, collaboration, and meditation sessions."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://twitter.com/Gradial_/status/1549485463970320385"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/Twitter-Testimonial-6-min.png') }}"
            alt="Tweet from Eileen Long sharing excitement about starting a new internship at Indeed, thanks to Techtonica."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.glassdoor.com/Reviews/Techtonica-Reviews-E3738870.htm"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/Glassdoor-Testimonial-3-min.png') }}"
            alt="5-star Glassdoor review calling Techtonica a life-changing journey and recommending others to join."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <img
          src="{{ url_for('static', filename='img/Participant-Testimonial-5-min.png') }}"
          alt="Quote from Techtonica participant sharing amazement at their learning, growing confidence, and achieving their dream."
          class="forty-percent-width margin-1-percent"
        />
        <a
          href="https://twitter.com/Yuridia_Larios/status/1237156970244665344"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static',
          filename='img/Twitter-Testimonial-12-min.png') }}"
            alt="Tweet sharing joy about their first offer as a software dev, with gratitude to Techtonica, from cactus desert to dream job."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.glassdoor.com/Reviews/Techtonica-Reviews-E3738870.htm"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/Glassdoor-Testimonial-1-min.png') }}"
            alt="5-star Glassdoor review: Techtonica's program will change your life."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <img
          src="{{ url_for('static', filename='img/Sponsor-Testimonial-6-min.png') }}"
          alt="Quote from Shane Duff, Senior Front End Engineer, praising Techtonica students for their skills and work ethic."
          class="forty-percent-width margin-1-percent"
        />
        <a
          href="https://twitter.com/TechQuieroMucho/status/1405561889271156738"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/Twitter-Testimonial-11-min.png') }}"
            alt="Tweet expressing excitement to join Techtonica’s July 2021 cohort, learn the PERN stack, and grow as a software engineer."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.switchup.org/bootcamps/techtonica?page=1#291658"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/SwitchUp-Testimonial-4-min.png') }}"
            alt="Review highlighting Techtonica as a challenging but rewarding program with great mentorship, staff, and interview prep."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.glassdoor.com/Reviews/Employee-Review-Techtonica-RVW57039946.htm"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/Participant-Testimonial-7-min.png') }}"
            alt="5-star Glassdoor review for Techtonica on how it has changed their life with connections, skills, mentors, and an internship."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://twitter.com/WorthwhileRandC/status/1498727659315949568"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/Twitter-Testimonial-8-min.png') }}"
            alt="Quote tweet praising Techtonica as a fantastic tech organization that produces results in a supportive and equitable way."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <img
          src="{{ url_for('static', filename='img/Participant-Testimonial-8-min.png') }}"
          alt="Quote from an applicant about appreciation for the staff's encouragement, helpfulness, and willingness to assist applicants."
          class="forty-percent-width margin-1-percent"
        />
        <a
          href="https://www.switchup.org/bootcamps/techtonica?page=1#291658"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/SwitchUp-Testimonial-2-min.png') }}"
            alt="Review of Techtonica by Claribel praising the 5-star program for its technical skills, mentorship, stipends, and community."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://twitter.com/ClareSudbery/status/1489584605044912133"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/Twitter-Testimonial-2-min.png') }}"
            alt="Tweet praising Techtonica's CEO for her work empowering women and non-binary folks with tech skills. A Link is included."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.glassdoor.com/Reviews/Techtonica-Reviews-E3738870.htm"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/Glassdoor-Testimonial-4-min.png') }}"
            alt="5-star Glassdoor review for Techtonica noting it as an opportunity that cannot be missed."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.switchup.org/bootcamps/techtonica?page=1#291658"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/SwitchUp-Testimonial-10-min.png') }}"
            alt="Review by Brienna Saje Klassen about Techtonica's flexible curriculum, mentorship, stipends, networking, and job prep."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://twitter.com/tabby__katz/status/1472759841542209537"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/Twitter-Testimonial-9-min.png') }}"
            alt="Tweet from a single mom of 5 becoming a Software Engineering Intern at Upstart in 18 months and sharing gratitude for Techtonica."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <img
          src="{{ url_for('static', filename='img/Participant-Testimonial-2-min.png') }}"
          alt="Quote from a participant expressing how Techtonica really creates change and their hope that it spreads like wildfire.'"
          class="forty-percent-width margin-1-percent"
        />
        <a
          href="https://www.switchup.org/bootcamps/techtonica?page=1#291658"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/SwitchUp-Testimonial-3-min.png') }}"
            alt="5-star review from Lex highlighting full-stack development, teamwork, communication, and gratitude for Techtonica."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <img
          src="{{ url_for('static', filename='img/Sponsor-Testimonial-2-min.png') }}"
          alt="Quote from Jerome Despret at Pantheon saying everyone is thrilled with the program and graduate quality—beyond expectations."
          class="forty-percent-width margin-1-percent"
        />
        <a
          href="https://www.switchup.org/bootcamps/techtonica?page=1#291658"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/SwitchUp-Testimonial-8-min.png') }}"
            alt="5-star review expressing gratitude to Techtonica for providing valuable skills, support, and an internship opportunity."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://twitter.com/keeterooni/status/1514645766471520256"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/Twitter-Testimonial-1-min.png') }}"
            alt="Tweet expressing excitement to speak with Techtonica’s new cohort about career planning and values-driven job searches."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.switchup.org/bootcamps/techtonica?page=1#291658"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/SwitchUp-Testimonial-9-min.png') }}"
            alt="5-star Glassdoor review on Techtonica's supportive, collaborative environment, along with mentorship and job placement."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <img
          src="{{ url_for('static', filename='img/Sponsor-Testimonial-4-min.png') }}"
          alt="Quote from Rachel Glickman, at Rally Health praising their Techtonica graduate as 'beloved'"
          class="forty-percent-width margin-1-percent"
        />
        <a
          href="https://twitter.com/tacertain/status/1336422916452278273"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/Twitter-Testimonial-14-min.png') }}"
            alt="Tweet praising Techtonica’s high-quality program and dedication to student placement."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.switchup.org/bootcamps/techtonica?page=1#291658"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/SwitchUp-Testimonial-11-min.png') }}"
            alt="Glassdoor review praising Techtonica’s inclusive, supportive environment and valuable internship opportunities."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <img
          src="{{ url_for('static', filename='img/Sponsor-Testimonial-5-min.png') }}"
          alt="Quote from Jill Berardini, Software Engineer at Rally Health praising the Techtonica graduates' potential."
          class="forty-percent-width margin-1-percent"
        />
        <a
          href="https://twitter.com/tabby__katz/status/1416197891127840769"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/Twitter-Testimonial-7-min.png') }}"
            alt="Tweet about finishing the first week at Techtonica, expressing excitement and gratitude for the staff, cohort, and mentor."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <img
          src="{{ url_for('static', filename='img/Sponsor-Testimonial-7-min.png') }}"
          alt="Quote from Alexandra Savramis at Cisco Meraki, praising the growth of a Techtonica grad as they become a stronger engineer."
          class="forty-percent-width margin-1-percent"
        />
        <a
          href="https://www.glassdoor.com/Reviews/Techtonica-Reviews-E3738870.htm"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/Glassdoor-Testimonial-2-min.png') }}"
            alt="5-star Glassdoor review describing Techtonica as 'an incredible journey.'"
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.switchup.org/bootcamps/techtonica?page=1#291658"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/SwitchUp-Testimonial-7-min.png') }}"
            alt="Review by Malika Kassen-Lao on growth from loops to full-stack apps, with mentorship, interview prep and an internship."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.glassdoor.com/Reviews/Techtonica-Reviews-E3738870.htm"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/Glassdoor-Testimonial-5-min.png') }}"
            alt="5-star Glassdoor review expressing gratitude for the Techtonica program."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://twitter.com/the_real_stacie/status/1421071507963342855"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/Twitter-Testimonial-10-min.png') }}"
            alt="Tweet praising Techtonica, mentioning incredible graduates, and expressing interest in similar remote programs."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <img
          src="{{ url_for('static', filename='img/Sponsor-Testimonial-3-min.png') }}"
          alt="Quote from Michael Kyle, Director of Talent at Redbubble, praising Techtonica's curriculum design foresight."
          class="forty-percent-width margin-1-percent"
        />
        <a
          href="https://www.switchup.org/bootcamps/techtonica?page=1#291658"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/SwitchUp-Testimonial-1-min.png') }}"
            alt="Glassdoor Review highlighting Techtonica's benefits for women and non-binary folks and its ability to change lives."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://twitter.com/tabby__katz/status/1416466834648301568"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/Twitter-Testimonial-5-min.png') }}"
            alt="Tweet from a single mother, highlighting how Techtonica provides support. Includes a screenshot of their code."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.glassdoor.com/Reviews/Techtonica-Reviews-E3738870.htm"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/Glassdoor-Testimonial-7-min.png') }}"
            alt="5-star Glassdoor review praising Techtonica as a 'great program!'"
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.switchup.org/bootcamps/techtonica?page=1#291658"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/SwitchUp-Testimonial-5-min.png') }}"
            alt="Glassdoor review highlighting Techtonica's curriculum, and focus on personal and professional development and collaboration."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://twitter.com/databae_/status/1498024111372603394"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/Twitter-Testimonial-3-min.png') }}"
            alt="Tweet praising Techtonica's program for providing opportunities for women and non-binary folks to become software developers."
            class="forty-percent-width margin-1-percent"
          />
        </a>
        <a
          href="https://www.switchup.org/bootcamps/techtonica?page=1#291658"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="{{ url_for('static', filename='img/SwitchUp-Testimonial-6-min.png') }}"
            alt="Glassdoor review praising Techtonica as a great decision for its support throughout learning, job placement, and internships."
            class="forty-percent-width margin-1-percent"
          />
        </a>
      </div>
    </div>
  </div>
  <div
    class="row row__center blue-background a-word-from-supporters"
    id="a-word"
  >
    <h2 id="quotes">
      “The {participants} are so impressive—any one of them would be a great
      asset. The Bay Area often brags of innovation but it’s Techtonica that
      delivers.” -Michelle Krejci, Service Engineer Tech Lead at Pantheon
    </h2>
  </div>
</div>
<script type="text/javascript" src="/static/js/scroll.js"></script>
{% endblock content %}
