{% extends "base.html" %} {% block title %} Techtonica: Bridging the Tech Gap {%
endblock title %} {% block content %}

<div class="row row__center blue-background">
  <div class="column">
    <h1>How to Help</h1>
    <p class="justify">Techtonica could use your help with a few things this month:</p>
    <ul>
      <li>
        Conduct 45-minute practice interviews <a
          href="https://www.eventbrite.com/e/volunteers-practice-technical-interviews-with-our-current-participants-tickets-187784487457?aff=ebdsoporgprofile"
          class="hover-link" target="_blank" rel="noopener noreferrer">(see our available times)</a>.
      </li>
      <li>
        <a href="https://teamup.com/ksnie3b3q5frepnd92" class="hover-link" target="_blank" rel="noopener noreferrer">Schedule a time to offer technical help/pair 
        programming with final projects</a>.
      <li>
        <a href="https://www.eventbrite.com/e/volunteer-at-techtonicas-3-hour-application-workshop-tickets-180476077807?aff=ebdsoporgprofile"
        class="hover-link" target="_blank" rel="noopener noreferrer">Help rate applicants on Oct 26th, Oct 28th, Nov 2nd and Nov 4th</a>.
      </li>
      <li>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSf4Zap9U0k6iQvEBfPEFCYpWPfA0lLsd7nIVpICDZdc7A0ULQ/viewform"
        class="hover-link" target="_blank" rel="noopener noreferrer">Apply to mentor the January 2022 cohort by Nov 16th</a>.
      </li>
    </ul>
    <p class="justify">You can also help us by:</p>
    <ul>
      <li>
        <a href="{{ url_for('render_donate_page') }}" class="hover-link" target="_blank"
          rel="noopener noreferrer">Donating</a>
        (donations are tax-deductible, $5000 will get your face on our home
        page, and you can sign up to donate monthly).
      </li>
      <li>
        Encouraging your company to
        <a href="{{ url_for('render_sponsor_page') }}">sponsor and hire our full-time program participants</a>.
      </li>
      <li>
        <a href="https://docs.google.com/document/d/1Fl9obaF3kdusiEb8dUW8lszzCACRbKSd5GQqwDdFirU/edit"
          class="hover-link" target="_blank" rel="noopener noreferrer">Signing up to volunteer</a>.
      </li>
    </ul>
    <p class="justify">
      To receive updates, please
      <a id="open-popup" class="hover-link newsletter pad-lv3 pad-tb0" href="http://eepurl.com/cNFqmj" target="_blank"
        rel="noopener noreferrer">sign up for our newsletter</a>.
    </p>
  </div>
  <div class="column">
    <img src="{{ url_for('static', filename='img/listening-volunteers-min.png') }}"
      alt="Volunteers listening to woman speaking" class="full-width-img" />
  </div>
</div>

<div class="row">
  <div class="column centered">
    <ul>
      <h2>Visit us</h2>
      <li>
        <a href="https://www.eventbrite.com/o/techtonica-11297022451" target="_blank" rel="noopener noreferrer">
          Our events on Eventbrite
        </a>
      </li>
      <li>
        <a href="https://teamup.com/ksnie3b3q5frepnd92" target="_blank" rel="noopener noreferrer">
          Schedule a visit on our calendar
        </a>
      </li>
    </ul>
  </div>

  <div class="column centered">
    <ul>
      <h2>Open-source projects</h2>
      <li>
        <a href="https://github.com/Techtonica/curriculum/issues" target="_blank" rel="noopener noreferrer">Contribute
          to our curriculum</a>
      </li>
      <li>
        <a href="https://github.com/MichelleGlauser/techtonica/issues" target="_blank"
          rel="noopener noreferrer">Contribute to our website</a>
      </li>
    </ul>
  </div>
</div>

{% endblock content %}
